<% content_for(:head) do %>
  <title>Help</title>
  <%= stylesheet_pack_tag 'ConvertMarkdownPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'ConvertMarkdownPack', nonce: true %>
<% end %>

<div class="bg-gray-100 py-8">
  <div class="container mx-auto px-3 max-w-6xl">
    <div class="max-w-3xl mx-auto">
      <div class="convert-markdown" data-json-props="<%= { markdown: @markdown, profile: "permissive" }.to_json %>">
        <div style="font-family: monospace; white-space: pre-wrap;"><%= sanitize(@markdown) %></div>
      </div>
    </div>
  </div>
</div>
