/* Disabling cover loading animation */

.disabling-cover__loading-container {
  min-width: 6rem;
  min-height: 6rem;
}

.disabling-cover__loading-animation-box {
  width: 32px;
  height: 32px;
}

.disabling-cover__loading-box-1, .disabling-cover__loading-box-2, .disabling-cover__loading-box-3 {
  border: 2px solid #976AE2;
  background-color: #f6e05e;
  box-sizing: border-box;
  position: absolute;
  display: block;
  border-radius: 5px;
}

.disabling-cover__loading-box-1 {
  width: 32px;
  height: 14px;
  margin-top: 18px;
  margin-left: 0px;
  -webkit-animation: anime1 2.5s 0s forwards cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  animation: disabling-cover__loading-box-1-animation 2.5s 0s forwards cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.disabling-cover__loading-box-2 {
  width: 14px;
  height: 14px;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-animation: anime2 2.5s 0s forwards cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  animation: disabling-cover__loading-box-2-animation 2.5s 0s forwards cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.disabling-cover__loading-box-3 {
  width: 14px;
  height: 14px;
  margin-top: 0px;
  margin-left: 18px;
  -webkit-animation: anime3 2.5s 0s forwards cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  animation: disabling-cover__loading-box-3-animation 2.5s 0s forwards cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes disabling-cover__loading-box-1-animation {
  0% {
    width: 32px;
    height: 14px;
    margin-top: 18px;
    margin-left: 0px;
  }
  12.5% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 0px;
  }
  25% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 0px;
  }
  37.5% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 0px;
  }
  50% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 0px;
  }
  62.5% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 0px;
  }
  75% {
    width: 14px;
    height: 32px;
    margin-top: 0px;
    margin-left: 0px;
  }
  87.5% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 0px;
  }
  100% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes disabling-cover__loading-box-2-animation {
  0% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 0px;
  }
  12.5% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 0px;
  }
  25% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 0px;
  }
  37.5% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 0px;
  }
  50% {
    width: 32px;
    height: 14px;
    margin-top: 0px;
    margin-left: 0px;
  }
  62.5% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 18px;
  }
  75% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 18px;
  }
  87.5% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 18px;
  }
  100% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 18px;
  }
}

@keyframes disabling-cover__loading-box-3-animation {
  0% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 18px;
  }
  12.5% {
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-left: 18px;
  }
  25% {
    width: 14px;
    height: 32px;
    margin-top: 0px;
    margin-left: 18px;
  }
  37.5% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 18px;
  }
  50% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 18px;
  }
  62.5% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 18px;
  }
  75% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 18px;
  }
  87.5% {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 18px;
  }
  100% {
    width: 32px;
    height: 14px;
    margin-top: 18px;
    margin-left: 0px;
  }
}