.level-progress-bar__student-level {
  @apply bg-gray-300 text-center;
}

.level-progress-bar__student-level:not(:last-child) {
  @apply border-r-2 border-white;
}

.level-progress-bar__student-level--reached {
  @apply bg-yellow-500;
}

.level-progress-bar__student-level--current {
  @apply relative bg-gray-300;
}

:not(.level-progress-bar__student-progress--completed)
  > .level-progress-bar__student-level--current.level-progress-bar__student-level--completed:after {
  @apply bg-green-400;
}

:not(.level-progress-bar__student-progress--completed)
  > .level-progress-bar__student-level--current.level-progress-bar__student-level--completed:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416,175.17,174,286.26V64.07ZM126,0a30,30,0,0,0-16,55.37V512h32V55.37A30,30,0,0,0,126,0Z' fill='%2348bb78'/%3E%3C/svg%3E");
}

.level-progress-bar__student-level--completed {
  @apply relative bg-green-400;
}

.level-progress-bar__student-progress {
  position: relative;
  height: 5px;
}

.level-progress-bar__student-progress--completed:before {
  position: absolute;
  content: "";
  height: 22px;
  z-index: 10;
  bottom: 0;
  width: 22px;
  right: -16px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416,175.17,174,286.26V64.07ZM126,0a30,30,0,0,0-16,55.37V512h32V55.37A30,30,0,0,0,126,0Z' fill='%2348bb78'/%3E%3C/svg%3E");
  background-position: bottom center;
}

:not(.level-progress-bar__student-progress--completed)
  > .level-progress-bar__student-level--current:before {
  position: absolute;
  content: "";
  height: 22px;
  z-index: 10;
  bottom: 0;
  width: 22px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416,175.17,174,286.26V64.07ZM126,0a30,30,0,0,0-16,55.37V512h32V55.37A30,30,0,0,0,126,0Z' fill='%23d69e2e'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: -2px bottom;
}

:not(.level-progress-bar__student-progress--completed)
  > .level-progress-bar__student-level--current:after {
  @apply absolute w-1/2 h-full bg-yellow-500 left-0;
  content: "";
}

.level-progress-bar__student-level-count {
  @apply inline-block text-xs text-gray-500 font-semibold text-center pt-2;
}
