<div class="mt-4 max-w-md w-full flex mx-auto items-center justify-center">
  <div class="flex w-full">
    <%= form_for @answer, url: question_answers_path(@question.id), html: { class: "flex flex-row w-full items-center" } do |f| %>
      <%= f.text_area :description, required: true, minlength: 50, class: "w-2/3 appearance-none block bg-white text-grey-darker border border-grey-light rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" %>
      <%= f.submit "Add Your Answer", class: "w-1/3 bg-indigo-dark hover:bg-blue-dark text-white font-bold h-10 shadow rounded focus:outline-none ml-2" %>
    <% end %>

  </div>
</div>
