.topics-post-reply-show__replies {
  @apply relative;
}

@screen lg {
  .topics-post-reply-show__replies:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 1px;
    @apply bg-gray-300;
    left: -16px;
    bottom: 50%;
    transform: translateY(-50%);
  }
  .topics-post-reply-show__replies:last-child:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 50%;
    @apply bg-white;
    left: -18px;
    bottom: 0;
    top: calc(50% - 1px);
  }
}
