/* Toggle menu btn */

.app-router-header__menu-btn.open
  .app-router-header__menu-icon
  .app-router-header__menu-icon-bar {
  background: transparent;
}

.app-router-header__menu-btn.open
  .app-router-header__menu-icon
  .app-router-header__menu-icon-bar:before {
  transform: rotate(-45deg);
}

.app-router-header__menu-btn.open
  .app-router-header__menu-icon
  .app-router-header__menu-icon-bar:after {
  transform: rotate(45deg);
}

.app-router-header__menu-btn.open .app-router-header__menu-icon-bar:before,
.app-router-header__menu-btn.open .app-router-header__menu-icon-bar:after {
  top: 0;
}

/* Toggle menu icon */

.app-router-header__menu-icon {
  cursor: pointer;
  display: inline-block;
  position: relative;
  user-select: none;
}

.app-router-header__menu-icon .app-router-header__menu-icon-bar {
  background: #453c52;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.2s;
  width: 20px;
}

.app-router-header__menu-icon .app-router-header__menu-icon-bar:before,
.app-router-header__menu-icon .app-router-header__menu-icon-bar:after {
  background: #453c52;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s;
  width: 100%;
}

.app-router-header__menu-icon .app-router-header__menu-icon-bar:before {
  top: 6px;
}

.app-router-header__menu-icon .app-router-header__menu-icon-bar:after {
  top: -6px;
}
.app-router-header__notifications-unread-bullet {
  @apply absolute block h-3 w-3 rounded-full border-2 border-white bg-red-500;
  top: 2px;
  right: 6px;
}

.app-router-header__notifications-unread-bullet::before {
  content: "";
  @apply animate-ping absolute inline-flex h-full w-full inset-0 rounded-full bg-red-500 opacity-75;
}
