.school-admin-navbar {
  width: 264px;
}

.school-admin-navbar__primary-nav {
  @apply w-full;
}

.school-admin-navbar__primary-nav--shrunk {
  width: 64px;
}

.school-admin-navbar__primary-nav-link {
  @apply flex text-white h-13 text-sm font-medium items-center;
  position: relative;
}

.school-admin-navbar__primary-nav-link:hover,
.school-admin-navbar__primary-nav-link:focus {
  @apply bg-primary-800 outline-none;
}

.school-admin-navbar__primary-nav-link--active {
  @apply bg-gray-50 text-primary-500 focus:text-primary-700;
  box-shadow: inset 4px 0 0 0 theme("colors.yellow.500");
  background-image: linear-gradient(
    to right,
    theme("colors.white"),
    theme("colors.gray.50")
  );
}

.school-admin-navbar__primary-nav-link--active:before,
.school-admin-navbar__primary-nav-link--active:after {
  content: "";
  position: absolute;
  right: 0px;
  width: 16px;
  height: 16px;
}

.school-admin-navbar__primary-nav-link--active:before {
  top: -16px;
  border-radius: 0 0 50%;
  border-width: 0px 20px 0 0;
  box-shadow: 0px 8px theme(colors.gray.50);
  border-color: transparent;
}

.school-admin-navbar__primary-nav-link--active:after {
  bottom: -16px;
  border-radius: 0 50% 0;
  border-width: 0 20px 0 0;
  box-shadow: 0 -8px theme(colors.gray.50);
  border-color: transparent;
}

.school-admin-navbar__primary-nav-link--active:hover {
  @apply bg-gray-50 text-primary-500;
}

.school-admin-navbar__notifications-unread-bullet {
  @apply absolute block h-3 w-3 rounded-full border-2 border-primary-800 bg-red-500;
  top: 14px;
  left: 30px;
}

.school-admin-navbar__notifications-unread-bullet::before {
  content: "";
  @apply animate-ping absolute inline-flex h-full w-full inset-0 rounded-full bg-red-300 opacity-75;
}
