#header {
  &.home-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    box-shadow: none;
    transition: linear 0.3s;

    &.toggle-bg {
      background-color: #000000;
    }

    .btn-signin {
      border: 1px solid white;
      background-color: transparent;

      &:hover {
        background-color: white;
        color: $brand-secondary;
      }
    }

    .home-navbar {
      height: auto;
      padding: 1.25rem 1rem;

      .nav-item__link {
        color: white;
      }

      @include media-breakpoint-down(sm) {
        .nav-item {
          border-top: 0;
        }
        .nav-item__link {
          font-size: 1.125rem;

          &:hover,
          &:focus {
            color: $dark-primary;
          }
        }
        .btn-signin {
          font-size: 1.125rem;

          &:hover {
            background-color: $dark-primary;
          }
        }
      }
      .navbar-toggler {
        position: relative;
        .icon-bar {
          background-color: white !important;
        }
      }
    }
  }
}

.home-hero__container {
  height: 600px;
  position: relative;
  overflow: hidden;
  background-color: black;
  background-image: asset-url("home/index/sv.co-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-down (sm) {
    height: 420px;
  }
}

.home-hero__video {
  @include media-breakpoint-up (xl) {
    width: 100%;
  }
}

.home-hero__message-wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 600px;

  @include media-breakpoint-down (sm) {
    height: 420px;
  }
}

.home-hero__message-title {
  margin-top: 6rem;
}

.home-hero__message-title-head {
  color: white;
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 0.002rem;

  @include media-breakpoint-down (sm) {
    font-size: 2rem;
  }
}

.home-hero__message-title-subhead {
  color: white;
  font-size: 2.5rem;

  @include media-breakpoint-down (sm) {
    font-size: 1.5rem;
  }
}

.home-section__head-title {
  font-size: 1.875rem;
  line-height: 1.3;
}

.home-section__head-subtitle {
  max-width: 34rem;
  font-size: 1rem;
}

.program-promise__container {
  background-color: white;
  overflow: hidden;
  padding: 5rem 0 3rem 0;

  @include media-breakpoint-down (sm) {
    padding: 3rem 0 1rem 0;
  }
}

.program-promise__text {
  max-width: 13rem;
  line-height: 1.4;
}

.program-promise__icon {
  height: 170px;
}

.program-summary__container {
  position: relative;
  border-top: 1px solid $gray-border;
  background-color: #f6f9fc;
  z-index: 1;

  &:before,
  &:after {
    background-color: inherit;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  &:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
}

.program-summary__heading {
  line-height: 1.2;
}

.program-summary__text {
  font-size: 1rem;
  font-weight: $font-light;
}

.graduation-story__container {
  border-top: 1px solid $gray-border;
  background-color: white;
  overflow: hidden;
}

.graduation-story__card {
  background-color: white;
  height: 100%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  @include border-radius(5px);
}

.graduation-story__card-logo {
  padding: 1.5rem;
  height: 100px;
}

.graduation-story__card-logo-img {
  width: 120px;
}

.graduation-story__card-logo-img--gmg {
  width: 140px;
}

.graduation-story__card-logo-img--citrus {
  width: 100px;
}

.graduation-story__card-logo-img--ola {
  width: 100px;
}

.graduation-story__card-hires {
  padding: 0.25rem;
  background-color: #f6f9fc;
  border: 1px dashed $gray-border;
  border-width: 1px 0;
}
.graduation-story__card-avatar-container {
  padding: 1rem 0.5rem;
}
.graduation-story__card-avatar {
  width: 36px;
  height: 36px;
  @include border-radius(50%);
  background-color: $primary-background;
  overflow: hidden;
}

// Partner logos
.home-partners__container {
  background-color: white;
  overflow: hidden;
}

.home-partners__box {
  max-width: 55rem;
}

.home-partners__logo--facebook {
  height: 40px;
}

.home-partners__logo--us-embassy {
  height: 40px;
}

.home-partners__logo--freshworks {
  height: 30px;
}

.home-partners__logo--ksum {
  height: 45px;
}

.home-partners__logo--paytm {
  height: 25px;
}

.home-partners__logo--ms-ventures {
  height: 50px;
}

.home-partners__logo--ola {
  height: 30px;
}

.home-partners__logo--zomato {
  height: 55px;
}

.home-partners__logo--oyo {
  height: 25px;
}

// six ways section
.six-ways-card__container {
  overflow: hidden;
  border-top: 1px solid $gray-border;
  background-color: $primary-background;
}

.six-ways-card__box {
  display: block;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  @include border-radius(5px);
  overflow: hidden;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2);

    .six-ways-card__thumbnail {
      &:before {
        background: rgba(0, 0, 0, 0.2);
      }
    }
    .six-ways-card__play-button-container {
      &:before {
        background-color: rgba(0, 0, 0, 0.7);
        color: rgba(255, 255, 255, 1);
        transform: translateX(3px);
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.six-ways-card__thumbnail {
  display: block;
  position: relative;
  @include border-radius(5px 5px 0px 0px);
  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
  }
}

.six-ways-card__thumbnail-image {
  position: relative;
}

.six-ways-card__thumbnail-content {
  position: absolute;
  display: block;
  z-index: 2;
  margin: 0 1rem 0.875rem;
  bottom: 0;
}

.six-ways-card__thumbnail-head {
  color: white;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.002rem;
  max-width: 20rem;
}

.six-ways-card__thumbnail-subhead {
  display: inline-block;
  font-size: 0.8125rem;
  color: $light-secondary;
}

.six-ways-card__story-detail {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.six-ways-card__story-title {
  display: block;
  width: 80%;
  font-size: 1rem;
}

.six-ways-card__play-button-container {
  position: absolute;
  width: 20%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 10;
  top: 45%;

  &:before {
    @include fa-icon(play);
    @include border-radius(50%);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.25rem;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ffffff;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
  }
}

.six-ways-card__video-time {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  margin: 1rem;
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  padding: 2px 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.6875rem;
  @include border-radius(5px);
  color: rgba(255, 255, 255, 0.7);
}

.six-ways-card__play-button {
  display: block;
  background-image: asset-url("shared/play-button.svg");
  width: 40px;
  height: 40px;
  @include border-radius(50%);

  &:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  }
}

// Program Features Section
.program-feature__container {
  border-top: 1px solid $gray-border;
  background-color: white;
}

.program-feature__card {
  @include border-radius(8px);
  position: relative;
  overflow: hidden;
  margin: 15px 0;
  display: block;
  transition: all 0.3s;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);

    &:before {
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

.program-feature__box {
  @include media-breakpoint-up (md) {
    display: flex;
  }
}

.program-feature__college-img {
  @include media-breakpoint-down (lg) {
    width: 100%;
  }
}

.program-feature__card-title {
  position: absolute;
  padding: 0 25px 25px;
  z-index: 2;
  bottom: 0;
  width: 100%;

  @include media-breakpoint-down (md) {
    padding: 0 1rem 1rem;
  }
}

.program-feature__card-title-text {
  color: white;
  margin: 0;
  font-size: 1.25rem;
  letter-spacing: 0.002rem;
  line-height: 1.2;
}

.program-feature__card-title-text--big {
  line-height: 1.1;
}

.program-feature__card-title-text--big-highlight {
  font-size: 2.5rem;
}

.program-feature__card-title-link {
  text-decoration: underline;
  color: $light-secondary;
}

// Silicon Valley Itinerary
.silicon-valley-itinerary__container {
  overflow: hidden;
  border-top: 1px solid $gray-border;
  background-color: $primary-background;
}

.silicon-valley-itinerary__slider {
  text-align: center;
  width: 66rem;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  .slick-prev,
  .slick-next {
    border: 1px solid $brand-secondary;
    @include border-radius(50%);
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 50px;
    margin: 0 2rem;
    z-index: 1;
    transition: all 0.2s;

    @include media-breakpoint-down(lg) {
      bottom: 0;
      top: auto;
      height: 40px;
      width: 40px;
      margin: 0 1rem;

      &.slick-prev {
        right: 50%;
        left: auto;
      }
      &.slick-next {
        left: 50%;
        right: auto;
      }
    }

    &:before {
      font-size: 18px;
      vertical-align: middle;
      opacity: 1;
      color: $brand-secondary;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: $box-shadow-hover;

      &:before {
        color: $light-secondary;
      }
    }
  }
}

.silicon-valley-itinerary__slider-item {
  margin: auto;
  padding: 10px;
  text-align: center;
  outline: none;
}

.silicon-valley-itinerary__image {
  width: 54rem;
  border: 15px solid white;
  @include border-radius(5px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  @include media-breakpoint-down(lg) {
    width: auto;
    border: 5px solid white;
  }
}

// program framework
.home-program-framework__container {
  border-top: 1px solid $gray-border;
  background-color: white;
}

.home-program-framework__box {
  width: 55rem;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  @include border-radius(10px);
  overflow: hidden;

  @include media-breakpoint-down(md) {
    width: auto;
  }
}
.home-program-framework__image-container {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}
.home-program-framework__image-link {
  display: block;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.06);
    transition: all 0.3s;
  }
  &:hover,
  &:focus {
    &:before {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.home-program-framework__text {
  height: 310px;
  padding: 30px 50px;
  font-size: 1rem;
  line-height: 1.6;
  position: relative;

  @include media-breakpoint-down(md) {
    height: auto;
    padding: 2rem 2rem 0;
    font-size: 0.875rem;
    line-height: 1.4;
  }

  @include media-breakpoint-down(sm) {
    height: auto;
    display: block;
    padding: 2rem;
    font-size: 1rem;
    line-height: 1.6;
  }
}

.home-program-framework__text--author-sub {
  font-size: 0.875rem;
  line-height: 1.2;
  padding-left: 10px;
}

// .home-action-footer-container
.home-call-to-action__container {
  background: rgb(111, 190, 68);
  background: linear-gradient(
    135deg,
    rgb(111, 190, 68) 0%,
    rgb(13, 113, 186) 100%
  );
}
.home-call-to-action__box {
}

.home-call-to-action__head {
  color: white;
}

.home-call-to-action__sub-head {
  color: white;
  font-size: 1rem;
}

.home-call-to-action__button {
  background-color: white;
  color: $dark-secondary;
  padding: 0.875rem 3rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $light-primary;
  }
}

.home-apply__button {
  font-size: 1rem;
  padding: 0.875rem 3rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.program-partners {
  border-top: 1px solid $gray-border;
  background-color: $primary-background;
  padding: 30px 0 70px;

  .card {
    text-align: center;
    overflow: hidden;
    margin-bottom: 1.75rem;

    .image-block {
      height: 75px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 120px;
      margin: auto;

      img {
        padding: 0;
        margin: 10px;
        width: 100%;
      }
    }
    .card-block {
      padding: 10px;
      border-top: 1px solid $gray-border;

      @include media-breakpoint-down(lg) {
        padding: 10px;
      }
    }
    @include media-breakpoint-down(sm) {
      max-width: 160px;
    }
  }
}
@include media-breakpoint-up(sm) {
  .partner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
