.sastra__header {
    font-size: 1.75rem;
    line-height: 1.2;
    border-right: 1px solid $gray-border;

    @include media-breakpoint-down (lg) {
        font-size: 1.5rem;
    }
}

.sastra__poweredby {
    border-top: 1px solid #b9d1e4;
}

.sastra__soi-logo {
    width: 12.75rem;
}

.sastra__key-dates-date {
    background-color: white;
    border: 1px solid #F5A623;
    @include border-radius(5px);
}

.sastra__course-description-container {
    background-color: #0093E9;
    line-height: 1.5;
    background-image: linear-gradient(160deg, #0093E9 0%, #36C269 100%);
}

.sastra__course-description-text {
    line-height: 1.4;
}

.sastra-tbi-logo {
    width: 22rem;
}