@import 'variables';

.stages {
  background-color: $theme-light-green;
  min-height: 400px;
  padding: 50px 0;
  text-align: center;
  //font-family: 'Roboto', sans-serif;

  h1 {
    color: $dark-grey-text;
    font-size: 48px;
    font-weight: 200;

    &::after {
      background-color: white;
      content: ' ';
      display: block;
      height: 1px;
      margin: auto;
      margin-top: 10px;
      width: 100px;
    }
  }

  p {
    color: #464545;
    font-size: 18px;
    font-weight: 300;
    opacity: .9;
    padding-top: 15px;
    //font-family: 'Roboto', sans-serif;
  }

  .btn-playbook {
    background: transparent;
    border: solid 1px white;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: all 200ms cubic-bezier(.25, .25, .75, .75);
    width: 150px;
    //font-family: 'Roboto', sans-serif;

    &:hover {
      background-color: white;
      border: solid 1px white;
      color: black; }
  }

  .carousel-inner {
    .item img {
      margin: auto;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .item p {
      margin-bottom: 20px;
    }
  }

  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }
}

