<% content_for(:head) do %>
  <title><%= @presenter.page_title %></title>
<% end %>

<div class="pb-20 md:pb-10 h-full md:h-screen overflow-y-auto">
  <%= render 'shared/cohort_overview', students_path: students_cohort_path(@cohort), students_completed_path: students_cohort_path(@cohort, course: "Completed") %>
</div>
