<%= link_to "< Back", organisation_path(@organisation), class: 'underline' %>
<section class="max-w-7xl mx-auto">
  <h1 class="text-3xl font-bold mt-4"><%= @organisation.name %></h1>
  <h2 class="text-3xl font-bold mt-4">Cohort:<%= @cohort.name %></h2>
  <div class="space-y-4 mt-4">
    <h2 class="text-3xl font-bold mt-4">Students</h2>
  </div>
</div>
