.hunt-home-container {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hunt-home__notice {
  min-height: 400px;
  width: 35rem;
  @include media-breakpoint-down(sm) {
    min-height: 300px;
    width: auto;
    max-width: 14rem;
  }
  background-color: black;
  border: 1px solid #51b848;
  font-family: monospace;
  color: white;
  margin: 2rem 1rem 1rem 1rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hunt-notice__img {
  height: 100px;
  margin-top: 50px;
}

.hunt-notice__text {
  margin-top: 20px;
  text-align: center;
}

.hunt-notice__logout {
  margin-top: 50px;
}

.hunt-notice__logout-btn {
  color: #51b848;
  border: 1px solid #51b848;
  background-color: black;
  padding: 5px;
}

.hunt-home__register-form .form-control-feedback {
  color: red;
}

.form-group div .hunt-home__register-form-input {
  font-size: 0.875rem;
  border: 1px solid #51b848;
  background-color: black;
  color: white;
  &:focus {
    background-color: black;
    color: #51b848;
  }
}

.hunt-register-form__submit-btn {
  border-radius: 0;
}

.extra-large-text {
  font-size: 2.5rem;
}
