.question-box-container {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
}

.question-box {
  width: 700px;
  height: 500px;
  max-width: 90%;
  margin: auto;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  color: white;
}

.question-box__title-bar {
  width: 100%;
  height: 25px;
  background-color: whitesmoke;
  padding: 2px 2px 0 10px;
  color: black;
}

.question-box__question-panel {
  width: 100%;
  height: 425px;
  background-color: black;
  border-bottom: 1px solid #51b848;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: monospace;
}

.question-panel__header {
  width: 100%;
  border-bottom: 1px dashed #51b848;
  padding: 5px;
}

.question-panel-header__left-pane {
  float: left;
  @include media-breakpoint-down(sm) {
    float: none;
  }
}

.question-panel-header__right_pane {
  float: right;
  @include media-breakpoint-down(sm) {
    float: none;
    margin-top: 10px;
  }
}

.question-panel__content {
  height: 100%;
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.question-panel__image {
  max-width: 100%;
  max-height: 100%;
}

.question-box__answer-panel {
  width: 100%;
  height: 45px;
  background-color: black;
  padding: 5px;
  font-family: monospace;
}

.answer-panel__prompt {
  height: 1rem;
}

.answer-panel__prompt--error {
  color: red;
}

.answer-panel__form {
  width: 100%;
  height: 1rem;
}

.answer-form__text-field {
  background-color: black;
  border: 0;
  float: left;
  min-width: 200px;
  color: white;
}

.answer-form__text-field:focus {
  outline: none;
}

.answer-form__submit-btn {
  float: right;
  background-color: #51b848;
  border: 0;
  cursor: pointer;
}

.question-text {
  font-size: 1.5rem;
  text-align: center;
}

.question-box__logout-btn{
  border: 0;
  background-color: whitesmoke;
  cursor: pointer;
  max-height: 20px;
}
