.view-quiz-ref-btn
  a.btn.btn-secondary.btn-sm.text-uppercase href="#{image_url 'home/showcase/timelines/finrobotics.jpg'}" target="_blank"
    | Open Finrobotics' Timeline&nbsp;
    i.fa.fa-external-link
