.curriculum__submission-comment-hidden::before {
  content: "";
  @apply absolute inset-0 bg-gradient-to-b from-transparent via-white/75 to-white rounded-b-xl;
  z-index: 10;
}

.curriculum__submission-comment-hidden::after {
  content: "";
  @apply h-px w-full absolute inset-x-0 bottom-0 bg-gradient-to-r from-transparent via-gray-300 to-transparent;
  z-index: 10;
}
