.about-text {
  padding-bottom: 20px;

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 200%;
  }
}

iframe.slack {
  border: 0;
  height: 400px;
  margin-left: -50px;
  overflow-y: hidden;
  width: 400px;
}

.transparency-banner {
  height: 260px;
  background-image: asset-url("transparency/transparency-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;

  .page-header {
    color: white;
    display: inline-block;
    margin-top: 0;
    font-size: 42px;
    letter-spacing: 0.04em;
  }
  .banner-text {
    max-width: 600px;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
  }
  p.transparency-introduction {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: white;
    letter-spacing: 0.04em;
  }
}
.transparency-content {
  background-color: #f7f8fa;

  .transparency-intro {
    background-color: white;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin: 30px 0;
    padding: 0 15px;
    background-image: asset-url("transparency/transparency-bg.png");
    background-repeat: repeat;
  }
  #transparency-intiative {
    padding-top: 30px;
  }
  .transparency-initiative-image {
    margin: auto;
    text-align: center;
  }
  .transparency-block {
    position: relative;
    .transparency-document {
      background-color: white;
      border: 1px solid #ededed;
      border-radius: 5px;
      padding: 20px 0;
      margin-bottom: 30px;

      h3 {
        padding: 0 30px;
        margin-bottom: 5px;

        &.blue-shadow-left {
          box-shadow: inset 4px 0 0 0 #3b97c3;
        }
        &.green-shadow-left {
          box-shadow: inset 4px 0 0 0 #00a651;
        }
      }
      p {
        padding: 0 30px;
        line-height: 28px;
      }
      .last-updated {
        font-size: 12px;
        display: block;
        color: #a4a4a4;
        padding: 0 30px 15px;
      }
      ul {
        margin: 0;

        li {
          margin-left: 60px;

          &:before {
            content: '\f0f6';
            font-family: 'FontAwesome';
            float: left;
            font-size: 16px;
            margin-top: 2px;
            color: #389ccc;
          }
        }
      }
      .highlight-section {
        a {
          display: block;
          color: white;
          padding: 35px 30px;

          &#impact-report {
            background-color: #936a79;
            background-image: asset-url("transparency/imapct-report-bg.png");
            background-size: cover;
            box-shadow: inset -1px 0 0 0 white;
          }
          &#sv-handbook {
            background-color: #254582;
            background-image: asset-url("transparency/sv-handbook-bg.png");
            background-size: cover;
          }
          &:hover, &:focus {
            text-decoration: none;
            outline: none;
          }
        }
        span {
          display: block;
          padding-top: 5px;

          i {
            font-size: 18px;
            padding-right: 10px
          }
        }
        p {
          font-size: 11px;
          line-height: 16px;
          padding: 0;
          margin: 0;
        }
        h4 {
          margin: 0;
          font-size: 40px;
          line-height: 40px;

          @media (max-width: $screen-xs-max) {
            font-size: 32px;
          }
        }
      }
    }
  }
  .transparency-side-menu {
    background-color: white;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 0 15px;
  }
}



.cd-read-more {
  /* hide on mobile */
  display: none;
  background-color: #f2f2f2;
}
.cd-read-more li {
  counter-increment: articles;
}
.cd-read-more a {
  display: block;
  position: relative;
  padding: 1.6em 1.1em 1.6em 4.3em;
}
.cd-read-more a::before, .cd-read-more a::after {
  position: absolute;
}
.cd-read-more a::before {
  /* article number */
  content: counter(articles);
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.1em;
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: 50%;
  color: #b3b3b3;
  font-family: Georgia, serif;
  text-align: center;
  box-shadow: inset 0 0 0 1px #d9d9d9;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.cd-read-more a::after {
  /* bottom separation - line */
  content: '';
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 260px;
  background-color: #d9d9d9;
}
.cd-read-more a.read em {
  color: #a6a6a6;
}
.cd-read-more a.read::before {
  background-color: #d9d9d9;
}
.cd-read-more a.reading em {
  color: #2a76e8;
}
.cd-read-more a.reading svg {
  display: block;
}
.cd-read-more a.reading::before {
  background-color: #ffffff;
  color: #141414;
}
.cd-read-more li:last-of-type a::after {
  display: none;
}
.cd-read-more em {
  display: block;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #141414;
  /* truncate text with ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.cd-read-more b {
  color: #a6a6a6;
  font-size: 1.2rem;
  font-family: Georgia, serif;
  font-style: italic;
}
.cd-read-more svg {
  /* this is the filling circle around the article number */
  display: none;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.1em;
  stroke: #2a76e8;
}
@media only screen and (min-width: 1100px) {
  .cd-read-more {
    display: block;
    position: relative;
    top: 3em;
    right: 0;
  }
  .cd-read-more.fixed {
    position: fixed;
    right: calc(50% - 485px);
  }
}



#sidebar {
  nav {
    background-color: white;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 0 15px;
    max-width: 370px;
    padding: 10px;

    ul {
      margin:0;
      padding:0;

      li {
        a {
          color: #898989;
          display: block;
          padding: 10px;
          font-size: 15px;
          font-weight: 300;

          &.nav-active {
              color:#ccc;
          }
        }
      }
    }
  }
}
