
.leaderboard__rank {

}

.leaderboard__rank-number {
  margin-right: 5px;
}

.leaderboard__rank-change {


}

.leaderboard__rank-icon {
  margin-right: 2px;
}

.leaderboard__rank-delta {
  color: $light-grey-text;
  margin-right: 3px;
}

