.content-block__content-placeholder {
  min-height: 14rem;
}
.content-block__embed {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 56.25%;
}

.content-block__embed > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.add-content-block {
  transition: all 0.25s ease-in-out;
}

.add-content-block--open .add-content-block__blocks {
  animation: slideDown 0.25s ease-in-out;
}

.add-content-block__plus-button-container:before {
  content: "";
  @apply absolute w-full h-px border-t border-dashed border-gray-400;
  top: 50%;
  transform: translateY(-50%);
}

.add-content-block__plus-button-icon {
  transition: all 0.25s ease-in-out;
}

.add-content-block--open .add-content-block__plus-button-icon {
  transform: rotate(135deg);
}

.add-content-block--open .add-content-block__blocks {
  display: flex;
}

.add-content-block--open .add-content-block__plus-button {
  @apply bg-primary-900 text-primary-200;
}

@keyframes slideDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
