.content-block__content-placeholder {
  min-height: 14rem;
}

.content-block__embed {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 56.25%;
}

.content-block__embed>iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.add-content-block {
  transition: all 0.25s ease-in-out;
}

.add-content-block--open .add-content-block__block-content-type {
  animation: slideDown 0.25s ease-in-out;
}

.add-content-block__plus-button-container:before {
  content: "";
  @apply absolute w-full h-px border-t border-dashed border-gray-400;
  top: 50%;
  transform: translateY(-50%);
}

.add-content-block__plus-button-icon {
  transition: all 0.25s ease-in-out;
}

.add-content-block--open .add-content-block__plus-button-icon {
  transform: rotate(135deg);
}

.add-content-block--open .add-content-block__block-content-type {
  display: flex;
  user-select: none;
}

.add-content-block--open .add-content-block__plus-button {
  @apply bg-primary-900 text-primary-200 border-transparent;
}

.add-content-block--open .add-content-block__plus-button-container {
  opacity: 1;
}

@screen xl {
  .add-content-block__plus-button-container {
    opacity: 0;
  }
  .add-content-block:hover .add-content-block__plus-button-container {
    transition: opacity .25s;
    opacity: 1;
  }
  .add-content-block:not(.add-content-block--open):hover .add-content-block__plus-button {
    @apply bg-primary-100 text-primary-500 border-primary-500;
  }
}

.add-content-block__block-content-type-picker {
  @apply relative cursor-pointer;
}

.add-content-block__block-content-type-picker:hover {
  @apply text-primary-300;
  transition: all .2s;
}

.add-content-block__block-content-type-picker:not(:last-child):before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: rgba(55, 36, 89, 0.9);
}

@keyframes slideDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}