# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

coverage
public/uploads
tags
.tags*

# Ignore IDE-specific files.
/.idea/

# Ignore OS-specific files.
*.DS_Store

# Ignore dotenv files.
.env*
