# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

/public/assets
/public/uploads
/node_modules
coverage
tags
.tags*

# Ignore IDE-specific files.
/.idea/
/.vscode

# Ignore OS-specific files.
*.DS_Store

# Ignore dotenv files.
.env*

# Ignore public packs.
/public/packs
/public/packs-test
/yarn-error.log
/yarn-debug.log*
.yarn-integrity

# Ignore these associated with reason-react and bsb
.merlin
lib/bs/
npm-debug.log
.DS_Store
.bsb.lock
*.bs.js

# Ignore the examples file that tracks Rspec runs.
examples.txt

# Ignore .graphql_ppx_cache
.graphql_ppx_cache

# Ignore logs from lerna
lerna-debug.log
