RACK_ENV=development
PORT=3000
S3_REGION=ap-southeast-1a
S3_BUCKET_NAME=svapp-development
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
URBAN_AIRSHIP_APP_KEY=xxx
URBAN_AIRSHIP_APP_MASTER_SECRET=xxx
URBAN_AIRSHIP_APP_SECRET=xxx
SENTRY_DSN=xxx
SENDGRID_PASSWORD=xxx
SENDGRID_USERNAME=xxx
ASSET_HOST=http://xxx/svapp-development
SMS_PROVIDER_URL=https://sms/endpoint
