// lightgrey is #d3d3d3

$theme-light-green: #00cd79;
$theme-dark-green: #0f9d58;
$light-grey-background: #f7f7f7;
$dark-grey-bg: #999999;
$active-tab-highlight: limegreen;
$navbar-dropdown-bkg: #e7e7e7;
$faculty-bg-color: #f8f8f8;
$bootstrap-tab-underline: #dddddd;
$faculty-card-bottom-border: darkblue;
$footer-bg: #272727;
$footer-bottom-bg: #1a1a1a;
$timeline-blue-text: #2458a1;
$theme-light-gray: #f7f7f7;
$theme-dark-gray: #d2d2d2;

// ********** Colors **********
$brand-primary: #0F9D58;
$brand-secondary: #008AC1;
$dark-primary: #057F44;
$light-primary: #32B475;
$dark-secondary: #087CAA;
$light-secondary: #0AA5E3;
$primary-background: #F9F9F9;
$gray-border: #e5e5e5;
$btn-secondary-color: #fff;
$list-group-border-color: #e5e5e5;

// Link color
$link-color: $brand-secondary;
$link-hover-color: $light-secondary;
$link-hover-decoration: none;

// Text color
$dark-grey-text: #333333;
$light-grey-text: #999999;

// Heading font size
$font-size-h1: 2.625rem;
$font-size-h2: 2.25rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 0.875rem;

$paragraph-text: 0.875rem;
$btn-text-size: 0.8125rem;

// Font weight
$headings-font-weight: 300;
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$border-radius-btn: 2em;
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
$box-shadow-hover: 0 0 10px 0 rgba(0, 0, 0, 0.09);
$box-shadow-btn: inset 0 3px 3px 0 rgba(0, 0, 0, 0.5);
