// lightgrey is #d3d3d3

$dark-grey-text: #565656;
$light-grey-text: lightgrey;
$theme-light-green: #00cd79;
$theme-dark-green: #0f9d58;
$light-grey-background: #f7f7f7;
$dark-grey-bg: #999999;
$active-tab-highlight: limegreen;
$navbar-dropdown-bkg: #e7e7e7;
$faculty-bg-color: #f8f8f8;
$bootstrap-tab-underline: #dddddd;
$faculty-card-bottom-border: darkblue;
$footer-bg: #272727;
$footer-bottom-bg: #1a1a1a;
$timeline-blue-text: #2458a1;
$theme-light-gray: #f7f7f7;
$theme-dark-gray: #d2d2d2;


$green-dark: #057F44;
$green-light: #32B475;
$blue-dark: #087CAA;
$blue-light: #0AA5E3;
$primary-gray-text: #333333;
$gray-light-text: #999999;
$gray-border: #e5e5e5;
