body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $primary-background;
  font-size: $font-size-sm;
  padding-top: 85px;
}

a {
  transition: all .2s;

  &:hover, &:focus {
    outline: none;
    text-decoration: $link-decoration;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $headings-font-weight;
  color: $dark-grey-text;
}

p {
  margin-bottom: 0;
}
.font-light {
  font-weight: $font-light;
}
.font-regular {
  font-weight: $font-regular;
}
.font-semibold {
  font-weight: $font-semibold;
}
.font-bold {
  font-weight: $font-bold;
}
// **********  Overriding Bootstrap classes **********

// ******** BUTTON Style ********
.btn {
  border-radius: $border-radius-btn;
  background-color: $light-primary;
  outline: none;
  border: 0;
  color: white;
  font-weight: $font-semibold;
  font-size: $btn-text-size;
  letter-spacing: 0.04rem;
  white-space: normal;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
      color: white;
    }
  }
  @include media-breakpoint-down(xs) {
    display: block;
    width: 100%;
  }
}
.btn-sm {
  padding: 4px 18px;
}
.btn-md {
  padding: 12px 24px;
}

.navbar-brand {
  padding: 0.1rem 0 0 0;
}

.btn-primary {
  @include button-variant($btn-primary-color, $light-primary, $btn-primary-border);

  &:hover {
    background-color: $brand-primary;
    color: white;
  }
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      background-color: $dark-primary;
      box-shadow: $box-shadow-btn;
    }
  }
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $light-secondary, $btn-secondary-border);

  &:hover {
    background-color: $brand-secondary;
    color: white;
  }
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      background-color: $dark-secondary;
      box-shadow: $box-shadow-btn;
    }
  }
}


// **********  Custom style **********
// Brand Color classes
.brand-primary {
  color: $brand-primary;
}
.brand-secondary {
  color: $brand-secondary;
}
.light-primary {
  color: $light-primary;
}
.light-secondary {
  color: $light-secondary;
}
// Default container style with border
.container-md-center {
  @include center-block;
  max-width: 45rem;
  background-color: white;
  padding: 30px;
}
.content-box {
  box-shadow: $box-shadow;
  border-radius: 5px;
  border: 1px solid $gray-border;
}
.secondary-banner {
  padding: 35px 0;
  background-color: white;
  position: relative;
  border-bottom: 1px solid $gray-border;
}
.banner-head {
  padding: 25px 0 0;

  h1 {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 1px solid $light-primary;
  }
  p {
    font-size: 1rem;
    font-weight: $font-light;
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.form-section-title {
  border-bottom: 1px solid $gray-border;
  padding-bottom: 10px;
}
.simple-form-container {
  .form-group {
    margin-bottom: 1.75rem;

    .control-label {
      margin-bottom: 0;
      padding-top: 7px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 10px;
      }
    }
    select {
      appearance: none;
      position: relative;
      background: asset-url('down-arrow.svg') no-repeat 97% 50%;
      background-size: 15px 15px;
    }
    .radio-inline {
      padding-top: 7px;
      margin-right: 20px;
    }
    .form-control {
      font-size: 0.875rem;
      padding: 0.5rem 0.75rem;

      &:focus {
        border-color: lighten($light-secondary, 20%);
      }
    }
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    @include media-breakpoint-down(xs) {
      margin-bottom: 1rem;
    }
  }
  .simple-form-submit {
    margin-left: 15px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }
}
.content-head {
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;

  .content-title-icon {
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto 15px;
    display: block;

    &.graduated-icon {
      background-image: asset-url("apply/graduated-icon.svg");
      height: 75px;
    }
    &.program-icon {
      background-image: asset-url("apply/program-icon.svg");
      height: 50px;
    }
    &.program-partners-icon {
      background-image: asset-url("apply/program-partners-icon.svg");
      height: 43px;
    }
    &.faq-icon {
      background-image: asset-url("apply/faq-icon.svg");
      height: 60px;
    }
    &.fees-icon {
      background-image: asset-url("apply/fees-icon.svg");
      height: 62px;
    }
  }
  &:before {
    content: '';
    width: 60px;
    display: inline-block;
    border-bottom: 3px solid $gray-border;
    position: absolute;
    bottom: -20px;
    transform: translateX(-50%);
  }
}
.read-less-link, .read-more-link {
  text-transform: uppercase;
  font-weight: $font-semibold;
  text-align: center;
  padding: 10px;
  display: inline-block;
}
.has-error {
  @extend .has-danger;
}
.help-block {
  color: red;
}
