body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $primary-background;
  font-size: $font-size-sm;
  padding-top: 85px;
}

a {
  transition: all .2s;

  &:hover, &:focus {
    outline: none;
    text-decoration: $link-decoration;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $headings-font-weight;
  color: $dark-grey-text;
}

p {
  margin-bottom: 0;
}

// **********  Overriding Bootstrap classes **********

// ******** BUTTON Style ********
.btn {
  border-radius: $border-radius-btn;
  background-color: $light-primary;
  outline: none;
  border: 0;
  color: white;
  font-size: $btn-text-size;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
      color: white;
    }
  }
  @include media-breakpoint-down(xs) {
    display: block;
    width: 100%;
  }
}
.btn-sm {
  padding: 4px 18px;
}
.btn-md {
  padding: 12px 24px;
}

// ******** Uniform Spacing ********
.padding-xxs {
  padding: 5px;
}
.padding-xs {
  padding: 10px;
}
.padding-s {
  padding: 15px;
}
.padding-m {
  padding: 20px;
}
.padding-l {
  padding: 25px;
}
.padding-xl {
  padding: 30px;
}

// ******** Individual Spacing ********
//--- Margin Classes ---
.marginTop-s {
  margin-top: 10px;
}
.marginRight-s {
  margin-right: 10px;
}
.marginBottom-s {
  margin-bottom: 10px;
}
.marginLeft-s {
  margin-left: 10px;
}

.marginTop-m {
  margin-top: 20px;
}
.marginRight-m {
  margin-right: 20px;
}
.marginBottom-m {
  margin-bottom: 20px;
}
.marginLeft-m {
  margin-left: 20px;
}

.marginTop-l {
  margin-top: 30px;
}
.marginRight-l {
  margin-right: 30px;
}
.marginBottom-l {
  margin-bottom: 30px;
}
.marginLeft-l {
  margin-left: 30px;
}



//--- Padding Classes ---
.paddingTop-s {
  padding-top: 10px;
}
.paddingRight-s {
  padding-right: 10px;
}
.paddingBottom-s {
  padding-bottom: 10px;
}
.paddingLeft-s {
  padding-left: 10px;
}

.paddingTop-m {
  padding-top: 20px;
}
.paddingRight-m {
  padding-right: 20px;
}
.paddingBottom-m {
  padding-bottom: 20px;
}
.paddingLeft-m {
  padding-left: 20px;
}

.paddingTop-l {
  padding-top: 30px;
}
.paddingRight-l {
  padding-right: 30px;
}
.paddingBottom-l {
  padding-bottom: 30px;
}
.paddingLeft-l {
  padding-left: 30px;
}


.navbar-brand {
  padding: 0.1rem 0 0 0;
}

.btn-primary {
  @include button-variant($btn-primary-color, $light-primary, $btn-primary-border);

  &:hover {
    background-color: $brand-primary;
    color: white;
  }
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      background-color: $dark-primary;
      box-shadow: $box-shadow-btn;
    }
  }
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $light-secondary, $btn-secondary-border);

  &:hover {
    background-color: $brand-secondary;
    color: white;
  }
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      background-color: $dark-secondary;
      box-shadow: $box-shadow-btn;
    }
  }
}


// **********  Custom style **********

// Default container style with border
.container-md-center {
  @include center-block;
  max-width: 45rem;
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-box {
  box-shadow: $box-shadow;
  border-radius: 5px;
  border: 1px solid $gray-border;
}
.secondary-banner {
  padding: 35px 0;
  background-color: white;
  position: relative;
  border-bottom: 1px solid $gray-border;
}
.banner-head {
  padding: 25px 0 0;

  h1 {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 1px solid $light-primary;
  }
  p {
    font-size: 1rem;
    font-weight: $font-light;
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}


.content-head {
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;

  .content-title-icon {
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto 15px;
    display: block;

    &.graduated-icon {
      background-image: asset-url("talent/talent-icon.svg");
      width: 60px;
      height: 72px;
    }
    &.program-icon {
      background-image: asset-url("talent/talk-to-founders-icon.svg");
      width: 70px;
      height: 72px;
    }
    &.faq-icon {
      background-image: asset-url("talent/testimonial-icon.svg");
      width: 74px;
      height: 66px;
    }
    &.fee-icon {
      background-image: asset-url("talent/testimonial-icon.svg");
      width: 74px;
      height: 66px;
    }
  }
  &:before {
    content: '';
    width: 60px;
    display: inline-block;
    border-bottom: 3px solid $gray-border;
    position: absolute;
    top: 135px;
    transform: translateX(-50%);
  }
}
