footer {
  .footer-logo {
    opacity: 0.7;
    margin-bottom: 15px;
    width: 150px;
  }

  #footer-top {
    background-color: $footer-bg;
    color: $light-grey-text;
    padding-top: 40px;
    font-weight: 300;
    line-height: 25px;

    .sitemap {
      margin-bottom: 10px;
      width: 50%;
    }

    .footer-column {
      min-height: 140px;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    address {
      line-height: 25px;
    }

    a {
      color: $light-grey-text;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
  }

  #footer-bottom {
    color: $light-grey-text;
    background-color: $footer-bottom-bg;
    padding: 15px 0 10px;
    font-size: 12px;

    .img-opacity {
      text-align: center;

      .social-link {
        display: inline-block;
        a {
          display: inline-block;
          padding: 10px 15px;
          transition: all 300ms cubic-bezier(.25, .25, .75, .75);
          color: $light-grey-text;

          &:hover {
            opacity: .6;
          }
        }
      }
      @include media-breakpoint-down(xs) {
        text-align: center;
      }
    }

    .footer-right {
      text-align: right;

      @include media-breakpoint-down(xs) {
        text-align: center;
      }

      a {
        color: $light-grey-text;
        text-decoration: none;
        text-transform: initial;

        &:hover {
          opacity: .8;
          cursor: pointer;
        }
      }
    }

    p, .footer-right {
      margin: 5px 0;

      @include media-breakpoint-up(sm) {
        margin-bottom: 0;
        line-height: 25px;
      }
    }
    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }
}

.banner-row {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.5rem 0 0.5rem 0;
  text-align: center;
}

img.dot-co-banner {
  margin-top: 0.6rem;
  height: 2rem;
  background-color: black;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

#policy-modal {
  p {
    margin-bottom: 1rem;
  }

  ol {
    padding-left: 15px;
    margin-bottom: 1rem;
  }
}
