#header {
  &.header {
    height: 85px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .sitewide-notice {
    background-color: $theme-light-green;
    text-align: center;
    line-height: 25px;
    color: white;

    p { margin-top: 10px; }
    a {
      padding: 2px 5px;
      color: white;
      border: 1px solid #fff;
      border-radius: 5px;

      &:hover, &:focus {
        background-color: white;
        color: $theme-light-green;
        text-decoration: none;
      }
      @include media-breakpoint-down(sm) { display: inline-block; }
    }
  }

  .navbar,
  .navbar-default {
    background-color: white;
    box-shadow: 0 1px 0 0 $gray-border;
    height: auto;
    padding: 15px;
  }
  .navbar-header {
    float: left;
    height: 55px;

    @include media-breakpoint-down(sm) {
      float: none;

      .navbar-toggler {
        vertical-align:middle;
        padding: .7rem .2rem .7rem 1rem;
        margin: .5rem 0;
        border-radius: 4px;
        border: 0;
        float: right;
        outline: none;

        .icon-bar {
          display: block;
          width: 22px;
          height: 2px;
          border-radius: 1px;
          background-color: #888888;
          transition: all 0.2s;
        }
        .icon-bar + .icon-bar {
          margin-top: 4px;
        }
        .top-bar {
          transform: rotate(45deg);
          transform-origin: 10% 10%;
        }
        .middle-bar {
          opacity: 0;
        }
        .bottom-bar {
          transform: rotate(-45deg);
          transform-origin: 10% 90%;
        }

        &.collapsed {
          .top-bar {
            transform: rotate(0);
          }
          .middle-bar {
            opacity: 1;
          }
          .bottom-bar {
            transform: rotate(0);
          }
        }
      }
    }
  }
  .site-logo {
    width: 140px;
  }
  .navbar-nav {
    .nav-item + .nav-item {
      margin-left: 2rem;

      @include media-breakpoint-down(md) {
        margin-left: 1rem;
      }
      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }
  }
  .navbar-right {
    float: right;
    height: 55px;
    padding: 0.5em 0;

    > ul {
      > li {
        a {
          font-size: 0.9375rem;
          letter-spacing: 0.02rem;

          &.nav-link {
            color: $dark-grey-text;
            line-height: 26px;

            &:hover, &:focus {
              color: $brand-primary;
            }
            @include media-breakpoint-down(md) {
              font-size: 14px;
            }
          }
          &.btn-signin {
            margin-top: 4px;
          }
        }
        @include media-breakpoint-down(sm) {
          float: none;
          display: block;
          margin: 0;
          border-top: 1px solid $gray-border;

          a {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem ;
            text-align: center;
            display: block;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      float: none;
      height: auto;
      margin-top: 10px;
    }
    .dropdown-toggle {
      &:after {
        display: none;
      }
    }
  }

  .logged-in-avatar-link {
    display: block;

    img {
      max-width: 42px;
      max-height: 42px;
      border: 2px solid $gray-border;
    }
  }

  ul.dropdown-menu {
    left: auto;
    right: 0;
    margin-top: 10px;
    padding: 0;
    border-color: $gray-border;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.06);

    &:before {
      position: absolute;
      top: -7px;
      right: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $gray-border;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    &:after {
      position: absolute;
      top: -6px;
      right: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      border-left: 6px solid transparent;
      content: '';
    }
    li {
      border-bottom: 1px solid $gray-border;

      a {
        display: block;
        padding: 10px 15px;
        font-size: 13px;
        color: $light-grey-text;

        i {
          color: $light-secondary;
          margin-right: 0.5em;
        }
        &:hover, &:focus {
          color: $light-secondary;
        }
      }
      &:last-child {
        border: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      left: 0;
      width: 100%;
      position: relative;

      &:before {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
      }
      &:after {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
      }
    }
  }
}
