.select2-container.grouped_select.form-control, .select2-container.select.form-control, .select2-container.string.form-control {
  // Give bounding box correct size.
  padding: 0;

  a {
    // Give border correct size.
    border-color: $gray-border;
    box-shadow: none;

    // Remove background color.
    background: white none;

    // Let element expand to size of contents.
    height: 100%;

    .select2-chosen {
      // Reset overridden font (WTF!).
      font-family: 'Source Sans Pro', sans-serif;

      // Set a minimum height to prop it up without content.
      min-height: 37px;

      // Set correct line height and padding.
      line-height: 1.5;
      padding: 0.5rem 0.75rem;
    }

    .select2-arrow {
      // Inherit border color from parent.
      border-color: inherit;

      // Remove border to the left.
      border-left: 0;

      // Remove background color.
      background: white none;

      b {
        // Lower the arrow.
        background-position: 0 7px;
      }
    }
  }
}

.form-control.select2-container.select2-dropdown-open {
  // Correct the border color when dropdown is open.
  border-color: $gray-border;
}

.select2-drop {
  &.select2-drop-active {
    // Correct border color on dropdown component.
    border-color: $gray-border;
    box-shadow: none;

    &.select2-drop-active {
      // Remove blue border-top.
      border-color: $gray-border;
    }
  }

  .select2-results {
    .select2-no-results {
      // Remove background color from text indicating no results.
      background: none;
    }
  }
}
