@import 'select2';

.turbolinks-progress-bar {

  &:before {
    background-color: $brand-primary !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.margin-left-10 {
  margin-left: 10px;
}

.notice-with-link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .notice {
    font-size: 1.125rem;

    &.strong-notice {
      font-weight: 600;
    }
  }

  .link {
    flex-shrink: 0;
    margin-left: 1rem;
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;

    .link {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
.card-with-description {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: $primary-background;

  .card-image {
    margin-right: 1rem;
  }

  .card-description {
    font-size: 1rem;
    font-weight: $font-light;
    line-height: 1.6;
  }

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;

    .card-image {
      margin: auto;
    }
  }
}