@import 'select2';

.turbolinks-progress-bar {
  background-color: $brand-primary;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}
