.tour-banner {
  background: rgba(255, 255, 255, 1) asset-url("tour/tour-illustration.svg") no-repeat center top;
  background-size: cover;
  height: 320px;
  border-bottom: 1px solid $gray-border;
}
.tour-banner-head {
  padding: 160px 0 0;
  max-width: 600px;

  @include media-breakpoint-down(xs) {
    padding: 150px 0 0;
  }

  h1 {
    font-size: $font-size-h2;
    line-height: 1.3;
    margin-bottom: 10px;

    @include media-breakpoint-down(xs) {
      font-size: 2rem;
    }
  }
  h4 {
    line-height: 1.4;
  }
  strong {
    font-weight: $font-semibold;
  }
  .dropdown {
    display: inline-block;

    ul.dropdown-menu {
      left: 0;
      width: 100%;
      position: relative;
      margin-top: 10px;
      padding: 0;
      position: relative;
      border-color: $gray-border;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.06);

      &:before, &:after {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        position: absolute;
        display: inline-block;
        content: '';
      }
      &:before {
        top: -7px;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $gray-border;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
      }
      &:after {
        top: -6px;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        border-left: 6px solid transparent;
      }
      li {
        border-bottom: 1px solid $gray-border;

        a {
          display: block;
          padding: 10px 15px;
          font-size: 13px;
          color: $light-grey-text;

          &:hover, &:focus {
            color: $light-secondary;
          }
        }
        &:last-child {
          border: 0;
        }
      }
    }
    @include media-breakpoint-down(xs) {
        display: block;
    }
  }
}
.tour-block {
  padding: 40px 0;
  border-bottom: 1px solid $gray-border;
  min-height: 300px;

  &:nth-child(even) {
    background-color: #fff;
  }
  .tour-image {
    width: 360px;
    margin: auto;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      float: none;
      width: 100%;
      max-width: 360px;
      margin: auto;
    }
  }
  h2 {
    margin-bottom: 15px;
  }
  p {
    line-height: 2;
    max-width: 460px;
    @include media-breakpoint-down(sm) {
      max-width: inherit;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}
.back-to-top {
  display: inline-block;
  padding-top: 15px;
  font-weight: $font-semibold;
}
.tour-videos {
  position: relative;
  background-color: white;
  border-bottom: 1px solid $gray-border;

  &:before {
    background-color: $gray-border;
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-position: center center;
    position: absolute;
    top: 10%;
    left: calc(50% - 1px);

    @include media-breakpoint-down(sm) {
      background-color: transparent;
    }
  }
}
.why-sv-video {
  margin: auto;
  padding: 40px 0;
  @include border-radius(5px);
  position: relative;
  cursor: pointer;
  transition: all .2s;

  &:before, &:after {
    position: absolute;
    opacity: 0;
    transition: all .2s;
  }
  &:before {
    content: asset-url('apply/play-button.svg');
    width: 50px;
    height: 50px;
    top: 40%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);

    @include media-breakpoint-down(md) {
      width: 30px;
      height: 30px;
    }
  }
  &:after {
    content: "";
    border-radius: 5px;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  }
  &:hover, &:focus {
    background-color: white;
    transform: scale(1.045, 1.045);

    &:before, &:after {
      opacity: 1;
    }
  }
  h3 {
    line-height: 1.3;
  }
  .tour-video-frame {
    display: block;
    margin: auto;
    width: 200px;
    overflow: hidden;
    text-align: center;
    position: relative;
  }
}
