p Congratulations! You have been invited to join #{@current_user.fullname}'s startup as a co-founder.

p To be a part of #{@current_user.fullname}'s startup as a co-founder, please download the Startup Village mobile
  application (Android, iOS), and sign up as a user using this email ID. You can then accept or reject this request.

p Please contact #{mail_to @current_user.email, @current_user.fullname} directly for clarifications.

p Good luck, and have fun!

p Team SV Labs
