p Hi #{@mentor_meeting.mentor.user.fullname} !

p #{link_to @mentor_meeting.user.fullname, @mentor_meeting.user} of #{link_to @mentor_meeting.user.startup.name, @mentor_meeting.user.startup} has requested a new meeting with you on #{@mentor_meeting.suggested_meeting_at.to_date} at #{@mentor_meeting.suggested_meeting_at.strftime("%l:%M %P")} for #{@mentor_meeting.purpose}. To accept/decline #{link_to 'click here', mentoring_url} .