p Hi #{@recipient.fullname}!

p #{@mentor_meeting.guest(@recipient).fullname} has agreed to the meeting!

p Please login to svlabs.in at the scheduled time (#{@mentor_meeting.meeting_at.strftime('%d-%m-%Y %H:%M')}) and head
  to the meeting room.

strong Please login using chrome/firefox/opera browsers for the meeting.
