p Hi #{@mentor_meeting.user.fullname}!

p Unfortunately #{@mentor_meeting.mentor.user.fullname} has declined your request for meeting! Please refer to comments below from the mentor:

p 
  i &ldquo;#{@mentor_meeting.mentor_comments}&rdquo;
