p Hi #{@mentor_meeting.user.fullname} !

p #{@mentor_meeting.mentor.user.fullname} has accepted your request for meeting! However, the meeting has been rescheduled to #{@mentor_meeting.meeting_at.strftime('%d-%m-%Y %H:%M')} by the mentor. Please login at SV as per schedule. 