p Hello,

p This is a confirmation that the password for your SV App account has just been changed.

p If you didn't request a password change, please write to us at support@svlabs.in

p - Team SV App
