.school-admin-navbar {
  @apply w-auto;
}

.school-admin-navbar__primary-nav {
  @apply w-64;
}

.school-admin-navbar__primary-nav--shrunk {
  @apply w-20;
}

.school-admin-navbar__secondary-nav {
  @apply w-64;
}

.school-admin-navbar__primary-nav-link {
  @apply flex text-gray-800 h-13 text-sm font-semibold items-center;
  position: relative;
}

.school-admin-navbar__primary-nav-link:hover {
  @apply text-primary-500;
}

.school-admin-navbar__primary-nav-link--active {
  @apply bg-primary-100 text-primary-500;

}

.school-admin-navbar__primary-nav-link--active:hover {
  @apply bg-gray-200 text-primary-500;
}

.school-admin-navbar__notifications-unread-bullet {
  @apply absolute block h-2 w-2 rounded-full border border-white bg-red-500;
  top: 16px;
  right: 30px;
}

.school-admin-navbar__notifications-unread-bullet::before {
  content: "";
  @apply animate-ping absolute inline-flex h-full w-full inset-0 rounded-full bg-red-300 opacity-75;
}
