.application-stages-banner {
  background: rgba(255, 255, 255, 1) asset-url("apply/application-process-stages-bg.svg") no-repeat center center;
  background-size: cover;
  border-bottom: 1px solid $gray-border;
}
.application-stages-head {
  margin: auto;

  h1 {
    margin-bottom: 15px;

    span {
      color: $brand-secondary;
    }
  }
  h4 {
    max-width: 380px;
    line-height: 1.4;
  }
}

.cofounder-section-form {
  border: 1px solid $gray-border;
  @include border-radius(5px);
  background-color: white;
  padding: 30px 15px;
  margin-left: 15px;
  max-width: 500px;
  position: relative;

  .cofounder-title {
    position: absolute;
    border: 1px solid $gray-border;
    @include border-radius(5px);
    background-color: white;
    padding: 5px 10px;
    top: -17px;
  }
}
.apply-submitted {
  h3 {
    line-height: 1.3;
  }
}
.submit-fee-section {
  border: 1px solid $gray-border;
  @include border-radius(5px);
  box-shadow: $box-shadow;
  overflow: hidden;


  .applicants-list {
    background-color: $light-secondary;
    color: white;
    padding: 30px;

    h5 {
      color: white;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 10px;
    }
    ol {
      margin: 0;
      padding-left: 15px;
      line-height: 2.5;
      letter-spacing: 0.03rem;
    }
  }
  .paywith-instamojo {
    padding: 30px;
    position: relative;

    @include media-breakpoint-up(md) {
      div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
  @include media-breakpoint-up(md) {
    display: flex;
  }
}
.application-close-alert {
  h4 {
    line-height: 1.5;

    strong {
      font-weight: $font-semibold;
      color: $brand-secondary;
    }
  }
  .close-alert-icon {
    border: 1px solid $gray-border;
    border-width: 0 1px 0 0;

    @include media-breakpoint-down(sm) {
      border-width: 0;
      padding-bottom: 15px;
      margin-bottom: 10px;
    }

    i {
      font-size: 5rem;
      color: $light-secondary;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}
