.application-stages-banner {
  background: rgba(255, 255, 255, 1) asset-url("apply/application-process-stages-bg.svg") no-repeat center center;
  background-size: cover;
  border-bottom: 1px solid $gray-border;
}
.application-stages-head {
  margin: auto;

  h1 {
    margin-bottom: 15px;

    span {
      color: $brand-secondary;
    }
  }
  h4 {
    max-width: 380px;
    line-height: 1.4;
  }
}

.cofounder-section-form {
  border: 1px solid $gray-border;
  @include border-radius(5px);
  background-color: white;
  padding: 30px 15px;
  margin-left: 15px;
  max-width: 500px;
  position: relative;

  .cofounder-title {
    position: absolute;
    border: 1px solid $gray-border;
    @include border-radius(5px);
    background-color: white;
    padding: 5px 10px;
    top: -17px;
  }
}
