#certificate-content {
  width: 100%;
  min-height: 500px;
}
.cerificate-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid $gray-border;

  @include media-breakpoint-down(sm) {
    border-bottom: 0;
    justify-content: center;

    .certificate-download-button {
      margin-top: 15px;
    }
  }
}
