.application-process {
  position: relative;

  h2 {
    position: relative;
    margin-bottom: 50px;
    font-size: 1.875rem;

    strong {
      font-weight: $font-semibold;
    }

    &:before {
      content: '';
      width: 100px;
      display: inline-block;
      border-bottom: 3px solid $gray-border;
      position: absolute;
      bottom: -20px;
    }
  }
}
.application-process-left {
  background-color: white;
}
.registration-complete-notice {
  padding: 30px;

  strong {
    font-weight: $font-semibold;
  }
}
.admission-process, .important-dates, .application-faq {
  padding: 30px;

  .process-box {
    @include border-radius(10px);
    padding: 20px;
    margin: 15px 0;
    position: relative;
    height: 160px;
    text-align: center;
    border: 1px solid $light-secondary;

    .process-icon {
      width: 120px;
    }
    .stage-number {
      position: absolute;
      left: 0;
      top: 0;
      width: 35px;
      height: 35px;
      text-align: center;
      vertical-align: middle;
      color: white;
      font-size: 1.25rem;
      font-weight: $font-semibold;
      @include border-radius(8px 0 10px 0);
      background-color: $light-secondary;
    }
    &:before, &:after {
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;

      @include media-breakpoint-down(sm) {
        content: none;
      }
    }
    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-width: 15px;
    }
    &:before {
      border-color: rgba(10, 165, 227, 0);
      border-width: 16px;
    }
    &.arrow-right {
      &:before, &:after {
        left: 100%;
        top: 50%;
      }
      &:after {
        border-left-color: #ffffff;
        margin-top: -15px;
      }
      &:before {
        border-left-color: $light-secondary;
        margin-top: -16px;
      }
    }
    &.arrow-left {
      &:before, &:after {
        right: 100%;
        top: 50%;
      }
      &:after {
        border-right-color: #ffffff;
        margin-top: -15px;
      }
      &:before {
        border-right-color: $light-secondary;
        margin-top: -16px;
      }
    }
    &.process-box-green {
      border: 1px solid $light-primary;

      .stage-number {
        background-color: $light-primary;
      }

      &.arrow-right {
        &:before {
          border-left-color: $light-primary;
          margin-top: -16px;
        }
      }
      &.arrow-left {
        &:before {
          border-right-color: $light-primary;
          margin-top: -16px;
        }
      }
      &.arrow-down {
        &:before {
          border-top-color: $light-primary;
          margin-left: -16px;
        }
      }
    }
    &.arrow-down {
      &:before, &:after {
        top: 100%;
        left: 50%;
      }
      &:after {
        border-top-color: #ffffff;
        margin-left: -15px;
      }
      &:before {
        border-top-color: #0AA5E3;
        margin-left: -16px;
      }
    }
  }
  .date-table {
    padding: 0;
    display: flex;

    > div {
      padding: 15px;
      text-align: center;
      border: 1px solid $gray-border;
      border-width: 0 1px 0 0;

      &:last-child {
        border: 0;
      }
      @include media-breakpoint-down(xs) {
        border-width: 0 0 1px 0;
      }
    }
    @include media-breakpoint-down(xs) {
      display: block;
    }
    .start-date {
      font-size: 1.125rem;
      font-weight: $font-semibold;
      padding: 10px 0;
      border-bottom: 1px solid $gray-border;
      margin-bottom: 10px;
    }
    .process-head {
      font-size: 1rem;
    }
  }
}
.admission-process{
  p {
    font-size: 1.125rem;
    font-weight: $font-light;
  }
}
.help-section {
  background-color: $light-secondary;
  padding: 30px 15px;

  .help-icon {
    @include media-breakpoint-down(sm) {
      max-width: 100px;
    }
  }
  h2 {
    color: white;
    margin-bottom: 40px;
    &:before {
      border-bottom: 3px solid white;
    }
  }
  p {
    font-size: 1.125rem;
    color: white;

    strong {
      font-weight: $font-semibold;
    }
  }
}
.fees-section {
  padding: 30px;

  .accordion-toggle {
    position: relative;

    // &.active {
    //   &:before {
    //     @include fa-icon(angle-up);
    //     float: right;
    //     color: $light-grey-text;
    //   }
    //   &.collapsed {
    //     &:before {
    //       @include fa-icon(angle-up);
    //     }
    //   }
    // }

    &:before {
      @include fa-icon(angle-up);
      float: right;
      color: $light-grey-text;
    }

    &.collapsed {
      &:before {
        @include fa-icon(angle-down);
      }
    }
    &:hover, &:focus, &:active {
      box-shadow: $box-shadow-hover;
    }
  }
  h4 {
    margin-bottom: 0;
  }
  h3 {
    line-height: 1.3;
  }
  .card-block {
    display: block;
  }
  .card-text {
    padding: 20px;
  }
  .success-fee-box {
    border: 1px solid $gray-border;
    width: 50%;
    border-width: 1px 1px 0 0;
    display: inline-flex;
    text-align: left;
    align-items: center;
    padding: 20px;

    &:nth-child(2n) {
      border-right: 0;
    }

    &:last-child {
      border-right: 0;
    }
    h3 {
      font-size: 1.25rem;
      font-weight: $font-semibold;
    }
    p {
      font-weight: $font-light;
      font-size: 1rem;
      line-height: 1.4;
      margin-left: 15px;

      strong {
        font-weight: $font-semibold;
      }
    }

    &:first-child {
      border-left: 0;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      border-width: 0 0 1px 0;
      padding: 30px 50px;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
.program-slides {
  position: relative;
  max-width: 560px;
  margin: auto;
  padding-bottom: 0;

  @include media-breakpoint-down(sm) {
    padding-bottom: 80px;
  }

  .slide-item {
    height: 260px;
    margin: 0 20px;
    padding: 20px;
    position: relative;
    background-color: transparent;
    outline: none;

    .program-day {
      padding: 0 20px;
      text-align: center;
      width: 180px;
      height: 50px;
      font-size: 1.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include border-radius(5px 0 5px 0);
      color: white;
      position: relative;
      left: -20px;
      top: -20px;

      &.blue-day {
        background-color: $light-secondary;
      }
      &.green-day {
        background-color: $light-primary;
      }
    }
    .program-slide-icon {
      @include media-breakpoint-down(sm) {
        width: 100px;
        margin: auto;
      }
    }

    ul {
      list-style: none;
      padding-left: 30px;
      margin-bottom: 15px;

      li {
        line-height: 2;
        position: relative;

        &:before {
          content: '';
          width: 12px;
          height: 12px;
          position: absolute;
          display: inline-block;
          left: -30px;
          top: 8px;
          @include border-radius(50%);
          border: 1px solid $light-primary;
          margin-right: 10px;
        }
      }
    }
    .partner-section {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid $gray-border;
      padding-top: 10px;

      .partner-logo {
        width: 100px;
      }
      p {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid $gray-border;
      }
    }
    @include media-breakpoint-down(sm) {
      height: auto;
      margin: 0;
    }
  }
  .slick-prev, .slick-next {
    border: 1px solid $brand-secondary;
    @include border-radius(50%);
    background-color: white;
    box-shadow: $box-shadow;
    height: 40px;
    width: 40px;
    top: 50%;
    bottom: 0px;
    margin: 0 15px;
    z-index: 1;
    transition: all .2s;

    &:before {
      font-size: 18px;
      vertical-align: middle;
      opacity: 1;
    }
    &:hover, &:focus, &:active {
      box-shadow: $box-shadow-hover;

      &:before {
        color: $light-secondary;
      }
    }
    @include media-breakpoint-down(sm) {
      top: auto;
    }
  }
  .slick-prev {
    left: -70px;

    &:before {
      @include fa-icon(angle-left);
      color: $brand-secondary;
    }

    @include media-breakpoint-down(sm) {
      right: 50%;
      left: auto;
    }
  }
  .slick-next {
    right: -70px;

    &:before {
      @include fa-icon(angle-right);
      color: $brand-secondary;
    }
    @include media-breakpoint-down(sm) {
      left: 50%;
      right: auto;
    }
  }
}
.application-start-form {
  padding: 30px;
  background-color: white;

  h4 {
    font-weight: $font-semibold;
  }
  .simple-form-container {
    .batch_application_university_id {
      position: relative;

      .control-label {
        position: absolute;
        z-index: 1;
        padding: 8px;
        @include border-radius(0.25rem 0 0 0.25rem);
        margin: 0;
        background-color: white;
        border: 1px solid $gray-border;
      }
      .university_select {
        z-index: 2;

        > a {
          background-color: transparent;
          padding-left: 75px;
        }
      }
    }
    .form-group {
      margin-bottom: 15px;
    }
  }
}
.sticky-application-button {
  position: fixed;
  right: 7em;
  bottom: 2em;
  z-index: 100;
  transition: none;
  box-shadow: $box-shadow;

  @include media-breakpoint-down(md) {
    width: auto;
    right: 7em;
    bottom: 2em;
  }

  &.stick-above-footer {
    position: absolute;
    bottom: initial;
    margin-top: -4.4em;

    @include media-breakpoint-down(xs) {
      margin-top: -3.4em
    }
  }
}

.graduated-slide {
  overflow: hidden;

  .slick-prev, .slick-next {
    border: 1px solid $gray-border;
    @include border-radius(50%);
    background-color: white;
    box-shadow: $box-shadow;
    height: 40px;
    width: 40px;
    top: auto;
    bottom: 0px;
    margin: 0 15px;
    z-index: 1;
    transition: all .2s;

    &:before {
      font-size: 18px;
      vertical-align: middle;
      opacity: 1;
    }
    &:hover, &:focus, &:active {
      box-shadow: $box-shadow-hover;

      &:before {
        color: $light-secondary;
      }
    }
  }
  .slick-prev {
    right: 50%;
    left: auto;

    &:before {
      @include fa-icon(angle-left);
      color: $light-grey-text;
    }
  }
  .slick-next {
    left: 50%;
    right: auto;

    &:before {
      @include fa-icon(angle-right);
      color: $light-grey-text;
    }
  }
}
.application-faq {
  background-color: white;
  position: relative;

  ul {
    li {
      list-style: none;
      line-height: 1.65rem;
      padding-bottom: 30px;
      position: relative;

      &:before {
        @include fa-icon(circle-o);
        color: $brand-secondary;
        position: absolute;
        left: -25px;
        top: 6px;
      }
    }
  }
  h4 {
    margin-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray-border;
  }
  h5 {
    display: inline-block;
    font-weight: $font-semibold;
    line-height: 1.65rem;
  }
  p {
    letter-spacing: 0.01rem;
  }
}

.eq-height {
  display: flex;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}
.ready-to-apply {
  background-color: white;
  border: 0 solid $gray-border;
  border-top-width: 1px;
  padding-bottom: 50px;

  .btn-secondary {
    margin-left: 30px;

    @include media-breakpoint-down(xs) {
      margin: 10px 0 0 0;
    }
  }
}
