.apply-illustration {
  background: rgba(255, 255, 255, 1) asset-url("apply/banner-illustration.svg") no-repeat center center;
  background-size: cover;
  height: 380px;
  border-bottom: 1px solid $gray-border;
}
.primary-banner-head {
  padding: 80px 0;

  h1 {
    line-height: 1.4;
    margin-bottom: 25px;

    @include media-breakpoint-down(xs) {
      font-size: 1.5rem;
    }
  }
  .btn-secondary {
    margin-left: 30px;

    @include media-breakpoint-down(xs) {
      margin: 10px 0 0 0;
    }
  }
}

.graduated-slide {
  overflow: hidden;

  .slick-prev, .slick-next {
    border: 1px solid $gray-border;
    @include border-radius(50%);
    background-color: white;
    box-shadow: $box-shadow;
    height: 40px;
    width: 40px;
    top: auto;
    bottom: 0px;
    margin: 0 15px;
    z-index: 1;
    transition: all .2s;

    &:before {
      font-size: 18px;
      vertical-align: middle;
      opacity: 1;
    }
    &:hover, &:focus, &:active {
      box-shadow: $box-shadow-hover;

      &:before {
        color: $light-secondary;
      }
    }
  }
  .slick-prev {
    right: 50%;
    left: auto;

    &:before {
      @include fa-icon(angle-left);
      color: $light-grey-text;
    }
  }
  .slick-next {
    left: 50%;
    right: auto;

    &:before {
      @include fa-icon(angle-right);
      color: $light-grey-text;
    }
  }
}
.slick-slider {
  margin-bottom: 20px;
  padding-bottom: 80px;
}
.slide-item {
  margin: 20px;
  width: 400px;
  background-color: transparent;
  outline: none;
  transition: all 300ms ease 0s;

  .graduate-thumbnail {
    display: block;
    position:relative;

    &:before, &:after {
      position: absolute;
      opacity: 0;
      transition: all .2s;
    }
    &:before {
      content:'';
      width:100%;
      height:100%;
      top:0;
      left:0;
      background:rgba(0,0,0,0.5);
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
    }
    &:after {
      content: asset-url('apply/play-button.svg');
      width: 50px;
      height: 50px;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-down(md) {
        width: 30px;
        height: 30px;
      }
    }
    img {
      box-shadow: $box-shadow;
      width: 100%;

    }
    &:hover {
      &:before, &:after {
        opacity: 1.0;
      }
    }
  }
}
.slick-center {
  transform: scale(1.08);

  .graduate-thumbnail {
    &:after {
      opacity: 1.0;
    }
  }
}
.graduate-data {
  background-color: white;
  margin: 0 5px;
  border: 1px solid $gray-border;
  border-width: 0 1px 1px 1px;
  box-shadow: $box-shadow;
  @include border-bottom-radius(5px);

  h4 {
    padding: 15px 0 0;
    margin: 0;
  }
  p {
    color: $brand-secondary;
    padding: 5px  0 15px;
  }
}
.program-video {
  max-width: 500px;
  margin-bottom: 30px;
  padding: 0 15px;

  .program-video-frame {
    margin: auto;
    border: 5px solid #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    height: 275px;
    width: 100%;
    @include border-radius(5px);
    text-align: center;

    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }
}


.program-benefits {
  background-color: white;
  border: 1px solid $gray-border;
  border-width: 1px 0;
  padding-bottom: 50px;

  .benefits-section {
    max-width: 55rem;
    padding: 0 15px;

    .media {
      max-width: 400px;
      text-align: left;
      margin-top: 40px;

      .media-left {
        padding-right: 15px;
      }
    }

    .media-object {
      border: 1px solid $gray-border;
      @include border-radius(5px);
      padding: 15px;

      img {
        width: 30px;
        height: 30px;
      }
    }
    .media-heading {
      font-weight: $font-regular;
    }
    .tour-link {
      margin-top: 40px;
    }
    p {
      font-weight: $font-light;
    }
  }
}
@include media-breakpoint-up(sm) {
  .partner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.program-partners {
  padding-bottom: 35px;

  .card {
    text-align: center;
    overflow: hidden;
    margin-bottom: 1.75rem;

    .image-block {
      height: 75px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 120px;
      margin: auto;

      img {
        padding: 10px;
        margin: auto;
        width: 100%;
      }
    }
    .card-block {
      padding: 10px 20px;
      border-top: 1px solid $gray-border;

      @include media-breakpoint-down(lg) {
        padding: 10px;
      }
    }
    @include media-breakpoint-down(sm) {
      max-width: 160px;
    }
  }
}

.application-faq {
  background-color: white;
  border: 1px solid $gray-border;
  border-width: 1px 0;

  ul {
    li {
      list-style: none;
      line-height: 1.65rem;
      padding-bottom: 30px;
      position: relative;

      &:before {
        @include fa-icon(circle-o);
        color: $brand-secondary;
        position: absolute;
        left: -25px;
        top: 6px;
      }
    }
  }
  h4 {
    margin-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray-border;
  }
  h5 {
    display: inline-block;
    font-weight: $font-semibold;
    line-height: 1.65rem;
  }
  p {
    letter-spacing: 0.01rem;
  }
}
.application-fee {
  padding-bottom: 50px;

  .fees-section {
    max-width: 55rem;

    .fee-box {
      background-color: white;
      box-shadow: $box-shadow;
      border: 1px solid $gray-border;
      @include border-radius(5px);
      overflow: hidden;
      min-height: 200px;

      ul {
        display: flex;

        @include media-breakpoint-down(sm) {
          display: block;
        }
      }

      h4 {
        color: white;
        padding: 15px;
        margin-bottom: 30px;

        &.primary-head {
          background-color: $light-primary;
        }
        &.secondary-head {
          background-color: $light-secondary;
        }
      }
      h3 {
        max-width: 300px;
        margin-bottom: 0;
        line-height: 1.3;

        @include media-breakpoint-down(xs) {
          max-width: inherit;
          padding: 0 30px;
        }

        i {
          font-size: 20px;
          padding-right: 5px;
        }
      }
      a {
        display: inline-block;
        border-top: 1px solid $gray-border;
        padding: 15px 100px 25px;
        margin-top: 20px;

        @include media-breakpoint-down(xs) {
          padding: 15px 50px 25px;
        }
      }
      .success-fee-box {
        border-left: 1px solid $gray-border;
        width: 20%;
        padding: 30px 15px;

        p {
          font-weight: $font-light;
          font-size: 1rem;
          line-height: 1.4;
        }

        &:first-child {
          border-left: 0;
        }
        @include media-breakpoint-down(md) {
          width: 33.33%;
          border: 1px solid $gray-border;
          border-width: 0 1px 1px 0;

          &:last-child {
            border-right: 0;
          }
        }
        @include media-breakpoint-down(sm) {
          width: 50%;
          border-width: 1px 1px 0 0;
          display: inline-table;

          &:nth-child(2n) {
            border-right: 0;
          }
        }
        @include media-breakpoint-down(xs) {
          width: 100%;
          border-width: 0 0 1px 0;
          padding: 30px 50px;

          &:last-child {
            border-bottom: 0;
          }
        }
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
  }
}

.graduates-video {
  .modal-dialog {
    .modal-content {
      background-color: transparent;
      border: 0;

      .modal-header {
        border: 0;
        padding: 0;

        .close {
          color: #fff;
          opacity: 0.5;
          text-shadow: 0;
        }
      }
      .modal-body {
        background-color: rgba(0, 0, 0, 1.0);
        padding: 10px 10px 0;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    .video-frame {
      width: 100%;
      height: 500px;
    }
  }
}
.eq-height {
  display: flex;
}
