.application-progress {
  .application-progress-steps {
    max-width: 58rem;
    margin: auto;

    li {
      position: relative;
      display: inline-block;
      width: 20%;

      &:first-child {
        &:before {
          display: none;
        }
      }
      &:before {
        display: inline-block;
        background: #f2f2f2;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #fafafa;
        content: '';
        height: 5px;
        margin: 0;
        position: absolute;
        right: 0;
        transform: translateX(-50%);
        top: 24px;
        z-index: 1;
        width: 100%;
      }
      &.complete {
        &:before {
          background: $light-primary;
        }
      }
      &.applicant-stage {
        &:before {
          background: $light-primary;
        }
      }
      .application-stage {
        position: relative;
        padding-top: 60px;

        &:before {
          width: 50px;
          height: 50px;
          content: '';
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          display: inline-block;
          @include border-radius(50%);
          background-color: white;
          border: 5px solid #f2f2f2;
        }
        &.stage-1 {
          &:before {
            background-image: asset-url('apply/batch_application/application-progress/application-fee-blue.svg');
          }
        }
        &.stage-2 {
          &:before {
            background-image: asset-url('apply/batch_application/application-progress/coding-video-blue.svg');
          }
        }
        &.stage-3 {
          &:before {
            background-image: asset-url('apply/batch_application/application-progress/interview-blue.svg');
          }
        }
        &.stage-4 {
          &:before {
            background-image: asset-url('apply/batch_application/application-progress/pre-selection-blue.svg');
          }
        }
        &.stage-5 {
          &:before {
            background-image: asset-url('apply/batch_application/application-progress/complete-blue.svg');
          }
        }
        &.complete, &.submitted, &.expired, &.rejected, &.not_applicable {
          &:before {
            box-shadow: $box-shadow;
            background-color: $light-primary;
            border: 5px solid white;
          }
          &.expired, &.rejected {
            &:before {
              background-color: #E55D4B;
            }
          }
          &.not_applicable {
            &:before {
              background-color: $light-grey-text;
            }
          }
          &.stage-1 {
            &:before {
              background-image: asset-url('apply/batch_application/application-progress/application-fee-white.svg');
            }
          }
          &.stage-2 {
            &:before {
              background-image: asset-url('apply/batch_application/application-progress/coding-video-white.svg');
            }
          }
          &.stage-3 {
            &:before {
              background-image: asset-url('apply/batch_application/application-progress/interview-white.svg');
            }
          }
          &.stage-4 {
            &:before {
              background-image: asset-url('apply/batch_application/application-progress/pre-selection-white.svg');
            }
          }
          &.stage-5 {
            &:before {
              background-image: asset-url('apply/batch_application/application-progress/complete-white.svg');
            }
          }
        }
        &.applicant-stage {
          &.expired, &.submitted, &.rejected, &.not_applicable {
            &:before {
              width: 60px;
              height: 60px;
              top: -5px;
            }
          }
          &.pending, &.ongoing {
            &:before {
              box-shadow: $box-shadow;
              width: 60px;
              height: 60px;
              top: -5px;
              background-color: white;
              border: 5px solid $light-secondary;
            }
            &.stage-1 {
              &:before {
                background-image: asset-url('apply/batch_application/application-progress/application-fee-blue.svg');
              }
            }
            &.stage-2 {
              &:before {
                background-image: asset-url('apply/batch_application/application-progress/coding-video-blue.svg');
              }
            }
            &.stage-3 {
              &:before {
                background-image: asset-url('apply/batch_application/application-progress/interview-blue.svg');
              }
            }
            &.stage-4 {
              &:before {
                background-image: asset-url('apply/batch_application/application-progress/pre-selection-blue.svg');
              }
            }
            &.stage-5 {
              &:before {
                background-image: asset-url('apply/batch_application/application-progress/complete-blue.svg');
              }
            }
          }
          &.ongoing {
            &:before {
              border: 5px solid $light-primary;
            }
          }
        }
        &.complete {
          .stage-status {
            color: $brand-primary;
          }
        }
        &.expired, &.rejected {
          .stage-status {
            color: #E55D4B;
          }
        }
        &.not_applicable {
          .stage-status {
            color: $light-grey-text;
          }
        }
        p {
          color: $light-grey-text;
        }
        .stage-status {
          color: $brand-secondary;
          font-weight: $font-semibold;
        }
        p, .stage-status {
          font-size: 0.875rem;

          @include media-breakpoint-down(md) {
            font-size: 0.6875rem;
          }
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
    }
  }
}
.stages-alert-icon {
  max-width: 400px;
}
