.batch_applications_payment_team_size {
  margin-bottom: 0 !important;

  .control-label {
    width: 33%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  > div {
    width: 67%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.pay-amount {
  padding-left: 33%;
}

.restart-application {
  border-top: 1px solid $gray-border;
  padding-top: 20px;

  h6 {
    line-height: 1.5;
    margin: 0;

    @include media-breakpoint-down(xs) {
      font-size: 1rem;
    }
  }
}
