.batch_applications_payment_team_size {
  margin-bottom: 0 !important;

  .control-label {
    width: 33%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  > div {
    width: 67%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.pay-amount {
  padding-left: 33%;
}

.coupon-form-container {
  border: 1px dashed $gray-border;
  padding: 1rem;
  @include border-radius;
  background-color: $primary-background;
}

.coupon-applied-box {
  color: $brand-primary;
  border-bottom: 1px dashed $gray-border;
}

.coupon-instructions {
  background-color: lighten($alert-background, 30%);
  border: 1px dotted $alert-background;
  @include border-radius(5px);
  padding: 10px;
  color: darken($alert-background, 25%);
}

.coupon-form-hide {
  margin: 0 0 0 1rem;

  @include media-breakpoint-down(sm) {
    margin: 1rem 0 0 0;
  }
}

.coupon-form-show {
  font-size: 1rem;
  border-bottom: 1px solid $brand-secondary;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    color: $light-secondary;
  }
}

.restart-application {
  border-top: 1px solid $gray-border;
  padding-top: 20px;

  h6 {
    line-height: 1.5;
    margin: 0;

    @include media-breakpoint-down(xs) {
      font-size: 1rem;
    }
  }
}
