.application-stage-1-header__thanks-text {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;

  &:before, &:after {
    content: "";
    position: absolute;
    background-color: $gray-border;
    display: block;
    height: 1px;
    top: calc(50% - 1px);
    width: 120px;

    @include media-breakpoint-down(md) {
      width: 30px;
    }
  }

  &:before {
    right: 100%;
    margin-right: 15px;
  }

  &:after {
    left: 100%;
    margin-left: 15px;
  }
}

.application-stage-1-header__description {
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

.application-stage-1-header__question {
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

.applicant-screening {
  padding: 0;
  position: relative;
	width: 100%;
  display: flex;

  @include media-breakpoint-up(md) {
    height: 450px;
  }

  &:before {
    background-color: $gray-border;
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
  }
}

.applicant-screening__section {
  width: 50%;
  display: inline-flex;
  position: relative;
  transition: all .2s;
}

.applicant-screening__cover {
  width: 100%;
  padding: 3rem;
  transition: all .2s;
  pointer-events: none;

  @include media-breakpoint-down(md) {
    padding: 1rem;
  }

  .applicant-screening-choice {
    transition: all .2s;

    @include media-breakpoint-down(md) {
      font-size: 1rem;
    }
  }

  &:hover, &:focus {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.10);

    .applicant-screening-choice {
      color: $brand-secondary;
    }
  }
}

.applicant-screening-btn {
  pointer-events: auto;
}

.applicant-screening__cover-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.applicant-screening__section-left--shrunk {
  width: 30%;
  background-color: white;

  .applicant-screening__cover {
    background-color: $light-secondary;
    box-shadow: inset -10px 0px 10px -10px $dark-secondary;

    .applicant-screening-choice {
      color: white;

      @include media-breakpoint-down(md) {
        font-size: 0.75rem;
      }
    }
  }
}

.applicant-screening__section-right--shrunk {
  width: 30%;
  background-color: white;

  .applicant-screening__cover {
    background-color: $light-secondary;
    box-shadow: inset 10px 0px 10px -10px $dark-secondary;

    .applicant-screening-choice {
      color: white;
    }
  }
}

.applicant-screening__section-right--expanded {
  width: 70%;
  background-color: white;

  .applicant-screening__cover {
    display: none;
  }

  .coder-question {
    display: block;
  }
}

.applicant-screening__section-left--expanded {
  width: 70%;

  .applicant-screening__cover {
    display: none;
  }

  .non-coder-question {
    display: block;
  }
}

.applicant-screening__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 125px;
  height: 125px;
  border: 1px dashed $light-secondary;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
  overflow: hidden;
  position: relative;

  img {
    width: 200px;
  }

  @include media-breakpoint-down(md) {
    width: 60px;
    height: 60px;
  }
}

.applicant-screening__quiz {
  background-color: white;
  padding: 1.875rem;
  display: none;
  width: 100%;
}

.applicant-screening__question-section {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.applicant-screening__question-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.875rem;
  background-color: white;
  width: 50px;
  height: 50px;
  color: $light-secondary;
  border: 1px solid $light-secondary;
  box-shadow: 0 0 10px 0 lighten($light-secondary, 30%);;
  @include border-radius(50%);

  &:before {
    background-color: $light-secondary;
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-position: center center;
    position: absolute;
    left: -31px;
    top: calc(50% - 1px);
  }
}

.applicant-screening__question {
  max-width: 36rem;
  line-height: 1.4;

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

.applicant-screening__answer-hint-text {
  max-width: 32rem;
  line-height: 1.5;
  font-size: 1rem;
}

.applicant-screening__answer-options {
  border-bottom: 1px solid $gray-border;
}

.applicant-screening__answer-option-label {
  padding-left: 2.125rem;
  display: inline-block;
}
.applicant-screening__answer-option-label + .applicant-screening__answer-option-label {
  margin-left: 2rem;

  @include media-breakpoint-down(xs) {
    margin-left: 1.5rem;
  }
}

.applicant-screening__answer-option-indicator {
  top: 0.15rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  box-shadow: 0 0 3px 3px $gray-border;
}
.applicant-screening__answer-option-description {
  font-size: 1.125rem;
}

.applicant-screening__answer-option-input {

  &:checked {
    ~ .applicant-screening__answer-option-indicator  {
        background-color: $brand-primary;
    }
  }
}