.code-video-task {
  overflow: hidden;

  h2 {
    position: relative;
    margin-bottom: 60px;

    &:before {
      content: '';
      width: 120px;
      display: inline-block;
      border-bottom: 4px solid $light-primary;
      position: absolute;
      bottom: -20px;
    }
    &.video-task-head {
      &:before {
        border-bottom: 4px solid $light-secondary;
      }
    }
  }
  h6 {
    color: $light-grey-text;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-border;
  }
  .task-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .task-box {
      padding: 25px;
      position: relative;
      z-index: 0;
      min-height: 180px;
      border-color: rgba(50,180,117,0.5);

      p {
        font-size: 1.125rem;
        font-weight: $font-light;
        line-height: 1.4;
      }
    }
    .video-task-box {
      max-width: 30em;
      border-color: rgba(10,165,227,0.5);
    }
    .task-icon {
      margin-bottom: 15px;

      img {
        height: 35px;
      }
    }
    .or-text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: white;
      border: 1px solid rgba(50, 180, 117, 0.5);
      border-width: 1px 0 1px 0;
      height: 60px;
      z-index: 1;

      &:before, &:after {
        content: " ";
        height: 100%;
        position: absolute;
        top: 0;
        width: 5px;

        @include media-breakpoint-down(sm) {
          content: none;
        }
      }
      &:before {
        box-shadow: -10px 0 0 0 white inset;
        left: -3px;
      }
      &:after {
        box-shadow: 0 0 0 10px white inset;
        right: -3px;
      }

      p {
        font-weight: $font-regular;
        font-size: 1.6rem;
      }
      @include media-breakpoint-down(sm) {
        border-width: 0 1px 0 1px;
        margin: -1px 0;
      }
    }
  }
  .video-task {
    border-top: 1px solid $gray-border;
  }
  ul {
    padding-left: 25px;

    > li {
      list-style: circle;
      font-size: 1rem;
      padding-bottom: 10px;

      p {
        padding-left: 10px;
        line-height: 1.8;

        strong {
          font-weight: $font-bold;
          font-size: 1.125rem;
        }
      }
    }
  }
}
.code-video-deadline {
  h4 {
    font-size: 1.8rem;
  }
}
.code-video-submit-form {
  .form-section-title {
    padding: 0 0 10px;
    margin-bottom: 15px;
  }
  .simple-form-container {
    .form-group {
      margin-bottom: 15px;

      .control-label {
        padding: 0 0 5px;
      }
    }
  }
}
