.editor-drawer-2 {
  @apply bg-white flex h-screen fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 501;
  animation: slideIn 0.25s ease 0s 1 normal forwards;
}

@screen xl {
  .editor-drawer-2 {
    width: 48rem;
  }

  .editor-drawer-2--large {
    width: 64rem;
  }
}

.editor-drawer-2__close {
  left: -52px;
  z-index: -1;
}

[dir="rtl"] .editor-drawer-2__close {
  left: auto;
  right: -52px;
}

[dir="rtl"] .editor-drawer-2 {
  right: auto;
  left: 0;
  animation: slideIn--rtl 0.25s ease 0s 1 normal forwards;
}

@keyframes slideIn {
  0% {
    right: -9999px;
  }
}

@keyframes slideIn--rtl {
  0% {
    left: -9999px;
  }
}
