<% presenter = Users::Sessions::ResetPassword.new(self, @token) %>

<% content_for(:head) do %>
  <title><%= presenter.page_title %></title>
  <%= stylesheet_pack_tag 'UserSessionResetPasswordPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'UserSessionResetPasswordPack', nonce: true %>
<% end %>

<div id="user-session-reset-password" data-json-props="<%= presenter.props_to_json %>"></div>
