<% presenter = Users::Sessions::SendLoginEmailPresenter.new(self) %>

<%= content_for :head do %>
  <title>Sign In | <%= presenter.school_name %></title>
<% end %>

<div class="secondary-banner">
  <div class="container">
    <h1 class="text-center">
      Sign-in link sent!
    </h1>
  </div>
</div>

<div class="container">
  <div class="container-sm-center">
    <div class="content-box my-4">
      <h5 class="font-regular text-center send-login__message">
        An email with a Sign-in link has been sent to your address.
        Please visit your inbox and follow the link to sign-in and continue.
      </h5>
    </div>
  </div>
</div>
