<% content_for(:head) do %>
  <%= javascript_pack_tag 'schools/founders/index', 'data-turbolinks-track': 'reload', nonce: true %>
  <%= stylesheet_pack_tag 'schools/founders/index', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% @presenter = Schools::Founders::IndexPresenter.new(self, @course) %>
<div class="flex-1 flex flex-col bg-white overflow-hidden" data-props=#{@presenter.teams}>
  <!-- Top bar -->
  <div>
    <div class="border-b flex px-6 py-2 items-center justify-between">
      <div class="inline-block relative w-64">
        <select class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded leading-tight leading-normal focus:outline-none">
          <option>Level 1</option>
          <option>Level 2</option>
          <option>Level 3</option>
        </select>
        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
      <div class="relative ml-3 my-2 md:w-1/4">
        <input type="search" class="bg-white border rounded py-2 pr-4 pl-10 block w-full appearance-none leading-normal" placeholder="Search...">
        <div class="absolute pin-l pin-t mt-3 mx-4 text-purple-lighter">
          <svg version="1.1" class="h-3 text-dark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966;" xml:space="preserve">
            <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
              c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
              C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
              S32.459,40,21.983,40z"/></svg>
        </div>
      </div>
    </div>
    <div class="bg-grey-lightest flex px-6 mr-3">
      <div class="max-w-lg bg-white mx-auto relative rounded rounded-b-none border-b py-2 px-3 mt-3 w-full flex items-center justify-between">
        <div class="flex">
          <button class="hover:bg-purple-dark text-purple-dark font-semibold hover:text-white focus:outline-none border border-dashed border-blue hover:border-transparent flex items-center px-2 py-1 rounded-lg cursor-pointer">
            <svg class="svg-icon w-6 h-6" viewBox="0 0 20 20">
              <path fill="#A8B7C7" d="M13.388,9.624h-3.011v-3.01c0-0.208-0.168-0.377-0.376-0.377S9.624,6.405,9.624,6.613v3.01H6.613c-0.208,0-0.376,0.168-0.376,0.376s0.168,0.376,0.376,0.376h3.011v3.01c0,0.208,0.168,0.378,0.376,0.378s0.376-0.17,0.376-0.378v-3.01h3.011c0.207,0,0.377-0.168,0.377-0.376S13.595,9.624,13.388,9.624z M10,1.344c-4.781,0-8.656,3.875-8.656,8.656c0,4.781,3.875,8.656,8.656,8.656c4.781,0,8.656-3.875,8.656-8.656C18.656,5.219,14.781,1.344,10,1.344z M10,17.903c-4.365,0-7.904-3.538-7.904-7.903S5.635,2.096,10,2.096S17.903,5.635,17.903,10S14.365,17.903,10,17.903z"></path>
            </svg>
            <h5 class="font-semibold ml-2">Add new Student</h5>
          </button>
        </div>
        <div class="flex">
          <button class="bg-grey-lighter hover:bg-grey-light hover:text-grey-darker focus:outline-none text-grey-dark text-sm font-semibold py-2 px-4 rounded inline-flex items-center mx-2">
            Add tags
          </button>
          <button class="bg-transparent hover:bg-purple-dark focus:outline-none text-purple-dark text-sm font-semibold hover:text-white py-2 px-4 border border-puple hover:border-transparent rounded">
            Create new team
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="px-6 pb-4 flex-1 bg-grey-lightest overflow-y-scroll">
    <div class="max-w-lg mx-auto relative">
      <div class="student-team-container flex items-center shadow bg-white rounded-lg overflow-hidden mb-4">
        <div class="flex-1 w-3/5">
          <div class="student-team__card cursor-pointer hover:bg-grey-lighter flex items-center bg-white">
            <div class="flex-1 w-3/5">
              <div class="flex items-center">
                <label class="block text-grey leading-tight font-bold px-4 py-5">
                  <input class="leading-tight" type="checkbox">
                </label>
                <div class="flex items-center py-4 pr-4">
                  <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                  <div class="text-sm">
                    <p class="text-black font-semibold">Bodhish Thomas</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="student-team__card cursor-pointer hover:bg-grey-lighter flex items-center bg-white">
            <div class="flex-1 w-3/5">
              <div class="flex items-center">
                <label class="block text-grey leading-tight font-bold px-4 py-5">
                  <input class="leading-tight" type="checkbox">
                </label>
                <div class="flex items-center py-4 pr-4">
                  <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                  <div class="text-sm">
                    <p class="text-black font-semibold">Bodhish Thomas</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="student-team__card cursor-pointer hover:bg-grey-lighter flex items-center bg-white">
            <div class="flex-1 w-3/5">
              <div class="flex items-center">
                <label class="block text-grey leading-tight font-bold px-4 py-5">
                  <input class="leading-tight" type="checkbox">
                </label>
                <div class="flex items-center py-4 pr-4">
                  <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                  <div class="text-sm">
                    <p class="text-black font-semibold">Bodhish Thomas</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex w-2/5 items-center">
          <div class="w-3/5 py-4 px-3">
            <div class="students-team--name mb-5">
              <p class="mb-1 text-xs">Team</p>
              <h4>Ayushma</h4>
            </div>
            <div class="coaches-avatar-group">
              <p class="mb-2 text-xs">Coaches</p>
              <div class="flex items-center">
                <img class="w-6 h-6 rounded-full mr-2" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                <img class="w-6 h-6 rounded-full mr-2" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                <img class="w-6 h-6 rounded-full mr-2" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
              </div>
            </div>
          </div>
          <div class="w-2/5 text-center">
            <span class="inline-flex rounded bg-indigo-lightest px-2 py-1 text-xs font-semibold">Level 1</span>
          </div>
        </div>
      </div>
      <div class="student-solo__card cursor-pointer hover:bg-grey-lighter flex items-center shadow bg-white">
        <div class="flex-1 w-3/5">
          <div class="flex items-center">
            <label class="block text-grey leading-tight font-bold px-4 py-5">
              <input class="leading-tight" type="checkbox">
            </label>
            <div class="flex items-center py-4 pr-4">
              <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
              <div class="text-sm">
                <p class="text-black font-semibold">Bodhish Thomas</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex w-2/5 items-center">
          <div class="w-3/5 px-3">
            <div class="coaches-avatar-group">
              <p class="mb-2 text-xs">Coaches</p>
              <div class="flex items-center">
                <img class="w-6 h-6 rounded-full mr-2" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                <img class="w-6 h-6 rounded-full mr-2" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
              </div>
            </div>
          </div>
          <div class="w-2/5 text-center">
            <span class="inline-flex rounded bg-indigo-lightest px-2 py-1 text-xs font-semibold">Level 1</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
