@import 'bootstrap/variables';
@import 'variables';

.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 20px;

  @media (max-width: $screen-xs-max) { justify-content: center; }
}

p.resources-intro {
  margin: 10px 0 25px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
}

.resource {
  position: relative;
  flex: none;
  width: 200px;
  margin: 0 20px 20px 0;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 1px #d2d2d2;

  .resource-content {
    padding: 10px;
  }

  .download-button-spacer {
    height: 34px;
  }

  .download-resource {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .title {
    font-size: 120%;
    margin-bottom: 5px;

    a:hover {
      text-decoration: none;
    }
  }
}

.batch-exclusive {
  width: 200px;
  text-align: center;
  position: absolute;
  top: 165px;

  .badge {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 3px 9px;
    border-radius: 20px;
    border: 1px solid $theme-dark-green;
    background-color: $theme-dark-green;
    color: whitesmoke;
    font-size: 100%;
  }
}
