.library-banner-illustration {
  background: asset-url("resources/index/banner.svg") no-repeat right center;
  height: 160px;
}

.library-banner-content {
  p {
    font-size: 1rem;

    .level-exclusive-text {
      background-color: $alert-background;
      color: white;
      margin: 0 6px;
      padding: 3px 7px 3px 10px;
      font-size: 0.75rem;
      font-weight: $font-regular;
      letter-spacing: 0.04rem;
      @include border-radius(0 5px 0 5px);
    }
  }
}

.tag-filter {
  @include media-breakpoint-down(md) {
    text-align: center;
  }

  .form-group {
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
    }
  }

  .tag-select {
    min-width: 200px;
    max-width: 300px;
    height: 37px;

    @include media-breakpoint-down(md) {
      min-width: 150px;
      width: 100%;
    }
    .select2-selection--multiple {
      border-color: $gray-border;
      @include border-radius(5px);
      font-family: "Source Sans Pro", sans-serif !important;
      background-image: none;
      box-shadow: none;

      &:focus, &:active {
        border-color: $light-secondary;
      }

      li {
        input {
          padding: 6px 12px;
          margin: 0;
        }
      }
    }
    .select2-search-choice {
      @include border-radius(20px);
      background-color: $primary-background;
      background-image: none;
      box-shadow: none;
      font-size: 0.75rem;
      margin: 6px 0 3px 5px;
      padding: 3px 7px 3px 20px;
    }
    .select2-search-choice-close {
      top: 4px;
      left: 5px;
    }
  }
  .search-field {
    width: 200px;
    padding: 6px 12px;
    margin-left: 15px;
    font-size: 0.875rem;
    height: 34px !important;
    border-radius: 4px;
    box-shadow: none;
    outline: 0;
    border: 0;
    border: 1px solid $gray-border;

    &:focus, &:active {
      border-color: $light-secondary;
    }

    @include media-breakpoint-down(md) {
      min-width: 130px;
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
  select {
    appearance: none;
    position: relative;
    background: asset-url('shared/arrow-down.svg') no-repeat 95% 50%;
    background-size: 12px 12px;
    color: $dark-grey-text;
    text-shadow: 0 0 0 #000;
    background-color: white;
  }
  .filter-buttons {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.show-result-text {
  font-style: italic;
  padding-bottom: 5px;
  border-bottom: 1px solid $gray-border;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.resource-box {
  position: relative;
  margin-top: 30px;
  height: 275px;

  .resource-thumbnail {
    width: 64px;
    height: 64px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    border: 2px solid white;
    overflow: hidden;
    position: absolute;
    top: -32px;
    @include border-radius(50%);

    img {
      width: 100%;
    }
  }

  .resource-content {
    padding: 0;
    position: relative;
    height: 175px;

    h4 {
      position: relative;
      height: 50px;
      max-height: 50px;
      display: flex;
      line-height: 1.2;
      align-items: center;

      &:before {
        position: absolute;
        height: 50px;
        width: 1px;
        top: 0;
        left: -30px;
        content: "";
        border-left: 1px solid $light-primary;

        @include media-breakpoint-down (sm) {
          left: -16px;
        }
      }
    }
    .description {
      font-size: 0.875rem;
      overflow: hidden;
      position: relative;
      max-height: 45px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20%;
        height: 22px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
      }
    }
  }
}

.resource-box__read-more {
  display: block;
  background-color: $primary-background;
  padding: 8px 30px;
  border-top: 1px solid $gray-border;
  @include border-radius(0 0 5px 5px);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  &:hover, &:focus {
    background-color: $light-secondary;
    color: white;
  }
  &:active,
  &.active {
    background-color: $dark-secondary;
    box-shadow: $box-shadow-btn;
  }
}

.level-exclusive {
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0;
  background-color: $alert-background;
  padding: 5px 20px;
  color: white;
  font-size: 0.75rem;
  letter-spacing: 0.04rem;
  @include border-radius(0 5px 0 5px);
}
