@import 'bootstrap/variables';

.resource-show {
  position: relative;

  .stream-resource {
    margin-right: 10px;
  }

  img {
    float: left;
    position: relative;

    @media (max-width: $screen-xs-max) { float: none; }
  }
  .batch-exclusive {
    top: 160px;
    width: 200px;

    .badge {
      border-radius: 20px;
    }
  }

  .content {
    float: left;
    margin-left: 20px;
    height: auto;
    width: 500px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      float: none;
      height: auto;
      width: auto;
      margin: 10px 0 0 0;
    }
  }
}

.resource-show-description {
  font-size: 120%;
}

.resource-show-video {
  margin-bottom: 20px;
}

.content.stream {
  position: static;
  height: auto;

  .content-inner {
    position: static;
    bottom: auto;
    left: auto;
  }
}

.resources-show-tags {
  margin: 10px 0 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;

  a {
    margin-right: 7px;
    outline: 0;
    text-decoration: none;

    span {
      padding: 2px 15px 3px;
      border-radius: 20px;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      color: #777777;
      font-size: 12px;
    }
    &:hover {
      span {
        background-color: #bebebe;
        color: white;
      }
    }
  }
}
.btn-play {
  background-color: white;
  border: 1px solid #459b43;
  color: #459b43;
  font-weight: 400;
  border-radius: 5px;
}
.btn-download {
  background-color: white;
  border: 1px solid #337ab7;
  color: #337ab7;
  font-weight: 400;
  border-radius: 5px;
}
