@import 'bootstrap/variables';

.resource-show {
  position: relative;

  .stream-resource {
    margin-right: 10px;
  }

  img {
    float: left;
    position: relative;

    @media (max-width: $screen-xs-max) { float: none; }
  }
  .batch-exclusive {
    top: 160px;
    width: 200px;

    .badge {
      border-radius: 20px;
    }
  }

  .content {
    float: left;
    margin-left: 20px;
    height: auto;
    width: 500px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      float: none;
      height: auto;
      width: auto;
      margin: 10px 0 0 0;
    }
  }
}

.resource-show-description {
  font-size: 120%;
}

.resource-show-video {
  margin-bottom: 20px;
}

.content.stream {
  position: static;
  height: auto;

  .content-inner {
    position: static;
    bottom: auto;
    left: auto;
  }
}

.resources-show-tags {
  margin: 10px 0;
}
