.level-exclusive-badge {
  border: 1px solid $alert-background;
  background-color: $alert-background;
  border-radius: 1rem;
  display: inline-block;
  font-size: 0.75rem;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.05rem;
  color: white;
}
