*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #3A3F52;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.student-solo__card {
    @apply rounded-lg mb-2;
}

.student-team__card {
    position: relative;
    background-color: transparent;
}

.student-team__card:not(:last-child):before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to right, #E4E9F2 80%, #FFFFFF 100%);
}

.searchable-tag-list__dropdown:after, .searchable-tag-list__dropdown:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.searchable-tag-list__dropdown:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px;
}

.searchable-tag-list__dropdown:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #c2e1f5;
    border-width: 11px;
    margin-left: -11px;
}