= javascript_include_tag '//www.google.com/jsapi', 'chartkick'

h1 Statistics

h2 User Count

= line_chart admin_dashboard_users_count_path

h2 Startups

= line_chart admin_dashboard_startups_count_path
