.course-show__header-cta-container, .course-show__footer-cta-container {
  position: relative;
  background-image: url('images/course-show-footer-cta-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.course-show__cover-default {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.course-show__cover-default:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.course-show__footer-cta-container:before, .course-show__footer-cta-container:after {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cpath d='M4.35 2.17A2.18 2.18 0 1 1 2.17 0a2.19 2.19 0 0 1 2.18 2.17zM26.1 23.9a2.18 2.18 0 1 1-2.18-2.17 2.19 2.19 0 0 1 2.18 2.17zm0-21.74A2.18 2.18 0 1 1 23.91 0a2.19 2.19 0 0 1 2.18 2.17zm21.74 0A2.18 2.18 0 1 1 45.65 0a2.19 2.19 0 0 1 2.18 2.17zm0 21.74a2.18 2.18 0 1 1-2.18-2.17 2.19 2.19 0 0 1 2.18 2.17zm0 21.74a2.18 2.18 0 1 1-2.18-2.17 2.19 2.19 0 0 1 2.18 2.17zm21.73 0a2.17 2.17 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0-21.74a2.17 2.17 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0-21.74A2.17 2.17 0 1 1 67.39 0a2.18 2.18 0 0 1 2.17 2.17zm0 65.22a2.17 2.17 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zM91.3 45.65a2.17 2.17 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0-21.74a2.17 2.17 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0-21.74A2.17 2.17 0 1 1 89.13 0a2.18 2.18 0 0 1 2.17 2.17zm0 65.22a2.17 2.17 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0 21.74A2.17 2.17 0 1 1 89.13 87a2.17 2.17 0 0 1 2.17 2.13zM113 45.65a2.17 2.17 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0-21.74a2.17 2.17 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0-21.74A2.17 2.17 0 1 1 110.87 0 2.18 2.18 0 0 1 113 2.17zm0 65.22a2.17 2.17 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0 21.74a2.17 2.17 0 1 1-2.13-2.13 2.17 2.17 0 0 1 2.13 2.13zm0 21.74a2.17 2.17 0 1 1-2.17-2.17 2.17 2.17 0 0 1 2.17 2.17zm21.74-65.22a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.21 2.17zm0-21.74a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.21 2.17zm0-21.74A2.18 2.18 0 1 1 132.61 0a2.18 2.18 0 0 1 2.17 2.17zm0 65.22a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.21 2.17zm0 21.74a2.18 2.18 0 1 1-2.13-2.13 2.17 2.17 0 0 1 2.17 2.13zm0 21.74a2.18 2.18 0 1 1-2.17-2.17 2.17 2.17 0 0 1 2.21 2.17zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.21 2.18zm21.74-87a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.21 2.21zm0-21.74a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.21 2.21zm0-21.74A2.18 2.18 0 1 1 154.35 0a2.18 2.18 0 0 1 2.17 2.17zm0 65.22a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.21 2.21zm0 21.74a2.18 2.18 0 1 1-2.13-2.09 2.17 2.17 0 0 1 2.17 2.13zm0 21.74a2.18 2.18 0 1 1-2.17-2.17 2.17 2.17 0 0 1 2.21 2.21zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.21 2.22zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.21 2.22zm21.74-108.7a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.21 2.21zm0-21.74a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.21 2.21zm0-21.74A2.18 2.18 0 1 1 176.09 0a2.18 2.18 0 0 1 2.17 2.17zm0 65.22a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.21 2.21zm0 21.74a2.18 2.18 0 1 1-2.13-2.09 2.17 2.17 0 0 1 2.17 2.13zm0 21.74a2.18 2.18 0 1 1-2.17-2.17 2.17 2.17 0 0 1 2.21 2.21zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.21 2.22zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.21 2.22zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.21 2.22zM200 45.65a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0-21.74a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0-21.74A2.18 2.18 0 1 1 197.83 0 2.18 2.18 0 0 1 200 2.17zm0 65.22a2.18 2.18 0 1 1-2.17-2.17 2.18 2.18 0 0 1 2.17 2.17zm0 21.74a2.18 2.18 0 1 1-2.17-2.13 2.17 2.17 0 0 1 2.17 2.13zm0 21.74a2.18 2.18 0 1 1-2.17-2.17 2.17 2.17 0 0 1 2.17 2.17zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.17 2.18zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.17 2.18zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.17 2.18zm0 21.74a2.18 2.18 0 1 1-2.17-2.18 2.17 2.17 0 0 1 2.17 2.18z' fill='%23d3bff3' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 10rem;
  height: 10rem;
  position: absolute;
  z-index: -1;
}

.course-show__footer-cta-container:before {
  left: 0;
  bottom: -30px;
  transform: rotate(180deg);
}

.course-show__footer-cta-container:after {
  right: 0;
  top: -30px;
}

@screen lg {
  .course-show__footer-cta-container:before {
    left: -30px;
  }
  .course-show__footer-cta-container:after {
    right: -30px;
  }
}

.course-show__footer-cta-button {
  min-width: 12.5rem;
}
