#header {
  &.home-header {
    height: 85px;
    height: 85px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .home-navbar {
      background-color: transparent;
      box-shadow: none;
      height: auto;
      padding: 20px;
      transition: linear .6s;

      .nav-link {
        color: white;
      }

      @include media-breakpoint-down(sm) {
        .nav-item {
          border-top: 0;
        }
        .nav-link {
          font-size: 1.125rem;

          &:hover, &:focus {
            color: $dark-primary;
          }
        }
        .btn-signin {
          font-size: 1.125rem;
          background-color: $brand-primary;

          &:hover {
            background-color: $dark-primary;
          }
        }
      }
      &.toggle-bg {
        background-color: $light-primary;
      }
      .navbar-toggler {
        .icon-bar {
          background-color: white;
        }
      }
    }
  }
}

.big-container {
  background-color: #000;

  .home-footer {
    position: relative;
    background-color: #000;
    color: $light-grey-text;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 300;
    line-height: 25px;

    strong {
      font-weight: $font-semibold;
      color: white;
      font-size: 13px;
      letter-spacing: 0.03rem;

    }
    .sitemap {
      margin-bottom: 10px;
      width: 50%;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }

    .footer-column {
      min-height: inherit;

      @include media-breakpoint-down(sm) {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 15px;
        margin-bottom: 0;
        padding-top: 20px;
      }
    }

    address {
      line-height: 25px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }

    a {
      color: $light-grey-text;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
    .img-opacity {
      margin: 10px 0;
      .social-link {
        display: inline-block;
        a {
          display: inline-block;
          padding: 0 8px;
          color: $light-grey-text;

          &:hover {
            opacity: .6;
          }
        }
      }
    }
  }
}

.full-screen-background {
  position: relative;
  padding: 4rem 0 2rem;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &.background-image-1 {
    background-image: asset-url("home/background-image-1.jpg");

    @include media-breakpoint-down(xs) {
      background-image: asset-url("home/mobile/background-image-1.jpg");
    }
  }
  &.background-image-2 {
    background-image: asset-url("home/background-image-2.jpg");

    @include media-breakpoint-down(xs) {
      background-image: asset-url("home/mobile/background-image-2.jpg");
    }
  }
  &.background-image-3 {
    background-image: asset-url("home/background-image-3.jpg");

    @include media-breakpoint-down(xs) {
      background-image: asset-url("home/mobile/background-image-3.jpg");
    }
  }
  &.background-image-4 {
    background-image: asset-url("home/background-image-4.jpg");

    @include media-breakpoint-down(xs) {
      background-image: asset-url("home/mobile/background-image-4.jpg");
    }
  }
  &.background-image-5 {
    background-image: asset-url("home/background-image-5.jpg");

    @include media-breakpoint-down(xs) {
      background-image: asset-url("home/mobile/background-image-5.jpg");
    }
  }
  @include media-breakpoint-down(sm) {
    background-size: cover;
    height: auto;
  }
}

.header-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 4em);
  align-items: center;
  display: flex;
  justify-content: center;

  &.header-right {
    justify-content: flex-end;
  }

  @include media-breakpoint-down(sm) {
    height: 530px;
    align-items: flex-end;
  }
}

.hero-text {
  &.hero-text-center {
    text-align: center;
    margin: 60px auto 0;
    max-width: 620px;
  }
  &.hero-text-right {
    text-align: left;
    max-width: 570px;
  }
  h1 {
    color: white;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 1.2;
    text-shadow: 0 0 5px #000;
    letter-spacing: 0.03rem;

    strong {
      font-weight: $font-semibold;
    }
    @include media-breakpoint-down(xs) {
      font-size: 1.5rem;
    }
  }
  h4 {
    color: white;
    margin-bottom: 20px;
    text-shadow: 0 0 2px #000;
    letter-spacing: 0.03rem;
    line-height: 1.4;

    @include media-breakpoint-down(xs) {
      font-size: 1rem;
    }
    a {
      font-weight: $font-semibold;
      color: $light-secondary;
    }
  }
}

.home-apply-btn {
  padding: 15px 45px;
  font-size: 1rem;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 25px;
  height: 40px;
  bottom: 20px;
  transform: translateX(-50%);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.8);
  @include border-radius(50px);

  &:before {
    @include fa-icon(angle-down);
    color: white;
    left: 8px;
    top: 6px;
    @include border-radius(50%);
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
  @include media-breakpoint-down (sm) {
    display: none;
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.instagram-images-wrapper {
  background-size: cover;
  background-position: center;
  padding: 0;
  position: relative;

  .instagram-spacer {
    visibility: hidden;
    max-width: 100%;
  }

  .instagram-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0.5em;
    background-color: black;
    opacity: 0;
    color: white;

    &.overlay-enabled {
      opacity: .85;
    }

    .caption {
      padding: 1em 1em 0 1em;
      height: 80%;
      overflow: hidden;
    }

    .caption:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(transparent 60%, black 80%);
    }

    .metrics {
      position: absolute;
      bottom: 1rem;
      right: 2rem;
      color: white;
    }
  }
}

.startincollege-section {
  background-color: white;
  border-bottom: 1px solid $gray-border;
  padding: 30px 0 70px;

  .startincollege-intro {
    max-width: 37rem;
    p {
      font-size: 1.125rem;

      strong {
        font-weight: $font-semibold;
      }
    }
  }
  .campaign-analysis {

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-wrap: wrap;
    }
    p {
      text-align: center;
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: $font-semibold;

      span {
        display: block;
        font-weight: $font-light;
        font-size: 1rem;
      }
    }
    .analysis-icon {
      width: 55px;
      margin-bottom: 5px;
    }
    > div {
      @include media-breakpoint-down(sm) {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-border;

        &:nth-child(even) {
          border-left: 1px solid $gray-border;
        }
      }
    }
  }
  .highlight-partners, .support-partners {
    border: 1px solid $gray-border;
    display: flex;
    flex-wrap: wrap;

    > div {
      text-align: center;
      padding: 30px 20px;

      h4 {
        font-size: 1rem;
        margin: 0;
        padding-bottom: 15px;
        border-bottom: 1px dashed $gray-border;
      }
      @include media-breakpoint-down(md) {
        padding: 30px;
      }
      @include media-breakpoint-down(sm) {
        padding: 30px;
        border-bottom: 1px solid $gray-border;
        width: 100%;
      }
    }
    .official-partner-logo {
      display: inline-block;
      padding: 20px 30px 0;

      img {
        height: 45px;
        margin: auto;
      }
      .facebook-logo {
        height: 40px;
      }
      .paytm-logo {
        height: 25px;
      }
      .ficci-logo {
        height: 50px;
      }
      @include media-breakpoint-down(sm) {
        padding: 20px 10px 0;
      }
      p {
        font-size: .75rem;
        margin-top: 10px;
      }
    }
  }
  .highlight-partners {
    border-width: 1px 0 1px 0;

    > div {
      &:first-child {
        @include media-breakpoint-down(sm) {
          padding-top: 0;
        }
      }
      &:nth-child(even) {
        border: 1px solid $gray-border;
        border-width: 0 1px 0 1px;

        @include media-breakpoint-down(sm) {
          border-width: 0 0 1px 0;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      border: 0;
    }
  }
  .support-partners {
    border-width: 0 0 1px 0;

    > div {
      &:first-child {
        border: 1px solid $gray-border;
        border-width: 0 1px 0 0;

        @include media-breakpoint-down(sm) {
          border: 0;
        }
      }
      @include media-breakpoint-down(sm) {
        padding: 30px 15px;
      }
    }
    .support-partner-logo {
      padding: 20px 30px 0;
      display: inline-block;

      img {
        height: 45px;
        margin: auto;
      }

      @include media-breakpoint-down(sm) {
        padding: 20px 10px 0;
      }
    }
    @include media-breakpoint-down(sm) {
      border: 0;
    }
  }
}

.graduated-slide {
  overflow: hidden;
  background-color: $primary-background;
  padding: 30px 0;

  .slick-prev, .slick-next {
    border: 1px solid $gray-border;
    @include border-radius(50%);
    background-color: white;
    box-shadow: $box-shadow;
    height: 40px;
    width: 40px;
    top: auto;
    bottom: 0px;
    margin: 0 15px;
    z-index: 1;
    transition: all .2s;

    &:before {
     font-size: 18px;
     vertical-align: middle;
     opacity: 1;
    }
    &:hover, &:focus, &:active {
      box-shadow: $box-shadow-hover;

      &:before {
       color: $light-secondary;
      }
    }
  }
  .slick-prev {
    right: 50%;
    left: auto;

    &:before {
      @include fa-icon(angle-left);
      color: $light-grey-text;
    }
  }
  .slick-next {
    left: 50%;
    right: auto;

    &:before {
      @include fa-icon(angle-right);
      color: $light-grey-text;
    }
  }
  .slick-slider {
    margin-bottom: 20px;
    padding-bottom: 80px;
  }
  .slide-item {
    margin: 20px;
    width: 400px;
    background-color: transparent;
    outline: none;
    transition: all 300ms ease 0s;

    .graduate-thumbnail {
      display: block;
      position:relative;
      border-radius: 5px;
      overflow: hidden;

      &:before, &:after {
        position: absolute;
        opacity: 0;
        transition: all .2s;
      }
      &:before {
        content:'';
        width:100%;
        height:100%;
        top:0;
        left:0;
        background:rgba(0,0,0,0.5);
        background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
      }
      &:after {
        content: asset-url('apply/play-button.svg');
        width: 50px;
        height: 50px;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-down(md) {
          width: 30px;
          height: 30px;
        }
      }
      img {
        box-shadow: $box-shadow;
        width: 100%;
      }
      &:hover {
        &:before, &:after {
          opacity: 1.0;
        }
      }
    }
  }
  .slick-center {
    transform: scale(1.08);

    .graduate-thumbnail {
      &:after {
        opacity: 1.0;
      }
    }
  }
}
.graduate-data {
  background-color: white;
  margin: 0 5px;
  padding-bottom: 15px;
  border: 1px solid $gray-border;
  border-width: 0 1px 1px 1px;
  box-shadow: $box-shadow;
  min-height: 65px;
  @include border-bottom-radius(5px);

  h4 {
    padding: 15px 15px 0;
    margin: 0;
    line-height: 1.4;

    strong {
     font-weight: $font-semibold;
    }
  }
  p {
    color: $brand-secondary;
    padding: 0;
  }
}
.success-story {
  border-top: 1px solid $gray-border;
  background-color: white;
  padding: 30px 0 70px;

  h4 {
    position: relative;
    margin-bottom: 40px;

    &:before {
      content: '';
      width: 60px;
      display: inline-block;
      border-bottom: 3px solid $gray-border;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .story-container {
    display: block;

    .story-box {
      margin: 0 15px;
      height: 430px;
      position: relative;
      border-top: 4px solid $light-primary;

      ul {
        padding-left: 25px;
        li {
          // font-size: 1rem;
          line-height: 1.4rem;
          font-weight: $font-light;
          list-style-type: circle;
          padding-bottom: 15px;
        }
      }
    }
    .logo-block {
      position: absolute;
      border-top: 1px solid $gray-border;
      bottom: 0;
      left: 30px;
      right: 30px;

      img {
        display: inline-block;
        height: 50px;
      }
    }
    .slick-prev, .slick-next {
      border: 1px solid $gray-border;
      @include border-radius(50%);
      background-color: white;
      box-shadow: $box-shadow;
      height: 40px;
      width: 40px;
      top: 50%;
      bottom: 0px;
      margin: 0 15px;
      z-index: 1;
      transition: all .2s;

      &:before {
       font-size: 18px;
       vertical-align: middle;
       opacity: 1;
      }
      &:hover, &:focus, &:active {
        box-shadow: $box-shadow-hover;

        &:before {
         color: $light-secondary;
        }
      }
    }
    .slick-prev {
      left: -20px;

      &:before {
        @include fa-icon(angle-left);
        color: $light-grey-text;
      }
    }
    .slick-next {
      right: -20px;

      &:before {
        @include fa-icon(angle-right);
        color: $light-grey-text;
      }
    }
  }
}
.program-partners {
  border-top: 1px solid $gray-border;
  background-color: $primary-background;
  padding: 30px 0 70px;

  .card {
    text-align: center;
    overflow: hidden;
    margin-bottom: 1.75rem;

    .image-block {
      height: 75px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 120px;
      margin: auto;

      img {
        padding: 10px;
        margin: auto;
        width: 100%;
      }
    }
    .card-block {
      padding: 10px 20px;
      border-top: 1px solid $gray-border;

      @include media-breakpoint-down(lg) {
        padding: 10px;
      }
    }
    @include media-breakpoint-down(sm) {
      max-width: 160px;
    }
  }
}
@include media-breakpoint-up(sm) {
  .partner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.instagram-header-footer {
  background-color: black;
  padding: 2rem 0;

  h3 {
    color: white;
    margin-bottom: 0;
  }
}
