<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>iTraveller | Startup Village</title>
    <meta content="startup village, kerala, svapp, svlabs" name="keywords" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- <link rel="stylesheet" type="text/css" href="'//fonts.googleapis.com/css?family=Roboto:400,300,700,100'">
    <link rel="stylesheet" type="text/css" href="bs/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bs/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="bs/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/timeline.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css"> -->

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href="bs/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="lib/owl.carousel/owl-carousel/owl.carousel.css">
    <link href="css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <link rel='stylesheet prefetch' href='http://dimsemenov-static.s3.amazonaws.com/dist/magnific-popup.css'>

<!-- iconstyle -->
  <link rel="stylesheet" type="text/css" href="lib/icon/css/component.css" />
    <script src="lib/icon/js/modernizr.custom.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->    <link href="css/pages/TimelineStyle.css" rel="stylesheet">


  </head>


  <body>



    <section class="page_header timeline_header" id="header">

        <nav class="navbar navbar-default navbar-fixed-top" >
              <div class="container">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">
                  <img src="#{image_url 'logo.png'}" width="150" id="SiteLogo" class="SiteLogo" style="display:none;">
                  <img src="#{image_url 'logo_white.png'}" width="150" class="SiteLogo" id="SiteLogoWhite">
                  </a>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">STARTUPS</a></li>
                    <li><a href="#">RESOURCES</a></li>
                    <li><a href="#">MEDIA</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CONTACT</a></li>
                  </ul>

                </div>
              </div>
        </nav>

</section>

    <div class="container" >

     <!-- -----------------Company name header----------------------- -->

      <div class="row">
        <div class="col-md-12 clearfix">
          <div class="col-sm-6">
              <h1 class="page-header tl_company_name" >
                iTraveller

                 <a href="#" class="tooltip-right" id="verified" data-tooltip="Timeline verified by Startup Village.">
                 <img src="#{image_url 'timeline/verified.gif'}" width="25"></a>
              </h1>

          </div>
          <div class="col-sm-6" style="padding-bottom: 9px;
margin: 60px 0px 20px; text-align:right;">
                <img class="img-responsive startup-logo" src="http://itraveller.com/about_us/imgs/logo.png" id="company_logo" style="float:right"/>

          </div>


        </div>
      </div>


      <div class="row">


          <div class="-md-12 tl_about" >
                <p class="content">
                iTraveller is a technology enabled market place for holidays. We have burned thousands of candles, spending hundreds of nights in crafting the philosophy of iTraveller, which is an utmost fine blend of travel and technology. iTraveller automates the native suppliers (sellers) at the backend and you at the front end, get to book your trips online.

      We are not a travel agent and we don't charge any commissions from you. The idea is to cut the intermediaries, thereby bringing the best prices and value to the travellers.
                </p>


          </div>

      </div>
      <br/><br/>
      <div class="row" style="border-bottom:2px solid green;padding-bottom:50px;">
          <div class="ol-md-12 tl_data" style="padding-bottom:50px;">
               <div class="col-md-4 col-sm-6 timeline_icon">
                <div class="media tl_data">
                <img class="media-object pull-left" src="img/itraveller/data1.png" alt="industry">
                <div class="media-body ">
                  <p class="tittle">Industry</p>
                  <p class="content">Holidays, Business Automation  </p>
                </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 timeline_icon">
                <div class="media tl_data">
                <img class="media-object pull-left" src="img/itraveller/data2.png" alt="industry">
                <div class="media-body ">
                  <p class="tittle">Website</p>
                  <p class="content"><a href="http://itraveller.com" target="_blank">www.itraveller.com <img src="img/itraveller/link.png"></a></p>
                </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 timeline_icon">

                <div class="media tl_data">
                <img class="media-object pull-left" src="img/itraveller/data3.png" alt="industry">
                <div class="media-body ">
                  <p class="tittle">Startup Deck</p>
                  <p class="content"><a href="http://slideshare.net/itvlr/deck" target="_blank">itraveller deck <img src="img/itraveller/link.png"></a></p>
                </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 timeline_icon">
                <div class="media tl_data">
                <img class="media-object pull-left" src="img/itraveller/data4.png" alt="industry">
                <div class="media-body ">
                  <p class="tittle">Team Size</p>
                  <p class="content"> 20+</p>
                </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 timeline_icon">
                <div class="media tl_data">
                <img class="media-object pull-left" src="img/itraveller/data5.png" alt="industry">
                <div class="media-body ">
                  <p class="tittle"> Stage of Company</p>
                  <p class="content">Scaling</p>
                </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 timeline_icon">
                <div class="media tl_data">
                <img class="media-object pull-left" src="img/itraveller/data6.png" alt="industry">
                <div class="media-body ">
                  <p class="tittle">Product Iteration</p>
                  <p class="content">Fourth</p>
                </div>
                </div>
              </div>

          </div>
          <br/><br/>
      </div>
      <br/><br/>
     <!-- -----------------company name header End----------------------- -->







<!-- ----------------- container right ----------------------- -->

      <div class="row" >
        <div class="col-md-4 col-md-push-8" >



          <div class="row" style="padding-left:15px;">








                <div class="col-sm-6 col-md-12 tl_founder">

                <h4>Founders</h4>
                <hr/>


                <div class="media founder">
                <a class="pull-left" href="#">
                <img class="media-object" src="img/itraveller/founder1.jpg"
                alt="Media Object">
                </a>
                <div class="media-body ">
               <p class="name">Amit Singh</p>
               <p class="desig">Chief Executive Officer</p>
               <img src="img/itraveller/dash.png" class="dash">

                <ul>
                  <li><a href="#"><img src="img/itraveller/facebook.png"></a></li>
                  <li><a href="#"><img src="img/itraveller/twitter.png"></a></li>
                  <li><a href="#"><img src="img/itraveller/linkedin.png"></a></li>
                </ul>
                </div>

                </div>


                <div class="media founder">
                <a class="pull-right" href="#">
                <img class="media-object" src="img/itraveller/founder2.jpg"
                alt="Media Object">
                </a>
                <div class="media-body">
               <p class="name">Amit Singh</p>
               <p class="desig">Chief Operating Officer</p>
               <img src="img/itraveller/dash.png" class="dash">

                <ul>
                  <li><a href="#"><img src="img/itraveller/facebook.png"></a></li>
                  <li><a href="#"><img src="img/itraveller/twitter.png"></a></li>
                  <li><a href="#"><img src="img/itraveller/linkedin.png"></a></li>
                </ul>
                </div>

                </div>



                </div>

           <div class="col-sm-6 col-md-12 tl_mentor ">
                <h4>Mentor</h4>
                <hr/>

                <div class="media mentor">
                <a class="pull-left" href="#">
                <img class="media-object" src="img/itraveller/mentor1.jpg"
                alt="Media Object">
                </a>
                <div class="media-body">
                <p class="name">Amit Singh</p>
                <p class="desig">Chief Executive Officer</p>
                <p class="firm">Google Inc.</p>
                </div>
                </div>


                <div class="media mentor">
                <a class="pull-left" href="#">
                <img class="media-object" src="img/itraveller/mentor2.jpg"
                alt="Media Object">
                </a>
                <div class="media-body">
                <p class="name">Amit Singh</p>
                <p class="desig">Chief Technology Officer</p>
                <p class="firm">Facebook Inc.  </p>
                </div>
                </div>

            </div>



<div class="col-sm-6 col-md-12 tl_investor ">
                <h4>Investors</h4>
                <hr/>

                <div class="media investor">
                <a class="pull-left" href="#">
                <img class="media-object" src="img/itraveller/investor1.jpg"
                alt="Media Object">
                </a>
                <div class="media-body">
                <p class="name">Amit Singh</p>
                <p class="desig">Chief Executive Officer</p>
                <p class="firm">Google Inc.</p>
                </div>
                </div>


                <div class="media investor">
                <a class="pull-left" href="#">
                <img class="media-object" src="img/itraveller/investor2.jpg"
                alt="Media Object">
                </a>
                <div class="media-body">
                <p class="name">Amit Singh</p>
                <p class="desig">Chief Technology Officer</p>
                <p class="firm">Facebook Inc.  </p>
                </div>
                </div>

</div>













          </div>

        </div>

<!-- ----------------- contant right End ----------------------- -->


        <div class="col-md-8 col-md-pull-4 main_timeline" style=" border-right: 1px solid #ccc; padding-right:25px;">




                    <div class=" tl_iteration" id="iteration4">

          <p>Timeline of 4<sup>th</sup> iteration.</p>
      <img src="img/itraveller/dash.png">
      <br/>
           <a href="#begin" id="read-from-beginning">Read from the beginning. </a>

          </div>




          <ul class="timeline">

            <li>
              <div class="timeline-badge color1">
                <img src="img/itraveller/set mission.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                <h4 class="timeline-title tl_heading">
                    Sets Mission
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> April 2015 (Latest update)</small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p class="tl_body">
                    Sets mission for USD 100 Million for FY 2016-17.
                  </p>
                </div>
              </div>
            </li>


            <li class="timeline-inverted">
              <div class="timeline-badge color2">
                <img src="img/itraveller/monthely_revanue.png"  width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                 <h4 class="timeline-title tl_heading">
                    Monthly revenue crossed
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> March 2015</small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p class="tl_body">
                    Monthly revenue crosses INR 50 lakh.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge color3">
                <img src="img/itraveller/team_size_crosed.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                 <h4 class="timeline-title tl_heading">
                    Team size
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> March 2015</small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p>
                    Team size reaches 20, at Bangalore.
                  </p>
                </div>
              </div>
            </li>
<!-- ---------------------working on ------------------------ -->

            <li class="timeline-inverted">

              <div class="timeline-badge color4">
                <img src="img/itraveller/serious_a_funding.png" width="70">
              </div>

              <div class="timeline-panel">

                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                    Raised Series A Funding
                  </h4>
                  <p class="tl_date">
                    <small class=""><img src="img/itraveller/date.png"> February 2015</small>
                  </p>
                </div>

                <div class="timeline-body">
                  <p class="tl_body">
  <img src="img/itraveller/ref_img.jpg" class="img-responsive img_padding">

                    iTraveller raises $1M in Series A led by ah! Ventures' investment network.
                    Amit Singh joins as CMO at iTraveller. He brings with him 12 years of experience in ed-tech and e-commerce domains. At iTraveller he will be responsible for branding and overall marketing strategy.
                  </p>
                </div>

                <div class="timeline-footer tl_footer">
                  <a class="tl_link_button" href="http://www.livemint.com/Companies/3kzXxAOjm6zYHiNq96dQ2L/Travel-startup-iTraveller-raises-1-million-in-series-A-fun.html">Live Mint</a>
                  <a class="tl_link_button" href="http://www.nextbigwhat.com/itraveller-funding-ah-ventures-297/">NextBigWhat</a>
                </div>

              </div>
            </li>

<!-- ---------------------working on end ------------------------ -->



            <li>
              <div class="timeline-badge color5">
                <img src="img/itraveller/co_founder.png" width="70">
              </div>
              <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title tl_heading">
                        Co-founder joins
                      </h4>
                      <p class="tl_date">
                        <small class=""><img src="img/itraveller/date.png"> January 2015</small>
                      </p>

                    </div>

                <div class="media">

                  <div class="media-body">

                    <div class="timeline-body">
                      <p class="tl_body">
                        Amit Singh joins as CMO at iTraveller. He brings with him 12 years of experience in ed-tech and e-commerce domains. At iTraveller he will be responsible for branding and overall marketing strategy.
                      </p>
                    </div> </div>
                    </div>

                    <div class="timeline-footer tl_footer">
                      <a  href="https://in.linkedin.com/pub/amit-singh/10/795/952">LinkedIn</a>

                    </div>

              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge color6">
                <img src="img/itraveller/showcased.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                    Travel Innovation Summit, Los Angeles
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> November 2014</small>
                  </p>
                  <!-- <img src="img/itraveller/dash.png" class="dash"> -->
                </div>
                <div class="timeline-body " >
                  <p class="tl_body">
                    Showcased among top 30 global travel technology innovations, in Los Angeles, US.
                  </p>
                </div>
                <div class="timeline-footer tl_footer">
                  <a  href="http://articles.economictimes.indiatimes.com/2014-05-21/news/50002169_1_startup-village-sijo-kuruvilla-george-sanjay-vijayakumar">India Times</a>
                  <a class="source-link" href="http://www.thehindubusinessline.com/industry-and-economy/travel/itraveller-selected-for-travel-summit/article6033563.ece">The Hindu Business Line</a>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge color7">
               <img src="img/itraveller/co_founder.png" width="70">
              </div>

                            <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title tl_heading">
                        Co-founder joins
                      </h4>
                      <p class="tl_date">
                        <small class=""><img src="img/itraveller/date.png"> August 2014</small>
                      </p>

                    </div>

                <div class="media">

                  <div class="media-body">

                    <div class="timeline-body">
                      <p class="tl_body">
                        Rachna will be responsible for the revenue and customer engagement at iTraveller. With over 8 years of industry experience, in her previous stint, she has worked for Dreamworks Animation.
                      </p>
                    </div> </div>
                    </div>

                    <div class="timeline-footer tl_footer">
                       <a class="source-link" href="https://in.linkedin.com/pub/rachna-kalra/1/411/428">LinkedIn</a>

                    </div>

              </div>



            </li>


            <li class="timeline-inverted">
              <div class="timeline-badge color8">
               <img src="img/itraveller/co_founder.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                    Co-founder joins
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> July 2014</small>
                  </p>
                 <!--  <img src="img/itraveller/dash.png" class="dash"> -->

                </div>
                <div class="timeline-body">
                  <p class="tl_body">
                    Pooja Pande joins as Technology Architect at iTraveller, after interning at Hewlett-Packard for a year.
                  </p>
                </div>

              <div class="timeline-footer tl_footer">
                <a href="https://in.linkedin.com/in/poojapande11">LinkedIn</a>
              </div>
              </div>
            </li>


            <li>
              <div class="timeline-badge color9">
                <img src="img/itraveller/many_customers.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                    Multiple customers
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> April 2014</small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p class="tl_body">
                    Chillr is currently in discussions with more than 15 banks for integration.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge color10">
                <img src="img/itraveller/first_customer.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                    First customer
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> March 2014</small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p class="tl_body">
                    HDFC Bank on Tuesday announced the launch of Chillr, a mobile app which allows users to instantly transfer money to any contact in their phone book.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge color14">
               <img src="img/itraveller/first_prototype.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                    First Prototype
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> March 2014</small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p class="tl_body">
                    The iTraveller team demos a prototype version of their product, which targets travel agents in the Indian market, to the team at Startup Village.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge color8">
              <img src="img/itraveller/team_formation.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                    Team formation
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> January 2014</small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p class="tl_body">
                    After wrapping up their third iteration of the iTraveller product, the team have reformed, pivoting to market place model, aggregating native suppliers, and allow users to discover, plan and book their holidays online.
                  </p>
                </div>
              </div>
            </li>
          </ul>




          <div class=" tl_iteration" id="iteration3">
              <button class="buttons"> Iteration 3</button>
              <p>The team pivots to market place model, aggregating native suppliers, and allow users to discover, plan and book their holidays online.</p>
              <img src="img/itraveller/dash.png" />
              <p>Third iteration ends as iTraveller fails to secure Series A funding.</p>
              <br/>
          </div>



          <ul class="timeline">

                  <li>
                        <div class="timeline-badge color4">
                         <img src="img/itraveller/won.png" width="70">
                        </div>

                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title tl_heading">
                              Runners-up at Conquest 2013
                            </h4>
                            <p class="tl_date">
                              <small ><img src="img/itraveller/date.png"> September 2013</small>
                            </p>
                          </div>
                          <div class="timeline-body">
                            <p class="tl_body">
                              iTraveller takes home Rs. 1 Lakh, as runners up of the grand finale of the decadal edition of the highly successful startup competition, Conquest 2013, organized by Center for Entrepreneurial Leadership of BITS Pilani.
                            </p>
                          </div>
                          <div class="timeline-footer tl_footer">
                            <a class="source-link" href="https://bitspilanimba.wordpress.com/2013/09/16/grand-finale-of-bits-pilanis-startup-competition-conquest-2013/">BITS Pilani</a>
                          </div>
                        </div>

                  </li>


                  <li class="timeline-inverted">
                      <div class="timeline-badge color1">
                       <img src="img/itraveller/relocated_to_city.png" width="70">
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                         <h4 class="timeline-title tl_heading">
                            Relocated to bangalore
                          </h4>
                          <p class="tl_date">
                            <small ><img src="img/itraveller/date.png"> September 2013</small>
                          </p>
                        </div>
                        <div class="timeline-body">
                          <p class="tl_body">
                            iTraveller team moves to Bangalore.
                          </p>
                        </div>
                      </div>
                  </li>



                  <li>
                        <div class="timeline-badge color3">
                          <img src="img/itraveller/bank.png" width="70">
                        </div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                           <h4 class="timeline-title tl_heading">
                            Received Loan / Debt fund
                            </h4>
                            <p class="tl_date">
                              <small ><img src="img/itraveller/date.png"> September 2013</small>
                            </p>
                          </div>
                          <div class="timeline-body">
                            <p class="tl_body">
                              Debt fund raised from KFC.
                            </p>
                          </div>
                        </div>
                  </li>



                  <li class="timeline-inverted">
                        <div class="timeline-badge color10">
                          <img src="img/itraveller/angel_fund.png" width="70">
                        </div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                           <h4 class="timeline-title tl_heading">
                            Raised Angel Funding
                            </h4>
                            <p class="tl_date">
                              <small ><img src="img/itraveller/date.png"> July 2013</small>
                            </p>
                          </div>
                          <div class="timeline-body">
                            <p class="tl_body">
                              First external angel fund.
                            </p>
                          </div>
                        </div>
                  </li>



                  <li>
                          <div class="timeline-badge color7">
                            <img src="img/itraveller/many_customers.png" width="70">
                          </div>
                          <div class="timeline-panel">
                            <div class="timeline-heading">
                              <h4 class="timeline-title tl_heading">
                                Multiple customers
                              </h4>
                              <p class="tl_date">
                                <small ><img src="img/itraveller/date.png"> July 2013</small>
                              </p>
                            </div>
                            <div class="timeline-body">
                              <p class="tl_body">
                                Chillr is currently in discussions with more than 15 banks for integration.
                              </p>
                            </div>
                          </div>
                  </li>




                  <li class="timeline-inverted">
                      <div class="timeline-badge color5">
                       <img src="img/itraveller/first_customer.png" width="70">
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title tl_heading">
                            First customer
                          </h4>
                          <p class="tl_date">
                            <small ><img src="img/itraveller/date.png"> June 2013</small>
                          </p>
                        </div>
                        <div class="timeline-body">
                          <p class="tl_body">
                            HDFC Bank on Tuesday announced the launch of Chillr, a mobile app which allows users to instantly transfer money to any contact in their phone book.
                          </p>
                        </div>
                      </div>
                  </li>


                  <li class="timeline">
                    <div class="timeline-badge color10">
                     <img src="img/itraveller/first_prototype.png" width="70">
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title tl_heading">
                          First Prototype
                        </h4>
                        <p class="tl_date">
                          <small ><img src="img/itraveller/date.png"> May 2013</small>
                        </p>
                      </div>
                      <div class="timeline-body tl_body">
                        <p class="tl_body">
                          The iTraveller team demos a prototype version of their product, which targets travel agents in the Indian market, to the team at Startup Village.
                        </p>
                      </div>
                    </div>
                  </li>


                  <li class="timeline-inverted">
                    <div class="timeline-badge color12">
                      <img src="img/itraveller/team_formation.png" width="70">
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                       <h4 class="timeline-title tl_heading">
                          Team Formation
                        </h4>
                        <p class="tl_date">
                          <small ><img src="img/itraveller/date.png"> April 2013</small>
                        </p>
                      </div>
                      <div class="timeline-body">
                        <p>
                          Team Formation
                        </p>
                      </div>
                    </div>
                  </li>
          </ul>




           <div class=" tl_iteration" id="iteration2">
              <button class="buttons"> Iteration 2</button>
               <p>Added destinations and  customised trip planning.</p>
               <img src="img/itraveller/dash.png">
                       <!--  <p>Second iteration ends as iTraveller fails to secure early-stage funding.</p>
                        <br/> -->
            </div>







          <ul class="timeline">
           <!--  <li>
              <div class="timeline-badge color13">
                <img src="img/itraveller/many_customers.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                    Multiple customers
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> May 2012</small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p class="tl_body">
                    Chillr is currently in discussions with more than 15 banks for integration.
                  </p>
                </div>
              </div>
            </li> -->
            <li class="timeline-inverted">
              <div class="timeline-badge color1">
                <img src="img/itraveller/first_customer.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                   Got many Customers
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> Dec, 2011</small>
                  </p>
                </div>
               <!--  <div class="timeline-body">
                  <p class="tl_body">
                    HDFC Bank on Tuesday announced the launch of Chillr, a mobile app which allows users to instantly transfer money to any contact in their phone book.
                  </p>
                </div> -->
              </div>
            </li>
            <li>
              <div class="timeline-badge color5">
               <img src="img/itraveller/first_prototype.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title tl_heading">
                    Got the first Customer
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> Oct, 2011</small>
                  </p>
                </div>
            <!--     <div class="timeline-body">
                  <p class="tl_body">
                    The iTraveller team demos a prototype version of their product, which targets travel agents in the Indian market, to the team at Startup Village.
                  </p>
                </div> -->
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge color2">
                <img src="img/itraveller/team_formation.png" width="70">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                 <h4 class="timeline-title tl_heading">
                  Developed the first prototype
                  </h4>
                  <p class="tl_date">
                    <small ><img src="img/itraveller/date.png"> Oct, 2011</small>
                  </p>
                </div>
                <!-- <div class="timeline-body">
                  <p>
                    Team Formation
                  </p>
                </div> -->
              </div>
            </li>
          </ul>




          <div class=" tl_iteration" id="iteration1">
              <button class="buttons"> Iteration 1</button>
                 <p>An online portal allowing users to buy holidays online, with limited set of destinations</p>
                 <img src="img/itraveller/dash.png">
                 <br/>
          </div>




          <ul class="timeline">
              <li>
                <div class="timeline-badge color9">
                  <img src="img/itraveller/first_prototype.png" width="70">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title tl_heading">
                      Legally Incorporated
                    </h4>
                    <p class="tl_date">
                      <small ><img src="img/itraveller/date.png"> 7th Sep, 2011</small>
                    </p>
                  </div>

                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-badge color7">
                  <img src="img/itraveller/starup_launch.png" width="70">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                   <h4 class="timeline-title tl_heading">
                      Founded
                    </h4>
                    <p class="tl_date">
                      <small ><img src="img/itraveller/date.png"> Sep, 2011</small>
                    </p>
                  </div>
                  <div class="timeline-body">
                    <p class="tl_body">
                      Shiju, Chitra
                    </p>
                  </div>
                </div>
              </li>
           </ul>


          <div class=" tl_iteration" id="begin">

              <p>The iTraveller team comes together to build an online portal allowing users to buy holidays online, with limited set of destinations.</p>
              <img src="img/itraveller/dash.png">

          </div>





        </div>




      </div>







    </div>



<!-- Section: Pre-Footer -->

<section id="prefooter">
  <div class="container">

    <div class="row">
      <div class="col-md-3 sv">
        <img src="img/logo_white.png" width="150" style="opacity:.7;"><br>
        <br/>
        <p>At SV, entrepreneur Build, Break & Innovate to create finest technology produts.</p><br>
       <div class="img-opacity">
        <ul style="display:inline-flex;">
          <li><a href=""> <img src="img/fb.png" height="20" ></a></li>
          <li><a href=""> <img src="img/tw.png" height="20"></a></li>
          <li><a href=""> <img src="img/gplus.png" height="20"></a></li>
          <li><a href=""> <img src="img/yt.png" height="20"></a></li>

        </ul>
      </div>
      </div>


       <div class="col-md-6 address-list">
        <div class="col-md-6">
          <address>
            <strong>Sillicon Valley.</strong><br>
           <p> 444 Castro St Suite 1200<br>
            Mountain View, CA 94041<br></p>

          </address>
          <br/>
        </div>

        <div class="col-md-6">
          <address>
            <strong>Startup Village, Kochi</strong><br>
            Kinfra High Tech Park<br>
            Kalamaserry, Kochi, Kerala, INDIA<br>

          </address>
          <br/>
        </div>

        <div class="col-md-6">
          <address>
            <strong>Startup Village, Kozhikode</strong><br>
            7Kinfra High Tech Park<br>
            Kalamaserry, Kochi, Kerala, INDIA<br>
          </address>
          <br/>
        </div>

        <div class="col-md-6">
          <address>
            <strong>Startup Village, Vishakapattanam</strong><br>
            7Kinfra High Tech Park<br>
            Kalamaserry, Kochi, Kerala, INDIA<br>
          </address>
          <br/>
        </div>
    </div>


      <div class="col-md-3 ">
        <div class="menu-list">

        <ul class="">
        <li><a href="#">About<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Startups</a></li>
         <li><a href="#">Startup Timeline</a></li>
        <li><a href="#">Resource</a></li>
        <li><a href="#">Media</a></li>
         <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>


         </div>
        </div>
      </div>
  </div>
</section>
  <!--end of section-->




<!-- Section: Footer -->

<footer id="footer">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <nav>
             <p class="footer-font"> &copy; 2015 SV.CO All Right Reserved</p>
           </nav>
        </div>
        <div class="col-md-6">
          <nav class="text-right nav-footer">
            <a href="#"class="footer-font">privacy policy</a>
            <a href="#" class="footer-font">Terms of use</a>
          </nav>
        </div>

      </div>
  </div>
</footer>

<!--end of section-->
 <script src="lib/ct-carousel/js/jquery-2.1.1.js"></script>
    <script src="bs/js/bootstrap.min.js"></script>



      <script type="text/javascript" src="js/itraveller.js"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          $('#read-from-beginning').click(function () {
            $('html, body').animate({scrollTop: $(document).height()}, 'slow');
            return false;
          });

          if($(window).width()<767)
          {
            $("#verified").removeClass("tooltip-right");
            $("#verified").removeAttr("data-tooltip");
          }

          $(window).resize(function(){
              if($(window).width()<767)
          {
            $("#verified").removeClass("tooltip-right");
            $("#verified").removeAttr("data-tooltip");
          }
          });

          $(window).scroll(function()
           {
                  if ($(document).scrollTop() > 300)
                  {
                    $("#SiteLogoWhite").hide();
                    $("#SiteLogo").fadeIn();
                    $('nav').addClass('shrink');
                  } else {
                    $("#SiteLogo").hide();
                    $("#SiteLogoWhite").fadeIn();
                    $('nav').removeClass('shrink');
                  }
          });



        });
      </script>



  </body>
</html>
