h3.text-center Thank you! Your incubation application is under review with the SV management. You should hear back within a few days via a phone call or an email.

h3.text-center If you don't, please drop an email to dinnu@startupvillage.in

