== content_for :head do
  == javascript_pack_tag 'schools/curricula/show', 'data-turbolinks-track': 'reload', nonce: true
  == stylesheet_pack_tag 'schools/curricula/show', 'data-turbolinks-track': 'reload', nonce: true
- presenter = Schools::Curricula::ShowPresenter.new(self, @course)
#curriculum-editor class="flex flex-1 h-screen bg-grey-lightest" data-props=presenter.react_props.to_json
