.image-block-editor__container {
  @apply relative border border-gray-300 rounded-lg;
}

.image-block-editor__container:hover .image-block-editor__image-resize-panel,
.image-block-editor__conatiner:active .image-block-editor__image-resize-panel {
  @apply opacity-100 translate-y-3;
}
