.curriculum__target-group-container:not(:last-child):before {
  content: "";
  @apply absolute top-0 bg-primary-400;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  z-index: 0;
}

.curriculum__target-status {
  @apply flex items-center text-xs font-semibold rounded border;
}

.curriculum__target-status--pending-review {
  @apply bg-blue-100 text-blue-800 border-blue-500;
}

.curriculum__target-status--completed {
  @apply bg-green-100 text-green-800 border-green-500;
}

.curriculum__target-status--rejected {
  @apply bg-red-100 text-red-800 border-red-500;
}

.curriculum__target-status--locked {
  @apply bg-gray-100 text-gray-800 border-gray-600;
}
