#blog-posts {
  padding: 20px 0 60px 0;

  .heading {
    text-align: center;

    h1 {
      font-size: 48px;
      font-weight: 200;
    }

    p {
      padding-top: 10px;
      font-size: 15px;
      color: #565656;
    }
  }

  #blog-posts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .blog-post {
      border: 1px solid #d2d2d2;
      margin: 20px 15px 0 0;
      width: 270px;

      .blog-post-top {
        height: 400px;

        img.blog-post-image {
          width: 100%;
        }

        .blog-body {
          padding: 0 15px;
          //font-family: 'Roboto', sans-serif;

          h5 {
            font-size: 16px;
            font-weight: 300;
            color: black;
            line-height: 26px;
            margin-bottom: 0;
          }

          p {
            font-size: 14px;
            line-height: 24px;
            color: #828282;
            margin-top: 5px;
          }
        }
      }

      .blog-post-bottom {
        padding: 0 15px 10px 0;
      }
    }
  }
}
