@import 'bootstrap/variables';

.large-header {
  background-image: image-url("landing/headerbg2.jpg");
}

.homepage-header {
  padding-top: 80px;
  color: #FFF;
  padding-bottom: 45px;

  @media (max-width: $screen-xs-max) {
    padding-top: 40px;
  }

  iframe {
    height: 100%;
    width: 100%;
  }

  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 100;
    line-height: 50px;

    @media (min-width: $screen-lg-min) { padding-top: 50px; }

    @media (max-width: $screen-xs-max) {
      font-size: 32px;
      text-align: center;
    }
  }

  button {
    margin-top: 5px;
  }

  .homepage-header-video {
    @media (min-width: $screen-lg-min) {
      height: 315px;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      height: 258px;
    }
  }

  .btn-join {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: solid 1px white;
    transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);

    &:hover {
      background-color: #00CD79;
      border: solid 1px #00CD79;
    }
  }

  .header-buttons {
    @media (max-width: $screen-xs-max) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a.watch-video-button {
      font-family: "Roboto", sans-serif;
      padding-left: 30px;
      color: lightgrey;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}
