@import 'bootstrap/variables';
@import 'variables';

.showcase {
  margin-top: 40px;

  // Override some bootstrap styling.
  .thumbnail {
    background-color: $light-grey-background;
    border: 1px solid $light-grey-background;
    padding: 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 200;
  }

  p {
    color: $dark-grey-text;
    font-size: 15px;
    line-height: 30px;
    padding: 15px 15px 0;
  }

  .nav {
    margin-top: 10px;

    li {
      @media (max-width: $screen-md-min) {
        width: 100%;
      }
    }
  }

  .tab-title {
    border-bottom: 3px solid transparent;
    text-transform: uppercase;


    &:hover {
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom: 3px solid $dark-grey-border;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      font-size: 90%;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  li.active a.tab-title {
    background-color: $white;
    border: 1px solid $white;
    border-bottom: 3px solid $active-tab-limegreen;
  }


  .tab-content {
    margin-top: 10px;

    .showcase-funded-logo {
      display: block;
      height: 30px;
      margin: 0 auto;
      margin-top: 10px;
    }
  }

  .showcase-more {
    .fa {
      font-size: 220%;
      margin-top: 10px;
    }

    p { padding-top: 13px; }
    button { margin-bottom: 10px; }
    a { margin-bottom: 15px; }
  }

  #timeline-image-wrapper {
    min-height: 130px;
  }

  #spinner-image {
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;
  }

  #timeline-image {position: relative;  z-index: 10; }
}

