@import 'bootstrap/variables';

section#showcase {
  margin-top: 40px;

  // Override some bootstrap styling.
  .thumbnail {
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding: 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 100;
  }

  p {
    padding: 15px 15px 0 15px;
    font-size: 15px;
    color: #565656;
    line-height: 30px;
  }

  ul.nav {
    li {
      @media (max-width: $screen-md-min) {
        width: 100%;
      }

      a.tab-title {
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: 3px solid transparent;

        &:hover {
          background-color: transparent;
          border: 1px solid transparent;
          border-bottom: 3px solid darkgrey;
        }

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          font-size: 90%;
        }

        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
      }
    }

    li.active {
      a.tab-title {
        border: 1px solid white;
        border-bottom: 3px solid limegreen;
        background-color: white;
      }
    }
  }

  ul.nav.nav-tabs {
    margin-top: 10px;
  }

  .tab-content {
    margin-top: 10px;

    img.showcase-funded-logo {
      margin: 0 auto;
      display: block;
      height: 30px;
      margin-top: 10px;
    }
  }

  .showcase-more {
    i.fa {
      font-size: 220%;
      margin-top: 10px;
    }

    p { padding-top: 13px; }
    button { margin-bottom: 10px; }
    a { margin-bottom: 15px; }
  }

  #timeline-image-wrapper {
    min-height: 130px;
  }

  #spinner-image {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
  }

  #timeline-image { z-index: 10; position: relative; }
}

