@import 'bootstrap/variables';

section#showcase-new {
  margin-top: 50px;

  h1 {
    font-size: 48px;
    font-weight: 100;
  }

  p {
    padding-top: 15px;
    font-size: 15px;
    color: #565656;
    line-height: 30px;
  }

  ul.nav {
    li {
      @media (max-width: $screen-md-min) {
        width: 100%;
      }

      a.tab-title {
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: 3px solid transparent;

        &:hover {
          background-color: transparent;
          border: 1px solid transparent;
          border-bottom: 3px solid darkgrey;
        }

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          font-size: 90%;
        }

        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
      }
    }

    li.active {
      a.tab-title {
        border: 1px solid white;
        border-bottom: 3px solid limegreen;
        background-color: white;
      }
    }
  }

  .tab-content {
    margin-top: 10px;

    img.showcase-funded-logo {
      margin: 0 auto;
      display: block;
      height: 30px;
      margin-top: 10px;
    }
  }
}

