#stages {
  min-height: 400px;
  background-color: #01bf7b;
  padding: 50px 0px;
  margin: 0px 0px;
  font-family: 'Roboto', sans-serif;
  text-align: center;

  h1 {
    font-size: 48px;
    font-weight: 100;
    color: #005838;
    &::after {
      content: " ";
      display: block;
      width: 100px;
      height: 1px;
      background-color: #fff;
      margin: auto;
      margin-top: 10px;
    }
  }

  p {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    opacity: .9;
  }

  a.btn-playbook {
    color: #fff;
    width: 150px;
    background: transparent;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: solid 1px #FFF;
    transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);

    &:hover {
    background-color: white;
    border: solid 1px white;
    color: black; }
  }

  .carousel-inner img {
    margin: auto;
    padding-top: 30px;
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none
  }
  .carousel-indicators {
    top: 0px;
    li {
      border: 0;
      margin: 0 2px;
      height: 20px;
      text-indent: 0;
      font-size: 20px;
      font-weight: 300;
      width:15%;
    }
    li.active {
      color: #FFF;
      background-color: transparent;
      font-size: 25px;
      font-weight: 500;
    }
  }

}

