p #{@startup.name} has joined the SV community. Please contact #{@startup.founders.first.fullname} at #{@startup.phone} to guide them through the incubation process.

p Idea: #{@startup.pitch}

p \- Team SV App
