p Team Artis,

p #{@current_user.fullname} has expressed an interest in forming a partnership agreement with his co-founder(s) to form a company. You can contact the founder on <phone number>.

p #{@current_user.fullname} : Please reach the Artis team on 0484 - 3015208 if you don't hear from them in 7 days.

p Thanks,

p Team SV Labs
