= content_for :salutation
  | -founder_full_name-,

= content_for :body
  p #{@current_user.fullname} has listed you as a Director at #{@startup.name}. Please head over to the mobile app & fill out all the fields under the Personal Info section.