p -founder_full_name-,

p Thank you for applying to Startup Village. To complete your incubation process, please install the Startup Village
  application (Android / iOS), sign in with this email address, and follow instructions therein.

p Feel free to reach out to us via email.

p Regards,
p Dinnu Nijo (dinnu@startupvillage.in / +919745408754)
p Kiran Baby (kiran@startupvillage.in / +919447383987).
