- link = link_to("clicking here", confirm_employee_startup_url(@startup, token: @new_employee.startup_verifier_token))

p Hi -founder_full_name-,

p #{@new_employee.fullname} has listed himself/herself as #{@new_employee.title} at #{@startup.name}. Please approve or reject by #{link}.

p - Team SV App

