p Hello -founder_full_name-,

p We're sorry, but your request for incubation at Startup Village has been rejected.

p To learn more about why your application was rejected, and what you can do to rectify this situation, please write to
  #{mail_to 'admin@svlabs.in', 'admin@svlabs.in'}.

p Team Startup Village.
