p Congratulations -founder_full_name-. Your startup #{@startup.name} is now officially a Startup Village incubatee!

p As an incubatee company, you get a ton of perks. Most of them are listed here: http://www.startupvillage.in/incentives.html

p Also, we help you incorporating a Private Limited company and opening a Business Account with our partner banks ICICI
  & Federal. To do so directly from the app, fill out the profile info under your startup tab, and head into Company
  Incorporation to get the process kick-started.

p Please feel free to reach out to us if you've any questions.

p Wish you luck, success & loads of adventure in your startup journey!

p Dinnu Nijo (dinnu@startupvillage.in / +919745408754)
p Kiran Baby (kiran@startupvillage.in / +919447383987).
