<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= I18n.t('maintenance.title') %></title>
    <style>
      body {
        background-color: #f9f9f9;
        color: #333;
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <h1><%= I18n.t('maintenance.heading') %></h1>
    <p><%= I18n.t('maintenance.message') %></p>
  </body>
</html>
