- content_for :head
  title SV.CO Edit Profile for #{@user.fullname}

.margin-top-20
h2 Editing #{@user.fullname}'s profile...
= render 'form_basic_details', user: @user
= render 'form_password', user: @user
