<% presenter = Users::HomePresenter.new(self) %>

<% content_for(:head) do %>
  <title><%= presenter.page_title %> | Admins</title>
  <%= stylesheet_pack_tag 'UsersHomePack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'UsersHomePack', nonce: true %>
<% end %>

<script type="application/json" id="users-home-data">
  <%= presenter.props_to_json.html_safe %>
</script>

<div id="users-home"></div>

