<% content_for(:head) do %>
  <title><%= current_school.name %> | Communities</title>
  <%= stylesheet_pack_tag 'SchoolCommunitiesPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'SchoolCommunitiesPack', 'data-turbolinks-track': 'reload', nonce: true %>
<% end %>

<% presenter = Schools::Communities::IndexPresenter.new(self, @school) %>

<script type="application/json" id="react-root-data"><%= presenter.props_to_json.html_safe %></script>

<div id="school-communities" class="flex flex-1 h-full"></div>

