<div class="container mx-auto">
  <picture class="flex flex-col px-4 pt-5 items-center">
    <%= image_tag 'layouts/errors/error-500.svg', class: 'md:w-3/5', alt: 'Internal server error' %>
  </picture>
  <div class="max-w-3xl mx-auto text-center px-4 pb-4">
    <h1><%= t("users.omniauth_callbacks.oauth_callback.oauth_origin_missing.invalid_request")%></h1>
    <p class="my-3 text-sm leading-normal">
      <%= t("users.omniauth_callbacks.oauth_callback.oauth_origin_missing.details") %>
    </p>
  </div>
</div>
