<% unless Settings.recaptcha.disabled %>
  <% if v2 %>
    <div class="mt-4">
      <%=
        recaptcha_tags(
          site_key: Settings.recaptcha.v2_site_key,
          nonce: content_security_policy_nonce,
        )
      %>
    </div>
  <% else %>
    <%=
      recaptcha_v3(
        action: action,
        site_key: Settings.recaptcha.v3_site_key,
        nonce: content_security_policy_nonce,
      )
    %>
  <% end %>
<% end %>
