<% content_for(:tail) do %>
  <%= stylesheet_pack_tag 'schools/coaches/course_index', media: 'all' %>
  <%= javascript_pack_tag 'schools/coaches/course_index', nonce: true %>
<% end %>

<% @presenter = Schools::FacultyModule::CourseIndexPresenter.new(self, @course) %>

<div id="sa-coaches-enrollment-panel" class="flex flex-1 h-full" data-props="<%= @presenter.react_props.to_json %>"></div>
