<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %></title>
<% end %>
<% @presenter = Schools::FacultyModule::CourseIndexPresenter.new(self, @course) %>
<script type="application/json" id="course-coaches__props">
  <%= @presenter.props_to_json.html_safe %>
</script>
