<% content_for(:head) do %>
  <title><%= current_school.name %> | Coaches</title>
  <%= stylesheet_pack_tag 'SchoolsCoachesSchoolIndexPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'SchoolsCoachesSchoolIndexPack', nonce: true %>
<% end %>

<% @presenter = Schools::FacultyModule::SchoolIndexPresenter.new(self, @school) %>

<div id="sa-coaches-panel" class=" flex flex-1 h-full bg-gray-200" data-props="<%= @presenter.react_props.to_json %>"></div>
