<% content_for(:tail) do %>
  <%= stylesheet_pack_tag 'schools/coaches/school_index', media: 'all' %>
  <%= javascript_pack_tag 'schools/coaches/school_index', nonce: true %>
<% end %>

<% @presenter = Schools::FacultyModule::SchoolIndexPresenter.new(self, @school) %>

<div id="sa-coaches-panel" class=" flex flex-1 h-screen bg-gray-200" data-props="<%= @presenter.react_props.to_json %>"></div>
