<% content_for(:head) do %>
  <title><%= current_school.name %> | <%= t(".title") %></title>
<% end %>
<% @presenter = Schools::FacultyModule::SchoolIndexPresenter.new(self, @school) %>
<div id="sa-coaches-panel" class=" flex flex-1 h-full bg-gray-50" data-props="<%= @presenter.react_props.to_json %>"></div>
