<% @presenter = Schools::FacultyModule::IndexPresenter.new(self, @course) %>

<div class="flex flex-1 h-screen">
  <div class="flex-1 flex flex-col bg-grey-lightest overflow-hidden">
    <div class="flex px-6 py-2 items-center justify-between overflow-y-scroll">
      <div class="max-w-md w-full flex mx-auto items-center justify-center relative bg-grey-lighter hover:bg-grey-light hover:shadow-md border-2 border-dashed p-6 rounded-lg mt-20 cursor-pointer">
        <i class="material-icons">add_circle_outline</i>
        <h4 class="font-semibold ml-2">Enroll Coaches</h4>
      </div>
    </div>
    <div class="px-6 pb-4 mt-5 flex flex-1 bg-grey-lightest overflow-y-scroll">
      <div class="max-w-md w-full mx-auto relative">
        <div class="flex items-center shadow bg-white rounded-lg overflow-hidden mb-4">
          <div class="course-faculty__list-item flex w-full hover:bg-grey-lighter">
            <div class="flex flex-1 items-center py-4 px-4">
              <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
              <div class="text-sm">
                <p class="text-black font-semibold">Bodhish Thomas</p>
                <p class="text-grey-dark font-semibold text-xs mt-1">Bodhish Thomas</p>
              </div>
            </div>
            <div class="course-faculty__list-item-remove items-center p-4 flex invisible cursor-pointer">
              <i class="material-icons">delete_outline</i>
            </div>
          </div>
        </div>
        <div class="flex items-center shadow bg-white rounded-lg overflow-hidden mb-4">
          <div class="course-faculty__list-item flex w-full hover:bg-grey-lighter">
            <div class="flex flex-1 items-center py-4 px-4">
              <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
              <div class="text-sm">
                <p class="text-black font-semibold">Bodhish Thomas</p>
                <p class="text-grey-dark font-semibold text-xs mt-1">Bodhish Thomas</p>
              </div>
            </div>
            <div class="course-faculty__list-item-remove items-center p-4 flex invisible cursor-pointer">
              <i class="material-icons">delete_outline</i>
            </div>
          </div>
        </div>
        <div class="flex items-center shadow bg-white rounded-lg overflow-hidden mb-4">
          <div class="course-faculty__list-item flex w-full hover:bg-grey-lighter">
            <div class="flex flex-1 items-center py-4 px-4">
              <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
              <div class="text-sm">
                <p class="text-black font-semibold">Bodhish Thomas</p>
                <p class="text-grey-dark font-semibold text-xs mt-1">Bodhish Thomas</p>
              </div>
            </div>
            <div class="course-faculty__list-item-remove items-center p-4 flex invisible cursor-pointer">
              <i class="material-icons">delete_outline</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>