header.home-header
    .container.mx-auto.px-4
        nav.flex.py-3
            = image_tag 'home/pupilfirst/pupilfirst-logo.svg', class:'w-48', alt: 'PupilFirst'
main
    section.home-hero.border-b.flex
        .container.max-w-2xl.mx-auto.px-4.flex.items-center.flex-wrap
            div class="w-full lg:w-1/2"
                h1.hero-heading-text.font-semibold
                    ' Focus on your
                    span.block.hero-heading-text__xl.font-extrabold
                        | students.
                p.text-lg.font-semibold.leading-normal.mt-5
                    ' Teaching is difficult. Teaching online even more so.
                    ' PupilFirst gives you a proven method to keep your students
                    | engaged while keeping you, the teacher, always in the loop.
                form class="w-full max-w-sm"
                    div class="flex py-4"
                        input class="flex-1 appearance-none block border w-full bg-grey-lighter text-grey-darkest rounded-tl-lg rounded-bl-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" type="email" placeholder="Enter your email address" aria-label="Email"
                        button class="flex-none bg-primary uppercase hover:bg-primary-dark focus:outline-none focus:bg-primary-darker text-sm text-white font-extrabold py-3 px-4 rounded-tr-lg rounded-br-lg tracking-normal" type="button"
                            | Register Now

            div class="w-full lg:w-1/2"
    section.home-content.flex
        .container.max-w-2xl.mx-auto.px-4.py-20.flex.flex-wrap
            div class="w-full lg:w-1/2"
                p.text-lg.leading-normal.mb-8
                    ' Teachers can have decades of experience dealing with
                    ' students and their needs offline. But online teaching is a
                    ' different beast, involving new issues such as demotivation
                    ' among students, difficulty in interacting with them and lack of
                    | collaboration - all of which needs to be tackled.

                p.text-lg.leading-normal.mb-8
                    ' Teaching online often misses out on perks that an offline
                    ' experience offers. Missing these crucial bits can leave your
                    ' students feeling stranded. PupilFirst brings the focus back on the
                    ' student, with tools that give students a sustained feeling of
                    | progression and to keep you involved in their journey.

                p.text-lg.leading-normal.mb-8
                    ' PupilFirst is built by a team that has been teaching students
                    ' online for the past three years on a range of topics. We're
                    ' sharing techniques that we've developed over that time, so
                    | that you too can give your students the best.
            div class="w-full lg:w-1/2"
                .home-content--register.flex.items-center.text-center.shadow-lg.p-4 class="lg:p-10 lg:ml-20"
                    div
                        .rounded-full.bg-indigo-lighter.h-24.w-24.mx-auto.mt-4.mb-5
                        h2.text-2xl.font-bold.leading-tight
                            | Want to see everything you can do on PupilFirst?
                        a.font-semibold.py-8.inline-block href="#" target="_blank"
                            | Check out how it works
                        p
                            | or reach out to us - we'd be happy to have a chat.
                        form class="w-full max-w-sm"
                            div class="flex py-4"
                                input class="flex-1 appearance-none block border w-full bg-grey-lighter text-grey-darkest rounded-tl-lg rounded-bl-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" type="email" placeholder="Enter your email address" aria-label="Email"
                                button class="flex-none bg-primary uppercase hover:bg-primary-dark focus:outline-none focus:bg-primary-darker text-sm text-white font-extrabold py-3 px-4 rounded-tr-lg rounded-br-lg tracking-normal" type="button"
                                    | Register Now
footer.bg-primary-darkest
    .container.max-w-2xl.mx-auto.px-4.py-6.flex.items-center
