.founders-form__add-founder-button {
  color: white !important;
}

.founders-form__founder-content-box {
  margin-bottom: 1rem;
  position: relative;
}

.founders-form__founder-delete-button {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
  padding: 0.5rem;
  cursor: pointer;
}
