
    <header class="header-block">

      <div class="header-wrap">

         <div class="logo"><%= image_tag "logo.png" %> </div>
          <div class="home-top-right-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>

      </div>

    </header>

    <div class="home-block">

      <div class="device-block"><%= image_tag "iphone.png" %> </div>
      <div class="text-block">
        <h1>Welcome to SV Labs</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <a href="users/sign_in"><button class="btn emerald"> Sign In</button></a>   <a href="users/sign_up"> <button class="btn sunflower"> Sign Up</button>  </a>

      </div>
      <div class="clear"></div>


    </div>