



<header class="header-block">
  <div class="header-wrap">
    <div class="logo"><a href="/"><%= image_tag "logo.png"   %></a></div>
    <div class="home-top-right-block">

      <div class="navbar">
        <ul class="nav">
          <li><a href="/team">Team</a></li>
          <li class="active"><a href="/jobs">Job Openings</a></li>
          <li><a href="/users/sign_in">Sign In</a></li>

        </ul>

      </div>


    </div>
    <div class="clear"></div>
  </div>

</header>
<div class="jobs-block">

  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span9">
        <div class="job_details">
        <h2>Product Manager</h2>
          <p>Location : Cochin <br />
            Type : Full time employment </p>
        <h3>Background </h3>
        <p>MobME Wireless is a Mobile &amp; Internet startup that's aiming to become a billion dollar company by 2020. For this ambitious dream, we are looking for vibrant folks who can work like bulls and live like nomads and join a team of young and passionate engineers who are burning midnight oil with an aim to create world class products that change the way we live. </p>
        <p>We are looking for Product Managers for the various products that we are building.Product Managers are people who envision an entire product from end to end and have a multitude of skills. These skills are not taught in our traditional college degrees: you might have picked it up on your own or you'll have a ﬂair for this and be eager to learn. </p>
        <p>We are not worried about which college you are from or what your degree says. We are concerned ONLY about whether you have the skills and the attitude to get the job done. </p>
        <h3>Technical Know-how</h3>
        <p>If you possess the following skills, we want to meet you: </p>
        <ul>
          <li>In-depth understanding of what makes a user experience good or bad and a strong intuition for what people want to do. </li>
          <li>Appreciation for detail: You easily recognise aesthetic and functional details and can make pragmatic decisions about what </li>
          <li>details are actually important. </li>
          <li>Work ethic: You work hard to keep your team as productive as possible.</li>
          <li>Ability to work with others: You have excellent interpersonal skills. You are a good listener. You place the success of the </li>
          <li>company and product ahead of any particular idea. </li>
          <li>BA/BS in Computer Science or related technical ﬁeld is ideal.</li>
          <li>You have exceptional communication and presentation skills.</li>
          <li>You have exceptional organisational and analytical skills. </li>
          <li>Understanding of the technical architecture of complex and highly scalable web and mobile applications. </li>
          <li>You are capable of designing simple and intuitive user interfaces – ability to create examples through wire frames and mock</li>
          <li>ups. </li>
          <li>You have a genuine need to Get Things Done. You move quickly, you push the team, you execute at a high level. No one</li>
          <li>ever wonders if you're on top of things, because you've already responded to the crisis before anyone else knew about it. </li>
          <li>You have heard or have experience with concepts such as &quot;Lean Startup&quot;, working in an Agile environment, and know </li>
          <li>about project management methods such as SCRUM and Kanban. </li>
        </ul>
        <p>To learn more about us visit: <a href="www.mobme.in" target="_blank">www.mobme.in </a></p>
        <h3>Cultural Fit</h3>
        <p>Apart from the technical know-how, we are looking for people who are best described with the following attitudes. </p>
        <ul>
          <li>Simplicity.</li>
          <li>Desire to do things that are not part of the ordinary.</li>
          <li>Dream of being part of a story that is larger than a individual. </li>
          <li>Love for making a change and being a change agent.</li>
          <li> Internet Junkie by nature </li>
          <li>Finding God in the little things in life. </li>
        </ul>
        <p>Working with a team of diverse individuals, our environment is suited for individuals who want to work on the cutting edge of technology, creativity and spirituality.</p>
        <p> To apply for in-person interview, send an email to <a href="mailto:shamna@mobme.in">shamna@mobme.in</a> with detailed resume and a covering letter stating whats your goal in life for the next ﬁve years.</p>



        <p dir="ltr">MobME is embarking on its most ambitious project to build a one-stop-shop platform for startups. The platform will ride on the much acclaimed Startup Village infrastructure. The project will have its front end served by mobile app for which MobME is seeking to build a small but truly world class team.</p>
        <p dir="ltr">We are looking for problem solvers who are passionate about startups and are excited about the scale and speed at which the Indian startup eco-sytem is growing.</p>
        <p dir="ltr">You will have the opportunity to work on a plethora of languages including Ruby and RoR, Python, C/C++, Java, platforms such as AWS and co-located servers etc. Providing customers with a great user experience is pivotal to us and we tinker with the latest CSS3, HTML5 and JavaScript technologies.</p>
        </div>
          <h2>Lead Android developer</h2>
        <p>Location : Cochin <br />
          Type : Full time employment </p>
        <p dir="ltr">If you possess the following skills, we would like to meet you.</p>
        <ul>
          <li>2+ years of experience in developing highly interactive apps on android.</li>
          <li>Experience in developing Android apps to work with rest apis.</li>
          <li>Excellent knowledge in concepts of data caching.</li>
          <li>Strong understanding of user interface and UIX on android.</li>
          <li>Demonstrable experience in managing medium to large project and deliver it on time and quality.</li>
          <li>Attention to detail and ability to conceptualize an idea.</li>
          <li>Full understanding of software development process and prior experience in Agile or Extreme programming Methodology</li>
          <li>Excellent communication skills in English (written and oral)</li>
        </ul>

        <h2>(II) Backend developer</h2>
        <p>Location : Cochin <br />
          Type : Full time employment </p>
        <p>Proven skills with Ruby on Rails &amp; Javascript.</p>
        <ul>
          <li>Believe in writing good test, before writing code.</li>
          <li>Knowledge of continuous integration, and experience in deploying apps to Heroku.</li>
          <li>Passion for collaborating on open source projects.</li>
          <li>Able to work on TDD with Rspec or similar.</li>
          <li>Ability to deal with HTML, CSS is required.</li>
          <li>Good knowledge on REST pattern, and experience in creating API using REST.</li>
          <li>Able to collaborate with mobile developers for API design decisions.</li>
          <li>Knowledge to build robust, scalable applications.</li>
          <li>Collaborators who thrive in small teams.</li>
          <li>Able to craft code based on proven patterns and principle</li>
          <li>Excellent communication skills in English (written and oral)</li>
        </ul>
        <br />
        <h3 dir="ltr">Cultural Fit</h3>
        <ul>
          <li>Love for Startups, entrepreneurs and the eco-system</li>
          <li>Self-motivated interest toward self-development.</li>
          <li>Problem solver, not an instruction taker.</li>
          <li>Passionate about technologies and goes out of the way to stay updated with innovations in mobile and web technologies.</li>
          <li>Result oriented and ready to take ownership</li>
          <li>Desire to make impact and high work ethic.</li>
          <li>Strong team player with unflinching focus on job at hand.</li>
        </ul>
        <h3 dir="ltr">Job Perks </h3>
        <ul>
          <li>Mentorship from ace developers, including the creator of Slideshare.</li>
          <li>Network with startups at <a href="http://www.startupvillage.in">Startup Village</a>, India's largest telecom incubator</li>
          <li>An opportunity to be part of the core team attracting equity</li>
          <li>Quick increase in pay-scale based on performance</li>
          <li>Extremely flexible work hours. The focus will always be only on getting things done.</li>
          <li>Creative freedom: We understand that there is no &lsquo;one&rsquo; right way to do things. You have the freedom to apply your skills in the way you see fit using the tools of your choice.</li>
          <li>Free Health insurance</li>
          <li>A very lenient leave policy.</li>
          <li>No formal dress code</li>
          <li>Invites to all events at Startup Village events with a unique and well-placed opportunity to contribute to a bustling and exciting eco-system.</li>
        </ul>
        <br />
        <h3 dir="ltr">How to apply?</h3>
        <ul>
          <li>Please attach your resume / log of work done in the past and send it to <a href="mailto:gautham@mobme.in">gautham@mobme.in</a></li>
          <li>Please share the AppStore / Google Play store download links of all the apps you have been involved in developing in the past.</li>
          <li>We&rsquo;d really appreciate if the resume carries your Github or Stackoverflow profile links giving us a peek of the codebase you have written in the past. Sharing this or any other leads that give us a sneak peek into the code you have written in the past is mandatory.</li>
          <li>Please furnish details of any Open Source projects you have been involved in the past in fair detail.</li>
          <li>If you are owner / co-author of technology / programming related blogs, please share the links.</li>
        </ul>
        <h3 dir="ltr">Compensation</h3>
        <p dir="ltr">Compensation will be commensurate with skills and experience and will be assessed by the interviewing team.</p>
        <h3 dir="ltr">Contact</h3>
        <p dir="ltr"><strong>Gautham</strong><br />
          Business @ SV Labs<br />
          +91-9400474785<br />
          <a href="mailto:gautham@mobme.in">gautham@mobme.in</a><br />
          <a href="http://www.mobme.in">www.mobme.in</a></p>


        <!--Body content-->
      </div>
      <div class="span3">
        <h3>Quick Links</h3>

        <ul>
          <li>Product Manager</li>
          <li>Lead Android Developer</li>
          <li>Backend Developer</li>

        </ul>


        <!--Sidebar content-->
      </div>

    </div>
  </div>



















</div>








