h1.page-header Privacy Policy

p SV Labs is fully owned subsidiary under Mobme Wireless Solutions Pvt Ltd with its registered office at 41/3197, Fourth Floor, Bhageeratha Square, Kacherippady, Cochin &mdash; 682018. At SVLabs, we value your trust &amp; respect your privacy. This Privacy Policy provides you with details about the manner in which your data is collected, stored &amp; used by us. You are advised to read this Privacy Policy carefully. By visiting SVLabs’s website/applications you expressly give us consent to use &amp; disclose your personal information in accordance with this Privacy Policy. If you do not agree to the terms of the policy, please do not use or access SVLabs website or mobile applications.

p <strong>Note:</strong> Our privacy policy may change at any time without prior notification. To make sure that you are aware of any changes, kindly review the policy periodically. This Privacy Policy shall apply uniformly to SVLabs desktop website, SVLabs mobile site &amp; SVLabs mobile applications.

h2 General

p We will not sell, share or rent your personal information to any 3rd party or use your email address/mobile number/profile details and startup details for unsolicited emails and/or SMS without your prior written consent. Any emails and/or SMS sent by SVLabs will only be in connection with the provision of agreed services &amp; products and this Privacy Policy.
  Periodically, we may reveal general statistical information about SVLabs &amp; its users, such as number of visitors, number of applications, number of incubated startups etc.
  We reserve the right to communicate your personal information to any third party that makes a legally-compliant request for its disclosure.

h2 Personal Information

p Personal Information means and includes all information that can be linked to a specific individual or to identify any individual, such as name, address, mailing address, telephone number, email ID, date of birth, information about your mobile phone.
  When you browse through SVLabs, we may collect information regarding the domain and host from which you access the internet, the Internet Protocol [IP] address of the computer or Internet service provider [ISP] you are using, and anonymous site statistical data.

h2 Use of Personal Information

p We use personal information to provide you with services &amp; products you explicitly requested for, to resolve disputes, troubleshoot concerns, help promote safe services, collect money, measure consumer interest in our services, inform you about offers, products, services, updates, customize your experience, detect &amp; protect us against error, fraud and other criminal activity, enforce our terms and conditions, etc.
  We also use your contact information to send you communication that’s relevant to you in every stage.

p We may occasionally ask you to complete optional online surveys and furnish more information related to your startup. These surveys may ask you for contact information and demographic information (like zip code, age, gender, etc.). We use this data to customize your experience at SVLabs, providing you with content that we think you might be interested in and to display content according to your preferences.

h2 Cookies

p A &ldquo;cookie&rdquo; is a small piece of information stored by a web server on a web browser so it can be later read back from that browser. SVLabs uses cookie and tracking technology depending on the features offered. No personal information will be collected via cookies and other tracking technology; however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.

h2 Links to Other Sites

p Our site links to other websites that may collect personally identifiable information about you. SVLabs is not responsible for the privacy practices or the content of those linked websites.

h2 Security

p SVLabs has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access.

h2 Consent

p By using SVLabs and/or by providing your information, you consent to the collection and use of the information you disclose on SVLabs in accordance with this Privacy Policy, including but not limited to your consent for sharing your information as per this privacy policy.

p The name and contact details of the Grievance Officer are provided below:

pre Mr. Gautham
    MobME Wireless Solutions Ltd.,
    41/3197, Fourth Floor,
    Bhageeratha Square,
    Kacherippady, Cochin - 682018

p Address all your queries to #{mail_to 'support@svlabs.in'}.