@tailwind base;

@tailwind components;

@tailwind utilities;

.multiselect-inline-list {
  height: 7rem;
}

.multiselect-inline-list__item
  .multiselect-inline-list__item-select-icon-selected {
  display: none;
}
.multiselect-inline-list__item:hover
  .multiselect-inline-list__item-select-icon-unselected,
.multiselect-inline-list__item:active
  .multiselect-inline-list__item-select-icon-unselected {
  display: none;
}
.multiselect-inline-list__item:hover
  .multiselect-inline-list__item-select-icon-selected,
.multiselect-inline-list__item:active
  .multiselect-inline-list__item-select-icon-selected {
  display: inline-flex;
}
