.notifications__entry-card:hover .notifications__entry-card-buttons, .notifications__entry-card:focus .notifications__entry-card-buttons {
  @apply opacity-100;
  background: rgb(247, 245, 250);
  background: linear-gradient(45deg, rgba(247, 245, 250, 0) 0%, rgba(247, 245, 250, 1) 30%, rgba(247, 245, 250, 1) 100%);
}

.notifications__entry-unread-dot {
  left: -0.5rem;
}

@screen md {
  .notifications__entry-unread-dot {
    left: -0.75rem;
  }
}
