.view-quiz-ref-btn
  a.btn.btn-secondary.btn-sm.text-uppercase href="#{image_url 'home/showcase/timelines/career_khojj.png'}" target="_blank"
    | Open Career Khojj's Timeline&nbsp;
    i.fa.fa-external-link
