h1.page-header Partnership details confirmed!

p Thank you! You have successfully confirmed your personal details, and intent to create a partnership.

p The Startup Village team will start proceedings for creation of the partnership once all partners have confirmed
  their intent, as you just did.

p Feel free to close this window. Have a nice day! :-)