@layer components {
  html {
    @apply w-full h-full;
  }

  body {
    @apply font-sans text-gray-900 w-full h-full antialiased;
  }

  @screen md {
    body {
      scrollbar-width: thin;
      scrollbar-color: theme("colors.gray.400") theme("colors.gray.100");
    }
    ::-webkit-scrollbar {
      width: 12px;
    }
    ::-webkit-scrollbar-track {
      background: theme("colors.gray.100");
      border-radius: 8px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: theme("colors.gray.400");
      border-radius: 6px;
      border: 3px solid theme("colors.gray.100");
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  /* Input */

  input:disabled,
  .disabled {
    @apply cursor-not-allowed bg-gray-50 text-gray-600;
  }

  /* Accessible File Input */

  input,
  textarea {
    @apply bg-white;
  }
  .form-input__file-sr-only {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  .form-input__file-label {
    cursor: pointer;
  }

  .form-input__file-sr-only:focus + .form-input__file-label {
    outline: none;
    box-shadow: 0 0 0 3px theme("colors.primary.100");
    border-color: theme("colors.primary.300");
  }

  /* Button */
  button {
    text-align: initial;
  }

  button:focus {
    outline: none;
  }

  .btn {
    @apply inline-flex text-center items-center justify-center whitespace-nowrap text-sm font-semibold py-2 px-4 rounded cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-focusColor-500 transition;
  }

  .btn:disabled {
    opacity: 0.5;
  }

  /* Button Styles */

  .btn-default {
    @apply bg-primary-50 text-primary-500 border border-primary-500 rounded !important;
  }

  .btn-default:hover {
    @apply bg-primary-100 text-primary-600 !important;
  }

  .btn-default:focus {
    @apply bg-primary-100 text-primary-700;
  }

  .btn-subtle {
    @apply bg-gray-100 text-gray-800  !important;
  }

  .btn-subtle:hover {
    @apply bg-gray-300 text-gray-900;
  }

  .btn-subtle:focus {
    @apply bg-gray-400 text-gray-900;
  }

  .btn-primary {
    @apply bg-gradient-to-br from-primary-500 to-primary-600 text-white shadow !important;
  }

  .btn-primary:hover {
    @apply bg-gradient-to-br from-primary-600 to-primary-700 text-white !important;
  }

  .btn-primary:focus {
    @apply bg-primary-800 text-white;
    background-image: none;
  }

  .btn-primary-ghost {
    @apply bg-white text-primary-500 border border-primary-500;
  }

  .btn-primary-ghost:hover {
    @apply bg-primary-100 text-primary-600 border-primary-400;
  }

  .btn-primary-ghost:focus {
    @apply bg-primary-100 text-primary-600 border-primary-400;
  }

  .btn-secondary {
    @apply bg-gradient-to-br from-red-500 to-red-700 text-white  !important;
  }

  .btn-secondary:hover {
    @apply bg-gradient-to-br from-red-600 to-red-800;
  }

  .btn-secondary:focus {
    @apply bg-red-800;
    background-image: none;
  }

  .btn-success {
    @apply bg-gradient-to-br from-green-500 to-green-600 text-white !important;
  }

  .btn-success:hover {
    @apply bg-gradient-to-br from-green-600 to-green-700;
  }

  .btn-success:focus {
    @apply bg-green-800;
    background-image: none;
  }

  .btn-warning {
    @apply bg-gradient-to-br from-yellow-500 to-yellow-600 text-white  !important;
  }

  .btn-warning:hover {
    @apply bg-gradient-to-br from-yellow-600 to-yellow-700;
  }

  .btn-warning:focus {
    @apply bg-yellow-800;
    background-image: none;
  }

  .btn-danger {
    @apply bg-gradient-to-br from-red-500 to-red-600 text-white  !important;
  }

  .btn-danger:hover {
    @apply bg-gradient-to-br from-red-600 to-red-700 text-red-50;
  }

  .btn-danger:focus {
    @apply bg-red-800 text-red-50 bg-none;
  }

  button:disabled,
  .disabled {
    @apply cursor-not-allowed bg-gray-100 text-gray-300 shadow-none border-transparent;
    background-image: none;
  }

  button:disabled:hover,
  .disabled:hover,
  button:disabled:focus,
  .disabled:focus {
    @apply bg-gray-100 text-gray-300 border-transparent shadow-none;
    background-image: none;
  }

  .btn-small {
    @apply py-1 px-3 text-xs h-7 leading-normal;
  }

  .btn-normal {
    @apply py-1 px-4 text-sm h-8;
  }

  .btn-large {
    @apply py-2 px-5 text-base h-10;
  }

  .button-xl {
    @apply py-2 px-6 text-base h-12;
  }

  /* Footer Style */

  .footer__container {
    background-color: theme("colors.gray.100");
  }

  .footer__bottom {
    background-color: theme("colors.gray.200");
  }

  .dropdown__list {
    max-height: 16rem;
    @apply min-w-full;
  }

  @screen md {
    .dropdown__list {
      max-height: 20rem;
      @apply w-auto min-w-full;
    }
  }
  .dropdown__list-right {
    @apply end-0;
  }

  .dropdown__list-left {
    @apply start-0;
  }

  .dropdown__list-left:before,
  .dropdown__list-left:after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  .dropdown__list-left:before {
    top: -7px;
    left: 9px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid theme("colors.gray.400");
    border-left: 7px solid transparent;
    border-bottom-color: theme("colors.gray.400");
  }

  .dropdown__list-left:after {
    top: -6px;
    left: 10px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid theme("colors.white");
    border-left: 6px solid transparent;
  }

  .dropdown__list-right:before,
  .dropdown__list-right:after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  .dropdown__list-right:before {
    top: -7px;
    inset-inline-end: 9px;
    border-inline-end: 7px solid transparent;
    border-bottom: 7px solid theme("colors.gray.300");
    border-inline-start: 7px solid transparent;
    border-bottom-color: theme("colors.gray.300");
  }

  .dropdown__list-right:after {
    top: -6px;
    inset-block-end: 10px;
    border-inline-end: 6px solid transparent;
    border-bottom: 6px solid theme("colors.white");
    border-inline-start: 6px solid transparent;
  }

  /* Checkbox */
  .input-checkbox {
    @apply appearance-none p-0;
  }
  .input-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Dark mode theme*/
  .dark {
    --color-black: white;
    --color-white: #100e13;

    --color-primary-50: #17121f;
    --color-primary-100: #3c2c51;
    --color-primary-200: #604682;
    --color-primary-300: #8661b5;
    --color-primary-400: #aa7ce7;
    --color-primary-500: #bd89ff;
    --color-primary-600: #c89dff;
    --color-primary-700: #d2b0ff;
    --color-primary-800: #dec5ff;
    --color-primary-900: #e8d8ff;
    --color-primary-950: #e8d8ff;

    --color-gray-50: #050506;
    --color-gray-100: #131115;
    --color-gray-200: #1a171d;
    --color-gray-300: #37323d;
    --color-gray-400: #71697d;
    --color-gray-500: #8e839e;
    --color-gray-600: #ab9ebf;
    --color-gray-700: #c8b9df;
    --color-gray-800: #e5d4ff;
    --color-gray-900: #f3ecff;
    --color-gray-950: #f3ecff;

    --color-focusColor-50: #0e0e1e;
    --color-focusColor-100: #21224d;
    --color-focusColor-200: #33357b;
    --color-focusColor-300: #4649ab;
    --color-focusColor-400: #595cda;
    --color-focusColor-500: #6366f1;
    --color-focusColor-600: #8081f4;
    --color-focusColor-700: #9c9bf7;
    --color-focusColor-800: #bab7f9;
    --color-focusColor-900: #d6d1fc;
    --color-focusColor-950: #ddd7fd;

    --color-red-50: #1c0b0c;
    --color-red-100: #4b1819;
    --color-red-200: #792425;
    --color-red-300: #a93132;
    --color-red-400: #d83d3e;
    --color-red-500: #ef4444;
    --color-red-600: #f06569;
    --color-red-700: #f0878f;
    --color-red-800: #f2a9b4;
    --color-red-900: #f2cbda;
    --color-red-950: #f3d2e2;

    --color-yellow-50: #1c1606;
    --color-yellow-100: #4a3906;
    --color-yellow-200: #775b07;
    --color-yellow-300: #a57f08;
    --color-yellow-400: #d3a108;
    --color-yellow-500: #eab308;
    --color-yellow-600: #ecbe39;
    --color-yellow-700: #edc96b;
    --color-yellow-800: #f0d69c;
    --color-yellow-900: #f1e1ce;
    --color-yellow-950: #f2e4d9;

    --color-orange-50: #1d1007;
    --color-orange-100: #4e260b;
    --color-orange-200: #7e3b0e;
    --color-orange-300: #b05211;
    --color-orange-400: #e16815;
    --color-orange-500: #f97316;
    --color-orange-600: #f88b45;
    --color-orange-700: #f6a373;
    --color-orange-800: #f6bca2;
    --color-orange-900: #f4d4d0;
    --color-orange-950: #f4d9da;

    --color-blue-50: #0e0e1e;
    --color-blue-100: #21224d;
    --color-blue-200: #33357b;
    --color-blue-300: #4649ab;
    --color-blue-400: #595cda;
    --color-blue-500: #6366f1;
    --color-blue-600: #8081f4;
    --color-blue-700: #9c9bf7;
    --color-blue-800: #bab7f9;
    --color-blue-900: #d6d1fc;
    --color-blue-950: #ddd7fd;

    --color-green-50: #07180f;
    --color-green-100: #0d3e20;
    --color-green-200: #136432;
    --color-green-300: #198b44;
    --color-green-400: #1fb256;
    --color-green-500: #22c55e;
    --color-green-600: #4ccd7e;
    --color-green-700: #75d49e;
    --color-green-800: #a0ddbf;
    --color-green-900: #c9e4df;
    --color-green-950: #d3e6e6;

    --font-family-sans: "Inter", sans-serif;

    /* -------------------------------------- */
    /* -------------------------------------- */
    /* -------------------------------------- */

    /* REMOVE FOLLOWING STYLES BEFORE MERGING */

    /* --main-black-color: #1A1B18;
    --main-text-color: #d6d3cd;
    --purple-light-color: #844edd;
    --purple-dark-color: #4e1e9c;
    --gray-light-color: #3e3e3e;
    --gray-50-color: #1f2223;
    --black-color: #1b1d1e;
    --bg-gray-50-color: #1c1e1f;
    --bg-gray-100-color: #1e2022;
    --nav-color: #cdc8c2;
    --border-color: #363b3d;
    --border-gray-500-color: #655e53;
    --footer-color: #25282a; */

    /* & button:disabled, .disabled{
      background-color: var(--gray-light-color);
      color: var(--black-color);
    }

    .btn-default {
      background-color: var(--black-color) !important;
      color: var(--purple-light-color) !important;
      border-color: var(--purple-dark-color) !important;
    }

    .drawer-right, .editor-drawer, .bg-white {
      background-color: var(--main-black-color);
      color: var(--main-text-color);
    }

    .text-black, .text-gray-900, .text-gray-800 {
      color: var(--main-text-color);
    }

    .bg-gray-300, .bg-gray-200 {
      background-color: var(--black-color);
      color: var(--main-text-color);
    }

    .bg-gray-50 {
      background-color: var(--gray-50-color);
      color: var(--main-text-color);
    }

    .school-admin-navbar__primary-nav--shrunk .school-admin-navbar__primary-nav-link {
      color: var(--nav-color);
    }

    .app-router-navbar__primary-nav-link--active.app-router-navbar__primary-nav-link, .school-admin-navbar__primary-nav-link.school-admin-navbar__primary-nav-link--active {
      background-color: var(--gray-50-color);
      color: var(--purple-light-color);
    }

    .app-router-navbar__primary-nav-link:hover, .school-admin-navbar__primary-nav-link:hover {
      background-color: var(--gray-50-color);
      color: var(--purple-light-color);
    }

    .app-router-navbar__primary-nav-link, .school-admin-navbar__primary-nav-link {
      color: var(--nav-color);
    }

    .dropdown, .md\:bg-gray-100, .bg-gray-100 {
      color: var(--main-text-color);
      background-color: var(--black-color);
    }

    .footer__container, .school-customize__footer-top-container {
      background-color: var(--bg-gray-100-color);
      color: var(--main-text-color);
    }

    .footer__bottom, .school-customize__footer-bottom-container {
      background-color: var(--footer-color);

      .text-gray-600 {
        color: var(--main-text-color);
      }
    }

    .bg-primary-100 {
      background-color: var(--gray-50-color);
    }

    .bg-gray-100 {
      background-color: var(--bg-gray-100-color);
    }

    .hover\:bg-gray-50:hover, .md\:hover\:bg-gray-50:hover, .hover\:bg-primary-50:hover, .hover\:bg-gray-300:hover
    {
      background-color: var(--bg-gray-50-color) !important;
    }

    .hover\:text-primary-500:hover, .hover\:text-primary-800:hover {
      background-color: var(--bg-gray-50-color) !important;
      color: var(--purple-light-color);
    }

    .hover\:bg-primary-100:hover, .hover\:bg-primary-200:hover {
      background-color: var(--gray-50-color);
    }

    .focus\:bg-white:focus {
      background-color: var(--main-black-color);
    }

    .bg-primary-50 {
      background-color: var(--bg-gray-50-color);
    }

    .border {
      border-color: var(--border-color);
    }

    .border-gray-500 {
      border-color: var(--border-gray-500-color);
    }

    .border-b, .border-t, .border-e, .border-s {
      border-color: var(--black-color);
    }

    .btn-primary-ghost {
      color: var(--purple-light-color) !important;
      background-color: var(--main-black-color) !important;
      border-color: var(--purple-dark-color) !important;
    } */

    /* -------------------------------------- */
    /* -------------------------------------- */
    /* -------------------------------------- */
  }
}
