@import "custom_styles";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Barlow+Semi+Condensed:wght@600&display=swap');

@layer components {
  .theme-growthtribe {
    --color-primary-100: #F0EAFB;
    --color-primary-200: #002c58;
    --color-primary-300: #002857;
    --color-primary-400: #002355;
    --color-primary-500: #001f54;
    --color-primary-600: #001a52;
    --color-primary-700: #00144f;
    --color-primary-800: #0c0548;
    --color-primary-900: #0c0548;

    --color-secondary-100: #FEE6EF;
    --color-secondary-200: #FCB5D0;
    --color-secondary-300: #FF80B0;
    --color-secondary-400: #F95392;
    --color-secondary-500: #F61067;
    --color-secondary-600: #AC0645;
    --color-secondary-700: #A61149;
    --color-secondary-800: #7B0531;
    --color-secondary-900: #4A031E;

    --color-gray-100: #FBFAFC;
    --color-gray-200: #F7F5FA;
    --color-gray-300: #F1EDF7;
    --color-gray-400: #DFDAE8;
    --color-gray-500: #BFB8CC;
    --color-gray-600: #9187A1;
    --color-gray-700: #7D728F;
    --color-gray-800: #6A5F7A;
    --color-gray-900: #656970;

    --font-family-sans: "Barlow", sans-serif;
    --font-family-condensed: "Barlow Semi Condensed", sans-serif;

    --color-silicon-blue-100: #9E9BB6;
    --color-silicon-blue-300: #6D6991;
    --color-silicon-blue-600: #3C376D;
    --color-silicon-blue-900: #0C0548;

    --color-community-pink: #FF919C;
    --color-curious-blue: #50DBFB;
    --color-attention-yellow: #FFF208;
    --color-hacker-orange: #FF5427;
    --color-precise-blue: #166CFF;
  }


  html {
    @apply theme-growthtribe;
    font-family: var(--font-family-sans), Helvetica, Arial, Verdana, Tahoma, sans-serif;
  }


  .btn-complete {
    @apply bg-cyan text-white flex items-center justify-center w-full rounded-lg py-4 px-6 font-semibold text-lg;
  }

  .btn-primary {
    @apply bg-none bg-preciseBlue text-white border-2 border-preciseBlue py-2 px-4 font-semibold rounded-lg transition-all duration-200;
  }

  .btn-primary:hover {
    @apply bg-white bg-transparent text-preciseBlue  ;
  }

  .btn-primary:focus {
    @apply bg-white bg-transparent text-preciseBlue border border-preciseBlue rounded-lg;
  }

  .btn-primary-ghost {
    @apply bg-none text-preciseBlue border-2 border-preciseBlue py-2 px-4 font-semibold rounded-lg transition-all duration-200;
  }

  .btn-primary-ghost:hover {
    @apply bg-none bg-preciseBlue text-white border-preciseBlue;
  }

  .btn-primary-ghost:focus {
    @apply bg-none bg-preciseBlue text-white shadow rounded-lg;
  }

  .transparent-background:disabled,
  .transparent-background:disabled:hover {
    @apply bg-transparent
  }


}
