@import "custom_styles";

@layer components {
  .theme-pupilfirst {
    --color-primary-100: #eaebfb;
    --color-primary-200: #bfc1f3;
    --color-primary-300: #8e92e6;
    --color-primary-400: #6a70e2;
    --color-primary-500: #2b32c1;
    --color-primary-600: #1e249a;
    --color-primary-700: #0d1280;
    --color-primary-800: #15196b;
    --color-primary-900: #0d0f40;

    --color-secondary-100: #eaf9fb;
    --color-secondary-200: #bfedf3;
    --color-secondary-300: #8edce6;
    --color-secondary-400: #6ad4e2;
    --color-secondary-500: #25aec0;
    --color-secondary-600: #1e8b9a;
    --color-secondary-700: #0d7280;
    --color-secondary-800: #15616b;
    --color-secondary-900: #0d3a40;

    --color-gray-50: #fdfdfd;
    --color-gray-100: #fbfafc;
    --color-gray-200: #f7f5fa;
    --color-gray-300: #f1edf7;
    --color-gray-400: #dfdae8;
    --color-gray-500: #bfb8cc;
    --color-gray-600: #9187a1;
    --color-gray-700: #7d728f;
    --color-gray-800: #6a5f7a;
    --color-gray-900: #453c52;

    --font-family-sans: "Open Sans", sans-serif;
  }

  html {
    @apply theme-pupilfirst;
  }
}
