@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Custom Style */

body {
  font-family: 'Open Sans', sans-serif;
  color: #3A3F52;
  @apply .antialiased;
}

/* Button */

.btn {
  @apply inline-flex items-center whitespace-no-wrap text-sm font-semibold py-2 px-4 rounded;
}

.btn-primary {
  @apply bg-primary text-white shadow;
}

.btn-primary:hover {
  @apply bg-primary-dark;
}

.btn-primary:focus {
  @apply bg-primary-darker outline-none;
}

.btn-small {
  @apply py-1 px-3 text-xs;
}

.btn-normal {
  @apply py-2 px-4 text-sm;
}

.btn-large {
  @apply py-3 px-5 text-base;
}

/* Gradients */

@responsive {
  .bg-gradient-primary-dark-to-primary-darker-to-bottom {
    background-image: linear-gradient(to bottom, config('colors.primary-dark'), config('colors.primary-darker'));
  }
  .bg-gradient-secondary-to-secondary-dark-120 {
    background-image: linear-gradient(120deg, config('colors.secondary'), config('colors.secondary-dark'));
  }
}