  <div class="bg-blue-50 overflow-hidden rounded-lg">
    <a
      href="#"
      class="block p-4 transition-all hover:bg-blue-100 focus:outline-none focus:bg-blue-100"
      ariaLabel="eventName on eventDate at eventTime">
      <div class="flex justify-between">
        <div class="flex gap-3 items-center">
          <div class="w-3 h-3 bg-blue-500 rounded-full" ></div>
          <div>
            <p class="font-semibold text-base">Awesome Event</p>
            <p class="font-medium text-sm">
              24-11-2022 • 11:20PM
            </p>
          </div>
        </div>
        <p class="text-black/50 text-xs"> Main Calendar </p>
      </div>
    </a>
    <a
      href="#"
      ariaLabel="Link to event"
      target="_blank"
      rel="noopener noreferrer"
      class="p-4 block text-primary-500 font-medium text-sm transition-all border-t border-black/5 hover:bg-blue-100 hover:underline focus:underline focus:outline-none focus:bg-blue-100">
      <div class="flex gap-2 items-center">
        <i class="if i-external-link-regular if-fw"></i>
        <p>
          "Event Title"
        </p>
      </div>
    </a>
    <div class="p-4 pt-1 text-sm">
      <p>Replace with markdown renderer</p>
    </div>
  </div>
