<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>
<script id="schools-courses-applicants__props" type="application/json">
  <%= Schools::Courses::ApplicantsPresenter.new(self, @course).props_to_json.html_safe %>
</script>
