<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>

<div id="schoolrouter-innerpage-data">
  <div class="max-w-6xl mx-auto px-5 mt-8">
    <div class="flex items-center justify-between gap-2">
      <h1 class="text-xl font-semibold"> Calendar </h1>
      <a href="#" class="text-primary-500 font-medium text-sm hover:underline">
        See all upcoming events
      </a>
    </div>
    <div  class="mt-6 grid grid-cols-12 bg-gray-50 rounded-lg border border-gray-200 overflow-hidden">
      <div class="col-span-4 p-6 border-r border-gray-200">
        <div id="course-calendar-picker" class="pb-4" >
          <div data-re-component="CalendarsIndex__DatePicker" data-re-json=<%={id: "10"}.to_json%>></div>
        </div>
        <div class="pt-2 border-t border-gray-200 flex items-center justify-between gap-2 p-1">
          <p class="text-base font-medium ">Calendars</p>
          <a
            class="p-2 rounded-md hover:bg-primary-50 hover:text-primary-500 focus:bg-primary-50 focus:text-primary-500"
            ariaLabel="Add new calendar"
            title="Add new calendar"
            href="/school/courses/${courseId}/calendars/new">
            <i class="if i-plus-regular if-fw" ></i>
          </a>
        </div>
        <div class="group px-1 py-2 hover:bg-gray-100 rounded-md text-sm flex items-center justify-between">
          <label class="flex items-center gap-3 font-medium">
            <input type="checkbox" checked/>
            Calendar 1
          </label>
          <button class="hidden px-1 transition-all rounded-md group-focus:block group-hover:block hover:bg-gray-200 hover:text-primary-500 focus:text-primary-500">
            <i class="if i-kebab-regular if-fw" ></i>
          </button>
        </div>
      </div>
      <div class="col-span-8 p-6 bg-white flex-1">
        <div class="flex gap-4 items-center justify-between">
          <p class="text-base font-semibold"> Events </p>
          <button
            class="font-semibold text-sm rounded-lg px-4 py-2 bg-primary-50 text-primary-500 border border-primary-100 hover:bg-primary-100 focus:bg-primary-100 focus:ring-1 focus:ring-focusColor-500">
            <i class="if i-plus-regular if-fw" ></i>
            Add an event
          </button>
        </div>
        <div class="flex flex-col gap-4 mt-6">
          <div>
            <p class="font-semibold text-sm">21-November-2022 <span aria-hidden="true"> - </span> <em class="font-normal">Today</em></p>
            <div class="mt-3 flex flex-col items-center text-center p-4 bg-gray-100 rounded-lg">
              <p><i class="if i-calendar-solid if-fw text-3xl"></i></p>
              <p class="text-sm font-semibold mt-4">No event scheduled for today</p>
              <p class="text-gray-600 text-sm w-3/4">Events help you to mark the calendar. blah blah blah. <a href="#" class="text-primary-500 font-medium hover:underline">Learn more about events</a></p>
            </div>
          </div>
          <div class="p-4 pb-6 bg-gradient-to-b from-primary-100 to-white flex items-center justify-between bg-gray-100 rounded-t-lg">
            <p class="font-semibold text-sm">Other events in November</p>
            <p><i class="if i-arrow-down-regular if-fw"></i></p>
          </div>
          <div>
            <p class="font-semibold text-sm">21-November-2022</p>
            <div class="mt-3 flex flex-col gap-4">
              <%= render "event_card" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
