<% presenter = Schools::Courses::CertificatesPresenter.new(self, @course) %>
<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>
<script id="schools-courses-certificates__props" type="application/json">
  <%= presenter.props_to_json.html_safe %>
</script>
