<% content_for(:head) do %>
  <title><%= current_school.name %> | Curriculum</title>
  <%= stylesheet_pack_tag 'SchoolsCoursesCurriculumPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'SchoolsCoursesCurriculumPack', nonce: true %>
<% end %>

<% presenter = Schools::Courses::CurriculumPresenter.new(self, @course) %>

<div id="curriculum-editor" class="flex flex-1 h-full bg-gray-100" data-props="<%= presenter.props_to_json %>"></div>
