<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>
<% presenter = Schools::Courses::CurriculumPresenter.new(self, @course) %>
<div id="curriculum-editor" class="flex flex-1 h-full bg-gray-50" data-props="<%= presenter.props_to_json %>"></div>
