<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>
<% presenter = Schools::Courses::CurriculumPresenter.new(self, @course) %>
<script id="curriculum-editor" type="application/json">
  <%= presenter.props_to_json.html_safe %>
</script>
