<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %> </title>
<% end %>
<% presenter = Schools::Courses::EvaluationCriteriaPresenter.new(self, @course) %>
<script id="schools-courses-evaluation-criteria__props" type="application/json">
  <%= presenter.props_to_json.html_safe %>
</script>
