<% content_for(:head) do %>
  <title><%= @course.name %> | Students</title>
  <%= stylesheet_pack_tag 'SchoolsCoursesInactiveStudentsPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'SchoolsCoursesInactiveStudentsPack', nonce: true %>
<% end %>

<% @presenter = Schools::Courses::InactiveStudentsPresenter.new(self, @teams, @course) %>

<div class="flex flex-1">
  <div id="sa-students-panel" class="flex w-full h-full bg-gray-100" data-props="<%= @presenter.props_to_json %>"></div>
</div>
