<% content_for(:head) do %>
  <title><%= @course.name %> | <%= t(".title") %></title>
<% end %>
<% @presenter = Schools::Courses::InactiveStudentsPresenter.new(self, @teams, @course) %>
<div class="flex flex-1">
  <div id="sa-students-panel" class="flex w-full h-full bg-gray-50" data-props="<%= @presenter.props_to_json %>"></div>
</div>
