<% content_for(:tail) do %>
  <%= stylesheet_pack_tag 'schools/courses/index', media: 'all' %>
  <%= javascript_pack_tag 'schools/courses/index', nonce: true %>
<% end %>

<% presenter = Schools::Courses::IndexPresenter.new(self) %>

<div id="course-editor" class="flex flex-1 h-full" data-props="<%= presenter.react_props.to_json %>"></div>

