<% content_for(:head) do %>
  <title><%= current_school.name %> | Courses</title>
  <%= stylesheet_pack_tag 'SchoolsCoursesIndexPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'SchoolsCoursesIndexPack', nonce: true %>
<% end %>

<div id="course-editor" class="flex flex-1 h-full"></div>
