<% content_for(:head) do %>
  <title><%= @course.name %> | Students</title>
  <%= stylesheet_pack_tag 'SchoolsCoursesStudentsPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'SchoolsCoursesStudentsPack', nonce: true %>
<% end %>

<% @presenter = Schools::Courses::StudentsPresenter.new(self, @course) %>

<script type="application/json" id="sa-students-panel-data"><%= @presenter.props_to_json.html_safe %></script>

<div id="sa-students-panel" class="flex flex-1 h-full"></div>
