.stats-hero__message-text {
  font-size: 3.5rem;
  line-height: 1.3;
  color: $brand-secondary;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 0 rgba(255,255,255,0.01);
  display: inline-block;
  background: linear-gradient(45deg, rgba(22,123,181,1) 0%,rgba(17,149,207,1) 50%,rgba(50,180,117,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  margin: 0;

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

.stats-hero__message-text--small {
  font-size: 2.25rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

.stats-hero__message-text--medium {
  font-size: 2.75rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

.stats-hero__message-delta-text {
  font-size: 1rem;
  letter-spacing: 0.01rem;
  color: $light-grey-text;

  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
}

.general-stats__container {
  background: rgb(22,123,181);
  background: linear-gradient(45deg, rgba(22,123,181,1) 0%,rgba(17,149,207,1) 50%,rgba(50,180,117,1) 100%);
}

.typed-cursor {
  @extend .stats-hero__message-text;
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
}

.general-stats__title {
  color: white;
  position: relative;
  font-size: 2.25rem;

  &:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: white;
    top: 0;
    left: 0;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;

    &:before {
      content: none;
    }
  }
}
.general-stats__title--small {
  font-size: 2rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

.general-stats__numbers-block {
  border: 1px dashed white;
  color: white;
  @include border-radius(10px);
}

.general-stats__numbers-block-item {
  height: 100%;
  padding: 1rem;
  border-right: 1px dashed white;

  @include media-breakpoint-down(sm) {
    padding: 0.875rem;
  }

  &:last-child {
    border: 0;
  }
}

.general-stats__numbers-block-text-large {
  font-size: 3.75rem;
  color: white;
  margin: 0;

  @include media-breakpoint-down(sm) {
    font-size: 1.75rem;
  }
}

.general-stats__numbers-block-text-small {
  font-size: 1.875rem;
  line-height: 1;

  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
}

.program-stats__container {
  position: relative;

  &:before {
    content:'';
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    background-color: white;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.program-stats__student-journey-header, .program-stats__other-facts-header {
  position: relative;
  padding-bottom: 1.25rem;

  &:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: $gray-border;
  }
}

.program-stats__student-journey {
  border-right: 1px solid $gray-border;

  @include media-breakpoint-down(sm) {
    border: 0;
  }
}

.program-stats__student-journey-number {
  font-size: 3rem;
  position: relative;
  padding-bottom: 0.625rem;
  margin-bottom: 0.75rem;

  &:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 6.25rem;
    background: linear-gradient(45deg, rgba(22,123,181,1) 0%,rgba(17,149,207,1) 50%,rgba(50,180,117,1) 100%);
    bottom: 0;

    @include media-breakpoint-down(md) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

.program-stats__student-journey-level {
  font-size: 1.75rem;

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }
}

.program-stats__student-journey-level-description {
  font-size: 1rem;
  @include media-breakpoint-up(md) {
    max-width: 18rem;
  }
}

.student-journey__timeline {
  position: relative;

  @include media-breakpoint-down(md) {
    padding-top: 3rem;
  }

  &:before {
    content: '';
    position: absolute;
    height: calc(100% - 3.125rem);
    width: 1px;
    left: 5rem;
    background-color: lighten($brand-secondary, 40%);

    @include media-breakpoint-down(lg) {
      left: 4rem;
    }
    @include media-breakpoint-down(md) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.student-journey__timeline-item {
  @include media-breakpoint-down(md) {
    position: relative;
    background-color: white;
    border: 1px solid lighten($brand-secondary, 40%);
    @include border-radius(20px);
    padding-bottom: 2rem;
    margin: 0 0 6rem 0;
    box-shadow: 0 2px 10px 0 rgba(34,34,34, 0.1);

    &:last-child {
      margin-bottom: 3rem;
    }
  }
}

.program-stats__student-journey-icon-box {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  margin-bottom: 3.125rem;
  background-color: white;
  border: 1px solid lighten($brand-secondary, 40%);
  box-shadow: 0 2px 10px 0 rgba(34,34,34, 0.1);
  @include border-radius(20px);

  @include media-breakpoint-down(md) {
    width: 5rem;
    height: 5rem;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: -2.5rem;
    @include border-radius(50%);
  }
}

.program-stats__student-journey-icon {
  width: 10rem;
}

.program-stats__other-facts {
  background-color: $primary-background;

  @include media-breakpoint-up(sm) {
    padding-left: 1.875rem;
  }
}

.program-stats__other-facts-icon {
  width: 2.125rem;
  margin-bottom: 0.625rem;
}

.program-stats__other-facts-box {
  background-color: white;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.875rem;
  box-shadow: 0 2px 10px 0 rgba(34,34,34, 0.1);
  @include border-radius(10px);

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.program-stats__other-facts-box-content {
  padding: 1.5rem 1.25rem 0 1.25rem;
}

.program-stats__other-facts-title {
  position: relative;
  padding-bottom: 1rem;

  &:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 3.5rem;
    background: linear-gradient(45deg, rgba(22,123,181,1) 0%,rgba(17,149,207,1) 50%,rgba(50,180,117,1) 100%);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.program-stats__delta-box {
  padding: 0.375rem 1.25rem;
  font-size: 0.8125rem;
  width: 100%;
  color: white;
  background: linear-gradient(45deg, rgba(22,123,181,1) 0%,rgba(17,149,207,1) 50%,rgba(50,180,117,1) 100%);
}


.stats-call-to-action__container {
  background: rgb(111,190,68);
  background: linear-gradient(135deg, rgb(111,190,68) 0%,rgb(13,113,186) 100%);
  padding: 3rem 0;
}

.stats-call-to-action__head {
  color: white;
}

.stats-call-to-action__sub-head {
  color: white;
  font-size: 1rem;
}

.stats-call-to-action__button {
  background-color: white;
  color: $dark-secondary;
  padding: 0.875rem 3rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $light-primary;
  }
}

.program-stats-apply__button {
  font-size: 1rem;
  padding: 0.875rem 3rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

@keyframes typedjsBlink {
  50% { opacity: 0.0; }
}

@-webkit-keyframes typedjsBlink {
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
