p Hi #{@mentor_meeting.user.fullname}!

p #{@mentor_meeting.mentor.user.fullname} has provisionally accepted your request for meeting with a reschedule to #{@mentor_meeting.suggested_meeting_at.strftime('%d-%m-%Y %H:%M')}.

p To accept or decline the new schedule, #{link_to 'click here', mentoring_url}.

p If the above link does not work for you, please copy and paste the following into your browser's address bar:

pre #{mentoring_url}

p Cheers,
p Team Startup Village
