p Hi #{@recipient.fullname}!

p Unfortunately #{@mentor_meeting.guest(@recipient).fullname} has cancelled the meeting with you! Please refer to his/her comments below:

p
  i &ldquo;#{@mentor_meeting.is_mentor?(@recipient) ? @mentor_meeting.user_comments : @mentor_meeting.mentor_comments}&rdquo;

p Cheers,
p Team Startup Village