@import 'admin_variables';

.admissions-dashboard-container {
  display: flex;
  flex-wrap: wrap;
}

.admissions-dashboard-item {
  float: left;
  width: 540px;
  background-color: white;
  margin: 0 15px 15px 0;
  border-radius: 5px;
  box-shadow: 0 0 4px lightgrey;
  overflow: hidden;
  position: relative;

  .heading {
    background-color: #83aa77;
    color: white;
    font-weight: bold;
    padding: 10px;
  }

  .content {
    line-height: 21px;

    ul {
      margin-left: 10px;
    }

    .chart-area {
      padding: 10px;
      height: 500px;
    }
  }
}

.full-width{
  width: 100%;
  height: auto;
}
