.clear-both {
  clear: both;
}

.active-admin-notification {
  background-color: white;
}

/* Hide the completely useless footer */
#footer {
  display: none;
}

.wrap-with-paranthesis {
  &:before { content: '(' }
  &:after { content: ')' }
}

.max-width-pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
