.active-admin-notification {
  background-color: white;
}

/* Hide the completely useless footer */
#footer {
  display: none;
}

.wrap-with-paranthesis {
  &:before { content: '(' }
  &:after { content: ')' }
}

.max-width-pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 600px;
}

table > caption {
  background: #f0f4f5;
  color: #5E6469;
  padding: 8px 15px;
  font-weight: bold;
  border: 1px solid #d3d8dc;
}

// Use with form_class on button_to-s in AA views.
.inline-button {
  display: inline;
}

.aa-error-hint {
  margin-left: 20%;
  display: inline-block;
  margin-top: 5px;
  color: crimson;
}

#site_title {
  cursor: pointer;
}

// Overwrite some crappy styling from select2-bootstrap which is runing the look of select2 in AA.
.select2-container .select2-choices .select2-search-field input {
  padding: 0 12px;
}

// Multiselect select2-s have a second border around the current input. Disable that.
.select2-container-multi .select2-search-field input.select2-input {
  border: 0 !important;
}

a.disabled_action_link {
  text-decoration: none;
  cursor: help;
}

// Active Tab header bg custom style
.table_tools_segmented_control {
  li {
    &.selected a {
      background: white !important;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
      cursor: default;
      color: #008AC1;

      .count {
        color: #008AC1;
      }
    }
  }
}
