.clear-both {
  clear: both;
}

.active-admin-notification {
  background-color: white;
}

/* Hide the completely useless footer */
#footer {
  display: none;
}

.wrap-with-paranthesis {
  &:before { content: '(' }
  &:after { content: ')' }
}

.max-width-pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

table > caption {
  background: #f0f4f5;
  color: #5E6469;
  padding: 8px 15px;
  font-weight: bold;
  border: 1px solid #d3d8dc;
}

// Use with form_class on button_to-s in AA views.
.inline-button {
  display: inline;
}
