@import 'admin_variables';

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-item {
  float: left;
  width: 320px;
  background-color: white;
  margin: 0 15px 15px 0;
  border-radius: 5px;
  box-shadow: 0 0 4px lightgrey;
  overflow: hidden;
  position: relative;

  .heading {
    background-color: #83aa77;
    color: white;
    font-weight: bold;
    padding: 10px;
  }

  .content {
    padding: 10px 10px 0 10px;
    line-height: 21px;

    .recent-visit {
      padding: 0;
      font-size: 90%;
    }

    .user-count {
      width: 100px;
      float: left;
    }

    a {
      text-decoration: none;
      font-size: 110%;
      line-height: 26px;
      color: #1d86bd;

      &:hover {
        color: #056699;
      }
    }
    > div {
      padding-bottom: 10px;
    }
  }

  .footer-spacer {
    height: 88px;
  }

  a.view-all {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    float: right;
    background-color: #fff;
    border: 1px solid #83aa77;
    color: #83aa77;
    transition: all .2s;

    &:hover, &:focus {
      background-color: #83aa77 !important;
      color: #fff;
    }
  }

  .left-of-button {
    position: absolute;
    font-size: 110%;
    font-family: serif;
    left: 10px;
    bottom: 17px;

    &.full-width {
      width: 93%;
    }

    .label {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 70%;
      margin-bottom: 5px;
    }

    .centered {
      display: flex;
      justify-content: space-between;
    }
  }
}
