.review-dashboard__event-entry-table {
  border: 1px solid;
  width: 100%;
  td {
    width: 300px;
  }
}

.review-dashboard__event-description {
  font-size: 12px;
  line-height: 1.6;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.review-dashboard-event-status-update__input {
  margin-right: 0.25rem;
}

.review-dashboard-event-status-update__label {
  padding: 0.25rem;
}

.review-dashboard-event-target-rubric__skill-title {
  font-weight: bold;
  padding-bottom: 0.25rem;
}
