.review-dashboard__event-entry-table {
  border: 1px solid;
  width: 100%;
  td {
    width: 300px;
  }
}

.review-dashboard__event-description {
  font-size: 12px;
  line-height: 1.6;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}


