.admin-startup-feedback-show-or {
  width: 190px;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  margin: 10px 0;
}

.admin-startup-feedback-show-founder-select {
  margin: 0 10px 5px 0;
}
