.startup-status {
  font-weight: bold;
  text-transform: uppercase;
}

.startup-status-buttons {
  margin-top: 10px;

  form {
    display: inline-block;
  }
}

.admin-startup-targets-show-link:hover {
  cursor: pointer;
}
