.target-overview__load-stats-link {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.targets-overview__load-details-link {
  cursor: pointer;
}

.target-overview__stat-details-table {
  display: none;
}
