.clear-both {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-text-decoration {
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
