.course-editor-course__cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.course-editor-course__title-container {
  background: rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.course-editor-course__title {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
