# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
common: &common
  intercom_secure_mode_secret_key: <%= ENV['INTERCOM_SECURE_MODE_SECRET_KEY'] %>
  slack_memberships_webhook_url: <%= ENV['SLACK_MEMBERSHIPS_WEBHOOK_URL'] %>
  slack_token: <%= ENV['SLACK_TOKEN'] %>
  google_analytics_tracking_id: <%= ENV['GOOGLE_ANALYTICS_TRACKING_ID'] %>
  instamojo_url: <%= ENV['INSTAMOJO_API_URL'] %>
  instamojo_api_key: <%= ENV['INSTAMOJO_API_KEY'] %>
  instamojo_auth_token: <%= ENV['INSTAMOJO_AUTH_TOKEN'] %>
  instamojo_salt: <%= ENV['INSTAMOJO_SALT'] %>
  intercom_access_token: <%= ENV['INTERCOM_ACCESS_TOKEN'] %>
  sendinblue_api_key: <%= ENV['SENDINBLUE_API_KEY'] %>
  trello:
    app_key: <%= ENV['TRELLO_APP_KEY'] %>
    api_token: <%= ENV['TRELLO_API_TOKEN'] %>
    rollbar_list_id: <%= ENV['TRELLO_ROLLBAR_LIST_ID'] %>
    engineering_board_id: <%= ENV['TRELLO_ENGINEERING_BOARD_ID'] %>
    bug_label_id: <%= ENV['TRELLO_BUG_LABEL_ID'] %>
  codecov_access_token: <%= ENV['CODECOV_ACCESS_TOKEN'] %>
  codecov_graphing_token: <%= ENV['CODECOV_GRAPHING_TOKEN'] %>
  github:
    access_token: <%= ENV['GITHUB_ACCESS_TOKEN'] %>
  cookie_domain: <%= ENV['COOKIE_DOMAIN'] %>
  google:
    recaptcha:
      invisible:
        site_key: <%= ENV['GOOGLE_RECAPTCHA_INVISIBLE_SITE_KEY'] %>
        secret_key: <%= ENV['GOOGLE_RECAPTCHA_INVISIBLE_SECRET_KEY'] %>
  intercom:
    prune_segments:
      archive: <%= ENV['INTERCOM_PRUNE_SEGMENTS_ARCHIVE'] %>
      delete: <%= ENV['INTERCOM_PRUNE_SEGMENTS_DELETE'] %>
  slack:
    name: <%= ENV['SLACK_NAME'] %>
    app:
      client_id: "<%= ENV['SLACK_APP_CLIENT_ID'] %>"
      client_secret: <%= ENV['SLACK_APP_CLIENT_SECRET'] %>
      oauth_token: <%= ENV['SLACK_APP_OAUTH_TOKEN'] %>
      bot_oauth_token: <%= ENV['SLACK_APP_BOT_OAUTH_TOKEN'] %>
    channels:
      public: <%= ENV['SLACK_CHANNELS_PUBLIC'] %>
      private: <%= ENV['SLACK_CHANNELS_PRIVATE'] %>
    team_ids:
      public_slack: <%= ENV['SLACK_TEAM_IDS_PUBLIC_SLACK'] %>

development:
  secret_key_base: "2ab04e6d7919f4f9fd1e25d41455aa26ad21c2a8d053bc00ac02db4d424d97e0716105c620907e6d829329fe275d52673117d432d6d00c9052bec26a82b2de3f"
  <<: *common

test:
  secret_key_base: "fc12d0f63b32c108fad70c1ed5e2502860ea4d59ca8c51f5606c0ff2d8a6eed8ed66bb090e6040b91eccf789d76651b17b5bf522e3611f18967b514560b028de"
  instamojo_url: 'https://www.example.com'
  instamojo_api_key: 'API_KEY'
  instamojo_auth_token: 'AUTH_TOKEN'
  instamojo_salt: 'TEST_SALT'
  slack_token: 'xxxxxx'
  slack_general_webhook_url: 'http://example.com/slack'
  intercom_access_token: 'test_intercom_access_token'
  sendinblue_api_key: 'test_sendinblue_api_key'
  intercom:
    prune_segments:
      archive: <%= '{"Stale Applicants - Last Seen Known":"Stale Applicants","Stale Applicants - Last Seen Unknown":"Stale Applicants","Stale Leads - Email - Last Seen Known":"Stale Leads","Stale Leads - Email - Last Seen Unknown":"Stale Leads"}' %>
      delete: <%= '["Clean Up Leads - Delete often","Clean Up Leads - Delete often 2"]' %>

# Do not keep production secrets in the repository,
# instead read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.
production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  <<: *common
