# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
common: &common
  slack_memberships_webhook_url: <%= ENV['SLACK_MEMBERSHIPS_WEBHOOK_URL'] %>
  delete_inactive_users_after: <%= ENV['DELETE_INACTIVE_USERS_AFTER'].to_i %>
  slack_token: <%= ENV['SLACK_APP_BOT_OAUTH_TOKEN'] %>
  aws:
    access_key_id: <%= ENV['AWS_ACCESS_KEY_ID'] %>
    secret_access_key: <%= ENV['AWS_SECRET_ACCESS_KEY'] %>
    bucket: <%= ENV['AWS_BUCKET'] %>
    region: <%= ENV['AWS_REGION'] %>
  trello:
    app_key: <%= ENV['TRELLO_APP_KEY'] %>
    api_token: <%= ENV['TRELLO_API_TOKEN'] %>
    rollbar_list_id: <%= ENV['TRELLO_ROLLBAR_LIST_ID'] %>
    engineering_board_id: <%= ENV['TRELLO_ENGINEERING_BOARD_ID'] %>
    bug_label_id: <%= ENV['TRELLO_BUG_LABEL_ID'] %>
  slack:
    name: <%= ENV['SLACK_NAME'] %>
    app:
      client_id: "<%= ENV['SLACK_APP_CLIENT_ID'] %>"
      client_secret: <%= ENV['SLACK_APP_CLIENT_SECRET'] %>
      oauth_token: <%= ENV['SLACK_APP_OAUTH_TOKEN'] %>
      bot_oauth_token: <%= ENV['SLACK_APP_BOT_OAUTH_TOKEN'] %>
    channels:
      public: <%= ENV['SLACK_CHANNELS_PUBLIC'] %>
      private: <%= ENV['SLACK_CHANNELS_PRIVATE'] %>
    team_ids:
      public_slack: <%= ENV['SLACK_TEAM_IDS_PUBLIC_SLACK'] %>
  sso_domain: <%= ENV['SSO_DOMAIN'] %>
  max_daily_markdown_attachments: <%= ENV['MAX_DAILY_MARKDOWN_ATTACHMENTS']&.to_i || 50 %>
  default_sender_email_address: <%= ENV['DEFAULT_SENDER_EMAIL_ADDRESS'] %>
  multitenancy: <%= ENV['MULTITENANCY'] == 'on' %>
  vimeo_access_token: <%= ENV['VIMEO_ACCESS_TOKEN'] %>
  vimeo_account_type: <%= ENV['VIMEO_ACCOUNT_TYPE'] || 'basic' %>
  webhook_read_timeout: <%= ENV['WEBHOOK_READ_TIMEOUT']&.to_i || 30 %>
  vapid_public_key: <%= ENV['VAPID_PUBLIC_KEY'] %>
  vapid_private_key: <%= ENV['VAPID_PRIVATE_KEY'] %>

development:
  secret_key_base: "2ab04e6d7919f4f9fd1e25d41455aa26ad21c2a8d053bc00ac02db4d424d97e0716105c620907e6d829329fe275d52673117d432d6d00c9052bec26a82b2de3f"
  <<: *common

test:
  aws:
    access_key_id: test_access_key
    secret_access_key: test_secret_access_key
    bucket: test-bucket
    region: us-east-1
  sso_domain: sso.test.host
  secret_key_base: "fc12d0f63b32c108fad70c1ed5e2502860ea4d59ca8c51f5606c0ff2d8a6eed8ed66bb090e6040b91eccf789d76651b17b5bf522e3611f18967b514560b028de"
  slack_token: "BOT_OAUTH_TOKEN"
  slack_general_webhook_url: "http://example.com/slack"
  slack:
    name: "sv"
    app:
      client_id: "CLIENT_ID"
      client_secret: "CLIENT_SECRET"
      oauth_token: "OAUTH_TOKEN"
      bot_oauth_token: "BOT_OAUTH_TOKEN"
    team_ids:
      public_slack: "XYZ1234"
    channels:
      public:
        - public-channel
      private:
        - private-channel
  max_daily_markdown_attachments: 10
  default_sender_email_address: test@example.com
  multitenancy: false
  vapid_public_key: <%= ENV['VAPID_PUBLIC_KEY'].presence || "vapid_public_key" %>
  vapid_private_key: <%= ENV['VAPID_PRIVATE_KEY'].presence || "vapid_private_key" %>

# Do not keep production secrets in the repository,
# instead read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.
production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  <<: *common
