@import 'variables';

// The navbar shouldn't have any margin on this page.
.navbar { margin-bottom: 0; }

// The prefooter shouldn't have any margin either; - appears to be unused ?
// section#prefooter { margin-top: 0; }

#faculty {
  //font-family: Roboto, sans-serif;
  background-color: $faculty-bg-color;

  .introduction {
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
  }

  #tabbed-content {
    margin-top: 30px;

    .tab-title {
      text-transform: uppercase;
      font-weight: 600;
    }

    li.active {
      .tab-title {
        border: 1px solid $faculty-bg-color;
        border-bottom: 3px solid $active-tab-highlight;
        background-color: $faculty-bg-color;
      }
    }

    #faculty-nav {
      margin-bottom: 30px;

      .inactive-spacer {
        height: 100%;
        user-select: none;
        color: $faculty-bg-color;

        @media screen and (max-width: 767px) { display: none; }

        &:hover {
          cursor: default;
          background-color: initial;
          border: 1px solid $faculty-bg-color;
          border-bottom: 1px solid $bootstrap-tab-underline;
        }
      }
    }

    .faculty-cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .faculty-card {
        position: relative;
        background-color: white;
        width: 200px;
        border-bottom: 2px solid $faculty-card-bottom-border;
        margin: 0 22px 45px;
        padding-bottom: 15px;
        border-radius: 5px;
        overflow: hidden;

        .faculty-image {
          display: block;
          position: relative;

          &:before {
            content:'';
            width:100%;
            height:100%;
            top:0;
            left:0;
            position: absolute;
            opacity: 0;
            transition: all .2s;
            background:rgba(0,0,0,0.5);
            background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
          }
        }

        img {
          width: 200px;
          height: 240px;
        }

        .faculty-info {
          text-align: center;

          .faculty-name {
            text-transform: uppercase;
            margin-top: 15px;
            font-weight: 600;

            a {
              text-decoration: none;
              transition: all .2s;

              &:hover {
                color: #369cc6;
              }
            }
          }

          .faculty-title {
            margin-top: 6px;
            font-size: 11px;
            font-weight: 300;
          }

          .faculty-key-skills {
            margin-top: 6px;
            font-size: 11px;
            font-style: italic;
          }

          .faculty-links {
            margin-top: 6px;

            a { margin-right: 10px; }
            :last-child { margin-right: 0; }
          }
          .founder-profile-btn {
            margin-top: 10px;

            a {
              display: inline-block;
              padding: 5px 10px;
              font-size: 11px;
              color: $theme-dark-green;
              border: 1px solid $theme-dark-green;
              border-radius: 20px;
              text-decoration: none;
              transition: all .2s;

              &:hover, &:focus {
                outline: 0;
                background-color: $theme-dark-green;
                color: white;
              }
            }
          }
        }
        .btn-view-profile {
          font-weight: bold;
          position: absolute;
          left: 50%;
          top: 0;
          width: 100%;
          display: block;
          padding: 7px 10px;
          font-size: 12px;
          background-color: rgba(0, 0, 0, 0.4);
          color: #a0d190;
          border: 1px solid rgba(127,151,92,0.6);
          border-width: 0 0 1px 0;
          border-radius: 0;
          text-decoration: none;
          opacity: 0;
          transition: all 0.3s;
          transform: translateX(-50%);
        }
        &:hover {
          box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);

          .faculty-image {
            &:before {
              opacity: 1;
            }
          }
          .btn-view-profile {
            opacity: 1;

            &:hover {
              background-color: $theme-dark-green;
              color: white;
            }
          }
        }
      }
    }
  }
}

.available-marker {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 202px;
  left: 31px;
  display: inline-block;
  padding: 3px 9px;
  border-radius: 20px;
  border: 1px solid $theme-dark-green;
  background-color: $theme-dark-green;
  color: whitesmoke;
  font-size: 85%;
}

.connect-link { margin-top: 8px; }

.faculty-connect-modal { text-align: left; }
