.faculty-profile-bg {
  background-color: #f7f8fa;
  padding: 20px 0;
}
.faculty-profile-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  padding: 0;
  overflow: hidden;

  .faculty-profile-image {
    border-bottom: 2px solid #7f975c;
    width: 100%;
  }
  .faculty-profile-title {
    margin: 12px 0;
    h3 {
      font-size: 20px;
      color: $theme-dark-green;
      margin: 0;
      padding-bottom: 4px;
    }
    .faculty-designation {
      color: $theme-dark-green;
      font-size: 13px;
      margin: 0;
    }
  }
  .faculty-since {
    background-color: #fafafa;
    border: 1px dashed #dcdcdc;
    border-width: 1px 0;
    padding: 10px;
    font-size: 14px;
    color: #878787;
  }
  .faculty-profile-card-footer {
    .faculty-card-links {
      a {
        display: inline-block;
        padding: 15px 25px;
        font-size: 16px;
        vertical-align: middle;
        text-align: center;
        border-right: 1px dashed #dcdcdc;
        outline: 0;
        transition: all .2s;

        &:hover, &:focus {
          background-color: #0077b5;
          color: white;
        }
      }
    }
    .faculty-rating {
      padding: 17px 10px 16px;

      em {
        font-size: 12px;
        color: #818181;
      }
      .rating-starts {
        padding-left: 10px;
        vertical-align: middle;

        i {
          padding-left: 5px;
          color: #8a92db;
        }
      }
    }
  }
}
.faculty-profile-right {
  padding: 0;

  @media (min-width: $screen-sm-min) {
    padding: 0 0 0 25px;
  }

  .faculty-profile-details {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);

    h3 {
      font-size: 14px;
      color: #0077b5;
      letter-spacing: 0.02em;
      margin: 0;
      padding: 20px;
      border-bottom: 1px solid #e6e6e6;
    }

    .faculty-summary {
      background-color: white;
      padding: 0;
      border-right: 1px solid #e5e5e5;

      .faculty-summary-section {
        font-size: 14px;
        color: #333;
        padding: 20px 20px 10px;
        font-weight: 300;
        letter-spacing: 0.02em;
        border-bottom: 1px dashed #e5e5e5;

        h4 {
          font-size: 13px;
          color: #333;
          padding-left: 20px;
          margin: 0 0 15px;
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 13px 14px;

          &.about-icon {
            background-image: asset-url("faculty/about-icon.svg");
          }
          &.skills-icon {
            background-image: asset-url("faculty/skills-icon.svg");
          }
        }
        p {
          padding-left: 20px;
          line-height: 22px;
        }
        .skill-box {
          span {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 8px;
            padding: 2px 6px;
            background-color: #f5f5f5;
            border: 1px solid #eae7e7;
            border-radius: 5px;
          }
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
    .faculty-connect {
      padding: 0;
      background-color: #fbfbfb;

      .online-signal {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-top: 3px;

        &.online {
          background-color: #10ab5c;
        }
        &.offline {
          background-color: #bfcacd;
        }
      }

      .faculty-connect-availability {
        padding: 20px;
        border-bottom: 1px solid #e6e6e6;

        .time-commitment {
          font-size: 12px;
          color: #333;
          letter-spacing: 0.02em;
          line-height: 16px;

          span {
            font-size: 13px;
            display: block;
            color: #0077b5;
          }
        }
        .faculty-connect-link {
          .faculty-connect-btn {
            border-radius: 20px;
            background-color: white;
            color: $theme-dark-green;
            border-color: $theme-dark-green;
            padding: 5px 20px;
            margin: 1px 0 0;
            letter-spacing: 0.02em;
            font-weight: 400;

            &.disabled {
              border-color: #ccc;
              color: #ccc;
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
              padding: 5px 15px;
            }
          }
        }
      }
      .faculty-flags {
        clear: both;
        padding-top: 15px;

        span {
          margin-right: 8px;
          border-radius: 20px;
          color: white;
          letter-spacing: 0.02em;
          display: inline-block;
          font-size: 12px;
          padding: 3px 8px;

          &.time-commitment-flag {
            background-color: #a0c0da;
          }
          &.compensation-flag {
            background-color: #a0d190;
          }
        }
      }
      .past-connect-sessions {
        .connect-session-box {
          max-height: 400px;
          height: 400px;
          position: relative;
          overflow: auto;

          .connect-session {
            border-bottom: 1px solid #eeeeee;
            padding: 15px 20px;
            color: #6a6a6a;
            cursor: pointer;
            transition: all .2s;

            .date-box {
              width: 60px;
              height: 60px;
              border-radius: 5px;
              background-color: white;
              border: 1px solid #d9d9d9;
              overflow: hidden;
              position: relative;
              padding: 5px 0;

              span {
                font-weight: 400;
                display: block;
                font-size: 11px;
                line-height: 13px;

                &.date {
                  font-size: 20px;
                  font-weight: 600;
                  display: inline-block;
                  padding: 0 7px 6px;
                  margin-bottom: 2px;
                  border-bottom: 1px solid #d9d9d9;
                }
              }
            }
            .company-name {
              font-size: 14px;
              letter-spacing: 0.02em;
              display: inline-block;
              padding: 0 10px 5px 0;
              margin-bottom: 3px;
              border-bottom: 1px solid #d9d9d9;
            }
            p {
              font-size: 12px;
              height: 35px;
              width: 160px;
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;

            }
            &:hover, &:focus {
              background-color: #f5f3f3;
            }
          }
          @media (max-width: $screen-sm-max) {
            height: auto;
            max-height: none;
          }
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      display: block;
    }
  }
  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }
}
