.weekly-slots__connect-slot {
  display: inline-block;
  padding: 6px;
  border: 1px solid grey;
  margin: 3px;
  cursor: pointer;
}

.weekly-slots__connect-slot--selected {
  background-color: green;
  color: white;
}

.weekly-slots__connect-slot--requested {
  background-color: grey;
  color: white;
  cursor: not-allowed;

  &:hover {
    text-decoration: none;
    color: white;
  }
}
