.school-index__cover-default {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.school-index__about {
  min-height: 12.5rem;
  background-image: url('./images/school-index-about-bg.svg');
  background-blend-mode: soft-light;
}

.school-index-featured-courses__header:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 5px;
  border-radius: 20px;
  background-color: theme(colors.primary.500);
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.school-index-course__cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.school-index-course__title-container {
  background: rgba(0, 0, 0, 0.3);
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.school-index-course__title {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.school-index-course__description {
  min-height: 4.5rem;
}
