<% classes = 'p-2 m-2 border-4 border-black border-dotted' %>

<div class="<%= classes %>">
  <p>This is a <code>div</code> styled with TailwindCSS.</p>
  <p>It has the classes <code><%= classes %></code>.</p>
</div>
