<div class="h-screen flex-1 flex flex-col bg-grey-lightest overflow-hidden">
  <div
    class="flex px-6 py-2 items-center justify-between overflow-y-scroll">
    <button
      class="max-w-md w-full flex mx-auto items-center justify-center relative bg-grey-lighter hover:bg-grey-light hover:shadow-md border-2 border-dashed p-6 rounded-lg mt-20 cursor-pointer"
    >
      <i class="material-icons">add_circle_outline</i>
      <h4 class="font-semibold ml-2">Add New Question</h4>
    </button>
  </div>

  <div
    class="px-6 pb-4 mt-5 flex flex-1 bg-grey-lightest overflow-y-scroll">
    <div class="max-w-md w-full mx-auto relative">
      <% @community.questions.map do |question| %>
        <div class="flex items-center shadow bg-white rounded-lg overflow-hidden mb-4">
          <div class="flex w-full">
            <a class="cursor-pointer flex flex-1 items-center py-4 px-4 hover:bg-grey-lighter">
              <div class="w-full flex justify-between text-sm">
              <span class="text-black font-semibold">
                <%= question.title %>
              </span>
              </div>

              <span class="flex items-center pl-4 text-black font-semibold">
                <i class="material-icons mr-2 ">comment</i>
                <%= question.answers.count %>
              </span>

              <span class="flex items-center pl-4 text-black font-semibold">
                <i class="material-icons mr-2 ">add_circle_outline</i>
                <%= question.answers.count %>
              </span>

            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
