body {
    font-family: 'Nunito Sans', sans-serif;
    color: #3A3F52;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.home-hero {
    height: 28rem;
}

.hero-heading-text {
    font-size: 2.75rem;
    line-height: 0.91;
}

.hero-heading-text__xl {
    font-size: 4rem;
}

.home-content {
    background-color: #F6F9FC;
}

.home-content--register {
    background-color: white;
    border-radius: 1.25rem;
}

footer {}

@screen lg {
    .hero-heading-text {
        font-size: 3.875rem;
    }
    .hero-heading-text__xl {
        font-size: 6.75rem;
    }
}