<div class="container mx-auto">
  <picture class="flex flex-col px-4 pt-5 items-center">
    <%= image_tag 'layouts/errors/error-500.svg', class: 'md:w-3/5', alt: 'Internal server error' %>
  </picture>
  <div class="max-w-3xl mx-auto text-center px-4 pb-4">
    <h1>We're sorry, but something went wrong.</h1>

    <p class="my-3 text-sm leading-normal">
      Our server seem to have hit a snag while trying to process your request. We track these errors automatically, but
      if the problem persists feel free to contact us. In the meantime, try reloading the page.
    </p>
  </div>
</div>
