<div class="container mx-auto">
    <picture class="flex flex-col px-4 pt-5 items-center">
      <%= image_tag 'layouts/errors/error-404.svg', class: 'md:w-3/5', alt: 'Page not found' %>
    </picture>
    <div class="max-w-lg mx-auto text-center px-4 pb-4">
        <h1>The page you were looking for doesn't exist!</h1>
        <p class="my-3 text-sm leading-normal">You may have mistyped the address,
            or the page may have moved.
            <br/>
            Try heading back to our homepage?
        </p>
    </div>
  </div>
</div>
