<div class="container mx-auto">
  <picture class="flex flex-col px-4 pt-5 items-center">
    <%= image_tag 'layouts/errors/error-404.svg', class: 'md:w-3/5', alt: 'Page not found' %>
  </picture>
  <div class="max-w-3xl mx-auto text-center px-4 pb-4">
    <h1><%= t(".not_exist") %></h1>
    <p class="mt-3 text-sm leading-normal">
      <%= t(".mistyped_moved") %>
    </p>
    <p class="mt-1 mb-3 text-sm leading-normal">
      <%= t(".try_homepage") %>
    </p>
  </div>
</div>
