<div class="container mx-auto">
  <picture class="flex flex-col px-4 pt-5 items-center">
    <%= image_tag 'layouts/errors/error-500.svg', class: 'md:w-3/5', alt: 'Internal server error' %>
  </picture>
  <div class="max-w-3xl mx-auto text-center px-4 pb-4">
    <h1>Your browser made an invalid request.</h1>

    <p class="my-3 text-sm leading-normal">
      <em>Something</em> about the request that your browser sent wasn&rsquo;t valid. We track these errors
      automatically, but if the problem persists feel free to contact us. In the meantime, try reloading the page.
    </p>
  </div>
</div>
