<%
  reset_password_url = reset_password_url(@url_options)
%>

<% content_for :salutation do %>
  Hello <%= @user.name %>,
<% end %>

<% content_for :body do %>

  <p>
   We received a request to reset your <%= @school_name %> password.
  </p>

  <p>
    Please <%= link_to "click here", reset_password_url %> to change your password.
  </p>

  <%= render 'mailers/link_fallback', url: reset_password_url%>

<% end %>
