<%
  login_url = user_token_url(@url_options)
%>

<% content_for :salutation do %>
  Hello,
<% end %>

<% content_for :body do %>
  <p>
    Please <%= link_to 'click here', login_url%> to login to your <%= @school_name%> account.
  </p>

  <%= render 'mailers/link_fallback', url: login_url%>

  <p>
    Please note that this is a private URL and should not be shared.
  </p>
<% end %>

<% content_for(:signature) do %>
  <div>
    <%= @school_name %>
  </div>
<% end %>
