<% content_for :title do %>
  Set your first password
<% end %>

<% content_for :subtitle do %>
  You have been enrolled to a course on <%= @school.name %>.
<% end %>

<% content_for :title_button_text do %>
  Set first password
<% end %>

<% content_for(:title_button_link, @first_password_url) %>

<% content_for :salutation do %>
  Hi <%= @user.name %>,
<% end %>

<% content_for :body do %>
  <p>
    We have noticed that you don't have a password on our platform yet.
    Please, to start on your course set your first password.
  </p>

  <%= render 'mailers/link_fallback', url: @first_password_url %>
<% end %>
