<% content_for :title do %>
  Activate your account at Growth Tribe
<% end %>

<% content_for :subtitle do %>
  You have been enrolled to a course on <%= @school.name %>.
<% end %>

<% content_for :title_button_text do %>
  Set first password
<% end %>

<% content_for(:title_button_link, @first_password_url) %>

<% content_for :salutation do %>
  Hi <%= @user.name %>,
<% end %>

<% content_for :body do %>
  <p>
    We are excited to welcome you to our Learning Management System! This is where we will host all your learning journey materials and exercises. In order to access the platform, please set up your first password. If you are unable to click the link above, please copy and paste the following link into your browser's address bar.
  </p>


  <p class="monospace"><%= @first_password_url %></p>


  <p> If you have any troubles setting up your account, please contact operations@growthtribe.nl. </p>

<% end %>
