body {
  font-family: 'Open Sans', sans-serif;
  color: #3A3F52;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  height: 28rem;
}

.hero__heading-text {
  font-size: 2.75rem;
  line-height: 0.91;
}

.hero__heading-text-xl {
  font-size: 4rem;
}

.content {
  background-color: #F6F9FC;
}

.content__register {
  border-radius: 1.25rem;
}

.footer__social-list {
  line-height: 0;
}

.footer__social-list__icon:hover {
  @apply opacity-100;
}

@screen lg {
  .hero__heading-text {
    font-size: 3.875rem;
  }
  .hero__heading-text-xl {
    font-size: 6.75rem;
  }
}