/* Checkbox */

.checkbox__label {
  @apply select-none .cursor-pointer;
}

.checkbox__label span {
  @apply inline-block align-middle;
  transform: translate3d(0, 0, 0);
}

.checkbox__label span:first-child {
  @apply relative rounded align-middle border border-gray-500 bg-white w-4 h-4 mr-3;
  transform: scale(1);
  transition: all 0.2s ease;
}

.checkbox__label span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox__label span:first-child:before {
  content: "";
  @apply bg-primary-500 w-full h-full block opacity-100 rounded-full;
  transform: scale(0);
}

.checkbox__label:hover span:first-child {
  @apply bg-primary-100 border-primary-500;
}

.checkbox__input:checked + .checkbox__label span:first-child {
  @apply bg-primary-500 border-primary-500;
  animation: wave 0.4s ease;
}

.checkbox__input:checked + .checkbox__label span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox__input:checked + .checkbox__label span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
