.help-icon__help-container {
  width: 24ch;
}

.help-icon__help-container--center {
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

@screen md {
  .help-icon__help-container {
    width: 28ch;
  }
  .help-icon__help-container--md-center {
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
}
