/*
 * Template styling that should be
 * inherited by specific profile classes;
 */

.markdown-block {
  @apply break-words;
}

/*
 * Permissive styling used in learn section and its preview
 * in the school admin section.
 */

.markdown-block__permissive p {
  @apply py-2 leading-relaxed;
}

.markdown-block__permissive h1 {
  @apply text-4xl pt-6 leading-snug;
}

.markdown-block__permissive h2 {
  @apply text-2xl pt-6 leading-snug;
}

.markdown-block__permissive h3 {
  @apply text-xl pt-6 leading-snug;
}

.markdown-block__permissive h4 {
  @apply text-lg pt-6 leading-snug;
}

.markdown-block__permissive h5 {
  @apply text-sm pt-6 leading-snug;
}

.markdown-block__permissive h6 {
  @apply text-xs pt-6 leading-snug;
}

.markdown-block__permissive em {
  @apply italic;
}

.markdown-block__permissive b,
.markdown-block__permissive strong {
  @apply font-bold;
}

.markdown-block__permissive s,
.markdown-block__permissive del {
  @apply line-through;
}

.markdown-block__permissive ul {
  @apply ml-7 pt-3 list-disc;
}

@screen md {
  .markdown-block__permissive ul {
    @apply pt-3 list-disc ml-10;
  }
}

.markdown-block__permissive ol {
  @apply ml-7 pt-3 list-decimal;
}

@screen md {
  .markdown-block__permissive ol {
    @apply pt-3 list-decimal ml-10;
  }
}

.markdown-block__permissive li {
  @apply pb-2 leading-relaxed;
}

.markdown-block__permissive a {
  @apply text-primary-500 underline font-semibold whitespace-pre-line;
  word-break: break-word;
}

.markdown-block__permissive a:hover {
  @apply bg-primary-100 text-primary-600;
}

.markdown-block__permissive blockquote {
  @apply border-l-4 border-gray-800 bg-gray-100 px-4 py-2 my-4 text-lg rounded-r font-semibold text-gray-800;
}

.markdown-block__permissive blockquote code,
.markdown-block__permissive blockquote pre {
  @apply font-normal text-sm;
}

.markdown-block__permissive hr {
  @apply border-t border-gray-400 mt-6 pb-2;
}

.markdown-block__permissive sup {
  font-size: 75%;
  line-height: 0;
  @apply relative align-baseline;
  top: -0.5em;
}

.markdown-block__permissive sub {
  font-size: 75%;
  line-height: 0;
  bottom: -0.25em;
  @apply relative align-baseline;
}

.markdown-block__permissive img {
  @apply mx-auto;
}

.markdown-block__permissive table {
  @apply block pt-2 w-full table-auto overflow-auto border-collapse;
}

.markdown-block__permissive table th {
  @apply bg-gray-200 px-4 py-2 border border-gray-400 font-semibold;
}

.markdown-block__permissive table tr {
  @apply bg-white border-t border-gray-400;
}

.markdown-block__permissive table td {
  @apply px-4 py-2 border border-gray-400;
}

.markdown-block__permissive img[align="left"] {
  @apply py-4 pr-6;
}

.markdown-block__permissive img[align="right"] {
  @apply py-4 pl-6;
}

.markdown-block__permissive .text-align-center {
  @apply text-center;
}

/*
 * Styling used in questions and answer blocks in the
 * community section.
 */

.markdown-block__question-and-answer p {
  @apply py-2 leading-relaxed;
}

.markdown-block__question-and-answer h1 {
  @apply text-4xl pt-6 leading-snug;
}

.markdown-block__question-and-answer h2 {
  @apply text-2xl pt-6 leading-snug;
}

.markdown-block__question-and-answer h3 {
  @apply text-xl pt-6 leading-snug;
}

.markdown-block__question-and-answer h4 {
  @apply text-lg pt-6 leading-snug;
}

.markdown-block__question-and-answer h5 {
  @apply text-sm pt-6 leading-snug;
}

.markdown-block__question-and-answer h6 {
  @apply text-xs pt-6 leading-snug;
}

.markdown-block__question-and-answer em {
  @apply italic;
}

.markdown-block__question-and-answer b,
.markdown-block__question-and-answer strong {
  @apply font-bold;
}

.markdown-block__question-and-answer s,
.markdown-block__question-and-answer del {
  @apply line-through;
}

.markdown-block__question-and-answer ul {
  @apply ml-7 pt-3 list-disc;
}

.markdown-block__question-and-answer ol {
  @apply ml-7 pt-3 list-decimal;
}

.markdown-block__question-and-answer li {
  @apply pb-2 leading-relaxed;
}

.markdown-block__question-and-answer a {
  @apply text-primary-500 underline font-semibold whitespace-pre-line;
  word-break: break-word;
}

.markdown-block__question-and-answer a:hover {
  @apply bg-primary-100 text-primary-600;
}

.markdown-block__question-and-answer blockquote {
  @apply border-l-4 border-gray-800 bg-gray-100 px-4 py-2 my-4 text-lg rounded-r font-semibold text-gray-800;
}

.markdown-block__question-and-answer hr {
  @apply border-t border-gray-400 mt-6 pb-2;
}

.markdown-block__question-and-answer sup {
  font-size: 75%;
  line-height: 0;
  @apply relative align-baseline;
  top: -0.5em;
}

.markdown-block__question-and-answer sub {
  font-size: 75%;
  line-height: 0;
  @apply relative align-baseline;
  bottom: -0.25em;
}

.markdown-block__question-and-answer img {
  @apply mx-auto;
}

.markdown-block__question-and-answer .text-align-center {
  @apply text-center;
}

/*
 * Styling used in root
 */

.markdown-block__area-of-text p {
  @apply py-2 leading-relaxed;
}
