/*
 * Template styling that should be
 * inherited by specific profile classes;
 */

.markdown-block {
  overflow-wrap: break-word;
}

.markdown-block__p {
  @apply py-2;
}

.markdown-block__h1 {
  font-size: 2rem;
  @apply pt-6 leading-snug;
}

.markdown-block__h2 {
  font-size: 1.5rem;
  @apply pt-6 leading-snug;
}

.markdown-block__h3 {
  font-size: 1.17rem;
  @apply pt-6 leading-snug;
}

.markdown-block__h4 {
  font-size: 1.125rem;
  @apply pt-6 leading-snug;
}

.markdown-block__h5 {
  font-size: 0.875rem;
  @apply pt-6 leading-snug;
}

.markdown-block__h6 {
  font-size: 0.75rem;
  @apply pt-6 leading-snug;
}

.markdown-block__em {
  font-style: italic;
}

.markdown-block__strong {
  @apply font-bold;
}

.markdown-block__ul {
  @apply ml-7 pt-3 list-disc;
}

.markdown-block__ol {
  @apply ml-7 pt-3 list-decimal;
}

.markdown-block__li {
  @apply pb-2;
}

.markdown-block__strikethrough {
  @apply line-through;
}

.markdown-block__a {
  @apply text-primary-500 underline font-semibold whitespace-pre-line;
  word-break: break-word;
}

.markdown-block__blockquote {
  @apply border-l-4 border-gray-800 bg-gray-100 px-4 py-2 my-4 text-lg rounded-r font-semibold text-gray-800;
}

.markdown-block__hr {
  @apply border-t border-gray-400 mt-6 pb-2;
}

.markdown-block__sup-sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-block__img {
  @apply mx-auto;
}

.markdown-block__table {
  @apply block pt-2 w-full table-auto overflow-auto;
  border-spacing: 0;
}

.markdown-block__table-th {
  @apply bg-gray-200 px-4 py-2 border border-gray-400 font-semibold;
}

.markdown-block__table-tr {
  @apply bg-white border-t border-gray-400;
}

.markdown-block__table-td {
  @apply px-4 py-2 border border-gray-400;
}

/*
 * Permissive styling used in learn section and its preview
 * in the school admin section.
 */

.markdown-block__permissive p {
  @apply markdown-block__p leading-relaxed;
}

.markdown-block__permissive h1 {
  @apply markdown-block__h1;
}

.markdown-block__permissive h2 {
  @apply markdown-block__h2;
}

.markdown-block__permissive h3 {
  @apply markdown-block__h3;
}

.markdown-block__permissive h4 {
  @apply markdown-block__h4;
}

.markdown-block__permissive h5 {
  @apply markdown-block__h5;
}

.markdown-block__permissive h6 {
  @apply markdown-block__h6;
}

.markdown-block__permissive em {
  @apply markdown-block__em;
}

.markdown-block__permissive b,
.markdown-block__permissive strong {
  @apply markdown-block__strong;
}

.markdown-block__permissive s,
.markdown-block__permissive del {
  @apply markdown-block__strikethrough;
}

.markdown-block__permissive ul {
  @apply markdown-block__ul;
}

@screen md {
  .markdown-block__permissive ul {
    @apply markdown-block__ul ml-10;
  }
}

.markdown-block__permissive ol {
  @apply markdown-block__ol;
}

@screen md {
  .markdown-block__permissive ol {
    @apply markdown-block__ol ml-10;
  }
}

.markdown-block__permissive li {
  @apply markdown-block__li leading-relaxed;
}

.markdown-block__permissive a {
  @apply markdown-block__a;
}

.markdown-block__permissive a:hover {
  @apply bg-primary-100 text-primary-600;
}

.markdown-block__permissive blockquote {
  @apply markdown-block__blockquote;
}

.markdown-block__permissive blockquote code,
.markdown-block__permissive blockquote pre {
  @apply font-normal text-sm;
}

.markdown-block__permissive hr {
  @apply markdown-block__hr;
}

.markdown-block__permissive sup {
  @apply markdown-block__sup-sub;
  top: -0.5em;
}

.markdown-block__permissive sub {
  @apply markdown-block__sup-sub;
  bottom: -0.25em;
}

.markdown-block__permissive img {
  @apply markdown-block__img;
}

.markdown-block__permissive table {
  @apply markdown-block__table;
}

.markdown-block__permissive table th {
  @apply markdown-block__table-th;
}

.markdown-block__permissive table tr {
  @apply markdown-block__table-tr;
}

.markdown-block__permissive table td {
  @apply markdown-block__table-td;
}

.markdown-block__permissive img[align="left"] {
  @apply py-4 pr-6;
}

.markdown-block__permissive img[align="right"] {
  @apply py-4 pl-6;
}

/*
 * Styling used in questions and answer blocks in the
 * community section.
 */

.markdown-block__question-and-answer p {
  @apply markdown-block__p leading-relaxed;
}

.markdown-block__question-and-answer h1 {
  @apply markdown-block__h1;
  font-size: 1.5rem;
}

.markdown-block__question-and-answer h2 {
  @apply markdown-block__h2;
  font-size: 1.25rem;
}

.markdown-block__question-and-answer h3 {
  @apply markdown-block__h3;
  font-size: 1.125rem;
}

.markdown-block__question-and-answer h4 {
  @apply markdown-block__h4;
  font-size: 1rem;
}

.markdown-block__question-and-answer h5 {
  @apply markdown-block__h5;
  font-size: 0.875rem;
}

.markdown-block__question-and-answer h6 {
  @apply markdown-block__h6;
  font-size: 0.75rem;
}

.markdown-block__question-and-answer em {
  @apply markdown-block__em;
}

.markdown-block__question-and-answer b,
.markdown-block__question-and-answer strong {
  @apply markdown-block__strong;
}

.markdown-block__question-and-answer s,
.markdown-block__question-and-answer del {
  @apply markdown-block__strikethrough;
}

.markdown-block__question-and-answer ul {
  @apply markdown-block__ul;
}

.markdown-block__question-and-answer ol {
  @apply markdown-block__ol;
}

.markdown-block__question-and-answer li {
  @apply markdown-block__li leading-relaxed;
}

.markdown-block__question-and-answer a {
  @apply markdown-block__a;
}

.markdown-block__question-and-answer a:hover {
  @apply bg-primary-100 text-primary-600;
}

.markdown-block__question-and-answer blockquote {
  @apply markdown-block__blockquote;
}

.markdown-block__question-and-answer hr {
  @apply markdown-block__hr;
}

.markdown-block__question-and-answer sup {
  @apply markdown-block__sup-sub;
  top: -0.5em;
}

.markdown-block__question-and-answer sub {
  @apply markdown-block__sup-sub;
  bottom: -0.25em;
}

.markdown-block__question-and-answer img {
  @apply markdown-block__img;
}

/*
 * Styling used in comments in the community section.
 */

.markdown-block__comment p {
  @apply markdown-block__p leading-relaxed;
}

.markdown-block__comment em {
  @apply markdown-block__em;
}

.markdown-block__comment b,
.markdown-block__comment strong {
  @apply markdown-block__strong;
}

.markdown-block__comment s,
.markdown-block__comment del {
  @apply markdown-block__strikethrough;
}

.markdown-block__comment a {
  @apply markdown-block__a;
}

.markdown-block__comment a:hover {
  @apply bg-primary-100 text-primary-600;
}

.markdown-block__comment sup {
  @apply markdown-block__sup-sub;
  top: -0.5em;
}

.markdown-block__comment sub {
  @apply markdown-block__sup-sub;
  bottom: -0.25em;
}

/*
 * Styling used in root
 */

.markdown-block__area-of-text p {
  @apply markdown-block__p leading-relaxed;
}
