/* Styling skeleton loading */

.skeleton-placeholder__line-sm {
  @apply rounded-full bg-gray-100;
  height: 0.625rem;
}

.skeleton-placeholder__line-md {
  @apply rounded-full bg-gray-100;
  height: 1rem;
}

.skeleton-placeholder__image {
  @apply mt-5 h-48 rounded-lg bg-gray-100;
}

.skeleton-animate {
  animation: skeletonShimmer 3s infinite linear;
  background: linear-gradient(to right, #F5F3F7 10%, #FBFAFC 40%, #F5F3F7 70%);
  background-size: 1000px 100%;
}

@keyframes skeletonShimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
