.connected-account__container {
  border: 1px solid #e5e5e5;
  background-color: white;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  box-shadow: 0 0 10px 0 #e5e5e5;
}

.connected-account_icon {
  border-right: 1px solid #e5e5e5;
  padding: 15px;
  color: #4267b2;
  font-size: 20px;
}

.connected-account-profile {
  padding: 15px;
}

.connected-account-profile__link {
  display: inline-block;
}

.connected-account-profile__avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.connected-account-profile__disconnect-btn {
  margin-left: 20px;
  border-radius: 20px;

  // @media (max-width: $screen-xs-max) {
  //   margin-top: 15px;
  //   margin-left: 0px;
  //   width: 100%;
  // }
}

.connected-account__label {
  padding-top: 10px;
  font-weight: 600;
}

.connected-account__account-icon {
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.connected-account__button-label {
  display: inline-block;
  vertical-align: middle;
}

.founder-edit__image-preview {
  max-width: 100px;
  max-height: 100px;
}
