.user-data-container {
  background-image: asset-url("founders/profile/profile-bg.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  border-bottom: 1px solid #e5e5e5;

  .user-data-card {
    padding: 45px 0;

    .profile {
      text-align: center;
      margin: auto;
      max-width: 150px;
      cursor: context-menu;

      img {
        border: 1px solid #aaaaaa;
        border-radius: 5px;
        margin: auto;
      }

      &#complete-profile-left + .tooltip > {
        .tooltip-inner {
          background-color: #faebcc;
          border-radius: 5px;
          color: #8a6d3b;
          border: 1px solid #bc995b;
          position: relative;

          &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after {
            border-color: rgba(250, 235, 204, 0);
            border-bottom-color: #faebcc;
            border-width: 5px;
            margin-left: -5px;
          }
          &:before {
            border-color: rgba(212, 176, 115, 0);
            border-bottom-color: #d4b073;
            border-width: 6px;
            margin-left: -6px;
          }
        }
      }
    }

    .profile-head {
      border-bottom: 1px solid #d2d2d2;
      padding: 5px 0 15px;
      display: flex;

      .profile-name {
        h2 {
          color: #2a6db6;
          font-size: 23px;
          margin: 0;
          position: relative;

          @media (max-width: $screen-sm-max) {
            padding: 5px 0;
          }
        }
        @media (min-width: $screen-sm-max) {
            padding-left: 0;
        }
      }
      .social-connect {
        padding: 3px 0 0;
        text-align: right;
        align-self: center;

        a {
          color: #fff;
          font-size: 16px;
          border-radius: 50%;
          display: inline-block;
          width: 25px;
          height: 25px;
          margin: 0 5px;
          line-height: 26px;
          text-align: center;
          outline: 0;
          background-color: #bbbbbb;
          transition: all .2s;

          i {
            color: #fff;
          }

          &:hover {
            background-color: #333333;
          }

          @media (max-width: $screen-sm-max) {
            width: 35px;
            height: 35px;
            line-height: 34px;
          }
        }
        @media (max-width: $screen-md-max) {
          text-align: left;
          margin-top: 10px;
        }
        @media (max-width: $screen-sm-max) {
          border-top: 1px solid #d2d2d2;
          padding-top: 15px;
          text-align: center;
        }
      }
      .founder-roll {
        color: #333333;
        font-size: 13px;
        font-weight: 300;
        display: inline-block;

        @media (max-width: $screen-sm-max) {
          display: block;
          line-height: 20px;
        }
      }
      .profile-edit-button {
        font-size: 13px;
        border: 1px solid #0091c9;
        color: #0091c9;
        padding: 3px 5px;
        border-radius: 5px;
        margin-left: 10px;
        background-color: #fff;
        text-decoration: none;
        display: inline-block;
        position: relative;
        top: -2px;

        i {
          padding-right: 3px;
        }
        &:hover {
          color: #0384b6;
          border-color: #0187ba;
        }
        @media (max-width: $screen-sm-max) {
          position: inherit;
          margin-top: 10px;
        }
      }
      @media (max-width: $screen-sm-max) {
        display: block;
      }
    }
    .progress-container {
      position: relative;
      margin: 10px 5px;

      .profile-progress {
        height: 6px;
        margin: 0 0 2px;

        .progress-bar {
          color: #000;
          line-height: 10px;
        }
        @media (max-width: $screen-md-max) {
          margin: auto;
          max-width: 145px;
        }
      }
      .progress-value {
        text-align: center;
        display: block;
        font-size: 12px;
        color: #a4a4a4;
      }
    }
    .profile-complete-button {
      font-size: 13px;
      border: 1px solid #a4a4a4;
      color: #a4a4a4;
      padding: 3px 5px;
      border-radius: 5px;
      margin: 0 5px;
      background-color: #fff;
      text-decoration: none;
      display: block;
      text-align: center;

      &:hover {
        color: #0384b6;
        border-color: #0187ba;
      }
      @media (max-width: $screen-md-max) {
        margin: auto;
        max-width: 145px;
      }
    }
    .profile-detail {
      padding-top: 15px;
      padding-bottom: 0;

      .profile-description {
        p {
          color: #6b6b6b;
        }

        .founder-email, .phone-number {
          font-size: 14px;
          color: #6b6b6b;
          margin-right: 25px;

          @media (max-width: $screen-md-max) {
            margin-right: 5px;
          }
        }

        .founder-email i, .phone-number i {
          margin-right: 10px;
          font-size: 16px;
        }

        @media (min-width: $screen-sm-max) {
          padding-left: 0;
        }
      }
      .resume-link-section {
        border: 1px solid #d2d2d2;
        border-width: 0 0 0 1px;

        .btn-resume-link {
          border-color: #2a6db6;
          color: #2a6db6;
          border-radius: 5px;
          transition: all .2s;
          width: 100%;
          text-align: left;

          .resume-title {
            padding: 5px 0 0 15px;
          }

          &:hover, &:focus {
            color: #51a443;
            border-color: #51a443;
          }

          @media (max-width: $screen-sm-max) {
            width: auto;
          }
        }

        @media (max-width: $screen-md-min) {
          padding: 15px 0;
          border-width: 0 0 1px 0;
        }
      }
      .education-details {
        font-size: 12px;
        color: #6b6b6b;

        span {
          padding-right: 15px;
          height: 20px;
          border-right: 1px solid #dcdcdc;

          i {
            margin-right: 5px;
          }
          &.course-name {
            display: block;
            border: 0;
          }
          &.graduation-year {
            padding-left: 15px;
            border: 0;
          }
          strong {
            padding-left: 5px;
          }
        }
      }
    }
    .startup-logo-profile {
      border-left: 1px solid #d2d2d2;
      margin-left: 15px;
      position: relative;

      .startup-logo-box {
        display: inline-block;
        max-width: 180px;
        outline: 0;

        @media (min-width: $screen-sm-max) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        @media (max-width: $screen-md-min) {
          max-width: 180px;
          border: 0;
        }
      }

      @media (max-width: $screen-md-min) {
        border-left: 0;
        padding: 15px 0 0;
        margin-left: 0;
      }
    }

    @media (max-width: $screen-sm-max) {
      text-align: center;
      padding-bottom: 15px;
      padding-top: 25px;
    }
  }
}

.profile-bg {
  background-color: #f5f5f5;

  .activity-section {
    border-radius: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #d2d2d2;

    .activity-head {
      color: #2a6db6;
      border-bottom: 1px solid #d2d2d2;
      padding: 25px 30px;

      h3 {
        font-size: 16px;
        margin: 0;
      }

      span {
        color: #333333;
      }

      .legend {
        bottom: -1px;
        display: inline-block;
        margin: 0 5px;
        position: relative;

        li {
          display: inline-block;
          margin: 0 3px;
          height: 10px;
          width: 14px;
        }
      }

      @media (max-width: $screen-sm-max) {
        padding: 20px;
      }
    }

    .all-activity-counts {
      border-left: 1px solid #d2d2d2;

      .slack-messages, .karma-points {
        padding: 0;
        margin-bottom: 10px;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          padding-right: 10px;
          border-left: 0;
        }
      }

      .all-activity-head {
        color: white;
        padding: 15px;

        h3 {
          font-size: 16px;
          margin: 0;
        }

        &.blue-head {
          background-color: #0091c9;
        }

        &.green-head {
          background-color: #00a651;
        }
      }
      .all-activity-body {
        padding: 30px 25px;
        border: 1px solid #d2d2d2;
        border-width: 0 1px 1px;

        .logo-block {
          border-right: 1px solid #d2d2d2;
          padding: 15px 15px 15px 0;

          @media (max-width: $screen-md-max) {
            padding: 15px 10px 15px 0;
            width: 20%;
          }
        }
        .activity-count-block {
          padding-left: 25px;

          h2 {
            font-size: 53px;
            margin: 0;
            color: #828282;

            span {
              font-size: 12px;
            }
          }

          p {
            margin: 0;
            font-size: 12px;
            color: #9b9b9b;
          }

          @media (max-width: $screen-md-max) {
            padding-left: 15px;
            width: 80%;
          }
        }

        @media (max-width: $screen-xs-max) {
          padding: 20px 15px;
        }
        @media (max-width: $screen-md-max) {
          padding: 15px;
        }
      }

      @media (min-width: $screen-sm-min) and (max-width:$screen-sm-max) {
        border: 0;
        margin-top: 0;
        margin-bottom: 20px;
      }
      @media (max-width: $screen-xs-max) {
        border: 0;
      }
    }
  }
  .activity-content {
    border-top: 0;
    border-bottom: 1px solid #d2d2d2;
    list-style: none;
    padding: 20px 30px;
    position: relative;

    .activity-calendar {
      margin: 15px 0 30px;
      position: relative;

      .month-section {
        font-size: 0;

        &:before {
          border: 1px solid #dddddd;
          border-radius: 20px;
          content: "";
          height: 20px;
          left: 0;
          position: absolute;
          top: 25px;
          width: 100%;

          @media (max-width: $screen-md-max) {
            height: 15px;
          }
        }

        li {
          display: inline-block;
          position: relative;
          margin: 25px 0;
          z-index: 1;
          cursor: pointer;
          transition: all .2s;

          &:nth-child(1) {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
          &:before {
            box-shadow: 1px 0px 0px 0px #56bfe7;
            content: "";
            height: 60px;
            left: -0.5px;
            position: absolute;
            top: -20px;
            width: 100%;
            z-index: -10;
          }

          &:first-child:before {
            border-left: 0;
          }
          &:first-child {

            .week-section:nth-child(2) {
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }

          .month-name {
            font-size: 12px;
            color: #333333;
            position: absolute;
            top: -22px;
            padding-left: 5px;
            padding-bottom: 5px;
            left: 0;
            right: 0;
          }

          .week-section {
            width: 25px;
            height: 20px;
            display: inline-block;
            text-align: center;
            box-shadow: 0 0 0 1px #fff inset;

            .week-name {
              display: block;
              font-size: 10px;
              color: #333333;
              position: relative;
              top: 20px;
              height: 30px;
              padding-top: 5px;
            }

            @media (max-width: $screen-md-max) {
              width: 20px;
              height: 15px;
            }
          }

          a {
            padding: 0;
            outline: none;

            &:hover, &:focus {
              background-color: transparent
            }
          }

          &:hover, &:focus, &.active {
            box-shadow: 0 0 0 4px #b8ceeb, 1px 1px 10px #b8ceeb;
            position: relative;
            z-index: 1000;

            .month-name, .week-name {
              color: #2a6db6;
            }
          }
        }
      }

      @media (max-width: $screen-sm-max) {
        border: 1px solid #d2d2d2;
        border-radius: 5px;
      }
    }

    @media (max-width: $screen-sm-max) {
      padding: 0 15px;
    }
  }

  .activity-blank {
    background-color: #ebebeb;
  }

  .activity-low {
    background-color: #bcd285;
  }

  .activity-medium {
    background-color: #75a305;
  }

  .activity-high {
    background-color: #678e07;
  }

  .tab-content ul.tab-pane {
    padding-left: 0;
  }

  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    border-bottom: 1px solid #d2d2d2;

    &:before {
      top: 25px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 1px;
      background-color: #d2d2d2;
      left: 103px;
      margin-left: -1px;

      @media (max-width: $screen-xs-max) {
        left: 92px;
        margin-left: -1px;
        display: block;
      }
    }
  }
  .timeline-data {
    .timeline-box {
      margin-bottom: 20px;
      position: relative;

      .timeline-date {
        display: block;
        position: absolute;
      }

      &:before {
        content: " ";
        display: table;
      }

      &:after {
        content: " ";
        display: table;
        clear: both;
      }

      .timeline-panel {
        float: right;
        border: 0;
        padding: 0;
        position: relative;
        box-shadow: 0;
        width: calc(100% - 135px);
        width: -webkit-calc(100% - 135px);

        .timeline-body {
          padding: 0;

          p {
            margin: 0;
            font-size: 14px;
          }
        }
        @media (max-width: $screen-xs-max) {
          margin-top: 0;
          width: calc(100% - 105px);
          width: -webkit-calc(100% - 105px);
        }
      }

      .timeline-badge-custom {
        color: #fff;
        left: 95px;
        margin-left: 0;
        top: 3px;
        width: 15px;
        height: 15px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        background-color: #fff;
        z-index: 100;
        border: 1px solid #ccc;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;

        @media (max-width: $screen-xs-max) {
          left: 84px;
        }
      }
    }
  }

  .inactive-month {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #d2d2d2;

    p {
      padding: 10px;
      font-size: 14px;
      margin: 0;
    }
  }

  .panel {
    border: 0;
    margin-top: 0;

    .panel-heading {
      padding: 0;
      border: 0;
      background-color: #fff;

      .panel-title {
        padding: 25px 15px;
        border-bottom: 1px solid #d2d2d2;

        a {
          outline: 0;
          display: block;
          position: relative;
          background-color: #fff;
          border-radius: 20px;

          .month-name {
            font-size: 12px;
            color: #333333;
            padding-bottom: 5px;
            position: absolute;
            top: -20px;
          }

          .week-section {
            width: 25px;
            height: 20px;
            display: block;
            float: left;
            text-align: center;
            box-shadow: 1px 0 0 0 #fff inset;
            border: 1px solid #d2d2d2;
            border-width: 1px 0;

            &:nth-child(2) {
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              box-shadow: none;
              border-left-width: 1px
            }
            &:nth-last-child(2) {
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              border-right-width: 1px
            }

            .week-name {
              display: block;
              font-size: 10px;
              color: #333333;
              position: relative;
              top: 20px;
              height: 30px;
              padding-top: 5px;
            }
          }

          .arrow {
            float: right;
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid #d2d2d2;
            text-align: center;
            border-radius: 6px;
            color: #bbbbbb;
            border-color: #2a6db6;
            box-shadow: 0px 0px 5px #d2d2d2;

            &::before {
              content: '\f106';
              font-family: FontAwesome;
              color: #2a6db6;
            }
          }
          &.collapsed {
            box-shadow: none;

            .arrow {
              border-color: #bbbbbb;
              box-shadow: none;

              &::before {
                content: '\f107';
                font-family: FontAwesome;
                color: #bbbbbb;
              }
            }
          }
        }
      }
    }

    .panel-body {
      border-top: 0;
      border-bottom: 1px solid #d2d2d2;
      list-style: none;
      position: relative;

      @media (max-width: $screen-xs-max) {
        padding: 15px;
      }
    }
  }
}

.panel-group {
  margin: 0
}

.row-eq-height {
  display: flex;

  @media (max-width: $screen-sm-max) {
      display: block;
  }
}
