.performance-overview {
  .modal-dialog {
    max-width: 45rem;

    .modal-content {
      border: 1px solid $gray-border;
      @include border-radius(10px);
      overflow: hidden;

      .modal-header {
        .modal-close {
          position: absolute;
          padding: 0 1rem;
          right: 0;
          line-height: 1.4;
          outline: none;
        }
        .modal-title {
          i {
            margin-right: 6px;
            color: $light-primary;
          }
          .startup-name {
            margin-left: 5px;
          }
        }
      }

      .modal-body {
        padding: 0;
        position: relative;
      }
    }
  }
}
.startup-stats {
  position: relative;
  background-color: $primary-background;
  border: 1px solid $gray-border;
  border-width: 1px 0;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.1), inset 0 -5px 5px -5px rgba(0,0,0,0.1);

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  svg {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
    border-radius: 50%;
  }

  circle {
    fill: $gray-border;
    stroke-width: 32;
    // stroke-dasharray: 38 100; /* for 38% */
    animation: fillup 5s linear infinite;

    &.circle-primary {
      stroke: $light-primary;
    }
    &.circle-secondary {
      stroke: $light-secondary;
    }
  }

  .stats-section {
    border-right: 1px solid $gray-border;
    border-left: 1px solid white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    min-height: 150px;

    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
  .leaderboard-rank-section {
    display: block;
  }
  .leaderboard-rank {
    font-size: 4rem;
    line-height: 1;
  }
}
.status-chart-data {
  position: absolute;
  width: 80px;
  height: 80px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  h5 {
    display: block;
  }
}
.performance-meter {
  padding: 60px 20px 20px 20px;

  .performance-bar {
    width: 100%;
    height: 22px;
    position: relative;
    border: 2px solid white;
    @include border-radius(30px);
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1), inset 0 1px 5px 0px rgba(0,0,0,0.1);
    background: linear-gradient(to right, rgba(232,117,112,1) 0%,rgba(237,222,120,1) 25%,rgba(255,223,127,1) 50%,rgba(185,224,113,1) 75%,rgba(58,178,118,1) 100%);

    .performance-pointer {
      width: auto;
      height: 35px;
      top: -35px;
      position: absolute;
      font-size: 0.75rem;
      letter-spacing: 0.05rem;
      padding: 7px 10px;
      box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1);
      @include border-radius(5px);
      background-color: white;
      border: 1px solid $gray-border;

      &:before {
        content: " ";
        height: 20px;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        background-color: white;
        bottom: -20px;
      }
      &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: white;
        border-width: 8px;
        margin-left: -8px;
      }
    }
  }
  .performance-description {
    color: $light-grey-text;
    padding: 10px 0 0;
  }
}

