.user-data-container {
  background-image: asset-url("founders/profile/profile-bg.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  border-bottom: 1px solid #e5e5e5;

  .user-data-card {
    padding: 45px 0;

    .profile {
      text-align: center;
      margin: auto;
      max-width: 150px;

      img {
        border: 1px solid #aaaaaa;
        border-radius: 5px;
        margin: auto;
      }

      &#complete-profile-left + .tooltip > {
        .tooltip-inner {
          background-color: #faebcc;
          border-radius: 5px;
          color: #8a6d3b;
          border: 1px solid #bc995b;
          position: relative;

          &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after {
            border-color: rgba(250, 235, 204, 0);
            border-bottom-color: #faebcc;
            border-width: 5px;
            margin-left: -5px;
          }
          &:before {
            border-color: rgba(212, 176, 115, 0);
            border-bottom-color: #d4b073;
            border-width: 6px;
            margin-left: -6px;
          }
        }
      }
    }

    .profile-head {
      border-bottom: 1px solid #d2d2d2;
      padding: 5px 0 15px;

      .profile-name {
        h2 {
          color: #2a6db6;
          font-size: 23px;
          margin: 0;
          position: relative;
        }
      }
      .social-connect {
        @include media-breakpoint-up(md) {
          text-align: right;
        }

        a {
          color: #fff;
          font-size: 16px;
          border-radius: 50%;
          display: inline-block;
          width: 25px;
          height: 25px;
          margin: 0 5px;
          line-height: 26px;
          text-align: center;
          outline: 0;
          background-color: #bbbbbb;
          transition: all .2s;

          i {
            color: #fff;
          }

          &:hover {
            background-color: #333333;
          }

          @include media-breakpoint-down(md) {
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
        }
      }
      .founder-roll {
        color: #333333;
        font-size: 13px;
        font-weight: 300;
        display: inline-block;
      }
      .profile-edit-button {
        font-size: 13px;
        border: 1px solid #0091c9;
        color: #0091c9;
        padding: 3px 5px;
        border-radius: 5px;
        margin-left: 10px;
        background-color: #fff;
        text-decoration: none;
        display: inline-block;
        position: relative;
        top: -2px;

        i {
          padding-right: 3px;
        }
        &:hover {
          color: #0384b6;
          border-color: #0187ba;
        }
      }
    }
    .progress-container {
      position: relative;
      margin: 10px 5px;

      .profile-progress {
        height: 6px;
        margin: 0 0 2px;

        .progress-bar {
          color: #000;
          line-height: 10px;
        }
      }
      .progress-value {
        text-align: center;
        display: block;
        font-size: 12px;
        color: #a4a4a4;
      }
    }
    .profile-complete-button {
      font-size: 13px;
      border: 1px solid #a4a4a4;
      color: #a4a4a4;
      padding: 3px 5px;
      border-radius: 5px;
      margin: 0 5px;
      background-color: #fff;
      text-decoration: none;
      display: block;
      text-align: center;

      &:hover {
        color: #0384b6;
        border-color: #0187ba;
      }
    }
    .profile-detail {
      .resume-link-section {
        border: 1px solid #d2d2d2;
        border-width: 0 0 0 1px;

        .btn-resume-link {
          border-color: #2a6db6;
          color: #2a6db6;
          outline: 0;
          width: 100%;
          text-align: left;

          &:hover, &:focus {
            color: #51a443;
            border-color: #51a443;
          }
        }

        @include media-breakpoint-down(md) {
          border-width: 0;
        }
      }
    }

    .founder-about {
      font-size: 1rem;
    }

    .startup-logo-profile {
      border-left: 1px solid #d2d2d2;
      position: relative;

      .startup-logo-box {
        display: inline-block;
        max-width: 180px;
        outline: 0;
      }
      @include media-breakpoint-down(md) {
        border-width: 0;
      }
    }
  }
}

.profile-bg {
  background-color: white;
}

.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;

  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: $gray-border;
    left: 50%;
    margin-left: -1.5px;
  }

  li {
    margin-bottom: 20px;
    position: relative;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    .timeline-panel {
      width: 42%;
      float: left;
      border: 1px solid $gray-border;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      @include border-radius(10px);
      padding: 0 20px 20px;
      position: relative;

      .timeline-heading {
        padding-top: 15px;
      }
    }

    .timeline-badge {
      color: white;
      width: 70px;
      height: 70px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -38px;
      background-color: $dark-grey-bg;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &.timeline-inverted > .timeline-panel {
      float: right;
    }
  }
}

.timeline-badge {
  &.color1 {
    background-color: #6a71e6 !important;
  }
  &.color2 {
    background-color: #3498db !important;
  }
  &.color3 {
    background-color: #ff5534 !important;
  }
  &.color4 {
    background-color: #fe4a65 !important;
  }
  &.color5 {
    background-color: #f5ab35 !important;
  }
  &.color6 {
    background-color: #2dbae7 !important;
  }
  &.color7 {
    background-color: #9babd4 !important;
  }
  &.color8 {
    background-color: #61d2fe !important;
  }
  &.color9 {
    background-color: #48dc6c !important;
  }
  &.color10 {
    background-color: #8bbf53 !important;
  }
  &.color11 {
    background-color: #8bbf53 !important;
  }
  &.color12 {
    background-color: #424953 !important;
  }
  &.color13 {
    background-color: #fa6d52 !important;
  }
  &.color14 {
    background-color: #8bbf53 !important;
  }
}

.timeline-title-panel {
  margin-top: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: black;
  line-height: 1.3;
  a {
    text-decoration: none;
    color: inherit;
  }
  .fa-link {
    display: none;
    color: grey;
  }
  .timeline-title:hover {
    .fa-link {
      display: inline;
    }
  }
  .fa-comment {
    color: $timeline-blue-text;
  }
}

.tl-date {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: $timeline-blue-text;
  margin-top: -5px;
}

.tl-body {
  font-size: 14px;
  line-height: 25px;
  color: $dark-grey-text;
  padding-bottom: 5px;
  word-wrap: break-word;
}

.timeline-footer {
  margin-top: 12px;
  clear: both;
}

.tl-footer {
  padding-top: 15px;
  border-top: solid 1px $dark-grey-border;

  a {
    border: 1px solid $theme-dark-green;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    padding: 8px;
    color: $timeline-blue-text;
    margin-right: 10px;
    transition: all 300ms ease-out;

    &:hover {
      background: $theme-dark-green;
      color: white;
      z-index: 1000;
      box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    }
  }
}

.tl-link-button {
  display: inline-block !important;
  margin-bottom: 10px !important;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@include media-breakpoint-down(md) {
  .timeline {
    &:before {
      left: 35px;
    }

    li {
      .timeline-panel {
        width: calc(100% - 90px);
      }

      .timeline-badge {
        left: 0;
        margin-left: 0;
        top: 16px;
      }

      .timeline-panel {
        float: right;
      }
    }
  }
}

.tl-event-image > img {
  width: calc(100% + 40px);
  margin-left: -20px;
}

.founder,
.founder-avatar > img {
  height: 130px;
}

.founder_profile__avatar {
  img {
    width: 100%;
  }
}

.timeline-event-upload-progress-section {
  display: none;
  background-color: #f9f9f9;
  border-radius: 0 0 5px 5px;
  height: auto;

  .timeline-event-upload-progress {
    position: relative;
    display: block;
    border: 0;
    height: 6px;
    background-color: #e4e6ea;
    width: 100%;
  }
  progress::-webkit-progress-bar {
    background: #e4e6ea;
  }
  progress::-webkit-progress-value {
    background: #0f9d58;
  }
  progress::-moz-progress-bar {
    background: #0f9d58;
  }
  .timeline-event-upload-progress-text {
    line-height: 14px;
    padding: 5px 10px;
    font-style: italic;
    font-size: 12px;
  }
}

#improvement-modal {
  .feedback-text > pre > div {
    white-space: pre-wrap;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}


#data-points {
  .data-content {
    font-size: 18px;
    font-weight: 300;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: cornflowerblue;
      }

      .fa-external-link {
        font-size: 13px;
        color: $theme-dark-green;
      }
    }

    .data-subcontent {
      color: grey;
      font-size: 12px;
      font-style: italic;
    }
  }

  .data-founder,
  .data-faculty {
    background-color: $dark-primary-background;
    margin: 1rem 0;
    overflow: hidden;
    box-shadow: 0px 0px 5px $grey-border;

    .founder-image,
    .faculty-image {
      width: 100px;
      height: 100px;
      background-size: cover;

      img,
      svg {
        width: 100px;
      }
    }

    .media-heading {
      font-size: 110%;
      font-weight: $font-semibold;
    }

    .designation {
      font-size: 90%;
      font-style: italic;
      padding-right: 10px;
    }

    .dash {
      margin-top: -10px;
    }

    ul {
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 5px;
      }

      li:last-of-type {
        margin-right: 0;
      }
    }
  }
}


