.onboarding-head-panel {
  margin: 0;
  background-color: #f5f5f5;
  border: 1px solid $grey-border;
  border-width: 1px 0;
  border-radius: 0;

  .onboarding-tab {
    padding: 15px;
    border-right: 1px solid $grey-border;
    color: grey;
    background-color: white;

    &:first-child {
      border-left: 1px solid $grey-border;
    }
    &.current-tab {
      background-color: #528fcc;
      color: white;
    }
  }
}
.onboarding-head-container {
  max-width:770px;
  margin: auto;
}
.onboarding-body {
  background-color: #f6f9fb;

  .onboarding-container {
    max-width:770px;
    margin: auto;

    .user-registration-box {
      border: 1px solid #f0f3f4;
      padding: 40px 70px 20px;
      margin: 40px 0;
      position: relative;
      background-color: white;

      &:before, &:after {
        background: #fff;
        content: "";
        height: 0;
        border-style: solid;
        border-width: 22px;
        position: absolute;
        width: 0;
      }
      &:after {
        border-color: #f6f9fb #f6f9fb #73b100 #73b100;
        right: -1px;
        top: -1px;
      }
      &:before {
        border-color: #eff3f5 #eff3f5 white white;
        right: 0px;
        top: 42px;
      }

      @media (max-width: $screen-xs-max) {
        padding: 40px 25px 20px;
      }
    }
    .form-section-head {
      font-size: 14px;
      text-transform: uppercase;
      margin: 20px 0 20px;
      padding-bottom: 5px;
    }
    label {
      font-weight: 300;
      color: #565656;
      padding-left: 0;

      @media (max-width: $screen-xs-max) {
        padding-left: 15px;
      }
    }
    input, select {
      border-radius: 2px;
      box-shadow: none;
      border-color: #ebeff3;
    }
    .sign-up-btn, .verify-btn, .resend-code-btn {
      background-color: #61ba52;
      border: 0;
      border-radius: 5px;
      padding: 10px 30px;
    }
    .resend-code-btn {
      background-color: #5bc0de;
    }
    .submit-btn {
      background-color: #61ba52;
      border: 0;
      border-radius: 5px;
      padding: 10px 30px;
    }
  }
}
.mobile-verification-alert {
  margin: 35px 0 0;

  .verification-icon {
    width: 55px;
    height: 94px;
    background-image: asset-url("users/onboarding/phone-verification-icon-sprite.png");
    background-repeat: no-repeat;
    margin: auto;

    &.send-error {
      background-position: -63px 0;
    }
    &.send-wait {
      background-position: left center;
    }
    &.resend-success {
        background-position: right center;
    }
    &.send-success {
      background-position: -126px 0;
    }
  }
  .verification-message {
    max-width: 460px;
    margin: auto;

    h3 {
      font-size: 17px;
      font-weight: 400;

      &.green-text {
        color: #568a3e;
      }
      &.red-text {
        color: #c95130;
      }
    }
    p {
      font-weight: 300;
    }
  }
}
