.grade-label__input-head {
  padding: 10px;
}

.grade-bar__track {
  position: relative;
  height: 12px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #e5e5e5;
}

.grade-bar__track-segment {
  text-align: center;
  color: #b2b2b2;
  font-size: 14px;
  cursor: pointer;
  border-right: 1px solid #e5e5e5;
}

.grade-bar__track-segment-title {
  display: none;
  position: absolute;
  top: 36px;
  background: black;
  color: white;
  border-radius: 10px;
  padding: 4px 8px;
  transition: 0.15s all;
}

.grade-bar__track-segment:hover .grade-bar__track-segment-title {
  display: block;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transition: 0.15s all;
}

.grade-bar__pointer {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.grade-bar__pointer-legend {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.grade-bar__pointer-legend-failed {
  background-color: #f85359;
}

.grade-bar__pointer-legend-passed {
  background-color: #39b54a;
}

.grade-bar__pointer--selected {
  transform-origin: center center;
  transform: scale(1.5);
}

.grade-bar__pointer--passed {
  background-color: #39b54a;
  color: white;
}

.grade-bar__pointer--failed {
  background-color: #f85359;
  color: white;
}

.grade-bar__track-segment .grade-bar__pointer {
  transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  transition-property: transform, margin;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
}

.grade-bar__track-segment:hover .grade-bar__pointer {
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

.grade-bar__track-segment:first-child {
  border-radius: 10px 0 0 10px;
}

.grade-bar__track-segment:last-child {
  border-radius: 0 10px 10px 0;
  border: none;
}

.grade-bar__pointer--pulse {
  animation: grade-pointer-pulse 2s infinite;
}

@-webkit-keyframes grade-pointer-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 171, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 171, 0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 171, 0, 0);
    box-shadow: 0 0 0 10px rgba(255, 171, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 171, 0, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 171, 0, 0);
  }
}

@keyframes grade-pointer-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 171, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 171, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 171, 0, 0);
  }
}
