<% content_for :salutation do %>
  <%= t("shared.salutation_name", name: @coach.name) %>
<% end %>

<% content_for :body do %>
  <p>
    <%= t("mailers.course_enrollement.added_coach_html", course_name: @course.name, school_name: @school.name) %>
  </p>
<% end %>
