.topics-post-editor__reply-to-preview {
  position: relative;
  overflow: hidden;
  max-height: 8rem;
}

.topics-post-editor__reply-to-preview .topics-post-editor__reply-to-preview-bottom-fadeout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: linear-gradient(to bottom, transparent, theme("colors.gray.200"));
}
