.target-overlay__modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.target-overlay__modal-content {
  width: 100%;
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
