.timeline-builder__popup {
  max-width: 45rem;
}

.timeline-builder__popup-content {
  border: 1px solid $gray-border;
  @include border-radius(10px);
  overflow: hidden;
}

.timeline-builder__popup-body {
  padding: 0;
  position: relative;

  .timeline-builder__modal-close {
    position: absolute;
    margin: 0.25rem;
    padding: 1rem;
    right: 0;
    outline: none;
    z-index: 1;
  }
}

.timeline-builder__textarea {
  padding: 1.25rem 3rem 1.25rem 1.25rem;
  line-height: 1.5;
  outline: none;
  resize: none;
  border: 0;
  font-size: 1.125rem;
  font-weight: $font-light;
}

.timeline-builder-social-bar__textarea-counter {
  position: absolute;
  bottom: 1rem;
  right: 1.25rem;
  color: white;
  padding: 0.2rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px transparent;
  @include border-radius(1rem);
}

.timeline-builder-social-bar__textarea-counter--danger {
  background-color: rgba(255, 0, 0, 0.5);
}

.timeline-builder-social-bar__textarea-counter--warning {
  background-color: rgba(255, 120, 0, 0.5);
}

.timeline-builder__attachments-container {
  padding: 0 0 1rem 0;
  margin: 0 1.25rem;
  border-top: 1px dashed $gray-border;

  &:last-child {
    margin-right: 0;
  }
}

.timeline-builder__attachment {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: $light-grey-text;
  font-size: 0.75rem;
  justify-content: space-around;
  border: 1px solid $brand-secondary;
  background-color: $primary-background;
  @include border-radius(20px);

  @include media-breakpoint-down(sm) {
    width: 130px;
  }

  .timeline-builder__remove-attachment {
    font-size: 1rem;
    outline: none;
    padding: 6px 10px;
    border-left: 1px solid $light-grey-text;
    color: red;
  }
}

.timeline-builder__attachment-title {
  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  color: $brand-secondary;
  text-overflow: ellipsis;
}

.timeline-builder__attachment-icon {
  margin: 0 6px 0 10px;
}

.timeline-builder__attachment-private-indicator {
  padding: 6px 10px;
  box-shadow: inset -4px 0 4px -5px #999;
  background: repeating-linear-gradient(-45deg, $gray-border, $gray-border 2px, $primary-background 2px, $primary-background 3px);
}

.timeline-builder__attachment-form-container {
  padding: 1.25rem;
  background-color: $dark-primary-background;
  border-top: 1px solid $gray-border;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.1), inset 0 10px 10px -10px rgba(0, 0, 0, 0.1);
}

@include media-breakpoint-up(sm) {
  .timeline-builder__attachment-form {
    display: flex;

    .timeline-builder__form-group {
      width: 100%;
      margin-right: 1rem;

      input {
        width: 100%;
      }
    }
  }

  .timeline-builder__attachment-button {
    height: 40px;
    min-width: 55px;
    flex-shrink: 0;
    font-size: 0.75rem;
  }

  .timeline-builder__visibility-option-group {
    max-width: 100px;

    .timeline-builder__visibility-option {
      width: 100%;
    }
  }
}

.timeline-builder__clear-file-form-button {
  @include media-breakpoint-up(sm) {
    height: 40px;
    flex-shrink: 0;
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 0.5rem;
  }
}

.timeline-builder__file-input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.timeline-builder__file-label {
  border: 1px solid $gray-border;
  @include border-radius(5px);
  overflow: hidden;
  background-color: white;
  padding: 0;
  margin: 0;
  height: 38px;
  width: 100%;
  cursor: pointer;
}

.timeline-builder__choose-file-btn {
  color: white;
  background-color: $alert-background;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.timeline-builder__choose-file-button-text {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    width: 8rem;
  }
}

.timeline-builder__choose-file-btn-icon {
  padding-right: 5px;
}

.timeline-builder__submit-tabs {
  display: flex;
  height: 55px;
  border-top: 1px solid $gray-border;

  @include media-breakpoint-down(sm) {
    display: block;
    height: auto;
  }

  .timeline-builder__submit-container {
    border-right: 0;
    display: flex;

    @include media-breakpoint-up(md) {
      flex-shrink: 0;
    }
  }
}

.timeline-builder__upload-section, .timeline-builder__select-section {
  display: flex;
  width: 100%;
}

.timeline-builder__upload-section {
  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid $gray-border;
  }
}

.timeline-builder__upload-section-tab, .timeline-builder__select-section-tab {
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid $gray-border;
  background-color: white;
  color: darken($light-grey-text, 20%);
  transition: all .2s;

  @include media-breakpoint-down(sm) {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
  }
}

.timeline-builder__upload-section-tab {
  cursor: pointer;
  transition: all .2s;

  &:hover, &:focus {
    background-color: $dark-primary-background;
    color: $brand-secondary;
  }
}

.timeline-builder__timeline-event-type-select-wrapper {
  width: 100%;
  padding: 0 20px 0 10px;
  max-width: 240px;

  @include media-breakpoint-down(sm) {
    max-width: 170px;
  }

  .select2 {
    outline: 0;
  }
}

.timeline-builder__select-section-tab {
  @include media-breakpoint-down(sm) {
    padding: 5px 20px;
    margin: 10px 0;
  }
}

.timeline-builder__tab-label {
  line-height: 2;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.timeline-builder__upload-section-icon {
  margin-right: 7px;

  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }
}

.timeline-builder__attachment-datepicker-form {
  display: block;

  .timeline-builder__date-input {
    width: 100%;
  }
  .timeline-builder__attachment-datepicker-form-btn {
    padding: 0;

    @include media-breakpoint-down(sm) {
      padding: 0 15px;
    }
  }
}

.timeline-builder__active-tab {
  background-color: $dark-primary-background;
  color: $brand-secondary;
  position: relative;

  &:before {
    content: '';
    border-top: 1px solid $dark-primary-background;
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
  }
}

.date-of-event {
  @include media-breakpoint-up(md) {
    flex-shrink: 0;
    padding: 0 18px;
  }
}

.action-tab-disabled {
  color: lighten($light-grey-text, 30%);
  cursor: not-allowed;

  &:hover, &:focus {
    background-color: white;
    color: lighten($light-grey-text, 30%);
  }
}

.timeline-builder-hidden-form {
  display: none;
}

.timeline-builder__social-bar {
  position: relative;
  padding: 1rem 1.25rem;
}

// Toggle switch
.timeline-builder__social-bar-toggle-switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 30px;
  margin: 0;
  background-color: white;
  @include border-radius(30px);
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(black, .05);
  cursor: pointer;
}

.timeline-builder__social-bar-toggle-switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.timeline-builder__social-bar-toggle-switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: darken($primary-background, 5%);
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(black, .12), inset 0 0 2px rgba(black, .15);
  transition: all .2s;

  &:before, &:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    transition: all .2s;
  }

  &:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(white, .5);
  }

  &:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(black, .2);
    opacity: 0;
  }

  .timeline-builder__social-bar-toggle-switch-input:checked ~ & {
    background: #39579A;
    box-shadow: inset 0 1px 2px rgba(black, .15), inset 0 0 3px rgba(black, .2);

    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }
}

.timeline-builder__social-bar-toggle-switch-handle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  color: #39579A;
  background: white;
  @include border-radius(30px);
  box-shadow: 1px 1px 5px rgba(black, .2);
  transition: all .2s;

  .timeline-builder__social-bar-toggle-switch-input:checked ~ & {
    left: 52px;
    box-shadow: -1px 1px 5px rgba(black, .2);
  }
}
