.curriculum-editor__target-drawer-tab {
  @apply flex items-center justify-center w-1/3 p-3 font-semibold rounded-t-lg leading-relaxed border border-gray-400 bg-gray-100 text-gray-600;
}

.curriculum-editor__target-drawer-tab:not(.curriculum-editor__target-drawer-tab--selected):hover {
  @apply bg-gray-200 text-primary-400 text-gray-900;
}

.curriculum-editor__target-drawer-tab--selected {
  border-bottom-color: white;
  @apply text-primary-500 bg-white;
}
