<% content_for(:tail) do %>
  <%= stylesheet_pack_tag 'SchoolAdminsPack', media: 'all' %>
  <%= javascript_pack_tag 'SchoolAdminsPack', 'data-turbolinks-track': 'reload', nonce: true %>
<% end %>

<script type="application/json" id="school-admins-data">
  <%= Schools::AdminsPresenter.new(self, current_school).props_to_json.html_safe %>
</script>

<div id="school-admins" class="flex flex-1 h-screen"></div>

