<% content_for(:head) do %>
  <title><%= current_school.name %> | Customization</title>
<% end %>

<% content_for(:tail) do %>
  <%= stylesheet_pack_tag 'SchoolsCustomizePack', media: 'all' %>
  <%= javascript_pack_tag 'SchoolsCustomizePack', nonce: true %>
<% end %>

<% presenter = Schools::CustomizePresenter.new(self) %>

<div class="w-full overflow-y-auto" id="react-root" data-json-props="<%= presenter.json_props %>"></div>
