<% content_for(:head) do %>
  <title><%= current_school.name %> | Customization</title>
  <%= stylesheet_pack_tag 'SchoolsCustomizePack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'SchoolsCustomizePack', nonce: true %>
<% end %>

<% presenter = Schools::CustomizePresenter.new(self) %>

<script type="application/json" id="school-customize-data">
  <%= presenter.json_props.html_safe %>
</script>

<div id="school-customize" class="w-full overflow-y-auto"></div>
