<% content_for(:head) do %>
  <title><%= current_school.name %> | <%= t(".title") %></title>
<% end %>
<% presenter = Schools::CustomizePresenter.new(self) %>
<script type="application/json" id="school-customize-data">
  <%= presenter.props_to_json.html_safe %>
</script>
