<% presenter = Courses::ApplyPresenter.new(self, @course) %>

<% content_for(:head) do %>
  <title><%= presenter.page_title %></title>
  <%= stylesheet_pack_tag 'CoursesApplyPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'CoursesApplyPack', nonce: true %>
<% end %>

<script id="react-root-data" type="application/json"><%= presenter.props_to_json.html_safe %></script>
<div id="react-root"></div>
