<% content_for(:head) do %>
  <title><%= @presenter.page_title %></title>
  <%= stylesheet_pack_tag 'CoursesCurriculumPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'CoursesCurriculumPack', nonce: true %>
<% end %>

<% content_for(:inner_wrapper) do %>
  <script id="react-root-data" type="application/json"><%= @presenter.props_to_json.html_safe %></script>
  <div id="react-root"></div>
<% end %>
