
<% content_for(:head) do %>
  <title>Enroll to the course</title>
  <%= stylesheet_pack_tag 'courses/enroll', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'courses/enroll', nonce: true %>
<% end %>

<div class="bg-gray-100 py-8">
  <div class="container mx-auto px-3 max-w-6xl">
    <div class="flex flex-col md:flex-row shadow-xl rounded-lg overflow-hidden bg-white border">
      <div class="md:w-1/2 enroll-left__container svg-bg-pattern-4 relative p-4 pt-5 md:px-14 md:py-20 lg:px-28 lg:py-32 text-white">
        <div class="">
          <h1 class="font-bold">SaaS 201</h1>
          <p>This course allows you to learn industry-relevant skills with up-to-date content, developed by professionals.</p>
        </div>
      </div>
      <div class="md:w-1/2 p-4 pt-5 md:px-14 md:py-20 lg:px-28 lg:py-32">
        <div class="flex flex-col">
          <h4 class="font-bold">Enroll to SaaS 201 course</h4>
          <div class="w-full mt-4">
            <label class="inline-block tracking-wide text-gray-800 text-xs font-semibold">
              Your Name
            </label>
            <input class="appearance-none h-10 mt-1 block w-full text-gray-800 border border-gray-400 rounded py-2 px-4 text-sm bg-gray-100 hover:bg-gray-200 focus:outline-none focus:bg-white focus:border-primary-400" type="text" placeholder="Type your name">
          </div>
          <div class="w-full mt-4">
            <label class="inline-block tracking-wide text-gray-800 text-xs font-semibold">
              Email
            </label>
            <input class="appearance-none h-10 mt-1 block w-full text-gray-800 border border-gray-400 rounded py-2 px-4 text-sm bg-gray-100 hover:bg-gray-200 focus:outline-none focus:bg-white focus:border-primary-400" type="text" placeholder="Type your email id here">
          </div>
          <button class="btn btn-primary justify-center shadow-lg mt-6">Enroll to the course</button>
        </div>
      </div>
    </div>
  </div>
</div>