.courses-report-overview__doughnut-chart-container {
  @apply shadow rounded-lg p-4 h-full flex;
}

.courses-report-overview__pie-chart-container {
  @apply bg-gray-100 w-full rounded-lg overflow-hidden;
}

.courses-report-overview__doughnut-chart {
  display: block;
  max-width: 100%;
  height: 72px;
}

.courses-report-overview__doughnut-chart-bg {
  fill: none;
  stroke-width: 2;
}

.courses-report-overview__doughnut-chart-stroke {
  fill: none;
  stroke-width: 3;
  stroke-linecap: butt;
  animation: progress 0.5s ease-out forwards;
}

.courses-milestone-complete__doughnut-chart {
  display: block;
  max-width: 100%;
  height: 18px;
}

.courses-milestone-complete__doughnut-chart-bg {
  fill: none;
  stroke-width: 4;
}

.courses-milestone-complete__doughnut-chart-stroke {
  fill: none;
  stroke-width: 4;
  stroke-linecap: butt;
  animation: progress 0.5s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.courses-report-overview__doughnut-chart.purple
  .courses-report-overview__doughnut-chart-bg {
  stroke: #d3bff3;
}
.courses-milestone-complete__doughnut-chart
  .courses-milestone-complete__doughnut-chart-bg {
  stroke: #d1d5db;
}

.courses-report-overview__doughnut-chart.pink
  .courses-report-overview__doughnut-chart-bg {
  stroke: #fcb5d0;
}

.courses-report-overview__doughnut-chart.purple
  .courses-report-overview__doughnut-chart-stroke {
  @apply stroke-primary-500;
}

.courses-milestone-complete__doughnut-chart
  .courses-milestone-complete__doughnut-chart-stroke {
  stroke: #16a34a;
}

.courses-report-overview__doughnut-chart.pink
  .courses-report-overview__doughnut-chart-stroke {
  stroke: #f61067;
}

.courses-report-overview__doughnut-chart-text {
  font-size: 0.45rem;
  text-anchor: middle;
}

.courses-report-overview__doughnut-chart.purple
  .courses-report-overview__doughnut-chart-text {
  @apply fill-primary-500;
}

.courses-report-overview__doughnut-chart.pink
  .courses-report-overview__doughnut-chart-text {
  fill: #f95392;
}

.courses-report-overview__pie-chart {
  width: 24px;
  height: 24px;
  transform: rotate(-90deg);
  border-radius: 50%;
}

.courses-report-overview__pie-chart--pass {
  @apply bg-green-200;
}

.courses-report-overview__pie-chart--fail {
  background: theme("colors.orange.200");
}

.courses-report-overview__pie-chart .courses-report-overview__pie-chart-circle {
  stroke-width: 32;
}

.courses-report-overview__pie-chart-circle--pass {
  fill: theme("colors.green.200");
  stroke: theme("colors.green.500");
}

.courses-report-overview__pie-chart-circle--fail {
  fill: theme("colors.orange.200");
  stroke: theme("colors.orange.500");
}
