.federated-signin-in__seperator:before {
  @apply bg-gray-300 absolute;
  z-index: -1;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
}

.form-radio {
  @apply appearance-none select-none inline-block flex-shrink-0 rounded-full bg-white border border-gray-400;
}

.form-radio:checked {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
  @apply border-primary-200;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
