.code-of-conduct__modal {
  text-align: justify;
}

.code-of-conduct__modal-body {
  padding: 25px;
}

.code-of-conduct__ordered-list {
  padding: 0 25px;

  // Breaking BEM here for convenience.
  li {
    margin-bottom: 0.7rem;
  }
}

.about-slack__iframe {
  border: 0;
  height: 470px;
  margin-left: -50px;
  margin-top: -4rem;
  width: 400px;
  overflow-y: hidden;
}
