
<div class="login-block">

<h3>Forgot your password?</h3>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>

  <div class="signin-pad">
    <%= f.button :submit, "Send me reset password instructions", :class=>'btn btn-success' %>
  </div>
<% end %>

</div>