*, *::before, *::after {
    box-sizing: border-box;
}

.student-solo__card {
    @apply rounded-lg mb-2;
}

.student-team__card {
    position: relative;
    background-color: transparent;
}

.student-team__card:not(:last-child):before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to right, #E4E9F2 80%, #FFFFFF 100%);
}