*, *::before, *::after {
    box-sizing: border-box;
}

button:disabled, .disabled {
    @apply .opacity-25 .cursor-not-allowed;
}

.global-sidebar {
    width: 304px;
}

.global-sidebar__school-logo-container {
    max-height: 3.5rem;
}

.global-sidebar__school-search__icon-box {
    width: 3.5rem;
    height: 3.5rem;
}

.global-sidebar__primary-nav {
    @apply .w-full;
}

.global-sidebar__primary-nav--shrinked {
    width: 64px;
}

.global-sidebar__primary-nav-link {
    @apply .flex .text-white .font-semibold .no-underline .items-center;
    position: relative;
}

.global-sidebar__primary-nav-link:hover {
    @apply .bg-primary-darker;
}

.global-sidebar__primary-nav-link--active {
    @apply .bg-grey-lighter .text-primary;
    box-shadow: inset 4px 0 0 0 config('colors.yellow');
    background-image: linear-gradient(to right, config('colors.white'), config('colors.grey-lighter'));
}

.global-sidebar__primary-nav-link--active:before, .global-sidebar__primary-nav-link--active:after {
    content: "";
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
}
.global-sidebar__primary-nav-link--active:before {
    top: -16px;
    border-radius: 0 0 50%;
    border-width: 0px 20px 0 0;
    box-shadow: 0px 10px config(colors.grey-lighter);
    border-color: transparent;
}
.global-sidebar__primary-nav-link--active:after {
    bottom: -16px;
    border-radius: 0 50% 0;
    border-width: 0 20px 0 0;
    box-shadow: 0 -10px config(colors.grey-lighter);
    border-color: transparent;
}

.global-sidebar__primary-nav-link--active:hover {
    @apply .bg-grey-lighter .text-primary;
}

.blanket {
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 500;
    background: rgba(9, 30, 66, 0.54);
}

.drawer-right {
    background-color: white;
    display: flex;
    height: 100vh;
    right: 0px;
    position: fixed;
    top: 0px;
    width: 48rem;
    z-index: 501;
}

.drawer-right__close {
    left: -52px;
    z-index: -1;
}

.drawer-right-form {
    background-color: #EDF3FA;
    overflow-x: hidden;
    overflow-y: scroll;
    @apply .text-sm;
}

.drawer-right-form__input {
    margin-bottom: 2rem;
}

.drawer-right-form__error-msg {
    color: red;
    margin-bottom: 0.715rem;
}

.course-faculty__list-item:hover .course-faculty__list-item-remove {
    visibility: visible;
}

.resources-upload-tab__link {
    cursor: pointer;
    @apply border-transparent border-l border-t border-r -mb-px rounded-t;
}

.resources-upload-tab__link--active {
    background-color: #F2F8FF;
    @apply border-grey-light border-l border-t border-r -mb-px rounded-t;
}

.resources-upload-tab__body {
    background-color: #F2F8FF;
}

.input-file__input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 43px;
    margin: 0;
    opacity: 0;
}

.input-file__label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 43px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #E6F1FF;
    border: 1px dashed #D3D8E1;
}

.input-file__container:hover .input-file__label {
    @apply .bg-grey-light;
}

.toggle-button__group {
    position: relative;
}
.toggle-button__group::before {
    content:'';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dae1e7;
}

.toggle-button__button {
    transition: .3s cubic-bezier(0, 0, 0, 1);
}

.target-group__container> :not(:last-child):before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    z-index: -1;
    @apply bg-grey-light;
}

.target-group__box {
    z-index: 10;
}

.target-group__target {
    width: 100%;
    transition: all 0.2s;
}

.target-group__header--archived, .target-group__target--archived {
    background-color: #fdfae5;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .05) 25%, transparent 0, transparent 50%, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .05) 75%, transparent 0, transparent);
    background-repeat: repeat;
    background-size: 10px 10px;
    box-shadow: inset 0 2px 10px -6px rgba(0, 0, 0, 0.5);
}

.target-group__create, .target-group__target-create {
    transition: all 0.2s;
}

.target-group__create:hover, .target-group__target-create:hover {
    @apply .shadow-lg;
}

.quiz-maker__question-container:hover .quiz-maker__question-remove-button {
    visibility: visible;
}

.quiz-maker__question-container::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 110px);
    margin-top: 0.875rem;
    bottom: 0;
    width: 1px;
    background: #afdcf8;
    left: 1.5rem;
}

.quiz-maker__answer-option-pointer {
    width: 1.375rem;
    height: 1.375rem;
    position: absolute;
    color: #fff;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    text-align: center;
    border: 1px solid #fff;
    left: 13px;
    top: 10px;
    margin: 0;
    transition: .3s cubic-bezier(0, 0, 0, 1);
}

.quiz-maker__answer-option-pointer:hover {
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 4px #39B54A;
}

.quiz-maker__answer-option-pointer--add {
    width: 1.75rem;
    height: 1.75rem;
    left: 10px;
    top: 8px;
    border: 0;
}

.quiz-maker__answer-option:hover .quiz-maker__answer-option-pointer--add {
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.quiz-maker__answer-option:hover .quiz-maker__answer-option-pointer--add img {
    filter: invert(1);
}

.quiz-maker__answer-option-pointer-img {
    width: 10px;
}

.quiz-maker__answer-option-pointer--correct {
    background: #10AB4C;
}

.select-list__item-selected {
    animation: glowing 500ms ease-in;
    @apply .border-indigo-light;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 20px #7886D7;
    }
    50% {
        box-shadow: 0 0 10px #7886D7;
    }
    100% {
        box-shadow: 0 0 0 #7886D7;
    }
}