<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Event posted by you has been registered</h1>
    <p>
      Your Event with id: <%= @event.id %> has been forwarded for approval.
      Incase you want to edit any information regarding the event. Please contact SV lab's support team and dont forget to mention the event id as mentioned above<br>
    </p>
    <p>
      Email: support@svlabs.in
    </p>
    <p>Thanks for your enthusiasm and have a great day!</p>
  </body>
</html>