<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Event posted by you has been registered</h1>
    Hi <%= @event.posters_name %>,
    <p>
      Your Event with id: <%= @event.id %> has been submitted for approval. Once it has been approved, it will show up on the events portal. Please remember to quote your event id in all further communication.
    </p>
    <p>
      Mail to: daniel@startupvillage.in
    </p>
    <p>Thanks for your enthusiasm and have a great day!</p>
    Cheers,<br />
    Team Startup Village
  </body>
</html>