.startups-bg {
  overflow: hidden;
}

.startups-banner {
  height: 180px;
  background: asset-url("startups/index/banner-background.png") no-repeat bottom center;
  background-size: cover;
  position: relative;

  .page-header {
    color: white;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 42px;
    letter-spacing: 0.04em;
  }
  .banner-text {
    padding: 45px 0 0;
  }
  p.startups-introduction {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: white;
    letter-spacing: 0.04em;
  }
}

.filter-box__container {
  border-bottom: 1px solid $gray-border;
}

.filter-box {
  label {
    font-size: 0.75rem;
  }
}

.filter-dropdown {
  position: relative;

  &:before {
    content: '\f107';
    font-family: FontAwesome;
    right: 1.5rem;
    position: absolute;
    bottom: 1.5rem;
    z-index: 1;
    pointer-events: none;

    @include media-breakpoint-down(sm) {
      bottom: 0.5rem;
    }
  }

  &:focus {
    outline: 0;
    border-color: $light-secondary;
  }
}

.filter-dropdown__select {
  margin-right: 30px;
  @include border-radius(5px);
  font-size: 0.75rem;
  line-height: 13px;
  padding: 1px 20px 1px 10px;
  border-color: $gray-border;
  outline: none;
  height: 30px;
  box-shadow: none;
  appearance: none;
  color: transparent;
  text-shadow: 0 0 0 $dark-grey-text;
}

.filter-form-btn {
  margin-top: 15px;
  @include media-breakpoint-up(sm) {
    margin-top: 32px;
  }
}

.filter-reset-btn {
  @include media-breakpoint-up(sm) {
    margin-left: 10px;
  }
}

.startup-card {
  display: flex;
  align-items: center;
  padding: 1.25rem 1rem;
  height: 230px;
  margin: 15px 0;
  position: relative;

  @include media-breakpoint-down(lg) {
    display: block;
    height: 400px;
  }
  @include media-breakpoint-only(md) {
    display: flex;
    height: 230px;
  }
  @include media-breakpoint-down(sm) {
    height: auto;
  }
}

.startup-logo-block {
  border: 1px dashed $gray-border;
  border-width: 0 1px 0 0;
  width: 25%;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    display: block;
    width: auto;
    border-width: 0 0 1px 0;
    padding: 1rem;
    margin-bottom: 10px;
  }
  @include media-breakpoint-only(md) {
    width: 25%;
    border-width: 0 1px 0 0;
  }
}

.startup-logo-image {
  padding-right: 15px;
  align-items: center;
  display: flex;
  width: 100%;
  height: 180px;
  justify-content: center;
  outline: 0;
  text-align: center;

  @include media-breakpoint-down(lg) {
    width: 120px;
    height: 120px;
    margin: auto;
    padding: 0;
  }
  @include media-breakpoint-only(md) {
    padding-right: 15px;
    width: 100%;
    height: 180px;
  }
}

.external-links {
  position: absolute;
  right: 15px;
  top: 5px;
}

.external-links__dropdown {
  padding: 0;
  font-size: 0.875rem;
}

.external-links__dropdown--item {
  border-bottom: 1px solid $gray-border;
  padding: 0.5rem 1rem;
  outline: 0;

  &:hover {
    color: $light-secondary;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.external-links__dropdown--icon {
  padding-right: 0.5rem;
}

.more-menu-dots {
  line-height: 20px;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  width: 35px;

  &:after {
    content: none;
  }

  &:active, &:focus, &:hover {
    outline: 0;

    .dots-menu {
      background-color: $brand-secondary;
      transition: all .2s;

      &:before, &:after {
        background-color: $brand-secondary;
        transition: all .2s;
      }
    }
  }
}

.dots-menu {
  position: relative;
  background-color: $light-grey-text;
  border-radius: 50%;
  font-size: 0;
  margin-left: 10px;
  padding: 3px;

  &:before, &:after {
    position: absolute;
    top: 0;
    content: '';
    background-color: $light-grey-text;
    border-radius: 5px;
    border: 0;
    font-size: 0;
    padding: 3px;
  }
  &:before {
    left: -10px;
  }
  &:after {
    left: 10px;
  }
}

.startup-details {
  padding-left: 1rem;
  width: 75%;

  @include media-breakpoint-down(lg) {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  @include media-breakpoint-only(md) {
    padding-left: 1rem;
    width: 75%;
    text-align: left;
  }
}

.product-name {
  font-size: 1.125rem;
  text-decoration: none;
  margin: 0 1rem 0 0;
  display: inline-block;
}

.startup-industry {
  display: inline-block;
  font-size: 0.75rem;
  color: $light-grey-text;
}

.startup-industry-icon {
  margin-right: 5px;
  display: inline-block;
}

.startup-details__header {
  border-bottom: 1px solid $gray-border;
  padding-bottom: 8px;
}

.startupcard-footer {
  border-top: 1px dashed #d7d7d7;
  padding: 15px 0 0;
  display: flex;
  text-align: left;

  @include media-breakpoint-down(xs) {
    text-align: center;
    flex-direction: column;
  }
}

.founder-avatar {
  display: inline-block;
  height: 40px;
  margin: 0 6px;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  @include media-breakpoint-up(sm) {
    margin: 0 -6px;
  }
}

.founder-tooltip {
  position: relative;
  z-index: 999;

  @include media-breakpoint-up(sm) {
    &:hover {
      pointer-events: auto;

      .founder-tooltip-content {
        pointer-events: auto;
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
      }
      .founder-tooltip-item {
        &:after {
          pointer-events: auto;
        }
      }
    }
  }
}

.view-timeline-btn {
  border-left: 1px dashed $gray-border;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  display: flex;

  @include media-breakpoint-down(xs) {
    border: 0;
    padding: 0;
  }
}

.founder-tooltip-item {
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 300px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%);
  }
}

.founder-tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 300px;
  left: 50%;
  margin: 0 0 10px -150px;
  bottom: 100%;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
  opacity: 0;
  @include border-radius(5px);
  border: 1px solid darken($gray-border, 5%);
  cursor: default;
  pointer-events: none;

  &:before, &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(245, 245, 245, 0);
    border-top-color: $dark-primary-background;
    border-width: 10px;
    margin-left: -10px;
  }

  &:before {
    border-color: rgba(229, 229, 229, 0);
    border-top-color: darken($gray-border, 10%);
    border-width: 11px;
    margin-left: -11px;
  }
}

.founder-tooltip-thumbnail {
  position: relative;
  z-index: 1;
  max-height: 100px;
  display: block;
  float: left;
  @include border-radius(5px 0 0 5px);
  margin-right: 10px;
  border-right: 1px dashed $gray-border;

  img, svg {
    width: 100px;
    height: 100px;
  }
}

.tooltip-popup {
  .founder-tooltip-content {
    transition: opacity 0.3s, transform 0.3s;
  }
}

.startup-list-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.founder-avatar-list {
  margin-right: 15px;
  height: 40px;
  width: 80%;

  @include media-breakpoint-down(xs) {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

.founder-avatar__thumbnail {
  width: 40px;
  height: 40px;
  overflow: hidden;
  outline: 0;
  display: inline-block;
  border-radius: 50%;
  background: white;
  border: 2px solid $gray-border;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.founder-avatar__thumbnail--image {
  width: 100%;
}

.founder-tooltip-header {
  margin: 0;
  padding: 12px 15px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.founder-tooltip-role {
  font-size: 0.75rem;
  padding: 3px 0 10px 0;
  color: $light-grey-text;
}

.founder-profile-view-link {
  display: block;
  padding: 6px;
  position: absolute;
  left: 100px;
  padding-left: 10px;
  bottom: 0;
  right: 0;
  border-top: 1px dashed $gray-border;
  background-color: $dark-primary-background;
  @include border-radius(0 0 5px 0);
}

.founder-profile-view-link__icon {
  padding-right: 5px;
}

.startups-attachments {
  height: 40px;
  margin-top: 5px;

  @include media-breakpoint-down(lg) {
    height: auto;
  }
}

.startup-attachments__link {
  padding: 10px;
  display: inline-block;
  position: relative;
  outline: 0;
  font-size: 0.8125rem;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      width: 0;
    }
  }

  &:before {
    content: "";
    width: 1px;
    height: 20px;
    background-color: #d7d7d7;
    position: absolute;
    right: 0;
  }
}

.startup-details__description {
  width: 355px;
  overflow: hidden;
  position: relative;
  height: 40px;
  letter-spacing: 0.01rem;
  margin-top: 8px;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
  @include media-breakpoint-only(md) {

  }
  @include media-breakpoint-down(sm) {
    height: auto;
  }

  &:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 21px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);

    @include media-breakpoint-down(sm) {
      width: 0;
    }
  }
}

.startups-link__icon {
  vertical-align: -3px;
  margin-right: 4px;
  width: 15px;
}

.startup-current__stage {
  display: inline-block;
  font-size: 0.75rem;
}

.startup-current__stage--icon {
  width: 18px;
  vertical-align: baseline;
  padding-right: 3px;
}
