<div id="timeline-builder" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>