<div id="timeline-builder" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <textarea class="form-control" id="timelineTextarea" rows="3" placeholder="What’s been happening?" autofocus></textarea>
        <div class="uploaded-files-block clearfix">
          <div class="uploded-file-tag pull-xs-left m-r-1 m-t-1">
            <i class="fa fa-file-image-o"></i>
            <span class="file-name">
              Cover_photograph.jpg
            </span>
            <button type="button" class="close remove-uploaded-file">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="uploded-file-tag pull-xs-left m-r-1 m-t-1">
            <i class="fa fa-link"></i>
            <span class="file-name">
              Link Title
            </span>
            <button type="button" class="close remove-uploaded-file">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="uploded-file-tag pull-xs-left m-r-1 m-t-1">
            <i class="fa fa-file-text-o"></i>
            <span class="file-name">
              File Name
            </span>
            <button type="button" class="close remove-uploaded-file">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="link-upload-block">
          <form class="form-inline link-upload-form">
            <div class="form-group link-title-group">
              <label class="sr-only" for="linkTitle">Link Title</label>
              <input class="form-control link-title" type="text" placeholder="Title" id="linkTitle">
            </div>
            <div class="form-group link-url-group">
              <label class="sr-only" for="linkUrl">URL</label>
              <input class="form-control link-url" type="text" placeholder="URL" id="linkUrl">
              <small class="form-text text-muted hidden-xs-up">Please enter a full URL, starting with http(s).</small>
            </div>
            <div class="form-group visibility-option-group">
              <select class="form-control visibility-option">
                <option>Public</option>
                <option>Private</option>
              </select>
            </div>
            <button type="submit" class="btn btn-secondary">
              <i class="fa fa-check"></i>
            </button>
          </form>
        </div>
        <div class="file-upload-block">
          <form class="form-inline file-upload-form">
            <div class="form-group file-title-group">
              <label class="sr-only" for="fileTitle">File Title</label>
              <input class="form-control file-title" type="text" placeholder="Title" id="linkTitle">
            </div>
            <div class="form-group file-choose-group">
              <input type="file" class="form-control-file file-choose" id="fileChoose" aria-describedby="fileHelp">
              <label for="fileChoose">
                <span></span>
                <div class="choose-file-btn">
                  <i class="fa fa-upload"></i>
                  CHOOSE FILE
                </div>
              </label>
            </div>
            <div class="form-group visibility-option-group">
              <select class="form-control visibility-option">
                <option>Public</option>
                <option>Private</option>
              </select>
            </div>
            <button type="submit" class="btn btn-secondary">
              <i class="fa fa-check"></i>
            </button>
          </form>
        </div>
        <div class="timeline-submit-tabs">
          <div class="upload-tabs">
            <div class="image-upload">
              <i class="fa fa-file-image-o"></i>
              <span class="tab-label">
                Image
              </span>
            </div>
            <div class="link-upload">
              <i class="fa fa-link"></i>
              <span class="tab-label">
                Link
              </span>
            </div>
            <div class="file-upload active-tab">
              <i class="fa fa-file-text-o"></i>
              <span class="tab-label">
                File
              </span>
            </div>
            <div class="date-of-event">
              <i class="fa fa-calendar"></i>
              <span class="tab-label">
                Date
              </span>
            </div>
          </div>
          <div class="select-tabs">
            <div class="type-of-event-select">
              <select class="form-control" id="typeofEvent">
                <option>Type of Event</option>
                <option>Moved to Prototyping Stage Stage Stage</option>
                <option>Joined sv.co</option>
                <option>Received Bank Loan</option>
              </select>
            </div>
            <div class="submit-btn">
              <button type="submit" class="btn btn-primary text-xs-uppercase">
                SUBMIT
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>