<div class="timeline-builder modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <%= react_component('TimelineBuilder') %>
      </div>
    </div>
  </div>
</div>
