- content_for :head
  title SV.CO Edit Profile for #{@founder.fullname}

.margin-top-20
h2 Editing #{@founder.fullname}'s profile...
= render 'form_basic_details', founder: @founder
= render 'form_password', founder: @founder
