.community-hero__container {
  height: auto;
  background-image: url('./community-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 10%;
}

@screen md {
  .community-hero__container {
    height: 18rem;
  }
}
