// lightgrey is #d3d3d3

$dark-grey-text: #565656;
$light-grey-text: lightgrey;
$grey-border: #d2d2d2;
$dark-grey-border: #a9a9a9;
$theme-light-green: #00cd79;
$theme-dark-green: #0f9d58;
$light-grey-background: #f7f7f7;
$dark-grey-bg: #999999;
$active-tab-highlight: limegreen;
$navbar-dropdown-bkg: #e7e7e7;
$faculty-bg-color: #f8f8f8;
$bootstrap-tab-underline: #dddddd;
$faculty-card-bottom-border: darkblue;
$footer-bg: #272727;
$footer-bottom-bg: #1a1a1a;
$timeline-blue-text: #2458a1;
$theme-light-gray: #f7f7f7;
$theme-dark-gray: #d2d2d2;

// lightgrey is #d3d3d3

$theme-light-green: #00cd79;
$theme-dark-green: #0f9d58;
$light-grey-background: #f7f7f7;
$dark-grey-bg: #999999;
$active-tab-highlight: limegreen;
$navbar-dropdown-bkg: #e7e7e7;
$faculty-bg-color: #f8f8f8;
$bootstrap-tab-underline: #dddddd;
$faculty-card-bottom-border: darkblue;
$footer-bg: #272727;
$footer-bottom-bg: #1a1a1a;
$timeline-blue-text: #2458a1;
$theme-light-gray: #f7f7f7;
$theme-dark-gray: #d2d2d2;

// ********** Colors **********
$brand-primary: #0f9d58;
$brand-secondary: #0066d1;
$dark-primary: #057f44;
$light-primary: #32b475;
$dark-secondary: #1244b8;
$light-secondary: #007ac8;
$primary-background: #f9f9f9;
$secondary-background: #2e2f33;
$dark-primary-background: #f5f5f5;
$gray-border: #e5e5e5;
$alert-background: #e3b462;
$btn-secondary-color: #fff;
$list-group-border-color: #e5e5e5;
$gray-dark: #333333;
$input-border-color: $gray-border;

// Link color
$link-color: $brand-secondary;
$link-hover-color: $light-secondary;
$link-hover-decoration: none;

// Text color
$dark-grey-text: #333333;
$light-grey-text: #999999;

// Heading font size
$h1-font-size: 2.625rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;

$paragraph-text: 0.875rem;
$btn-text-size: 0.8125rem;

// Font weight
$headings-font-weight: 300;
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$border-radius-btn: 3em;
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
$box-shadow-hover: 0 0 10px 0 rgba(0, 0, 0, 0.09);
$box-shadow-btn: inset 0 3px 3px 0 rgba(0, 0, 0, 0.5);

// Tags
$tag-pill-padding-x: 0.7em;
$tag-default-bg: $primary-background;
$tag-font-weight: $font-regular;

// Pagination

$pagination-padding-x: 1rem;
$pagination-active-bg: $brand-secondary;
$pagination-active-border: $brand-secondary;
