$dark-grey-text: #565656;
$light-grey-text: lightgrey;
$grey-border: #d2d2d2;
$dark-grey-border: #a9a9a9;
$theme-light-green: #00cd79;
$light-grey-background: #f7f7f7;
$active-tab-highlight: limegreen;
$navbar-dropdown-bkg: #e7e7e7;
$faculty-bg-color: #f8f8f8;
$bootstrap-tab-underline: #dddddd;
$faculty-card-bottom-border: darkblue;
