#papertrail_changeset {
  display: none;
}

#papertrail_changeset_pre {
  white-space: pre;
  font-family: monospace;
}

.admin_startup_partnership {
  float: left;
  margin: 10px;
  padding: 10px;
  border: 2px dashed grey;
}

.clear-both {
  clear: both;
}
