// Bootstrap customization variables
@import "v2/variables";
@import "bootstrap4_alpha2/bootstrap";
@import "v2/custom_mixins";
@import "v2/custom_theme";
@import "bootstrap_btn_customization";

@import "font-awesome";
@import "bootstrap-datetimepicker";
@import "video-js";

// Rails Assets
@import "pnotify";
@import "slick-carousel/slick.scss";
@import "slick-carousel/slick-theme.scss";

// Select2
@import "select2";
@import "select2-bootstrap";

// Common
@import "v2/shared";
@import "v2/navbar";
@import "v2/header";
@import "v2/footer";
@import "v2/errors";

// Controller-specific
@import 'v2/home';
@import 'v2/founders';
@import 'v2/changelog';
@import 'v2/batch_application';
@import 'v2/tour';
@import 'v2/start_in_college';
