/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require bootstrap-select.min
 *= require_self
 */

body {
  text-align: center;
  background-color: #F6F6EF;
}

#container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
}

.footnote{
	bottom: 5px;
	font-size: 10px;
	text-align: center;
  margin: 0 auto;
  width: 960px;
}
