/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require bootstrap-select.min
 *= require_self
 */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
}

.footer {
    margin: 0 auto;
    padding: 20px 0;
    color: #666;
    background: #fff;
    border-top: 1px solid #f3f3f3;
}

.footer-wrap {
    width: 1000px;
    margin: 0 auto;
}

.ftr-lft {
    float: left;
    width: 400px;
}

.ftr-rgt {
    float: right;
    width: 100px;
}

.ftr-rgt img {
    margin-right: 10px;
}
.home-container {
    background: url("bg.png")repeat scroll center top / cover;
}

.header-wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.header-block {
    background: #fff;
    height: 100px;
    border-bottom: 1px solid #f3f3f3;
}

.logo {
    float: left;
}

.home-top-right-block {
    float: right;
    padding: 30px 0 0 0;
    color: #ccc;
}

.clear {
    clear: both;
}

.home-block {
    min-height: 500px;
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

.device-block {
    float: left;
}

.text-block {
    float: right;
    width: 550px;
}

.text-block h1 {
    font-weight: 100;
    color: #fff;
    font-size: 60px;
    padding: 0;
    margin: 100px 0 20px 0;
}

.text-block p {
    font-weight: 100;
    color: #fff;
    font-size: 18px;
    padding: 0;
    margin: 30px 0 60px 0;
    line-height: 30px;
}

button.emerald{
    margin-right:10px;
    background:#2ecc71;
    border-bottom: #27ae60 3px solid;
    border-left: #27ae60 1px solid;
    border-right: #27ae60 1px solid;
    border-radius:6px;
    text-align:center;
    color:white;
    padding:15px 50px;
    float:left;
    font-size:20px;
    font-weight:400;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1) !important;
}

button.emerald:hover{

    background:#2BBB68;
    color: #fff;

}


button.sunflower{
    margin-left:30px;
    background:#f1c40f;
    border-bottom: #f39c12 3px solid;
    border-left: #f39c12 1px solid;
    border-right: #f39c12 1px solid;
    border-radius:6px;
    text-align:center;
    color:white;
    padding:15px 50px;
    float:left;
    font-size:20px;
    font-weight:400;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1) !important;
}

button.sunflower:hover{
    background:#DAB10E;
    color: #fff;
}


.login-block {
    margin: 150px auto 150px auto;
    width: 500px;
    border: 1px solid #f3f3f3;
    background: #fff;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.login-block h3 {
    background:#3498db;
    border-bottom: #2980b9 3px solid;
    text-align:center;
    color:white;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 50px 0;
    padding:10px;
}

.signin-pad {
    padding-left: 180px;
}

.remember {
    padding-left: 110px;
}

.login-links {
    text-align: center;
    padding: 20px 0;
    background: #f3f3f3;
    font-size: 12px;
}

.container {
    padding-top: 100px;
    width: 1000px !important;
    min-height: 600px;
    margin: 0 auto 30px auto;
}

.container h1 {
    font-weight: 400 !important;
    color: #08C;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #f3f3f3;
    font-size: 30px;
}

