$navbar-height: 80px;
$navbar-default-bg: white;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";
@import "datepicker";
@import "global";
@import "welcome";
@import "partnerships";
@import "users";
@import "startups";
@import "startup_links";
@import "easyrtc";

table#t01 {
    background-color: #ccf2ff;
} 
table#t02 {
    background-color: #bbffb7;
} 



