body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $primary-background;
  font-size: $font-size-sm;
  position: relative;

  &.modal-open {
    overflow-y: hidden;
  }
}

a {
  transition: all 0.2s;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: $link-decoration;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $headings-font-weight;
  color: $dark-grey-text;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}

.font-light {
  font-weight: $font-light;
}

.font-regular {
  font-weight: $font-regular;
}

.font-semibold {
  font-weight: $font-semibold;
}

.font-bold {
  font-weight: $font-bold;
}

.font-black {
  font-weight: $font-black;
}

// **********  Overriding Bootstrap classes **********

// **********  Custom style **********
// Brand Color classes
.brand-primary {
  color: $brand-primary;
}

.brand-secondary {
  color: $brand-secondary;
}

.light-primary {
  color: $light-primary;
}

.light-secondary {
  color: $light-secondary;
}

.dark-primary {
  color: $dark-primary;
}

.dark-secondary {
  color: $dark-secondary;
}

.alert-text {
  color: $alert-background;
}

.dark-grey-text {
  color: $dark-grey-text;
}

.light-grey-text {
  color: $light-grey-text;
}

.white-text {
  color: #ffffff;
}

// ******** BUTTON Style ********
.btn {
  border-radius: $border-radius-btn;
  outline: none;
  border: 0;
  color: white;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-bold;
  font-size: $btn-text-size;
  letter-spacing: 0.02rem;
  white-space: normal;
  transition: all 0.2s;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
    }
  }
  &.disabled {
    cursor: not-allowed;

    &:hover, &:focus, &:active {
      color: rgb(165, 173, 186);
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
  }
}

.btn-xs {
  padding: 6px 10px;
}

.btn-sm {
  padding: 6px 18px;
}

.btn-md {
  padding: 12px 24px;
}

.btn-lg {
  padding: 15px 32px;
}

.navbar-brand {
  padding: 0.1rem 0 0 0;
}

.btn-default {
  background-color: $primary-background;
  border: 1px solid $gray-border;
  color: lighten($gray-dark, 20%);

  &:hover {
    background-color: $dark-primary-background;
  }
  &:focus,
  &.focus {
    background-color: $dark-primary-background;
    box-shadow: none;
  }
  &:active,
  &.active {
    background-color: $dark-primary-background;
    box-shadow: $box-shadow-btn;
  }
  &:disabled,
  &.disabled {
    color: rgb(165, 173, 186);
    background-color: rgba(9, 30, 66, 0.07);
    box-shadow: none;
  }
}

.btn-primary {
  background-color: $light-primary;

  &:hover {
    background-color: $brand-primary;
    color: white;
  }
  &:focus,
  &.focus {
    background-color: $light-primary;
    box-shadow: none;
  }
  &:active,
  &.active {
    background-color: $dark-primary;
    box-shadow: $box-shadow-btn;
  }
  &:disabled,
  &.disabled {
    color: rgb(165, 173, 186);
    background-color: rgba(9, 30, 66, 0.07);
    box-shadow: none;
  }
}

.btn-secondary {
  background-color: $light-secondary;

  &:hover {
    background-color: $brand-secondary;
    color: white;
  }
  &:focus,
  &.focus {
    background-color: $light-secondary;
    box-shadow: none;
  }
  &:active,
  &.active {
    background-color: $dark-secondary;
    box-shadow: $box-shadow-btn;
  }
  &:disabled,
  &.disabled {
    color: rgb(165, 173, 186);
    background-color: rgba(9, 30, 66, 0.07);
    box-shadow: none;
  }
}

.btn-ghost-primary {
  background-color: white;
  border: 1px solid $brand-primary;
  color: $brand-primary;

  &:hover {
    background-color: $brand-primary;
    color: white;
  }
  &:focus,
  &.focus {
    background-color: $light-primary;
    box-shadow: none;
  }
  &:active,
  &.active {
    background-color: $dark-primary;
    box-shadow: $box-shadow-btn;
  }
}

.btn-ghost-secondary {
  background-color: white;
  border: 1px solid $brand-secondary;
  color: $brand-secondary;

  &:hover {
    background-color: $brand-secondary;
    color: white;
  }
  &:focus,
  &.focus {
    background-color: $light-secondary;
    box-shadow: none;
  }
  &:active,
  &.active {
    background-color: $dark-secondary;
    box-shadow: $box-shadow-btn;
  }
}

.btn-with-icon {
  i {
    margin-right: 5px;
  }
}
.btn-link {
  color: $brand-secondary;

  &:hover {
    color: $light-secondary;
  }
  &:focus,
  &.focus {
    color: $dark-secondary;
  }
  &:active,
  &.active {
    color: $dark-secondary;
  }
}
// Default container style with border
.container-md-center {
  @extend .mx-auto;
  max-width: 45rem;
  min-height: 100vh;
}

.container-sm-center {
  @extend .mx-auto;
  max-width: 32rem;
  min-height: 100vh;
}

.content-box {
  padding: 30px;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 5px;
  border: 1px solid $gray-border;

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }
}

.secondary-banner {
  padding: 35px 0;
  background: rgba(255, 255, 255, 1)
    asset-url("custom_theme/secondary-banner-background.svg") no-repeat center
    center;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid $gray-border;
}

.banner-head {
  padding: 25px 0 0;

  h1 {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 1px solid $light-primary;
  }
  p {
    font-size: 1rem;
    font-weight: $font-light;
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.message-emoticon {
  font-size: 3rem;
  line-height: 1;
}

.form-section-title {
  border-bottom: 1px solid $gray-border;
  padding-bottom: 10px;
}

.content-head {
  position: relative;
  padding-top: 40px;
  margin-bottom: 50px;

  .content-title-icon {
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto 15px;
    display: block;

    &.startincollege-initiative-icon {
      background-image: asset-url(
        "custom_theme/content-title-icon-startincollege-initiative.svg"
      );
      height: 75px;
    }

    &.graduated-icon {
      background-image: asset-url(
        "custom_theme/content-title-icon-graduated.svg"
      );
      height: 75px;
    }

    &.program-icon {
      background-image: asset-url(
        "custom_theme/content-title-icon-program.svg"
      );
      height: 50px;
    }

    &.program-partners-icon {
      background-image: asset-url(
        "custom_theme/content-title-icon-program-partners.svg"
      );
      height: 43px;
    }

    &.faq-icon {
      background-image: asset-url("custom_theme/content-title-icon-faq.svg");
      height: 60px;
    }

    &.fees-icon {
      background-image: asset-url("custom_theme/content-title-icon-fees.svg");
      height: 62px;
    }

    &.winner-icon {
      background-image: asset-url("custom_theme/content-title-icon-winner.svg");
      height: 75px;
    }

    &.campaign-images-icon {
      background-image: asset-url(
        "custom_theme/content-title-icon-startincollege-campaign.svg"
      );
      height: 75px;
    }
  }

  &:before {
    content: "";
    width: 60px;
    display: inline-block;
    border-bottom: 3px solid $gray-border;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.read-more {
  position: relative;
  overflow: hidden;
}

.read-less-link,
.read-more-link {
  text-transform: uppercase;
  font-weight: $font-semibold;
  display: inline-block;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  bottom: 0;
  left: 0;
  height: 30px;
  margin: 0 0 30px;
  padding: 80px 0 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.has-error {
  @extend .text-danger;
}

.help-block {
  color: red;
}

.header-spacer {
  padding-top: 85px;
}

.success-box,
.alert-box {
  padding: 15px;
  @include border-radius(10px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: white;
  position: relative;
  max-width: 20rem;
  font-size: 1rem;
  line-height: 1.2;
  display: flex;
  align-items: center;

  &:before {
    font-family: "FontAwesome", sans-serif;
    font-size: 2.125rem;
    margin-right: 15px;
  }
}

.alert-box {
  background-color: $alert-background;
  border: 1px solid darken($alert-background, 20%);

  &:before {
    content: "\f0a2";
  }
}

.success-box {
  background-color: $light-primary;
  border: 1px solid $brand-primary;

  &:before {
    content: "\f00c";
  }
}

.tooltip {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

// Tab container
.tab-content-container {
  background-color: white;
  border: 1px solid $gray-border;
  border-width: 0 1px 1px 1px;
  @include border-radius(0 0 5px 5px);
  box-shadow: $box-shadow;
}

// Table
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;

  th,
  td {
    border-top: 0;
    border-bottom: $table-border-width solid $table-border-color;
  }
}

// Zebra-striping
.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $primary-background;
  }
}

// Override Pagination style
.pagination {
  margin: 0;

  .page-item {
    &:first-child {
      .page-link {
        @include border-left-radius($border-radius-btn);
      }
    }
    &:last-child {
      .page-link {
        @include border-right-radius($border-radius-btn);
      }
    }
    .page-link {
      border: $pagination-border-width solid $gray-border;
    }
  }
}
