.error {
  margin: 4rem 0 4.5rem 0;
  font-weight: 300;

  @include media-breakpoint-down(sm) {
    margin: 3rem 0 3rem 0;
  }

  img {
    width: 500px;
  }

  .title {
    color: $dark-secondary;
    margin-top: 20px;
  }

  .description {
    margin-top: 10px;
  }
}
