$faculty-bg-color: #f8f8f8;

// The navbar shouldn't have any margin on this page.
.navbar { margin-bottom: 0; }

// The prefooter shouldn't have any margin either;
section#prefooter { margin-top: 0; }

#faculty {
  font-family: Roboto, sans-serif;
  background-color: $faculty-bg-color;

  h1 { font-weight: 100; }

  p.introduction {
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
  }

  #tabbed-content {
    margin-top: 30px;

    a.tab-title { text-transform: uppercase; }

    li.active {
      a.tab-title {
        border: 1px solid $faculty-bg-color;
        border-bottom: 3px solid limegreen;
        background-color: $faculty-bg-color
      }
    }

    #faculty-nav {
      margin-bottom: 30px;

      a.inactive-spacer {
        height: 100%;
        user-select: none;
        color: $faculty-bg-color;

        @media screen and (max-width: 767px) { display: none; }

        &:hover {
          cursor: default;
          background-color: initial;
          border: 1px solid $faculty-bg-color;
          border-bottom: 1px solid #ddd;
        }
      }
    }

    .faculty-cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .faculty-card {
        background-color: white;
        width: 200px;
        height: 340px;
        border-bottom: 2px solid darkblue;
        margin: 0 22px 45px 22px;

        img {
          width: 200px;
          height: 240px;
        }

        .faculty-info {
          text-align: center;

          .faculty-name {
            text-transform: uppercase;
            margin-top: 15px;
            font-weight: 500;
          }

          .faculty-title {
            margin-top: 6px;
            font-size: 11px;
            font-weight: 300;
          }

          .faculty-links {
            margin-top: 6px;

            a { margin-right: 10px; }
            :last-child { margin-right: 0; }
          }
        }
      }
    }
  }
}
