.footer-sitemap {
  position: relative;
  background-color: $secondary-background;
  color: white;
  padding: 3rem 0 2rem 0;
  line-height: 25px;

  @include media-breakpoint-down(sm) {
    padding: 2rem 0;
  }
}
.footer-column {
  @include media-breakpoint-down(sm) {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 15px;
    margin-bottom: 0;
    padding-top: 20px;

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
.footer-column__head {
  color: white;
  font-size: 0.937rem;
}
.footer-column__link {
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.9);
  }
}
.footer-column__address {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social-icons {
  margin: 10px 0;
}
.footer-social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  @include border-radius(50%);
  height: 36px;
  width: 36px;
  text-align: center;
  margin: 0 1rem 0 0;
  color: $secondary-background;
  background-color: white;

  @include media-breakpoint-only(md) {
    margin-right: 0.5rem;
  }

  &:last-child {
    margin: 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: $light-secondary;
  }
}

.banner-row {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.5rem 0 0.5rem 0;
  text-align: center;
  width: 100%;
}

.dot-co-banner {
  margin-top: 0.6rem;
  max-width: 130px;
  background-color: black;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

#policy-modal {
  p {
    margin-bottom: 1rem;
  }

  ol {
    padding-left: 15px;
    margin-bottom: 1rem;
  }
}
.footer-logo {
  opacity: 0.7;
  margin-bottom: 15px;
  width: 150px;
}
.footer-bottom {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.6);
}
.footer-bottom__box {
  height: 80px;
}
.footer-bottom__logo {
  width: 120px;
}
.footer-bottom__link {
  white-space: nowrap;
  font-size: 0.75rem;
}
.footer-bottom__copyright {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.4);
  white-space: nowrap;
}

.footer-bottom__logo-link {
  color: white;
  font-weight: bold;
  font-size: 150%;
}
