.header-media {
  width: 100%;
  height: auto; }

/* Header */
/* landing page */

@media screen and (max-width: 767px) {
  .carousel h4 {
    font-size: 40px !important;
    text-align: center !important; }
  .carousel .item div {
    text-align: center !important; }
}

@media screen and (max-width: 767px) {
  .carousel h4 {
    font-size: 32px !important;
    text-align: center !important; }
  .carousel .item {
    text-align: center !important; }
}

@media screen and (max-width: 480px) {
  .carousel h4 {
    font-size: 22px !important;
    text-align: center !important; }
  .carousel .item {
    text-align: center !important; }
}

@media screen and (max-width: 320px) {
  .carousel h4 {
    font-size: 16px !important;
    text-align: center !important; }
  .carousel .item {
    text-align: center !important; }
}

.short-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Remove the top and bottom margin for navbar-brand. */
.navbar-brand-without-vertical-padding {
  padding-top: 0px;
  padding-bottom: 0px; }

/* Stuff affecting the content section follows. */

/* table.table-borderless */
.table-borderless tbody tr td, .table-borderless thead tr th, .table-borderless tbody tr th {
  border: none; }

a.source-link {
  font-size: 80%;
  border: 1px solid whitesmoke;
  padding: 7px;
  margin-right: 5px;
  display: inline-block; }

a.source-link:hover {
  background-color: whitesmoke;
  text-decoration: none; }

.btn-verification {
  width: 100%;
  margin-bottom: 10px; }

/*---------------------- new styles -------------------------------*/

.iteration_link img {
  vertical-align: middle; }

.iteration_link li {
  margin-left: -40px;
  list-style-type: none; }

.iteration_link a {
  text-decoration: none;
  margin-left: 5px;
  color: #757575;
  font-weight: 400; }

.iteration_link a:hover {
  color: #0f9d58; }

/* Landing page */
body {
  font-family: 'source sans pro', sans-serif; }

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  -webkit-backface-visibility: hidden; }

/* text-based popup styling */
.white-popup {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 900px;
  margin: auto; }

/*

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8); }

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out; }

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1); }

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0; }

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/*----------popup ends-----*/
hr {
  color: #ebebeb !important;
  height: 1px;
  width: 100%;
  text-align: left; }

frame, video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

iframe {
  height: 100%;
  width: 100%; }

.teaser-video {
  width: 100%;
  height: auto; }

.side-content {
  padding-top: 18%; }

#about-section {
  padding: 30px 10px; }

.list-container {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  border: 1px solid #ddd; }

.list-row {
  /* As wide as it needs to be */
  width: 100%;
  height: 450px;
  overflow: auto; }

.list-row a {
  clear: left;
  display: block;
  border-bottom: 1px solid #ddd; }

.hdstyle {
  text-align: center; }

#bdstyle {
  border-bottom: 2px solid #00ce78; }

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
  0% {
    color: #0F9D58;
    left: 0px;
    top: 0px; }
  50% {
    color: #0F9D58;
    left: 50px;
    top: 0px; }
  100% {
    color: #0F9D58;
    left: 0px;
    top: 0px; }
}

/* Standard syntax */
@keyframes example {
  0% {
    color: #0F9D58;
    left: 0px;
    top: 0px; }
  50% {
    color: #0F9D58;
    left: 50px;
    top: 0px; }
  100% {
    color: #0F9D58;
    left: 0px;
    top: 0px; }
}
