// Common styling for all pages.
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

// Footer element.
footer {
  border-top: 1px solid #f3f3f3;
  padding: 20px 0px;
  margin-top: 20px;
  color: #666666;
  background: #ffffff;
}

// Images in footer.
footer img {
  margin-right: 10px;
  cursor: pointer;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-0 {
  margin-top: 0;
}

// table.table-borderless
.table-borderless tbody tr td, .table-borderless thead tr th, .table-borderless tbody tr th {
  border: none;
}

button.emerald{
    margin-right:10px;
    background:#2ecc71;
    border-bottom: #27ae60 3px solid;
    border-left: #27ae60 1px solid;
    border-right: #27ae60 1px solid;
    border-radius:6px;
    text-align:center;
    color:white;
    padding:15px 50px;
    float:left;
    font-size:20px;
    font-weight:400;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1) !important;
}

button.emerald:hover{

    background:#2BBB68;
    color: #fff;

}

button.sunflower{
    background:#f1c40f;
    border-bottom: #f39c12 3px solid;
    border-left: #f39c12 1px solid;
    border-right: #f39c12 1px solid;
    border-radius:6px;
    text-align:center;
    color:white;
    padding:15px 50px;
    float:left;
    font-size:20px;
    font-weight:400;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1) !important;
}

button.sunflower:hover{
    background:#DAB10E;
    color: #fff;
}


.login-block {
    margin: 50px auto 100px auto;
    width: 500px;
    border: 1px solid #f3f3f3;
    background: #fff;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.login-block h3 {
    background:#3498db;
    border-bottom: #2980b9 3px solid;
    text-align:center;
    color:white;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 50px 0;
    padding:10px;
}

.signin-pad {
    padding-left: 180px;
}

.remember {
    padding-left: 110px;
}

.login-links {
    text-align: center;
    padding: 20px 0;
//    background: #f3f3f3;
    font-size: 12px;
}

.notice {
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: darkred;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.team-top-wrap, .jobs-block {
  width: 950px;
  margin: 0 auto;
  padding: 60px 0;
}

.team-block h1, .jobs-block  h1 {
  font-weight: 100;
  font-size: 30px;
  color: #2E9ABA;
  margin: 0 0 20px 0;
}

.team-block p {
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  color: #777;
}

.jobs-block  p {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  color: #777;
}

.jobs-block ul li {
  font-size: 16px;
  line-height: 30px;
  font-weight: 100;
}

.jobs-block  h3 {
  font-size: 18px;
  font-weight: 300;
  color: #333;
  margin: 0 0 5px 0;
}

.jobs-block  h2 {
  font-size: 24px;
  font-weight: 300;
  color: #2E9ABA;
  margin: 10px 0;
  border-bottom: 1px solid #f3f3f3;
}

.job_details {
  border-bottom: 3px solid #f3f3f3;
  margin: 0 0 50px 0;
  padding: 0 0 20px 0;
}

.carousel-inner {
  margin: 0 auto;
  width: 950px;

}

.carousel-inner  p {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.carousel-inner  h2 {
  font-weight: 100;
  color: #2E9ABA;
  text-align: center;
  margin: 30px 0 10px 0;
}

.carousel-inner  h2  span {
  color: #999;
  font-size: 20px;
}

.carousel-inner h4 {
  text-align: center;
  padding: 0;
  margin: 0 0 30px 0;
}

.teammates {
  width: 100%;
  padding: 20px 0;
  background: #2E9ABA;
  height: 150px;
}

.carousel-indicators {
  text-align: center;
  margin: 0 auto !important;
  width: 950px !important;
  position: relative !important;
}

.carousel-indicators img.circle {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 99em;
  max-width: none !important;
  cursor: pointer;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  margin: 0 5px;
}

.carousel-indicators img.active {
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

.carousel-indicators img:hover {
  opacity:.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.carousel-control {
  display: none;
}

.opening {
  margin: 10px 0 0 0;
  text-transform: uppercase;
}

.opening a {
  border: 1px solid #2E9ABA;
  padding: 5px 15px;
  border-radius:10px;
}
