body, p, div {
  font-family: inherit;
  font-size: 15px;
}
body {
  color: #333333;
}
body a {
  color: #46b4a5;
  text-decoration: none;
}
p { margin: 0; margin-bottom: 20px; padding: 0; }
table.wrapper {
  width:100% !important;
  table-layout: fixed;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
img.max-width {
  max-width: 100% !important;
}
.column.of-2 {
  width: 50%;
}
.column.of-3 {
  width: 33.333%;
}
.column.of-4 {
  width: 25%;
}
ul ul ul ul  {
  list-style-type: disc !important;
}
ol ol {
  list-style-type: lower-roman !important;
}
ol ol ol {
  list-style-type: lower-latin !important;
}
ol ol ol ol {
  list-style-type: decimal !important;
}
@media screen and (max-width:480px) {
  .preheader .rightColumnContent,
  .footer .rightColumnContent {
    text-align: left !important;
  }
  .preheader .rightColumnContent div,
  .preheader .rightColumnContent span,
  .footer .rightColumnContent div,
  .footer .rightColumnContent span {
    text-align: left !important;
  }
  .preheader .rightColumnContent,
  .preheader .leftColumnContent {
    font-size: 80% !important;
    padding: 5px 0;
  }
  table.wrapper-mobile {
    width: 100% !important;
    table-layout: fixed;
  }
  img.max-width {
    height: auto !important;
    max-width: 100% !important;
  }
  a.bulletproof-button {
    display: block !important;
    width: auto !important;
    font-size: 80%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .columns {
    width: 100% !important;
  }
  .column {
    display: block !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .social-icon-column {
    display: inline-block !important;
  }
}

* {
    line-height: 22px;
    font-family: Montserrat, sans-serif;
}

ul { margin: 0 !important; }

.monospace {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 90%;
  color: #6025C0;
  display: inline-block;
  line-height: 1.5;
  background-color: #fafafa;
  border: 1px solid #999999;
  padding: 7px 10px;
  word-break: break-word;
  border-radius: 5px;
}

.mailer-body__table {
  width: 100%;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 0 1px 1px 1px;
}

.mailer-head__table {
  width: 100%;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 1px 1px 0 1px;
}

.mailer-body__hero {
  padding: 24px;
  color: white;
  text-align: center;
  background-color: #F1EDF7;
  background-image: asset-url("mailer/emailer-hero-pattern.png"), linear-gradient(to right, #60b158 0%, #2182a2 100%);
  background-size: cover;
  width: 100%;

  a {
    color: white;
  }
}

.mailer-body__hero {
  padding: 24px;
  color: white;
  text-align: center;
  background-color: #F1EDF7;
  background-image: asset-url("mailer/emailer-hero-pattern.png"), linear-gradient(to right, #60b158 0%, #2182a2 100%);
  background-size: cover;
  width: 100%;

  a {
    color: white;
  }
}

.mailer-button {
  background: white;
  color: #5a67d8 !important;
  border-radius: 5px;
  padding: 10px 40px;
  margin-top: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}
