// Place all the styles related to the MentorMeetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video-container {
  position: relative;
  @extend .col-md-8;
  @extend .col-md-offset-2;
}

video#guest {
  width: 100%;

  background: rgba(0,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(85,85,85,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(85,85,85,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(85,85,85,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(85,85,85,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(85,85,85,1) 100%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(85,85,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#555555', GradientType=1 );
}

#note-over-guest-video {
  color: grey;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 100%;
  text-align: center;
}

video#self {
  width: 20%;
  position: absolute;
  bottom: -10px;
  right: 0;
  z-index: 999;

  background: rgba(66,65,66,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(66,65,66,1) 0%, rgba(5,5,5,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(66,65,66,1)), color-stop(100%, rgba(5,5,5,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(66,65,66,1) 0%, rgba(5,5,5,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(66,65,66,1) 0%, rgba(5,5,5,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(66,65,66,1) 0%, rgba(5,5,5,1) 100%);
  background: radial-gradient(ellipse at center, rgba(66,65,66,1) 0%, rgba(5,5,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424142', endColorstr='#050505', GradientType=1 );
}

#controls-container {
  height: 52px;
}

.controls-align-bottom {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#control-buttons {
  margin-bottom: 10px;
}

.max-height {
  height: 100%;
}