#header {
  .nav-spacer {
    padding-top: 80px;
  }

  .navbar, .navbar-default {
    background: none;
    border: none;
    .container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  .navbar-header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .shrink {
    background-color: #fff;
    box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.56);
    height: 80px;

    .nav a {
      color: #000;
      transition: all 0.3s;
    }
  }

  nav {
    .navbar-toggle {
      margin: 13px 15px 13px 0;
    }

    .shrink {
      min-height: 35px;
      .navbar-toggle {
        padding: 4px 5px;
        margin: 8px 15px 8px 0;
      }
    }

    .SiteLogo {
      position: relative;
      max-height: 50px;
    }

    a {
      position: relative;
      display: inline-block;
      outline: none;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
      font-size: 1.06em;
      &:hover, &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #header {
    .navbar-default {
      height: 70px;
    }

    .nav-spacer {
      padding-top: 70px;
    }

    .SiteLogo {
      top: -5px;
    }

    .navbar-collapse {
      background-color: #fff;
      margin-top: 10px;
      border-top: 0px;
      box-shadow: 3px 3px 10px #ccc;
      margin-left: 0px;
      margin-right: 0px;

      ul {
        margin: 0px;
      }
    }

    .shrink .nav a {
      width: 100%;
    }

    .nav {
      background-color: #fff;
      box-shadow: 0px 2px 5px -7px black;
      border-top: 1px solid #f9f9f9;

      a {
        color: #000;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #header {
    .shrink .nav a {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 25px;

      &::before, &::after {
        background: #000;
      }

      .SiteLogo {
        top: -8px;
      }
    }

    .nav li a {
      float: right;
      position: relative;
      color: #fff;
      display: block;
      padding: 5px 0px;
      margin: 30px 15px 15px 15px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      transition: all 0.3s;

      &::before, &::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
        content: '';
        transition: transform 0.3s;
        transform: scale(0.85);
      }

      &::after {
        opacity: 0;
        transition: top 0.3s, opacity 0.3s, transform 0.3s;
      }

      &:hover::before, &:hover::after, &:focus::before, &:focus::after {
        transform: scale(1);
      }

      &:hover::after, &:focus::after {
        top: 0%;
        opacity: 1;
      }

      &:focus, &:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}
