@import 'bootstrap/variables';
@import 'variables';

#header {
  .nav-spacer {
    padding-top: 80px;

    @media (max-width: $screen-xs-max) { padding-top: 70px; }
  }

  .navbar,
  .navbar-default {
    background: none;
    border: 0;
    height: auto;
    padding-bottom: 10px;
  }

  // Move the logo up a little bit to center it in shrunken state (xs).
  .navbar-brand {
    @media (max-width: $screen-xs-max) {
      padding-top: 10px;
    }
  }

  // Move the navbar toggle (xs) button a little lower to center it in shrunken state.
  button.navbar-toggle { margin-top: 18px; }

  .shrink {
    background-color: white;
    box-shadow: 0 2px 5px -3px rgba(0, 0, 0, .56);

    .top-nav-link {
      color: black;
      transition: all .5s;

      &::before,
      &::after {
        background: black;
      }
    }
  }

  .top-nav-link {
    text-transform: uppercase;

    @media (min-width: $screen-sm-max) {
      float: right;
      position: relative;
      color: white;
      padding: 5px 0;
      margin: 25px 15px 15px;

      &::before,
      &::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: white;
        content: '';
        transition: transform .3s;
        transform: scale(.85);
      }

      &::after {
        opacity: 0;
        transition: top .3s, opacity .3s, transform .3s;
      }

      &:hover::before,
      &:hover::after,
      &:focus::before,
      &:focus::after {
        transform: scale(1);
      }

      &:hover::after,
      &:focus::after {
        top: 0;
        opacity: 1;
      }
    }
    @media (max-width: $screen-sm-max) {
      margin: 25px 9px 15px;
      padding: 5px 0;
    }
  }

  .logged-in-avatar-link {
    img {
      max-width: 40px;
      max-height: 40px;
      border: 1px solid #a0a0a0;
    }

    // Push down the logo a 10px since default padding plus height of image is 10px short of header height (centers it).
    @media (min-width: $screen-sm-min) { margin-top: 10px; }
  }

  ul.dropdown-menu {
    @media (min-width: $screen-sm-min) {
      border-radius: 0;
      border: 1px solid $navbar-dropdown-bkg;
      background: $navbar-dropdown-bkg;
    }
  }

  nav {
    .site-logo { max-height: 50px; }

    .navbar-collapse {
      @media (max-width: $screen-xs-max) {
        margin-top: 10px;
        border-top: 1px solid $dark-grey-border;
      }

      ul {
        @media (max-width: $screen-xs-max) {
          border: 1px solid $dark-grey-border;
          margin: 0;
          background-color: white;
        }
      }
    }

    @media (max-width: $screen-xs-max) { background-color: white; }
  }
}
