#header {
  &.header {
    background-color: white;
    box-shadow: 0 1px 0 0 $gray-border;
    position: relative;
    width: 100%;
    z-index: 1000;

    .navbar-toggler {
      vertical-align: middle;
      padding: 0.7rem 0.2rem 0.7rem 1rem;
      margin: 0.5rem 0;
      border-radius: 4px;
      border: 0;
      outline: none;

      .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #888888;
        transition: all 0.2s;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }

      &.collapsed {
        .top-bar {
          transform: rotate(0);
        }
        .middle-bar {
          opacity: 1;
        }
        .bottom-bar {
          transform: rotate(0);
        }
      }
    }
  }

  .navbar-container {
    padding: 15px 0;
    min-height: 80px;
  }

  .site-logo {
    max-height: 55px;
    max-width: 160px;
  }

  .navbar-nav {
    .nav-item + .nav-item {
      margin-left: 2rem;

      @include media-breakpoint-down(md) {
        margin-left: 1rem;
      }
      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }
  }
  .nav-item__link {
    color: $dark-grey-text;
    line-height: 26px;
    font-size: 0.9375rem;
    letter-spacing: 0.02rem;

    &:hover,
    &:focus {
      color: $brand-primary;
    }
    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
  }

  .navbar-nav__nav-item {
    @include media-breakpoint-down(md) {
      display: block;
      margin: 0;
      border-top: 1px solid $gray-border;

      a {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        text-align: center;
        display: block;
      }
    }
  }
  .navbar-profile-dropdown {
    &:after {
      display: none;
    }
  }

  .logged-in-avatar-link {
    display: block;

    img {
      max-width: 42px;
      max-height: 42px;
      border: 2px solid $gray-border;
    }
  }

  ul.dropdown-menu {
    left: auto;
    right: 0;
    margin-top: 10px;
    padding: 0;
    border-color: $gray-border;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);

    &:before {
      position: absolute;
      top: -7px;
      right: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $gray-border;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: "";
    }

    &:after {
      position: absolute;
      top: -6px;
      right: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      border-left: 6px solid transparent;
      content: "";
    }
    li {
      border-bottom: 1px solid $gray-border;

      a {
        display: block;
        padding: 10px 15px;
        font-size: 13px;
        color: $light-grey-text;

        i {
          color: $light-secondary;
          margin-right: 0.5em;
        }
        &:hover,
        &:focus {
          color: $light-secondary;
        }
      }
      &:last-child {
        border: 0;
      }
    }
    @include media-breakpoint-down(md) {
      left: 0;
      width: 100%;
      position: relative;

      &:before {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
      }
      &:after {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
      }
    }
  }
}

.sitewide-notice {
  background-color: $light-primary;
  text-align: center;
  line-height: 2;
  padding: 10px;
  color: white;
  box-shadow: inset 0px 5px 20px -10px #000;

  a {
    color: white;
    border: 1px solid #fff;
    border-radius: 20px;

    &:hover,
    &:focus {
      background-color: white;
      color: $light-primary;
      text-decoration: none;
    }
    @include media-breakpoint-down(sm) {
      display: inline-block;
    }
  }
}

.sitewide-notice--warning {
  background-color: #fdf5e7;
  border: 1px solid #e5cd9e;
  color: #9f752c;

  a {
    margin-left: 5px;
    color: #9f752c;
    border: 1px solid #e5cd9e;

    &:hover,
    &:focus,
    &:active {
      color: #9f6c18;
      box-shadow: none;
    }
    &:active,
    &.active {
      box-shadow: $box-shadow-btn;

      &:focus {
        color: #9f6c18;
      }
    }
  }
}

.sitewide-notice--error {
  background-color: #f2dede;
  border: 1px solid #e46f61;
  color: #a94442;

  a {
    margin-left: 5px;
    color: #a94442;
    border: 1px solid #e46f61;

    &:hover,
    &:focus,
    &:active {
      color: #a94442;
      box-shadow: none;
    }
    &:active,
    &.active {
      box-shadow: $box-shadow-btn;

      &:focus {
        color: #a94442;
      }
    }
  }
}

.navbar__avatar-wrapper {
  width: 42px;
  height: 42px;
  margin: 0 auto;

  svg,
  img {
    border: 2px solid $gray-border;
    border-radius: 50%;
  }
}

.navbar__text-logo {
  font-weight: bold;
}
