.header-light {
  font-weight: 200;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.font-weight-600 {
  font-weight: 600;
}

.btn-flat {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 0;
}

.btn-with-default-padding {
  padding: 6px 12px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 { margin-right: 10px; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}
