@import "bootstrap/variables";

.header-light {
  font-weight: 200;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 { margin-top: 40px; }
.margin-top-60 { margin-top: 60px; }

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.btn-flat {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 0;
}

.btn-with-default-padding {
  padding: 6px 12px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 { margin-right: 10px; }

.margin-right-5 { margin-right: 5px; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.green-text {
  color: green !important;
}

.white-text {
  color: white !important;
}

.grey-text {
  color: grey !important;
}

.pointer-cursor {
  cursor: pointer !important;
}

#inspectlet-data {
  display: none;
}

h1.page-header, h2.page-header {
  @media (max-width: $screen-xs-max) { margin-top: 20px; }
}
