// @import "bootstrap/variables";

// Fix sizing of step container for intro.js
// .introjs-helperNumberLayer {
//   box-sizing: content-box;
// }

.header-light {
  font-weight: 300;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}
.margin-top-60 {
  margin-top: 60px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.btn-flat {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 0;
}

.btn-with-default-padding {
  padding: 6px 12px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-5 {
  margin-right: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-text {
  color: green !important;
}

.white-text {
  color: white !important;
}

.grey-text {
  color: grey !important;
}

.light-grey-text {
  color: #999999;
}

.red-text {
  color: #d9534f;
}

.pointer-cursor {
  cursor: pointer !important;
}

span.strike {
  text-decoration: line-through;
}

.cursor-pointer {
  cursor: pointer;
}

.bell-icon {
  margin-right: 10px;
  i {
    font-size: 1.125rem;
    color: white;
  }
}
