.landing_header {
  background-image: image-url("startups/header.jpg");
  min-height: 500px;
}

@media screen and (max-width: 1199px) {
  .landing_header {
    min-height: 400px;
  }
}

p.caption-text-heading {
  font-size: 200%;
}

.sbox {
  padding: 0 30px 30px 0;

  .overdiv {
    display: none !important;
  }

  .thumbnail {
    border-radius: 1px !important;
    padding: 0px !important;
    background: none !important;
    position: relative;

    .imgdiv {
      padding: 30px;
      min-height: 150px;
      line-height: 40px;

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &:hover {
      cursor: pointer;

      .overdiv {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        z-index: 100;
        top: 0px;
        background: rgba(0, 229, 145, 0.9);
        display: block !important;

        h4 {
          position: relative;
          text-align: center;
          top: 45% !important;
          vertical-align: middle;
          font-weight: 300 !important;
        }

        div {
          text-align: center;
          position: relative;
          top: 40%;

          img {
            width: 40px;
          }
        }
      }
    }
  }

  .caption {
    border-top: 1px solid #ccc;
    margin: 0px !important;
    text-align: center;
    padding: 20px 20px 10px 20px !important;
    vertical-align: middle;
    font-size: 13px;
  }
}

.cat {
  .thumbnail {
    border: 0px !important;
    background: none !important;

    .imgdiv {
      padding: 0px;
    }

    h3 {
      font-size: 26px;
      font-weight: 300 !important;
      line-height: 34px !important;
      margin-bottom: 0px !important;

      @media screen and (min-width: 992px) {
        font-size: 26px !important;
      }
    }

    h5 {
      font-size: 16px;
      font-weight: 600 !important;
      margin-top: 0px !important;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sbox {
    width: 32% !important;
    display: inline-block;
    padding: 10px !important;
  }
  .sbox .imgdiv {
    padding: 10px !important;
  }
  .cat h3 {
    font-size: 18px !important;
  }
  .cat h5 {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 581px) and (max-width: 767px) {
  .sbox {
    width: 49% !important;
    display: inline-block;
    padding: 10px !important;
  }
  .cat {
    display: inline-block;
    width: 19% !important;
    vertical-align: top;
  }
  .cat .imgdiv {
    padding: 20px !important;
  }
  .cat h3 {
    font-size: 16px !important;
  }
  .cat h5 {
    font-size: 13px !important;
  }
  .cat_cont {
    display: inline-block;
    width: 79% !important;
    vertical-align: top;
  }
}

@media screen and (min-width: 481px) and (max-width: 580px) {
  .sbox {
    width: 49% !important;
    display: inline-block;
    padding: 10px !important;
  }
  .cat {
    display: inline-block;
    width: 33% !important;
    vertical-align: top;
  }
  .cat .imgdiv {
    padding: 10px !important;
  }
  .cat h3 {
    font-size: 16px !important;
  }
  .cat h5 {
    font-size: 12px !important;
  }
  .cat_cont {
    display: inline-block;
    width: 66% !important;
    vertical-align: top;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .sbox {
    width: 49% !important;
    display: inline-block;
    padding: 10px !important;
  }
  .sbox .imgdiv {
    padding: 15px !important;
  }
  .cat h3 {
    font-size: 16px !important;
  }
  .cat h5 {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 320px) {
  .sbox {
    width: 100% !important;
    display: inline-block;
    padding: 0px !important;
  }
  .sbox .imgdiv {
    padding: 20px !important;
  }
  .cat h3 {
    font-size: 16px !important;
  }
  .cat h5 {
    font-size: 12px !important;
  }
}

.showcase {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.showcase:nth-child(odd) {
  background-color: #f9f9f9 !important;
}
