.startup-details {
  text-align: left;
  width:145px;
}

.startup-card-container {
  width: 175px;
  height: 175px;
  margin: 10px;
  padding: 0;
  float: left;
  font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
}

.common-card-properties {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border: solid LightGrey 1px;
  border-radius: 2px;
}

.startup-card {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
  border: solid LightGrey 1px;
  border-radius: 2px;

  .startups-logo {
    width: 100%;
    height: 100%;
    display: flex;

    .logo-startup {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 100%;
      min-height: 100%;
    }

    .logo-name {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      font-size: large;
      font-weight: bold;
      text-align: center;
      color: cadetblue;
    }
  }
}

@media all and (max-width: 480px){
  .startup-card-container {
    float: none;
    margin: 10px auto;
  }
}

.timeline-footer {
  margin-top: 12px;
  clear: both;
}

a.source-link {
  font-size: 80%;
  border: 1px solid whitesmoke;
  padding: 7px;
  margin-right: 5px;
  display: inline-block;
}

a.source-link:hover {
  background-color: whitesmoke;
  text-decoration: none;
}

.timeline-pivot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.timeline-pivot > ul {
  max-width: 600px;
  text-align: center;
}

.btn-verification {
  width: 100%;
  margin-bottom: 10px;
}
