// Place all the styles related to the StartupJobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-container {
   width: 150px; height: 150px;
  margin: 10px;  padding: 0;
  font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
// for flip transform
  perspective: 800px;
  &:hover .card{
    transform: rotateY( 180deg );
  }
}

.card {
    width: 100%; height: 100%;
    margin:0;
    position: relative;
// for flip transform
    transition: transform .5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.front {
  width:100%; height: 100%;
  margin:0;
  position: absolute; top: 0px;left: 0px;
  border: solid LightGrey 1px; border-radius: 2px;
  display: flex; flex-direction: column; align-items: center;
//for flip transform
  z-index: 2;
  backface-visibility: hidden;

  .title{
    width: 100%; height: 25%;
    padding:10px; margin:0;
    text-align: center;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    color: grey;
  }

  .logo{
  width:100%; height: 60%;
  display:flex; align-items:center; justify-content:center;

    img{
      max-width:100%; max-height: 100%;
      flex:none; margin: auto;
      flex:none;
    }

    .startupname{
      max-width: 100%; max-height: 100%;
      font-size: large;
      text-align: center;
      overflow: hidden;
      color: cadetblue;
    }
  }
  .location {
    width:100%;height: 15%;
    text-align: center;
    color: grey;
    font-size: small;
  }
}

.back {
  width: 100%; height: 100%;
  position: absolute; top: 0px; left: 0px;
  padding: 2px;
  border: solid LightGrey 1px; border-radius: 2px;
  font-size: x-small;
  display: flex; flex-flow: column nowrap;
//for flip transform
  z-index: 3;
  backface-visibility: hidden;
  transform: rotateY( 180deg );

  .job-details{
    flex:9;
    .field-name{
      display: inline-block;
      color: cadetblue;
    }
    .field-detail{
      display: inline-block;
      color:grey;
    }
  }
  .job-postdate{
    flex:1;
    text-align: right;
    color: LightGrey;
  }
}

//flex for grid layout of cards
.cards-grid-parent-flex{
  width:800px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin: auto;
}

@media all and (max-width: 768px) {
    .cards-grid-parent-flex{
      width:600px;
    }
}

@media all and (max-width: 480px) {
    .cards-grid-parent-flex{
      width:200px;
    }
}

