.startup-heading {
  margin: 0 0 20px 0px;
}

.startup-logo {
  max-height: 39px;
}

.startup-attributes-table {
  margin-bottom: 0;
}

.startup-attributes-table ul.list-group {
  margin-bottom: 0;
}

.startup-founder {
  float: left;
  padding: 8px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  margin-right: 10px;
}

.startup-founder-text {
  margin-left: 10px;
}

p.startup-founder-name {
  font-weight: bold;
  font-size: 150%;
}

p.startup-founder-title {

}

.startup-founder-social {
  display: inline-block;
  margin-right: 5px;
}
