.story-bg {
  background: asset-url("home/story/story-illustration.svg") no-repeat center center;
  height: 160px;
}

.document-section {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #ededed;

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 200%;
  }
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: 0;
    padding-bottom: 10px;
  }
  .text-limit {
    max-width: 460px;
  }
}

.transparency-content {
  background-color: #f7f8fa;

  .transparency-intro {
    background-color: white;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  #transparency-intiative {
    padding-top: 30px;
  }
  .transparency-initiative-image {
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  .transparency-block {
    position: relative;
    .transparency-document {
      background-color: white;
      border: 1px solid #ededed;
      border-radius: 5px;
      padding: 20px 0;
      position: relative;

      h3 {
        padding: 0 30px;
        margin-bottom: 5px;
        margin-top: 0;

        &.blue-shadow-left {
          box-shadow: inset 4px 0 0 0 #3b97c3;
        }
        &.green-shadow-left {
          box-shadow: inset 4px 0 0 0 #00a651;
        }
      }
      p {
        padding: 0 30px;
        line-height: 28px;
      }
      .last-updated {
        font-size: 12px;
        display: block;
        color: #a4a4a4;
        padding: 0 30px 15px;
      }
      ul {
        margin: 0;

        li {
          margin-left: 3rem;
          margin-bottom: 0.5rem;

          &:before {
            content: '\f0f6';
            font-family: 'FontAwesome';
            float: left;
            font-size: 16px;
            margin-top: 2px;
            color: #389ccc;
          }
          @include media-breakpoint-down(xs) {
            margin-left: 30px;
          }
        }
      }
      .highlight-section {
        #impact-report {
          padding: 0;
          overflow: hidden;
        }
        #sv-handbook {
          padding: 0;
          overflow: hidden;
        }
        a {
          display: block;
          color: white;
          padding: 35px 30px;

          &.impact-report-link {
            background: #936a79 asset-url("home/story/imapct-report-bg.png");
            background-size: cover;
            box-shadow: inset -1px 0 0 0 white;

            @include media-breakpoint-down(xs) {
              box-shadow: none;
              border-bottom: 1px solid white;
            }
          }
          &.sv-handbook-link {
            background: #254582 asset-url("home/story/sv-handbook-bg.png");
            background-size: cover;
          }
          &:hover, &:focus {
            text-decoration: none;
            outline: none;
          }
        }
        .document-link-text {
          display: block;
          padding-top: 5px;

          i {
            font-size: 18px;
            padding-right: 10px
          }
        }
        p {
          font-size: 11px;
          line-height: 16px;
          padding: 0;
          margin: 0;
        }
        h4 {
          margin: 0;
          color: white;
          font-size: 40px;
          line-height: 40px;

          @include media-breakpoint-down(md) {
            font-size: 32px;
          }
        }
      }
    }
  }
}

#transparency-sidebar {
  nav {
    background-color: white;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 0;
    max-width: 370px;

    ul {
      margin: 0;
      padding: 0;

      li {
        a {
          color: #898989;
          display: block;
          font-size: 15px;
          font-weight: 300;
          position: relative;
          padding: 12px 20px 12px 60px;

          &.nav-active {
            color: #ccc;
          }

          &:before, &:after {
            position: absolute;
          }
          &:before {
            content: '\25CF';
            font-size: 24px;
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            left: 20px;
            width: 25px;
            height: 25px;
            line-height: 23px;
            border-radius: 50%;
            color: #ebebeb;
            text-align: center;
            box-shadow: inset 0 0 0 1px #ebebeb;
            transition: background-color 0.3s, color 0.3s;
          }
          &:after {
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            width: auto;
            background-color: #ebebeb;
          }
          &:hover, &.active {
            outline: 0;
            text-decoration: none;
            color: #3568aa;
            background-color: #f8f8f8;

            &:before {
              color: #3568aa;
              box-shadow: inset 0 0 0 1px #3568aa;
            }
          }
          &:focus {
            outline: 0;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.btn-anim:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.btn-anim:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.highlight-link {
  overflow: hidden;
}

.highlight-link:after {
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 0;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  transform-origin: 0 0;
  transform: rotate(-35deg);
}

.highlight-link:hover:after {
  width: 40%;
}
