.sixways-container {
  background-color: white;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    overflow-y: auto;
    display: block;
  }
}
.sixways-header {
  display: flex;
  height: 120px;
  position: fixed;
  width: 100%;
  z-index: 1;

  .sixways-logo-container {
    background: $light-secondary;
    height: 120px;
    left: 0;
    position: fixed;
    top: 0;
    padding: 2rem;
    width: 320px;
    border-bottom: 1px solid $brand-secondary;

    .sixways-logo {
      display: inline-block;
      width: 140px;

      @include media-breakpoint-down(sm) {
        width: 100px;
      }
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 60px;
      padding: 12px 30px;
    }
  }
  .module-fixed-head {
    height: 120px;
    position: fixed;
    right: 0;
    left: 320px;
    background-color: white;

    &.hide-head {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      top: 60px;
      height: 60px;
      left: 0;
    }
    .chapter-nav {
      position: relative;
      height: 50px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $gray-border;

      > a {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 50px;
        height: 100%;
        width: 100%;
        font-size: 0.875rem;
        font-weight: $font-semibold;
        color: $light-primary;

        &:before {
          position: absolute;
        }
        &.next-chapter {
          justify-content: flex-end;

          &:before {
            @include fa-icon(angle-right);
            right: 30px;
            top: 11px;
            font-size: 1.5rem;

            @include media-breakpoint-down(sm) {
              top: 17px;
            }
          }
          @include media-breakpoint-down(sm) {
            padding: 0 50px 0 10px;
          }
        }
        &.prev-chapter {
          &:before {
            @include fa-icon(angle-left);
            left: 30px;
            top: 11px;
            font-size: 1.5rem;

            @include media-breakpoint-down(sm) {
              top: 17px;
            }
          }
          @include media-breakpoint-down(sm) {
            padding: 0 10px 0 50px;
          }
        }
        &.disabled {
          color: $light-grey-text;
          pointer-events: none;
          cursor: not-allowed;
          opacity: 0.65;
        }
        &:hover, &:focus {
          background-color: $light-primary;
          color: white;
        }
      }
      &:before {
        content: '';
        height: 50px;
        display: inline-block;
        border-right: 1px solid $gray-border;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-down(sm) {
          height: 60px;
        }
      }
      @include media-breakpoint-down(sm) {
        height: 60px;
      }
    }
    .module-details {
      height: 70px;
      margin: 0 3rem;
      background-color: white;
      border-bottom: 1px solid $gray-border;

      .module-detail-icon {
        width: 30px;
        padding-right: 8px;
      }
      h4 {
        padding: 15px 0px;
        margin: 0;
        font-size: 0.875rem;
        font-weight: $font-regular;
        color: $light-grey-text;
      }
      .module-name, .read-time {
        display: flex;
        align-items: center;
        height: 70px;
        padding: 10px 0;
      }
      .module-name {

      }
      .read-time {
        justify-content: flex-end;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

#hambuger-icon{
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 20px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .2s ease-in-out;

    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 9px;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 18px;
      transform-origin: left center;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
      }
      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 21px;
        left: 5px;
      }
    }
  }
}
.sixways-menu-wrap {
  margin-top: 120px;
  background-color: $light-secondary;
  position: fixed;
  left: 0;
  width: 20rem;
  height: calc(100% - 120px);
  overflow-y: auto;
  z-index: 100;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    top: 60px;
    position: fixed;
    height: calc(100% - 60px);
    transform: translate3d(-320px,0,0);
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  }
}
#sidebar-menu-container {
  position: relative;
}
.sidebar-fixed-head {
  padding: 0 20px 0 30px;
  background-color: $light-secondary;
  display: flex;
  align-items: center;

  h4, a {
    display: inline-block;
    padding: 25px 0;
    margin: 0;
    width: 50%;
    font-weight: $font-bold;
    font-size: 0.875rem;
    text-transform: uppercase;
  }
  h4 {
    display: flex;
    color: white;

    .modules-icon {
      display: inline-block;
      margin-right: 5px;
      img {
        width: 15px;
      }
    }
  }
  a {
    display: flex;
    color: $brand-secondary;
    padding: 5px;
    background: white;
    justify-content: center;

    &:hover, &:focus {
      color: $light-secondary;
      background: $dark-secondary;
    }
  }
}
.sidebar-menu {
  margin: 0;
  padding: 0;
  position: relative;

  .treeview {
    position: relative;
    margin: 0;
    padding: 0;
    background: $brand-secondary;
    transition: all .2s;

    > a {
      padding: 20px 20px 20px 30px;
      border: 1px solid $dark-secondary;
      border-width: 1px 0 0 0;
      display: block;
      color: white;

      .module-title {
        display: inline-flex;
        width: 100%;
        align-items: center;

        h3 {
          font-size: 1rem;
          letter-spacing: 0.03rem;
          color: white;
          margin: 0;
          display: inline-block;
          flex: 1 1 170px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 170px;
        }
        .complete-module {
          flex: 1 1 10px;
          margin-left: 30px;
          background-color: transparent;
          border: 1px solid white;
          color: white;
        }
      }

      .menu-collapse-icon {
        flex: 1 1 15px;

        i {
          font-size: 1rem;
          margin: 0;
          transition: all 0.2s ease-in-out 0s;
        }
      }
    }
    &:hover, &:focus, &:active, &.active {
      color: white;
      background: $dark-secondary;
    }
    &.active {
      > .treeview-menu {
        display: block;
      }

      > a {
        .menu-collapse-icon {
          i {
            transform: rotate(-180deg);
          }
        }
      }
    }
    &:last-child {
      > a {
        border-bottom: 1px solid $dark-secondary;
      }
    }
  }
  .treeview-menu {
    display: none;
    list-style: none;
    margin: 0;
    background: $light-secondary;
    overflow: hidden;

    > li {
      margin: 0;
      position: relative;

      &:before {
        border-left: 2px solid $dark-secondary;
        content: '';
        height: 100%;
        left: 0px;
        bottom: 20px;
        position: absolute;
        width: 2px;
      }

      > a {
        padding: 15px 5px 15px 15px;
        margin-right: 20px;
        margin-left: 15px;
        border: 1px dashed $brand-secondary;
        border-width: 0 0 1px 0;
        display: block;
        font-size: 1rem;
        color: darken($dark-secondary, 8%);
        position: relative;

        &:hover, &:focus {
          color: white;
        }
        i {
          position: absolute;
          left: -21px;
          top: 20px;
          height: 14px;
          width: 14px;
          font-size: 1.1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: $dark-secondary;
          background-color: $light-secondary;
          @include border-radius(50%);
        }

        &:last-child {
          border-width: 0px;
        }
        &.active_chapter, &.active_quiz {
          color: white;
          font-weight: $font-semibold;

          i {
            background-color: white;
          }

          &.complete_chapter, &.complete_quiz {
            color: white;
          }
        }
        &.complete_chapter, &.complete_quiz {
          color: darken($dark-secondary, 8%);

          i {
            color: darken($dark-secondary, 8%);
          }
          &:hover, &:focus {
            color: white;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .content-wrap {
  	position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
      content: '';
      opacity: 0;
      transform: translate3d(100%,0,0);
      transition: opacity 0.3s, transform 0s 0.3s;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
  }
  .show-menu {
    .sixways-menu-wrap {
    	transform: translate3d(0,0,0);
    	transition: transform 0.3s;
    	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    .content-wrap{
      &:before {
      	opacity: 1;
      	transition: opacity 0.3s;
      	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      	transform: translate3d(0,0,0);
      }
    }
  }
}
.sixways-right {
  padding: 3rem;
  overflow-y: auto;
  position: relative;
  margin-top: 120px;
  margin-left: 20rem;
  background-color: white;
  z-index: 0;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    overflow-y: visible;
    padding: 2rem;

    &.margin-top-adjust {
      margin-top: 60px;
    }
  }
}
.show-menu-trigger, .close-menu-trigger {
  position: fixed;
  z-index: 100;
  right: 0;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
.show-menu-trigger {
  right: 30px;
  top: 20px;
}
.close-menu-trigger {
  right: 30px;
  top: 25px;
}
.chapter-block {
  position: relative;

  @include media-breakpoint-down(sm) {
    height: 100%;
  }

  .content-wrapper {
    max-width: 48rem;

    p {
      font-size: 1.25rem;
    }

    .list-title {
      font-size: 1.25rem;
      font-weight: $font-semibold;
      margin-bottom: 15px;
      max-width: 40rem;
    }
    > p {
      font-weight: $font-light;
      margin-bottom: 20px;
      line-height: 1.58;

      &.with-dropcap {
        &:first-letter {
          float: left;
          font-size: 5rem;
          font-weight: $font-regular;
          line-height: 60px;
          padding-top: 4px;
          padding-right: 4px;
        }
      }
      strong {
        font-weight: $font-semibold;
      }
    }
  }
  .extra-reading {
    ul {
      li {
        position: relative;
        padding-bottom: 10px;

        a {
          font-size: 1.125rem;
        }
        &:before {
          @include fa-icon(external-link);
          color: $brand-primary;
        }
      }
    }
  }
  .read-now-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    p {
        font-size: 1.875rem;
    }
    .read-now-icon {
      width: 100px;
      margin-right: 25px;
    }
  }

  h1 {
    position: relative;
    margin-bottom: 40px;

    &:before {
      content: '';
      width: 120px;
      display: inline-block;
      border-bottom: 4px solid $light-primary;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }

  ul {
    padding-left: 30px;
    max-width: 45rem;

    > li {
      position: relative;
      padding-bottom: 20px;

      p {
        font-size: 1.25rem;
        font-weight: $font-light;
        letter-spacing: 0.01rem;
        line-height: 1.58;
      }
      strong, em {
        font-weight: $font-semibold;
      }
      &:before {
        content: asset-url('six_ways/tick-inside-circle.svg');
        width: 16px;
        height: 16px;
        position: absolute;
        left: -30px;
        top: 8px;
      }
    }
  }
  ol {
    max-width: 45rem;
    font-size: 1.24rem;

    @include media-breakpoint-up(sm) {
      margin-left: 25px;
      border-left: 4px solid $gray-border;
    }

    > li {
      position: relative;
      padding-bottom: 20px;
      padding-left: 5px;

      p {
        font-size: 1.25rem;
        letter-spacing: 0.01rem;
        font-weight: $font-regular;
        line-height: 1.58;
      }
      strong, em {
        font-weight: $font-regular;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
.sixways-illustration {
  width: 100%;
}
.end-of-content {

  p {
    font-size: 1rem;
  }
  .lesson-end-icon {
    width: 80px;
  }
}
.sixways-timeline-modal {
  .modal-lg {
    max-width: 1024px;
  }
}
.footer-chapter-nav {
  display: flex;
  border-top: 1px solid $gray-border;

  .btn {
    margin: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    min-width: 140px;
    display: inline-flex;
    align-items: center;
    position: relative;

    i {
      font-size: 1.125rem;
      position: relative;
      top: -1px;
      font-weight: $font-bold;
    }
    &.prev-chapter {
      i {
        padding-right: 10px;
      }
    }
    &.next-chapter {
      justify-content: flex-end;
      i {
        padding-left: 10px;
      }
    }
    &.disabled {
      color: $light-grey-text;
      border-color: $gray-border;
      cursor: not-allowed;
      opacity: 0.65;
    }
    @include media-breakpoint-down(md) {
      display: inline-block;
      min-width: 100px;

      i {
        font-size: 1.5rem;
      }
      .nav-title {
        display: none;
      }
    }
  }
}