.grade-bar__container {
  padding: 0 15px;
}

.grade-bar__track {
  background-color: rgba(244, 244, 244, 0.5);
  border: 1px solid #D8D8D8;
  border-radius: 3rem;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .05);
}

.grade-bar__grade-label {
  font-weight: bold;
}

.grade-bar__grade-pill {
  position: relative;
  width: 100%;
  padding: 3px;
  overflow: hidden;
  color: #999999;
  background-color: #fafafa;

  &:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    z-index: 2;
    width: 1px;
    height: 100%;
    background-color:#D8D8D8;
  }
  &:last-child {
    &::before {
      width: 0;
    }
  }
}

.grade-bar__grade-pill--passed {
  color: white;
  background-color: #0F9D58;
}

.grade-bar__grade-pill--failed {
  color: white;
  background-color: #F55151;
}

.grade-bar__grade-pill--selectable-pass {
  &:hover, &:focus {
    color: white;
    background-color: #0F9D58;
  }
}

.grade-bar__grade-pill--selectable-fail {
  &:hover, &:focus {
    color: white;
  background-color: #F55151;
  }
}

.grade-bar__criterion-name {
  font-size: 0.75rem;
}

.grade-bar__grade {
  font-size: 0.75rem;
  color: #999999;
}

.grade-bar__save-container {
  padding: 0 15px;
}