.grade-bar__button {
  flex-shrink: 1 !important;
  overflow: hidden;
  background-color: lightgrey;
}

.grade-bar__button--passed {
  background-color: green;
}

.grade-bar__button--failed {
  background-color: red;
}