@import "../../../shared/variables";

.startups-list__container {
}
.startups-list__header {
  height: 4rem;
  border-top: 1px solid $gray-border;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
}

.startups-list__header-title {
  font-size: 0.875rem;
  color: #8C8C8C;
}

.startups-list__item {
  width: 100%;
  text-align: left;
  padding: 1.125rem 1.5rem;
  border: 0;
  cursor: pointer;
  color: $dark-grey-text;

  &:hover, &:focus {
    background-color: #F6F6F6;
    outline: none;
    color: #138AFF;
  }
}

.startups-list__item-dp {
  width: 2.75rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid $gray-border;
  box-shadow: 2px 0px 10px 0px #e5e5e5;
  background-color: $primary-background;
}

.startups-list__item-level {
  font-size: 0.75rem;
  color: #8C8C8C;
}

.startups-list__item--selected {
  background-color: #FEEFEF;
  box-shadow: inset 0 0 5px 1px $gray-border;
}

.startups-list__clear-filter-btn {
  display: block;
  width: 100%;
  color: #138AFF;
  line-height: 2rem;
  border: 0;
}