@import "../../../shared/variables";
@import "../../../shared/bootstrapMixins";

.timeline-event-card__container {
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: white;
  border: 1px solid $gray-border;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
}
.timeline-event-card__body {
  flex: 1 1 auto;
  padding: 0 15px;
}
.timeline-event-card__header {
  border-bottom: 1px solid $gray-border;
}

.timeline-event-card__header-title {
  font-size: 1rem;
}

.timeline-event-card__header-subtext,
.timeline-event-card__footer-subtext {
  color: $light-grey-text;
  font-size: small;
}

.timeline-event-card__field-container {
  background-color: $dark-primary-background;
}

.timeline-event-card__field-box {
  background-color: $dark-primary-background;
  border-left: 3px solid $light-primary;
  overflow-wrap: break-word;
}

.timeline-event-card__field-header {
  font-size: 0.875rem;
}

.timeline-event-card__description {
  white-space: pre-wrap;
}

.timeline-event-card__field-attachments-title {
  font-size: 0.75rem;
  color: $light-grey-text;
}

.timeline-event-card__evaluator-title {
  font-size: 0.725rem;

  @include media-breakpoint-down(md) {
    margin-top: 0.5rem;
  }
}
.timeline-event-card__evaluator-name {
  font-size: 0.75rem;
}

.feedback-form__trix-container {
  padding: 0 15px;

  trix-toolbar {
    .trix-button-row {
      flex-wrap: wrap;
    }
    .trix-button--icon {
      width: 1.875em;
      height: 1.625em;
    }
    .trix-button-group {
      border-color: #e5e5e5;

      &:not(:first-child) {
        margin-left: 0px;
      }
    }
    .trix-button {
      border-bottom: 0;
    }
  }
}

.timeline-event-card__header-date-field {
  border-left: 1px solid $gray-border;
}

.timeline-event-card__review-box {
  border-left: 1px solid $gray-border;
}

.timeline-event-card__link {
  cursor: pointer;
  color: $brand-secondary;
}

.timeline-event-card__review-box-header {
  position: relative;
  padding: 0 15px;
  border-bottom: 1px solid #e5e5e5;
}

.feedback-form__container {
  position: relative;
  border-radius: 0 0 10px 0;
  border-top: 1px solid #e5e5e5;
  ul {
    margin: 0;
  }
  ol {
    margin: 0;
  }
}
.feedback-form__button {
  &:hover,
  &:focus,
  &:active {
    background-color: #fafafa;
    color: #0052cc;
  }
}
