@import "../../../shared/variables";

.timeline-events-panel__empty-notice {
  text-align: center;
  background-color: white;
  box-shadow: 2px 0px 10px 0px #e5e5e5;
  color: darkgrey;
  border-radius: 10px;
}

.timeline-events-panel__empty-icon {
  width: 60px;
  display: block;
  margin-bottom: 1rem;
}

.timeline-events-panel__status-tab-container {
  border-bottom: 1px solid $brand-primary;
}

.timeline-events-panel__status-tab{
  font-size: larger;
  cursor: pointer;
  padding: 0.25rem 0.5rem;

  &:hover {
    color: $brand-primary;
  }
}

.timeline-events-panel__status-tab-badge {
  background-color: $brand-primary;
  margin-left: 0.4rem;
  color: white;
  font-size: small;
  border-radius: 50%;
  height: 1.25rem;
  min-width: 1.25rem;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding: 0 0.4rem;
}

.timeline-events-panel__status-tab--active {
  border-bottom: 3px solid $brand-primary;
  color: $brand-primary;
}
