.founders-form__add-founder-button {
  display: block;
  width: 100%;
  background-color: white;
  border: 1px solid $gray-border;
  @include border-radius(5px);
  color: $brand-secondary;

  &:hover,
  :focus {
    color: $light-secondary;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.05);
  }
}

.founders-form__founder-content-box {
  margin-bottom: 1rem;
  position: relative;
}

.founders-form__founder-delete-button {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
  padding: 0.5rem;
  cursor: pointer;
}
