/ Stage two of application process is the testing of tech and marketing / sales pitch abilities. Communication on this
  page should include details about the tests themselves, and a form accepting founder's submissions on behalf of his or
  her team.
