/ This is the application process's stage 'zero'. i.e., the point at which application for a batch isn't even open.
  Only minimal content is required, and should communicate the date on which this batch's admission process is expected
  to open.
