- obj = { \
	applications: 1425, \
	total_applications: 2000, \
	startup_supported: 532, \
	total_startup_supported: 2000, \
	student_startups: 188,\
	total_student_startups: 2000, \
	regular_incubatees: 57, \
	total_regular_incubatees: 2000 \
}

== obj.to_json
