.teaser-container {
  height: 100%;
  width: 100%;
  background-color: #262626;
}
.teaser-container__box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.teaser-container__text {
  font-family: monospace;
  font-size: 2em;
  color: #51b848;
  &:after {
    content:"_";
    opacity: 0;
    animation: cursor 1s infinite;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
