.student-course__cover-default {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.student-course__cover-default:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.student-course__name-container {
  background: rgba(0, 0, 0, 0.3);
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.student-course__name .dropdown__btn {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.student-course__dropdown-btn {
  background-color: rgba(0, 0, 0, 0.3);
}

.student-course__nav-tab:not(.student-course__nav-tab--active):hover {
  @apply bg-gray-200 text-primary-500;
}

.student-course__nav-tab--active {
  @apply relative text-primary-500;
}

.student-course__nav-tab--active:before {
  @apply absolute bg-primary-500 bottom-0 rounded-t-lg;
  content: "";
  width: 70%;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
