<div class="w-24">
  <div data-re-component="Avatar" data-re-json="<%= { name: @presenter.student.name }.to_json %>"></div>
</div>
<%= @presenter.student.name %><br/>
<%= @presenter.student.title %><br/>
<div class="max-w-xl">
  <div data-re-component="LevelProgressBar" data-re-json="<%= @presenter.level_progress_bar_props.to_json %>"></div>
</div>
targets overview (completion percentage and number of targets completed/total)<br/>
other team members, if any<br/>
notes for non-admins<br/>
link to submissions
