.create-target-form {
  background-color: #edf3fa;
}

.resources-upload-tab__body {
  background-color: #f2f8ff;
}

.target-group__container> :not(:last-child):before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  z-index: -1;
  @apply bg-grey-light;
}

.target-group__box {
  z-index: 10;
}