@import "../../../shared/variables";

.quiz-root__header-text {
  color: $light-grey-text;
  font-size: 0.75rem;
}

.quiz-root__result-panel {
  background-color: $primary-background;
  border-left: 1px solid $gray-border;
}

.quiz-root__answer-option {
  margin-bottom: 15px;
  font-size: 0.875rem;
  font-weight: 600;
  border: 1px solid $gray-border;
  box-shadow: $box-shadow;
  padding: 0.625rem 1rem;
  display: flex;
  border-radius: 0.5rem;
  cursor: pointer;
  align-items: center;
  transition: all 0.2s;

  &:before {
    position: relative;
    color: lighten($light-grey-text, 30%);
    content: "\f10c";
    font-weight: $font-light;
    font-size: 18px;
    margin-right: 10px;
    font-family: "FontAwesome";
  }

  &:hover {
    background-color: $primary-background;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.08);
  }
}
.quiz-root__answer-option--correct-answer,
.quiz-root__answer-option--wrong-answer {
  &:before {
    position: relative;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    font-family: "FontAwesome";
  }
}

.quiz-root__answer-option--correct-answer {
  background-color: $light-primary;
  color: white;

  &:before {
    content: "\f058";
  }

  &:hover {
    background-color: $light-primary;
    color: white;
  }
}
.quiz-root__result-box--correct-answer {
  &:before {
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    content: "";
    background-image: url("./images/quiz-right-answer-icon.svg");
    background-size: 74px 74px;
    height: 74px;
    width: 74px;
  }
}

.quiz-root__answer-option--wrong-answer {
  background-color: #f55151;
  color: white;

  &:before {
    content: "\f057";
  }

  &:hover {
    background-color: #f55151;
    color: white;
  }
}

.quiz-root__result-box--wrong-answer {
  &:before {
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    content: "";
    background-image: url("./images/quiz-wrong-answer-icon.svg");
    background-size: 74px 74px;
    height: 74px;
    width: 74px;
  }
}

.quiz-root__answer-hint {
  max-width: 40rem;
  font-size: 1rem;
}

.quiz-root__question-next-button {
  .btn {
    margin: 0;
  }
}
