@import "../../../shared/variables";

.quiz-root__component {
  display: flex;
  align-items: center;
}

.quiz-root__header-text {
  color: $light-grey-text;
}

.quiz-root__question-text {
  margin-top: 5px;

  h4 {
    max-width: 40rem;
    line-height: 1.5;
  }
}

.quiz-root__question-description {
  h5 {
    max-width: 40rem;
    line-height: 1;
  }
}

.quiz-root__answer-option {
  padding-top: 0;
  margin-right: 0;
  font-size: 1.125rem;
  border: 1px solid $gray-border;
  box-shadow: $box-shadow;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    color: $light-secondary;
  }
}

.quiz-root__answer-option--correct-answer,
.quiz-root__result-box--correct-answer {
  color: $light-primary;
}

.quiz-root__answer-option--wrong-answer,
.quiz-root__result-box--wrong-answer {
  color: red;
}

.quiz-root__answer-hint {
  max-width: 40rem;
  font-size: 1.125rem;
  font-weight: $font-light;
  line-height: 1.5;
}

.quiz-root__result-box {
  border: 1px solid $gray-border;
  box-shadow: $box-shadow;
  padding: 20px;
  font-size: 1.875rem;
  display: flex;
  align-items: center;
  i {
    font-size: 2.125rem;
    margin-right: 10px;
  }
}

.quiz-root__question-next-button {
  .btn {
    margin: 0;
  }
}
