@import "../../../shared/variables";

.quiz-root__header-text {
  color: $light-grey-text;
}

.quiz-root__question-text {
  margin-top: 5px;

  h4 {
    max-width: 40rem;
    line-height: 1.5;
  }
}

.quiz-root__question-description {
  h5 {
    max-width: 40rem;
    line-height: 1;
  }
}

.quiz-root__result-panel {
  background-color: $primary-background;
  border-left: 1px solid $gray-border;
}

.quiz-root__answer-option {
  margin-bottom: 15px;
  font-size: 0.875rem;
  font-weight: 600;
  border: 1px solid $gray-border;
  box-shadow: $box-shadow;
  padding: 0.625rem 1rem;
  display: flex;
  border-radius: 0.5rem;
  cursor: pointer;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    background-color: $primary-background;
    box-shadow: 0px 2px 9px rgba(0,0,0, 0.08)
  }
}

.quiz-root__answer-option--correct-answer {
  background-color: $light-primary;
  color: white;

  &:hover {
    background-color: $light-primary;
    color: white;
  }
}
.quiz-root__result-box--correct-answer {
  color: $light-primary;
}

.quiz-root__answer-option--wrong-answer {
  background-color: #F55151;
  color: white;

  &:hover {
    background-color: #F55151;;
    color: white;
  }
}

.quiz-root__result-box--wrong-answer {
  color: #F55151;
}

.quiz-root__answer-hint {
  max-width: 40rem;
  font-size: 1.125rem;
  font-weight: $font-light;
  line-height: 1.5;
}

.quiz-root__result-box {
  border: 1px solid $gray-border;
  box-shadow: $box-shadow;
  padding: 20px;
  font-size: 1.875rem;
  display: flex;
  align-items: center;
  i {
    font-size: 2.125rem;
    margin-right: 10px;
  }
}

.quiz-root__question-next-button {
  .btn {
    margin: 0;
  }
}
