@import 'bootstrap/variables';

.startup-creation-head {
  font-size: 13px;
  color: #565656;
  margin-top: 40px;

  img {
    margin: auto;
  }
  h2 {
    margin-top: 10px;
  }
  @media (max-width: $screen-sm-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.startup-creation-box {
  border: 1px solid #f0f3f4;
  padding: 20px 70px 10px;
  margin: 20px 0;
  position: relative;
  background-color: white;
}

.startup-consent-checkbox {
  font-size: 15px;
  margin: 18px 0;
  text-align: center;
  line-height: 27px;

  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
  label {
    color: #565656;
    margin: 0;
  }
}
.startup-consent-btn {
  border-left: 1px solid #ebeff3;
  padding: 10px 0 10px 20px;

  a {
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 5px;
  }

  @media (max-width: $screen-xs-max) {
    border-left: 0;
    text-align: center;
  }
}
.add-cofounder-info {
  margin-bottom: 15px;

  p {
    color: #565656;
    margin: 0;
  }

  @media (max-width: $screen-xs-max) {
    padding: 0 15px;
  }
}
.edit-profile-info {
  max-width: 390px;
  border-top: 1px solid #ebeff3;
  padding-top: 10px;
  margin: 10px auto;
}
