.large-header {
  background-image: image-url("startups/header.jpg");
  min-height: 313px;

  .carousel-caption {
    // Can't avoid using a !important here since there a rule from general_style which claims it is important. :(
    padding-top: 40px !important;

    @media screen and (max-width: 767px) {
      padding-top: 80px !important;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-top: 100px !important;
    }
  }
}

p.caption-text-heading {
  font-size: 200%;
}

section.startups-category-row {
  padding: 30px 0 15px 0;

  &:nth-child(odd) {
    background-color: #f9f9f9;
  }
}

.startup-category-title {
  margin-bottom: 15px;

  .startup-category-name {
    margin: 15px 0 0 5px;
    font-size: 175%;
    font-weight: 300;
  }
}

.startup-boxes-container {
  display: flex;
  flex-wrap: wrap;
}

.startup-box {
  height: 190px;
  width: 190px;
  border: 1px solid lightgrey;
  margin: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    height: 165px;
    width: 165px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  img {
    max-width: 90%;
    max-height: 90%;
  }

  .startup-logo-name {
    font-size: 130%;
  }

  .startup-box-cover {
    display: none;
    background-color: lightgreen;
    width: 100%;
    height: 100%;

    .startup-name {
      font-size: 130%;
      margin-bottom: 10px;
    }

    .view-timeline {
      font-size: 80%;
      margin-top: 10px;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    img {
      display: none;
    }

    .startup-logo-name {
      display: none;
    }

    .startup-box-cover {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        display: initial;
      }
    }
  }
}
