@import 'variables';

p.startups-introduction {
  margin: 10px 0 25px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
}

.startups-index-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media (max-width: $screen-xs-max) { justify-content: center; }

  .startup-card {
    position: relative;
    border: 1px solid #d2d2d2;
    box-shadow: 1px 1px 1px #d2d2d2;
    margin: 20px 20px 0 0;
    width: 304px;

    // Fit three cards per row on md.
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
     margin-right: 9px;
    }

    // Uniform horizontal margin on xs to ensure centralization.
    @media (max-width: $screen-xs-max) {
      margin-left: 5px; margin-right: 5px;
    }
  }

  .startup-card-image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .startup-card-body {
    padding: 0 15px;

    h5 {
      color: black;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 0;
    }

    p {
      color: #565656;
      font-size: 14px;
      line-height: 24px;
      margin-top: 5px;
    }
  }

  a.timeline-link {
    clear: both;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    background-color: #E7E7E7;
    padding: 5px 0 5px 0;
    color: black;

    &:hover {
      text-decoration: none;
      color: $theme-dark-green;
    }
  }

  .startup-footer-spacer {
    height: 175px;
  }

  .startup-footer {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 302px;

    .footer-body {
      padding: 15px;
      background-color: white;
    }

    .left {
      width: 85px;
      float: left;

      .startup-block-logo-container {
        width: 100%;
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .startup-block-logo-container.with-name {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #EFEFEF;
        font-size: 12px;
        padding: 5px;
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }

      a {
        margin-top: 15px;
        text-align: center;
        display: inline-block;
        width: 100%;
        height: 65px;
        border: 1px solid lightgrey;
        padding: 10px;

        &:hover {
          text-decoration: none;
          background-color: #eeeeee;
        }
      }
    }

    .right {
      padding-left: 15px;
      float: left;
      width: 185px;
    }
  }
}
