@import 'variables';

h1.product-name {
  //font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 50px;
  color: #2458a1;
  margin: 20px 0 0;
}

.startup-name {
  color: $dark-grey-text;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.timeline-verified {
  width: 25px;
}

.edit-startup-link {
  margin-left: 10px;
}

.startup-logo {
  float: right;
  max-height: 70px;
  margin-top: 20px;
}

.product-description {
  color: $dark-grey-text;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin: 10px 0 25px;
}

#data-points {
  //font-family: Roboto, sans-serif;
  .media { margin-bottom: 6px; }

  .data-icons {
    .media-heading {
      font-size: 90%;
      margin-top: 5px;
    }
  }

  hr { margin: 10px 0; }
  h3 { font-size: 120%; }

  .data-content {
    font-size: 18px;
    font-weight: 300;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: cornflowerblue;
      }

      .fa-external-link {
        font-size: 13px;
        color: $theme-dark-green;
      }
    }

    .data-subcontent {
      color: grey;
      font-size: 12px;
      font-style: italic;
    }
  }

  .data-founder {
    height: 128px;
    background-color: $light-grey-background;
    margin: 10px 0;
    box-shadow: 2px 2px 2px $grey-border;

    .founder-image {
      width: 128px;
      height: 128px;
      background-size: cover;
    }

    .media-heading {
      margin: 15px 0 10px;
      text-transform: uppercase;
      font-size: 110%;
      font-weight: 600;
    }

    .designation {
      font-size: 90%;
      font-style: italic;
      padding-right: 10px;
    }

    .dash { margin-top: -10px; }

    ul {
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 5px;
      }

      li:last-of-type { margin-right: 0; }
    }
  }
}

.timeline-builder {
  border: 1px solid lightgrey;
  margin: 5px 0 20px;
  border-radius: 0 0 5px 5px;

  .top-row {
    background-color: whitesmoke;
    padding: 7px;

    .ellipsis-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #upload-image > span, #add-link > span {
      max-width: 70%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  .text-area-container {
    position: relative;
    height: 120px;

    .common-properties {
      width: 100%;
      padding: 10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      font-size: 110%;
      height: 120px;
      overflow: auto;
    }

    span.text-area-overlay {
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      color: grey;
      white-space: pre-wrap;

      &.length-warning {
        color: red;
      }
    }

    .description {
      position: relative;
      border-top: 0;
      border-bottom: 0;
      outline: none;
      resize: none;
      background: transparent;

      &.has-error {
        border-left: 5px solid crimson;
        border-right: 5px solid crimson;
      }
    }
  }

  .border-right { border-right: 1px solid grey; }

  .bottom-row {
    background-color: lightgray;
    padding: 7px;
  }

  .select2-container {
    width: 208px;
    margin-right: 10px;

    a.select2-choice {
      border-radius: 0;
    }
  }
}

.verified-status-notice {
  color: red;
  cursor: help;
}

// Make the two button_to uses inline blocks.
.timeline-body .button_to, .tl-iteration .button_to {
  display: inline-block;
  margin-right: 5px;
}

#timeline_event_event_on {
  font-family: 'Source Sans Pro', FontAwesome, sans-serif;
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
  margin-right: 10px;
  height: 34px;
  padding: 0 10px;
  border: 1px solid lightgray;

  &.has-error {
    border-color: #a94442;
  }
}

#timeline-builder-submit-button {
  @media (max-width: $screen-xs-max) {
    margin-top: 8px;
  }
}

// Datepicker customizations
.dtpicker-buttonCont .dtpicker-button { background: $theme-light-green; }

.dtpicker-content { max-width: 360px; }

.dtpicker-header {
  .dtpicker-value {
    color: $theme-dark-green;
  }

  .dtpicker-close {
    color: $theme-dark-green;
  }
}

.truncated-founder-name {
  color: black;

  &:hover { text-decoration: none; }
}

.media-body {
  position: relative;

  ul.social-links {
    position: absolute;
    margin: 0;
    bottom: 5px;
    right: 10px;
    font-size: 133%;

    @media screen and (max-width: $screen-xs-max) {
      font-size: 200%;
    }
  }
}
.learn-more {
  padding: 0;
  margin-top: 10px;

  .learn-more-btn, .download-rubric-btn, .review-test-btn {
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    font-weight: 400;
    transition: all 300ms ease-out;

    @media screen and (max-width: $screen-xs-max) {
      display: block;
    }
  }
  .learn-more-btn {
    color: #337ab7;
    border-color: #408bcc;

    &:hover {
      background-color: #18558a;
      color: white;
      border-color: #18558a;
    }
  }
  .review-test-btn {
    color: #337ab7;
    border-color: #408bcc;

    &:hover {
      background-color: #18558a;
      color: white;
      border-color: #18558a;
    }
  }
  .download-rubric-btn {
    color: #7f975c;
    border-color: #7f975c;

    &:hover {
      background-color: #617d38;
      color: white;
      border-color: #617d38;
    }
  }
}
.assigner {
  font-size: 80%;
  display: block;
  margin-top: 10px;
  color: #666;
  border-top: 1px solid #eee;
  padding: 5px 0;
}
.timeline-panel .hidden-marker {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 10px;
  background-color: $theme-dark-gray;
}

//.
////.
//////.
//////// OLD CSS.
//////
////
//

.main-timeline {
  border-right: 1px solid $grey-border;
  padding-right: 25px;

  ul { padding: 0; }
}

.tl-iteration {
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;

  a { text-decoration: none; }

  p {
    width: 90%;
    margin: auto;
    //font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: $dark-grey-text;
  }

  .tl-iteration:last-child {
    border-bottom: 0;
  }

  .buttons {
    border: 1px solid $theme-dark-green;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 14px;
    color: $theme-dark-green;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  .main-timeline {
    border-right: 0 !important; }
}

@media screen and (max-width: 767px) {
  .timeline-panel {
    margin-top: 7px;
    left: 5px; }

  .timeline-badge {
    left: 5px !important; }

  #company_logo {
    float: left !important; }
}

/*  time  line css */

.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;

  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: ' ';
    width: 1px;
    background-color: $grey-border;
    left: 50%;
    margin-left: -1.5px;
  }

  li {
    margin-bottom: 20px;
    position: relative;

    &:before, &:after {
      content: ' ';
      display: table;
    }

    &:after {
      clear: both;
    }

    .timeline-panel {
      width: 42%;
      float: left;
      border: 1px solid $dark-grey-border;
      border-radius: 2px;
      //padding: 20px;
      padding: 0 20px 20px;
      position: relative;

      .timeline-heading {
        padding-top: 15px;
      }
    }

    .timeline-badge {
      color: white;
      width: 70px;
      height: 70px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -38px;
      background-color: $dark-grey-bg;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &.timeline-inverted > .timeline-panel {
      float: right;
    }
  }
}

.timeline-badge {
  &.color1 { background-color: #6A71E6 !important; }
  &.color2 { background-color: #3498db !important; }
  &.color3 { background-color: #FF5534 !important; }
  &.color4 { background-color: #FE4A65 !important; }
  &.color5 { background-color: #f5ab35 !important; }
  &.color6 { background-color: #2DBAE7 !important; }
  &.color7 { background-color: #9babd4 !important; }
  &.color8 { background-color: #61D2FE !important; }
  &.color9 { background-color: #48DC6C !important; }
  &.color10 { background-color: #8BBF53 !important; }
  &.color11 { background-color: #8BBF53 !important; }
  &.color12 { background-color: #424953 !important; }
  &.color13 { background-color: #FA6D52 !important; }
  &.color14 { background-color: #8BBF53 !important; }
}

.timeline-title-panel {
  margin-top: 0;
  //font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: black;
  line-height: 40px;
  a {
    text-decoration: none;
    color: inherit;
  }
  .fa-link {
    display: none;
    color: grey;
  }
  .timeline-title:hover {
    .fa-link {
      display: inline;
    }
  }
  .fa-comment{
    color: $timeline-blue-text;
  }
}

.tl-date {
  //font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: $timeline-blue-text;
  margin-top: -5px; }

.tl-body {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: $dark-grey-text;
  padding-bottom: 5px;
  word-wrap: break-word; }

.timeline-footer {
  margin-top: 12px;
  clear: both; }

.tl-footer {
  padding-top: 15px;
  border-top: solid 1px $dark-grey-border;

  a {
    border: 1px solid $theme-dark-green;
    //font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    padding: 8px;
    color: $timeline-blue-text;
    margin-right: 10px;
    transition: all 300ms ease-out;

    &:hover {
      background: $theme-dark-green;
      color: white;
      z-index: 1000;
      box-shadow: rgba(0, 0, 0, .3) 0 16px 16px 0;
    }
  }
}

.tl-link-button {
  display: inline-block !important;
  margin-bottom: 10px !important; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  .timeline {
    &:before {
      left: 40px;
    }

    li {
      .timeline-panel {
        width: calc(100% - 90px);
      }

      .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
      }

      .timeline-panel {
        float: right;
      }
    }
  }
}

.tl-event-image > img {
  width: calc(100% + 40px);
  margin-left: -20px;
}

.founder, .founder-avatar > img {
  height: 130px;
}
.target-top-head {
  font-size: 18px;
  line-height: 20px;
  color: $theme-dark-green;
  font-weight: 400;

  i {
    font-size: 19px;
    padding-right: 8px;
    vertical-align: bottom;
  }
}
.targets-all {
  margin-top: 10px;

  ul#targets-tab {
    li {
      a {
        outline: 0;
        font-size: 14px;
        margin: 0;
        border-radius: 0;
        border-top: 0;
        padding: 10px;

        i {
          font-size: 14px;
          padding-right: 5px;
        }
        &:hover, &:focus {
          color: #0587bc;
          box-shadow: 0 -2px 0 0 #ddd;
          background-color: #f6f6f6;
        }
        .badge {
          margin-left: 5px;
          font-size: 11px;
          padding: 2px 5px;
          border-radius: 7px;
          vertical-align: inherit;
          background-color: #0587bc;
          line-height: 12px;
          top: -1px;
          position: relative;

        }
      }
      &.active {
        a {
          &.pending-tab {
            color: #fc9322;
            box-shadow: 0 -2px 0 0 #fc9322;
          }
          &.expired-tab {
            color: #d24334;
            box-shadow: 0 -2px 0 0 #d24334;
          }
          &.completed-tab {
            color: #4ea243;
            box-shadow: 0 -2px 0 0 #4ea243;
          }
          .badge {
            &.pending-count {
              background-color: #fc9322;
            }
            &.expired-count {
              background-color: #d24334;
            }
            &.completed-count {
              background-color: #4ea243;
            }
          }
          &:hover, &:focus {
            background-color: white;
          }
        }
      }
    }
  }
  .target-content {
    padding: 20px 15px 10px;
    color: #333333;
    border: 1px solid #ddd;
    border-top: 0;

    .panel {
      margin-bottom: 10px;
    }
  }
  .target-list {
    padding: 0;
    margin: 0 0 -1px 0;
    border-radius: 0;

    a {
      display: block;
      position: relative;
      outline: 0;
      padding: 10px 15px 8px;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: -1px;
      line-height: 20px;
      text-decoration: none;
      color: #333333;
      border-bottom: 1px solid $grey-border;

      .target-head {
          display: inline-block;
          width: 260px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @media screen and (max-width: $screen-md-max) {
            width: 200px;
          }

      }
      .target-due {
        display: inline-block;
        position: absolute;
        right: 45px;
        font-size: 13px;
        text-align: right;

        @media screen and (max-width: $screen-xs-max) {
          width: 80px;
          right: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .arrow-target {
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
        text-align: center;
        border-radius: 6px;
        color: #bbbbbb;
        line-height: 18px;

        &:before {
          content: '\f106';
          font-family: FontAwesome;
          color: #ccc;
        }
        @media screen and (max-width: $screen-xs-max) {
          border: 0;
        }
      }
      &.collapsed {

        .arrow-target {
          line-height: 20px;

          &:before {
            content: '\f107';
            font-family: FontAwesome;
            color: #ccc;
          }
        }
      }
      &:hover, &:focus, &:active {
        background-color: $light-grey-background;
      }
    }
  }
  .target-data {
    display: block;
    position: relative;
    margin: 0;
    background-color: transparent;

    h2 {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 6px;
      font-size: 18px;
      font-weight: 400;

      &:before {
        border-left: 3px solid #0091c9;
        position: absolute;
        content: ' ';
        left: 0;
        height: 20px;
      }
      .labels {
        display: inline-block;
        font-size: 14px;
        margin-left: 5px;
        vertical-align: 1px;
        padding-bottom: 2px;

        @media screen and (max-width: $screen-xs-max) {
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }
    h4 {
      font-size: 13px;
      color: #007cb1;
      display: inline-block;
      padding-bottom: 5px;
      padding-right: 10px;
      margin-bottom: 7px;
      border-bottom: 1px solid #ddd;

      i {
        padding-right: 6px;
        font-size: 12px;
      }
    }
    .targets-description, .complete-instruction {
      color: #666666;
      margin-bottom: 10px;
      padding-left: 20px;
      line-height: 22px;
    }
  }
  #targets-tab-accordion {
    .panel {
      border-radius: 0;
      margin-top: 10px;

      &:first-child {
        margin: 0;
      }
    }
    .panel-heading {
      padding: 0;

      a {
        outline: 0;
        font-size: 16px;
        margin: 0;
        display: block;
        border-radius: 0;
        border-top: 0;
        padding: 10px;
        text-decoration: none;

        i {
          font-size: 16px;
          padding-right: 5px;
        }
        &:hover, &:focus {
          color: #0587bc;
          background-color: #f6f6f6;
        }
        .badge {
          margin-left: 5px;
          font-size: 12px;
          padding: 3px 8px;
          border-radius: 8px;
          vertical-align: inherit;
          background-color: #0587bc;
          line-height: 12px;
        }
        .accordian-arrow-target {
          position: relative;
          width: 20px;
          height: 20px;
          border: 1px solid #bbbbbb;
          border-radius: 5px;
          text-align: center;
          border-radius: 6px;
          color: #bbbbbb;
          line-height: 18px;

          &:before {
            content: '\f106';
            font-family: FontAwesome;
            color: #ccc;
          }
        }
        &.pending-tab {
          color: #fc9322;
          box-shadow: -2px 0 0 0 #fc9322;
        }
        &.expired-tab {
          color: #d24334;
          box-shadow: -2px 0 0 0 #d24334;
        }
        &.completed-tab {
          color: #4ea243;
          box-shadow: -2px 0 0 0 #4ea243;
        }
        .badge {
          &.pending-count {
            background-color: #fc9322;
          }
          &.expired-count {
            background-color: #d24334;
          }
          &.completed-count {
            background-color: #4ea243;
          }
        }

        &.collapsed {

          .accordian-arrow-target {
            line-height: 20px;

            &:before {
              content: '\f107';
              font-family: FontAwesome;
              color: #ccc;
            }
          }
        }
      }
    }
  }
}

.timeline-event-upload-progress-section {
  display: none;
  background-color: #f9f9f9;
  border-radius: 0 0 5px 5px;
  height: auto;

  .timeline-event-upload-progress {
    position: relative;
    display: block;
    border: 0;
    height: 6px;
    background-color: #e4e6ea;
    width: 100%;
  }
  progress::-webkit-progress-bar {
    background: #e4e6ea;
  }
  progress::-webkit-progress-value {
    background: #0f9d58;
  }
  progress::-moz-progress-bar {
    background: #0f9d58;
  }
  .timeline-event-upload-progress-text {
    line-height: 14px;
    padding: 5px 10px;
    font-style: italic;
    font-size: 12px;
  }
}

.tour-button {
  color: #3a9343;
  background-color: #1db1ed;
  border: 1px solid #1db1ed;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 0 0 10px;
  vertical-align: middle;
  display: inline-block;
  background-image: asset-url("timeline/tour-icon.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center center;
  box-shadow: 0 0 2px 2px #ddd;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: all 0.2s;

  &[disabled] {
    cursor: default;
    background-color: grey;
    border-color: grey;
  }
}

#improvement-modal {
  .feedback-text > pre > div {
    white-space: pre-wrap;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
