h1.product-name {
  font-weight: 200;
  font-size: 50px;
  color: #2458a1;
}

.startup-name {
  color: $dark-grey-text;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.timeline-verified {
  width: 25px;
}

.edit-startup-link {
  margin-left: 10px;
}

.startup-logo {
  max-height: 70px;
}

.product-description {
  color: $dark-grey-text;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin: 10px 0 25px;
}

#data-points {
  .data-content {
    font-size: 18px;
    font-weight: 300;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: cornflowerblue;
      }

      .fa-external-link {
        font-size: 13px;
        color: $theme-dark-green;
      }
    }

    .data-subcontent {
      color: grey;
      font-size: 12px;
      font-style: italic;
    }
  }

  .data-founder,
  .data-faculty {
    background-color: $dark-primary-background;
    margin: 1rem 0;
    overflow: hidden;
    box-shadow: 0px 0px 5px $grey-border;

    .founder-image,
    .faculty-image {
      width: 100px;
      height: 100px;
      background-size: cover;

      img,
      svg {
        width: 100px;
      }
    }

    .media-heading {
      font-size: 110%;
      font-weight: $font-semibold;
    }

    .designation {
      font-size: 90%;
      font-style: italic;
      padding-right: 10px;
    }

    .dash {
      margin-top: -10px;
    }

    ul {
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 5px;
      }

      li:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.verified-status-notice {
  color: red;
  cursor: help;
}

// Make the two button_to uses inline blocks.
.timeline-body .button_to,
.tl-iteration .button_to {
  display: inline-block;
  margin-right: 5px;
}

// Datepicker customizations
.dtpicker-buttonCont .dtpicker-button {
  background: $theme-light-green;
}

.dtpicker-content {
  max-width: 360px;
}

.dtpicker-header {
  .dtpicker-value {
    color: $theme-dark-green;
  }

  .dtpicker-close {
    color: $theme-dark-green;
  }
}

.founder__social-links,
.faculty__social-links {
  margin: 0;
  bottom: 5px;
  font-size: 1.5rem;
}

.learn-more {
  padding: 0;
  margin-top: 10px;

  .learn-more-btn,
  .download-rubric-btn,
  .review-test-btn {
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    font-weight: 400;
    transition: all 300ms ease-out;

    // @media screen and (max-width: $screen-xs-max) {
    //   display: block;
    // }
  }
  .learn-more-btn {
    color: #337ab7;
    border-color: #408bcc;

    &:hover {
      background-color: #18558a;
      color: white;
      border-color: #18558a;
    }
  }
  .review-test-btn {
    color: #337ab7;
    border-color: #408bcc;

    &:hover {
      background-color: #18558a;
      color: white;
      border-color: #18558a;
    }
  }
  .download-rubric-btn {
    color: #7f975c;
    border-color: #7f975c;

    &:hover {
      background-color: #617d38;
      color: white;
      border-color: #617d38;
    }
  }
}

.timeline-panel .hidden-marker {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 10px;
  background-color: $theme-dark-gray;
}

//.
////.
//////.
//////// OLD CSS.
//////
////
//

.main-timeline {
  border-right: 1px solid $gray-border;
  padding-right: 25px;

  @include media-breakpoint-down(sm) {
    border-right: 0px;
  }
}

.tl-iteration {
  border-bottom: 1px solid $gray-border;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;

  a {
    text-decoration: none;
  }

  p {
    width: 90%;
    margin: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: $dark-grey-text;
  }

  .tl-iteration:last-child {
    border-bottom: 0;
  }

  .buttons {
    border: 1px solid $theme-dark-green;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 14px;
    color: $theme-dark-green;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

/*  timeline css */

.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;

  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: $gray-border;
    left: 50%;
    margin-left: -1.5px;
  }

  li {
    margin-bottom: 20px;
    position: relative;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    .timeline-panel {
      width: 42%;
      float: left;
      border: 1px solid $gray-border;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      @include border-radius(10px);
      padding: 0 20px 20px;
      position: relative;

      .timeline-heading {
        padding-top: 15px;
      }
    }

    .timeline-badge {
      color: white;
      width: 70px;
      height: 70px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -38px;
      background-color: $dark-grey-bg;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &.timeline-inverted > .timeline-panel {
      float: right;
    }
  }
}

.timeline-badge {
  &.color1 {
    background-color: #6a71e6 !important;
  }
  &.color2 {
    background-color: #3498db !important;
  }
  &.color3 {
    background-color: #ff5534 !important;
  }
  &.color4 {
    background-color: #fe4a65 !important;
  }
  &.color5 {
    background-color: #f5ab35 !important;
  }
  &.color6 {
    background-color: #2dbae7 !important;
  }
  &.color7 {
    background-color: #9babd4 !important;
  }
  &.color8 {
    background-color: #61d2fe !important;
  }
  &.color9 {
    background-color: #48dc6c !important;
  }
  &.color10 {
    background-color: #8bbf53 !important;
  }
  &.color11 {
    background-color: #8bbf53 !important;
  }
  &.color12 {
    background-color: #424953 !important;
  }
  &.color13 {
    background-color: #fa6d52 !important;
  }
  &.color14 {
    background-color: #8bbf53 !important;
  }
}

.timeline-title-panel {
  margin-top: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: black;
  line-height: 1.3;
  a {
    text-decoration: none;
    color: inherit;
  }
  .fa-link {
    display: none;
    color: grey;
  }
  .timeline-title:hover {
    .fa-link {
      display: inline;
    }
  }
  .fa-comment {
    color: $timeline-blue-text;
  }
}

.tl-date {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: $timeline-blue-text;
  margin-top: -5px;
}

.tl-body {
  font-size: 14px;
  line-height: 25px;
  color: $dark-grey-text;
  padding-bottom: 5px;
  word-wrap: break-word;
}

.timeline-footer {
  margin-top: 12px;
  clear: both;
}

.tl-footer {
  padding-top: 15px;
  border-top: solid 1px $dark-grey-border;

  a {
    border: 1px solid $theme-dark-green;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    padding: 8px;
    color: $timeline-blue-text;
    margin-right: 10px;
    transition: all 300ms ease-out;

    &:hover {
      background: $theme-dark-green;
      color: white;
      z-index: 1000;
      box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    }
  }
}

.tl-link-button {
  display: inline-block !important;
  margin-bottom: 10px !important;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@include media-breakpoint-down(md) {
  .timeline {
    &:before {
      left: 35px;
    }

    li {
      .timeline-panel {
        width: calc(100% - 90px);
      }

      .timeline-badge {
        left: 0;
        margin-left: 0;
        top: 16px;
      }

      .timeline-panel {
        float: right;
      }
    }
  }
}

.tl-event-image > img {
  width: calc(100% + 40px);
  margin-left: -20px;
}

.founder,
.founder-avatar > img {
  height: 130px;
}

.timeline-event-upload-progress-section {
  display: none;
  background-color: #f9f9f9;
  border-radius: 0 0 5px 5px;
  height: auto;

  .timeline-event-upload-progress {
    position: relative;
    display: block;
    border: 0;
    height: 6px;
    background-color: #e4e6ea;
    width: 100%;
  }
  progress::-webkit-progress-bar {
    background: #e4e6ea;
  }
  progress::-webkit-progress-value {
    background: #0f9d58;
  }
  progress::-moz-progress-bar {
    background: #0f9d58;
  }
  .timeline-event-upload-progress-text {
    line-height: 14px;
    padding: 5px 10px;
    font-style: italic;
    font-size: 12px;
  }
}

.tour-button {
  color: #3a9343;
  border: 1px solid #1db1ed;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 0 0 10px;
  vertical-align: middle;
  display: inline-block;
  background-size: 22px;
  background: #1db1ed asset-url("startups/show/tour-icon.svg") no-repeat center
    center;
  box-shadow: 0 0 2px 2px #ddd;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: all 0.2s;

  &[disabled] {
    cursor: default;
    background-color: grey;
    border-color: grey;
  }
}

#improvement-modal {
  .feedback-text > pre > div {
    white-space: pre-wrap;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
