.startups-banner {
  height: 180px;
  background-image: asset-url("startup-index-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;

  .page-header {
    color: white;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 42px;
    letter-spacing: 0.04em;
  }
  .banner-text {
    padding: 45px 0 0;
  }
  p.startups-introduction {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: white;
    letter-spacing: 0.04em;
  }
}
.filter-box {
  padding: 15px 0 20px;
  margin: 0 15px 15px;
  border-bottom: 1px solid #d7d7d7;

  .filter-dropdown {
    float: left;
    margin-right: 30px;
    min-width: 200px;

    .form-group {
      margin-bottom: 0;
    }

    label {
      color: #797979;
      font-size: 12px;
      padding-right: 0;
      padding-left: 0;
      padding-top: 5px;
      font-weight: 400;

      &:before {
        content: '' !important;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 15px;
      }
    }
    select {
      border-radius: 5px;
      font-size: 12px;
      line-height: 13px;
      padding: 1px 20px 1px 10px;
      border-color: #d7d7d7;
      outline: none;
      height: 30px;
      box-shadow: none;
      appearance: none;
      color: transparent;
      text-shadow: 0 0 0 $dark-grey-text;

      option {
        padding: 8px 10px;
      }
      &:focus {
        outline: 0;
        border-color: #2697c5;
      }
    }
    .select {
      position: relative;

      &:before {
        content: '\f107';
        font-family: FontAwesome;
        color: #2a6db6;
        right: 25px;
        position: absolute;
        top: 5px;
        z-index: 1;
        color: #333;
        pointer-events: none;

        @media (max-width: $screen-xs-max) {
          top: 33px;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      padding: 0;
      margin-bottom: 15px;
      margin-right: 0;
      float: none;
      display: block;
    }
    @media (min-width: $screen-xs-max) and (max-width: $screen-md-min) {
      min-width: 180px;
    }
  }
  .filter-go-btn {
    border-radius: 5px;
    font-size: 14px;
    line-height: 13px;
    padding: 7px 20px;
    font-weight: 500;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding: 10px 20px;
    }
  }
}
.startups-bg {
  background-color: #f7f8fa;
  overflow: hidden;

  .startup-list-box {
    margin-top: 15px;
    margin-bottom: 15px;

    .startup-card {
      padding: 20px 15px;
      border: 1px solid #d7d7d7;
      background-color: white;
      border-radius: 5px;
      min-height: 210px;
      margin: 15px 0;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
      position: relative;

      .links-menu {
        position: absolute;
        right: 15px;
        top: 5px;

        .dropdown-menu {
          padding: 0;

          .divider {
            margin: 0;
          }
          > li > a {
            padding: 5px 20px;
            color: #138ec0;
            outline: 0;

            i {
              padding-right: 5px;
            }
          }
        }
      }
      .more-menu-dots {
        line-height: 20px;
        margin: 0;
        padding: 0 5px 0 0;
        position: relative;
        width: 35px;


        .dots-menu {
          position: relative;
          background-color: #d7d7d7;
          border-radius: 50%;
          font-size: 0;
          margin-left: 10px;
          padding: 3px;

          &:before, &:after {
            position: absolute;
            top: 0;
            content: '';
            background-color: #d7d7d7;
            border-radius: 5px;
            font-size: 0;
            padding: 3px;
          }
          &:before {
            left: -10px;
          }
          &:after {
            left: 10px;
          }
        }
        &:active, &:focus, &:hover {
          outline: 0;

          .dots-menu {
            background-color: #0587bc;
            transition: all .2s;

            &:before, &:after {
              background-color: #0587bc;
              transition: all .2s;
            }
          }
        }
      }
      .startup-logo-block {
        border: 1px dashed #d7d7d7;
        border-width: 0 1px 0 0;
        float: left;
        overflow: hidden;

        .startup-logo-image {
          padding-right: 15px;
          align-items: center;
          display: flex;
          width: 120px;
          height: 170px;
          justify-content: center;
          outline: 0;

          img {
            width: 100%;
          }
          @media (max-width: $screen-md-max) and (min-width: $screen-md-min), (max-width: $screen-xs-max) {
            width: 180px;
            margin: auto;
            padding: 0;
          }
        }
        @media (max-width: $screen-md-max) and (min-width: $screen-md-min), (max-width: $screen-xs-max) {
          float: none;
          border: 1px dashed #d7d7d7;
          border-width: 0 0 1px 0;
        }
      }
      .startup-details {
        padding-left: 15px;
        width: 400px;
        float: left;

        .product-name {
          font-size: 18px;
          color: #0587bc;
          text-decoration: none;
          margin: 0 10px 0 0;
          display: inline-block;

          &:hover {
            color: #0c739d;
          }
        }
        .industry {
          display: inline-block;
          font-size: 11px;
          color: #7a7a7a;

          img {
            width: 20px;
            vertical-align: -1px;
            padding-right: 5px;
          }
        }

        .fade-text {
          width: 385px;
          overflow: hidden;
          position: relative;
          height: 37px;
          margin-top: 8px;
          text-overflow: ellipsis;

          &:after {
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20%;
            height: 21px;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);

            @media (max-width: $screen-md-max) and (min-width: $screen-md-min) , (max-width: $screen-xs-max) {
              width: 0;
            }
          }
          p {
            margin: 0;
            color: #929292;
            font-size: 13px;

            @media (max-width: $screen-xs-max) {
              font-size: 14px;
            }
          }
          @media (max-width: $screen-xs-max) {
            height: auto;
            width: 100%;
          }
          @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
            width: 100%;
          }
          @media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
            width: auto;
          }
        }
        .startups-links {
          padding: 0 0 2px;

          a {
            padding: 10px 9px;
            vertical-align: -1px;
            display: inline-block;
            line-height: 20px;
            position: relative;
            outline: 0;
            font-size: 12px;

            &:first-child {
              padding-left: 0;

              @media (max-width: $screen-xs-max) {
                padding: 10px 10px 5px;
              }
            }
            &:last-child {
              padding-right: 0;

              @media (max-width: $screen-xs-max) {
                padding: 5px 10px 10px;
              }

              &:before {
                width: 0;
              }
            }
            img {
              vertical-align: -1px;
              padding-right: 5px;
            }
            &:before {
              content: "";
              width: 1px;
              height: 20px;
              background-color: #d7d7d7;
              position: absolute;
              right: 0;
            }

            @media (max-width: $screen-xs-max) {
              &:nth-child(2){
                padding: 10px 10px 5px;

                &:before {
                  width: 0;
                }
              }
            }
          }
        }
        .startupcard-footer {
          border-top: 1px dashed #d7d7d7;
          padding: 15px 0 0;

          .founder-avatar-list {
            margin-right: 15px;
            max-height: 42px;
            float: left;

            .startup-founder-avatar {
              width: 42px;
              height: 42px;
              overflow: hidden;
              outline: 0;
              display: inline-block;
              border-radius: 50%;
              border: 2px solid #ebeaea;

              img {
                width: 100%;
              }
              @media (max-width: $screen-xs-max) {
                width: 50px;
                height: 50px;
              }
            }
            @media (max-width: $screen-xs-max) {
              float: none;
              max-height: 100%;
              margin: 0 0 10px;
            }
          }
          .view-timeline-btn {
            border-left: 1px dashed #d7d7d7;
            padding-left: 15px;
            float: right;

            .timeline-btn {
              display: block;
              outline: 0;
              text-decoration: none;
              padding: 10px;
              border: 1px solid #48b3de;
              border-radius: 5px;
              transition: all .2s;

              i {
                padding-right: 5px;
              }
              &:hover, &:focus {
                background-color: #0587bc;
                color: white;
              }
            }
            @media (max-width: $screen-xs-max) {
              float: none;
              margin: 15px auto 0;
              max-width: 300px;
              padding: 0;
              border: 0;
            }
          }
          .founder-tooltip {
            display: inline-block;
            position: relative;
            height: 42px;
            z-index: 999;
            margin: 0 6px;

            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            @media (min-width: $screen-xs-max) {
              &:hover {
                pointer-events: auto;

                .tooltip-content {
                  pointer-events: auto;
                  opacity: 1;
                  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
                }
                .tooltip-item {
                  &:after {
                    pointer-events: auto;
                  }
                }
              }
            }
          }
          .tooltip-item {
            cursor: pointer;

            &:after {
              content: '';
              position: absolute;
              width: 300px;
              height: 20px;
              bottom: 100%;
              left: 50%;
              pointer-events: none;
              transform: translateX(-50%);
            }
          }
          .tooltip-content {
            position: absolute;
            z-index: 9999;
            width: 300px;
            left: 50%;
            margin: 0 0 10px -150px;
            bottom: 100%;
            text-align: left;
            box-shadow: -3px -2px 10px rgba(0,0,0,0.1);
            background: #fff;
            opacity: 0;
            border-radius: 5px;
            border: 1px solid $grey-border;
            cursor: default;
            pointer-events: none;

            &:after {
              content: '';
              top: 100%;
              left: 50%;
              border: solid transparent;
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: transparent;
              border-top-color: #d9d9d9;
              border-width: 10px;
              margin-left: -10px;
            }
            img {
              position: relative;
              height: 100px;
              display: block;
              float: left;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              margin-right: 10px;
              border-right: 1px dashed $grey-border;
            }
          }
          .tooltip-popup {
            .tooltip-content {
              transition: opacity 0.3s, transform 0.3s;
            }
          }
          .tooltip-text {
            font-size: 14px;
            display: block;
            color: #838383;

            h2 {
              margin: 0;
              padding: 15px 0 0;
              font-size: 18px;
            }
            .founder-role {
              font-size: 12px;
              display: block;
              padding-bottom: 15px;
              border-bottom: 1px dashed $grey-border;
            }
            .profile-view {
              display: block;
              padding: 6px;
              background-color: #f5f5f5;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;

              i {
                padding-right: 5px;
              }
            }
          }
        }
        @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
          width: 80%;
        }
        @media (max-width: $screen-md-max) and (min-width: $screen-md-min) , (max-width: $screen-xs-max) {
          float: none;
          margin: 10px auto;
          text-align: center;
          padding: 0;
          width: 100%;
        }
      }
    }
  }
}
