a.nav-item__link.nav-link.dropdown-toggle href="#" data-toggle="dropdown" role="button" = dropdown[:title]

ul.dropdown-menu
  - dropdown[:options].each do |link|
    li
      a.dropdown-item href=link[:url] #{link[:title]}
