<div class="bg-green-600 text-center text-white py-3">
  <p>
    You are now impersonating
    <strong><%= current_user.email %></strong> <%= link_to 'Stop', impersonation_path, method: :delete, class: 'border rounded-lg text-white hover:bg-white hover:text-black p-1 ml-2' %>
  </p>
</div>
