<div class="sitewide-notice">
  <div class="container">
    <p>
      You are now impersonating
      <strong><%= current_user.email %></strong> <%= link_to 'Stop', impersonation_path, method: :delete, class: 'btn btn-sm ml-1' %>
    </p>
  </div>
</div>
