<% presenter = ::Layouts::StudentTopNavPresenter.new(self) %>
<script id="student-top-nav-props" type="application/json">
  <%= presenter.props_to_json.html_safe %>
</script>
<header id="header" class="shrink-0 fixed top-0 inset-x-0 z-10 bg-white">
  <div id="student-top-nav"></div>
</header>
