<% presenter = ::Layouts::StudentTopNavPresenter.new(self) %>

<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'StudentTopNavPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'StudentTopNavPack', nonce: true %>
<% end %>

<script id="student-top-nav-props" type="application/json"><%= presenter.props_to_json.html_safe %></script>

<header id="header" class="flex-shrink-0">
  <div id="student-top-nav"></div>
</header>
