<% presenter = ::Layouts::StudentTopNavPresenter.new(self) %>

<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'StudentTopNavPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%= javascript_pack_tag 'StudentTopNavPack', nonce: true %>
<% end %>

<section id="header" class="">
  <div id="student-top-nav" data-json-props="<%= presenter.props_to_json %>"></div>
</section>
