<% presenter = ::Layouts::StudentTopNavPresenter.new(self) %>
<script id="student-top-nav-props" type="application/json">
  <%= presenter.props_to_json.html_safe %>
</script>
<header id="header" class="md:fixed md:top-0 md:inset-x-0 z-20 bg-white print:hidden">
  <div id="student-top-nav"></div>
</header>
