- presenter = Layouts::NavLinksPresenter.new(self)

#nav-links__navbar.collapse.navbar-collapse.justify-content-end.navbar-link__container
  ul.navbar-nav.align-items-lg-center itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement"
    - presenter.visible_links.each do |link|
      - if link[:dropdown]
        == render 'nav_dropdown', dropdown: link

      - else
        == render 'nav_link', link: link

    - if presenter.more_links.any?
      == render 'nav_dropdown', dropdown: presenter.more_links

    - if current_user
      - if current_founder
        li.nav-item.navbar-nav__nav-item role="presentation" class="dropdown"
          a#navbar-profile-dropdown.navbar-profile-dropdown.dropdown-toggle.logged-in-avatar-link data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
            .navbar__avatar-wrapper
              == avatar(current_founder.name, founder: current_founder)
          ul.dropdown-menu
            - if policy(current_founder).show?
              li role="presentation"
                = link_to student_path(slug: current_founder.slug) do
                  i.fa.fa-list-ul
                  | Profile
            - if policy(PlatformFeedback).create?
              li role="presentation"
                a href="#" data-toggle="modal" data-target="#platform-feedback-modal"
                  i.fa.fa-comment-o
                  | Submit Feedback
            - presenter.selectable_student_profiles.each do |other_founder|
              li role="presentation"
                = link_to(select_founder_path(other_founder), method: :post) do
                  i.fa.fa-university
                  = "#{other_founder.startup.course.name} Course"
            li role="presentation"
              = link_to destroy_user_session_path, method: :delete do
                i.fa.fa-sign-out
                | Logout
      - else
        li.nav-item role="presentation"
          = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-ghost-secondary btn-signin', id: 'sv-navbar__sign-out'
    - else
      li.nav-item role="presentation" itemprop="name"
        = link_to 'Sign In', new_user_session_path, class: 'btn btn-sm btn-ghost-secondary btn-signin', rel: 'nofollow', itemprop: 'url', id: 'sv-navbar__sign-in'
