<% presenter = ::Layouts::TopNavPresenter.new(self) %>

<div id="nav-links__navbar" class="collapse navbar-collapse justify-content-end navbar-link__container">
  <ul class="navbar-nav align-items-lg-center" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
    <% presenter.links.each do |link| %>
      <li class="nav-item navbar-nav__nav-item" role="presentation" itemprop="name">
        <%= link_to(link[:title], link[:url], class: 'nav-item__link', itemprop: 'url') %>
      </li>
    <% end %>

    <% if current_user.present? %>
      <li class="nav-item" role="presentation">
        <%= link_to 'Sign Out', destroy_user_session_path, class: 'btn btn-sm btn-ghost-secondary btn-signin', id: 'sv-navbar__sign-out' %>
      </li>
    <% else %>
      <li class="nav-item" role="presentation" itemprop="name">
        <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-sm btn-ghost-secondary btn-signin', rel: 'nofollow', itemprop: 'url', id: 'sv-navbar__sign-in' %>
      </li>
    <% end %>
  </ul>
</div>
