<% content_for(:subnav) do %>
  <ul>
    <li><%= link_to('Students', school_course_students_path(@course)) %></li>
    <li><%= link_to('Coaches', school_course_coaches_path(@course)) %></li>
    <li><%= link_to('Curriculum Editor', school_course_curriculum_path(@course)) %></li>
  </ul>
<% end %>

<%= render template: 'layouts/school' %>
