<% presenter = ::Layouts::StudentCoursePresenter.new(self, @course) %>
<% content_for(:wrapper) do %>
  <div id="course-header-root" data-json-props="<%= presenter.props_to_json %>"></div>
  <%= content_for(:inner_wrapper) %>
<% end %>
<%= render template: 'layouts/student' %>
