p #{@resource.inviter_name} has listed you as a founder at #{@resource.startup.name}. If you haven't created a profile, please do so #{link_to 'here', accept_invitation_url(@resource, :invitation_token => @token)} or join us on the mobile app. We are available on #{link_to "Android","https://play.google.com/store/apps/details?id=in.svlabs.android"} & #{link_to "iOS", "https://itunes.apple.com/in/app/startup-village-app/id804638121?mt=8"}

p - Team SV App
