<p>Hi <%= @resource.fullname %>, </p>

<p>We received a password reset request for your SV app account. To reset your password, <%= link_to 'click here', edit_password_url(@resource, :reset_password_token => @token) %>.</p>

<p>- Team SV App</p>
