<p>Hi <%= @resource.fullname %>, </p>

<p>We have received a password reset request for your Startup Village account. To reset your password, <%= link_to 'click here', edit_password_url(@resource, :reset_password_token => @token) %>.</p>

<p>Team Startup Village</p>
