<p>Hi <%= @resource.fullname %>, </p>

<p>We received a password reset request for your SV app account. To reset your password, click here: <%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>- Team SV App</p>
